<app-card [titulo]="'información general'">
  <section card-body>
    <div class="row mb-5">
      <div class="col-md-6 col-sm-12">
        <label
          translate="FORMULARIOS.CAMPOS.COMUNES.NOMBRECORTO"
          class="fw-semibold text-gray-600 fs-7"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">{{ asesor.nombre_corto }}</p>
      </div>
      <div class="col-md-6 col-sm-12">
        <label
          translate="FORMULARIOS.CAMPOS.COMUNES.CELULAR"
          class="fw-semibold text-gray-600 fs-7"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">{{ asesor.celular }}</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 col-sm-12">
        <label
          translate="FORMULARIOS.CAMPOS.COMUNES.CORREO"
          class="fw-semibold text-gray-600 fs-7"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">
          {{ asesor.correo }}
        </p>
      </div>
    </div>
  </section>
</app-card>
