<div class="filtros">
  <app-card [titulo]="'FORMULARIOS.TITULOS.COMUNES.FILTRO'">
    <section card-body>
      <app-base-filtro
        (emitirFiltros)="obtenerFiltros($event)"
        [persistirFiltros]="false"
        [_tipo]="'DOCUMENTO'"
      ></app-base-filtro>
    </section>
  </app-card>
</div>

<div class="tabla">
  <app-card [titulo]="'MENU.FUNCIONALIDAD.EXISTENCIA'">
    <section card-body>
      <div class="table-responsive-sm table-loading">
        <app-comun-tabla
          [modelo]="'EXISTENCIA'"
          [_tipo]="'DOCUMENTO'"
          [datos]="itemsLista()"
          [cantidad_registros]="cantidadRegistros()"
          [visualizarColumnaEditar]="false"
          [visualizarColumnaDetalle]="false"
          [visualizarColumnaSeleccionar]="false"
          [visualizarBtnImportar]="false"
          [visualizarBtnExportar]="true"
          [visualizarBtnNuevo]="false"
          [visualizarBtnEliminar]="false"
          [visualizarBtnExportarZip]="false"
          (emitirDesplazamiento)="cambiarDesplazamiento($event)"
          (emitirOrdenamiento)="cambiarOrdemiento($event)"
          (emitirPaginacion)="cambiarPaginacion($event)"
        >
        </app-comun-tabla>
      </div>
    </section>
  </app-card>
</div>
