<div class="card p-20">
  <ng-container *ngIf="ocultarFormularioRestablecerClave; else formuario">

    <div class="alert alert-success d-flex align-items-center p-5 mb-10">
      <i class="ki-duotone ki-shield-tick fs-2hx text-success me-4"
        ><span class="path1"></span><span class="path2"></span
      ></i>
      <div class="d-flex flex-column">
        <h4 class="mb-1 text-success">
          Hemos enviado un enlace a tu correo electrónico para restablecer tu
          contraseña
        </h4>
      </div>
    </div>

    <div class="text-gray-500 text-center fw-semibold fs-6">
      ¿Ya tiene una cuenta?
      <a routerLink="/auth/login" class="link-primary fw-semibold">
        Iniciar sesión
      </a>
    </div>

    <div class="text-gray-500 text-center fw-semibold fs-6 mt-6">
      ¿Aún no tienes una cuenta?
      <a routerLink="/auth/registration" class="link-primary"> Regístrate </a>
    </div>


  </ng-container>
  <ng-template #formuario>
    <form
      class="form w-100"
      novalidate="novalidate"
      [formGroup]="formularioRestablecerClave"
      (ngSubmit)="submit()"
      id="kt_login_password_reset_form"
    >
      <!--begin::Heading-->
      <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 class="text-dark fw-bolder mb-3">
          ¿No puedes ingresar a tu cuenta?
        </h1>
        <!--end::Title-->

        <!--begin::Link-->
        <!-- <div class="text-gray-500 fw-semibold fs-6">
        Introduce tu correo electrónico para restablecer tu contraseña.
      </div> -->
        <!--end::Link-->
      </div>
      <!--begin::Heading-->

      <!--begin::Form group-->
      <div class="fv-row mb-8">
        <label class="form-label fw-bolder text-gray-900 fs-6">Correo</label>
        <input
          class="form-control bg-transparent"
          type="email"
          formControlName="usuario"
          placeholder="Correo"
          name="email"
          autocomplete="off"
          [ngClass]="{
            'is-invalid':
              formularioRestablecerClave.controls['usuario'].touched &&
              formularioRestablecerClave.controls['usuario'].invalid,
            'is-valid':
              formularioRestablecerClave.controls['usuario'].touched &&
              formularioRestablecerClave.controls['usuario'].valid
          }"
        />

        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'El campo es requerido',
            control: formularioRestablecerClave.controls['usuario']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'pattern',
            message: 'El campo contiene caracteres no validos',
            control: formularioRestablecerClave.controls['usuario']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'email',
            message: 'el campo no es un correo electronico valido',
            control: formularioRestablecerClave.controls['usuario']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'El campo debe contener mínimo 3 caracteres',
            control: formularioRestablecerClave.controls['usuario']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'El campo debe contener máximo 50 caracteres',
            control: formularioRestablecerClave.controls['usuario']
          }"
        ></ng-container>
      </div>
      <!--end::Form group-->
      <!--begin::Form group-->
      <div class="d-grid mt-8 mb-10">
        <button
          type="submit"
          id="kt_sign_up_submit"
          class="btn btn-primary"
          #btnRestablecer
        >
          RESTABLECER
        </button>
      </div>
      <!--end::Form group-->
      <br />
      <div class="text-gray-500 text-center fw-semibold fs-6">
        ¿Ya tiene una cuenta?
        <a routerLink="/auth/login" class="link-primary fw-semibold">
          Iniciar sesión
        </a>
      </div>
    </form>
    <ng-template
      #formError
      let-control="control"
      let-message="message"
      let-validation="validation"
    >
      <ng-container
        *ngIf="
          control.hasError(validation) && (control.dirty || control.touched)
        "
      >
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            <span role="alert">{{ message }}</span>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </ng-template>
</div>
