<div class="card p-20">
  <ng-container *ngIf="ocultarFormularioRestablecerClave; else formuario">

    <div class="alert alert-success d-flex align-items-center p-5 mb-10">
      <i class="ki-duotone ki-shield-tick fs-2hx text-success me-4"
        ><span class="path1"></span><span class="path2"></span
      ></i>
      <div class="d-flex flex-column">
        <h4 translate="FORMULARIOS.TITULOS.SEGURIDAD.MENSAJE" class="mb-1 text-success">

        </h4>
      </div>
    </div>

    <div translate="FORMULARIOS.TITULOS.AUTENTIFICACION.CUENTA" class="text-gray-500 text-center fw-semibold fs-6">
      <a translate="FORMULARIOS.TITULOS.AUTENTIFICACION.TITULO" routerLink="/auth/login" class="link-primary fw-semibold">
      </a>
    </div>

    <div translate="FORMULARIOS.TITULOS.AUTENTIFICACION.NOCUENTA" class="text-gray-500 text-center fw-semibold fs-6 mt-6">
      <a translate="FORMULARIOS.TITULOS.SEGURIDAD.REGISTRATE" routerLink="/auth/registration" class="link-primary"></a>
    </div>


  </ng-container>
  <ng-template #formuario>
    <form
      class="form w-100"
      novalidate="novalidate"
      [formGroup]="formularioRestablecerClave"
      (ngSubmit)="submit()"
      id="kt_login_password_reset_form"
    >
      <!--begin::Heading-->
      <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 translate="FORMULARIOS.TITULOS.SEGURIDAD.NOINGRESO" class="text-dark fw-bolder mb-3">
        </h1>
        <!--end::Title-->

        <!--begin::Link-->
        <!-- <div class="text-gray-500 fw-semibold fs-6">
        Introduce tu correo electrónico para restablecer tu contraseña.
      </div> -->
        <!--end::Link-->
      </div>
      <!--begin::Heading-->

      <!--begin::Form group-->
      <div class="fv-row mb-8 h-100px">
        <label translate="FORMULARIOS.CAMPOS.COMUNES.CORREO" class="form-label fw-bolder text-gray-900 fs-6"></label>
        <input
          class="form-control bg-transparent"
          type="email"
          formControlName="usuario"
          [placeholder]="'FORMULARIOS.CAMPOS.COMUNES.CORREO' | translate"
          name="email"
          autocomplete="off"
          [ngClass]="{
            'is-invalid':
              formularioRestablecerClave.controls['usuario'].touched &&
              formularioRestablecerClave.controls['usuario'].invalid,
            'is-valid':
              formularioRestablecerClave.controls['usuario'].touched &&
              formularioRestablecerClave.controls['usuario'].valid
          }"
          appInputValuecaseDirective
          [appInputValueCase]="'minuscula'"
        />

        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
            control: formularioRestablecerClave.controls['usuario']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'pattern',
            message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
            control: formularioRestablecerClave.controls['usuario']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'email',
            message: 'FORMULARIOS.VALIDACIONES.COMUNES.TIPOCORREO' | translate,
            control: formularioRestablecerClave.controls['usuario']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
            cantidadCaracteres: '3',
            control: formularioRestablecerClave.controls['usuario']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
            cantidadCaracteres: '50',
            control: formularioRestablecerClave.controls['usuario']
          }"
        ></ng-container>
      </div>
      <!--end::Form group-->
      <!--begin::Form group-->
      <div class="d-grid mt-8 mb-10">
        <button
          translate="FORMULARIOS.BOTONES.COMUNES.RESTABLECER"
          type="submit"
          id="kt_sign_up_submit"
          class="btn btn-primary"
        *ngIf="visualizarLoader === false; else loader"
        ></button>
        <ng-template #loader>
          <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
            <span role="status" translate="LISTAS.COMUNES.CARGANDO"></span>
          </button>
        </ng-template>
      </div>
      <!--end::Form group-->
      <br />
      <div translate="FORMULARIOS.TITULOS.AUTENTIFICACION.CUENTA" class="text-gray-500 text-center fw-semibold fs-6">
        <a translate="FORMULARIOS.TITULOS.AUTENTIFICACION.TITULO" routerLink="/auth/login" class="link-primary fw-semibold">
        </a>
      </div>
    </form>
    <ng-template
      #formError
      let-control="control"
      let-message="message"
      let-validation="validation"
      let-cantidadCaracteres="cantidadCaracteres"
    >
      <ng-container
        *ngIf="
          control.hasError(validation) && (control.dirty || control.touched)
        "
      >
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            <span role="alert">{{ message }}  {{ cantidadCaracteres }}</span>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </ng-template>
</div>
