<form [formGroup]="formularioComprobante" (ngSubmit)="formSubmit()">
  <app-comun-encabezado-formulario-nuevo
    [estadoAprobado]="false"
  ></app-comun-encabezado-formulario-nuevo>
  <app-card>
    <section card-titulo>
      <app-comun-titulo-accion [nombreModelo]="'comprobante'"></app-comun-titulo-accion>
    </section>
    <section card-body>
      <div class="row mb-5">
        <!-- Codigo -->
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.CODIGO"
            class="form-label"
          ></label>
          <input
            formControlName="codigo"
            class="form-control"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioComprobante.controls['codigo'].touched &&
                formularioComprobante.controls['codigo'].invalid,
              'is-valid':
                formularioComprobante.controls['codigo'].touched &&
                formularioComprobante.controls['codigo'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioComprobante.controls['codigo']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '20',
              control: formularioComprobante.controls['codigo']
            }"
          ></ng-container>
        </div>
        <!-- Nombre -->
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.NOMBRE"
            class="form-label required"
          ></label>
          <input
            formControlName="nombre"
            class="form-control"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioComprobante.controls['nombre'].touched &&
                formularioComprobante.controls['nombre'].invalid,
              'is-valid':
                formularioComprobante.controls['nombre'].touched &&
                formularioComprobante.controls['nombre'].valid
            }"
            appSoloNumeros
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioComprobante.controls['nombre']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioComprobante.controls['nombre']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-6">
          <div class="form-check form-check-custom form-check-solid">
            <input
              class="form-check-input"
              type="checkbox"
              value="1"
              id="permite_asiento"
              formControlName="permite_asiento"
              [ngClass]="{
                'is-invalid':
                  formularioComprobante.controls['permite_asiento'].touched &&
                  formularioComprobante.controls['permite_asiento'].invalid,
                'is-valid':
                  formularioComprobante.controls['permite_asiento'].touched &&
                  formularioComprobante.controls['permite_asiento'].valid
              }"
            />
            <label class="form-check-label text-gray-700" for="permite_asiento">
              Permite asiento
            </label>
          </div>
        </div>
      </div>
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
