<form [formGroup]="formularioItem">
  <div formArrayName="filtros">
    <div
      class="row mb-3"
      *ngFor="let impuestoControl of filtros.controls; let i = index"
    >
      <div class="d-flex justify-content-between align-items-stretch" [formGroupName]="i">
        <app-base-filtro-formulario
          [propiedades]="test"
          (dataPropiedad)="actualizarPropiedad($event, i)"
          (dataCriterio)="actualizarCriterio($event, i)"
        ></app-base-filtro-formulario>
        <ng-container
          *ngIf="
            this.formularioItem.value['filtros'][i].propiedad !== 'Booleano'
          "
        >
          <input
            class="form-control form-control-sm"
            [type]="
              this.formularioItem.value['filtros'][i].propiedad === 'Numero'
                ? 'number'
                : this.formularioItem.value['filtros'][i].propiedad === 'Fecha'
                ? 'date'
                : 'text'
            "
            placeholder="Buscar..."
            formControlName="busqueda"
          />
        </ng-container>
        <ng-container
          *ngIf="
            (this.formularioItem.value['filtros'][i].propiedad === 'Fecha' ||
              this.formularioItem.value['filtros'][i].propiedad === 'Numero') &&
            this.formularioItem.value['filtros'][i].criterio === 'entre'
          "
        >
          <input
            class="form-control form-control-sm"
            [type]="
              this.formularioItem.value['filtros'][i].propiedad === 'Numero'
                ? 'number'
                : 'date'
            "
            placeholder="entre"
            formControlName="entre"
          />
        </ng-container>
        <div class="d-flex">
          <i
            class="bi bi bi-plus-lg fs-2x align-self-center cursor-pointer user-select-none text-hover-primary"
            (click)="agregarFiltro()"
          ></i>
          <i
            (click)="eliminarFiltro(i)"
            class="bi bi-trash fs-2x align-self-center cursor-pointer user-select-none text-hover-danger"
          ></i>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button
      translate="FORMULARIOS.TITULOS.COMUNES.FILTRAR"
      type="submit"
      class="btn btn-primary btn-sm"
      (click)="agregar()"
    ></button>
  </div>
</form>
