<form [formGroup]="formularioItem">
  <div formArrayName="filtros">
    <div
      class="row mb-3"
      *ngFor="let impuestoControl of filtros.controls; let i = index"
    >
      <div class="col-5" [formGroupName]="i">
        <app-base-filtro-formulario
          [propiedades]="propiedades"
          [datosSeleccionados]="filtrosAplicados[i]"
          (dataPropiedad)="actualizarPropiedad($event, i)"
          (dataOperador)="actualizarOperador($event, i)"
        ></app-base-filtro-formulario>
      </div>
      <div class="col-5" [formGroupName]="i">
        <div class="d-flex justify-content-between">
          <ng-container
            *ngIf="
              this.formularioItem.value['filtros'][i].propiedad !== 'Booleano'
            "
          >
            <input
              class="form-control form-control-sm"
              [type]="
                this.formularioItem.value['filtros'][i].propiedad === 'Numero'
                  ? 'number'
                  : this.formularioItem.value['filtros'][i].propiedad ===
                    'Fecha'
                  ? 'date'
                  : 'text'
              "
              placeholder="Buscar..."
              formControlName="valor1"
            />
          </ng-container>
          <ng-container
            *ngIf="
              (this.formularioItem.value['filtros'][i].propiedad === 'Fecha' ||
                this.formularioItem.value['filtros'][i].propiedad ===
                  'Numero') &&
              this.formularioItem.value['filtros'][i].operador === 'entre'
            "
          >
            <input
              class="form-control form-control-sm"
              [type]="
                this.formularioItem.value['filtros'][i].propiedad === 'Numero'
                  ? 'number'
                  : 'date'
              "
              placeholder="entre"
              formControlName="valor2"
            />
          </ng-container>
        </div>
      </div>
      <div class="col-2" [formGroupName]="i">
        <div class="d-flex justify-content-end">
          <i
            class="bi bi bi-plus-lg fs-2x align-self-center cursor-pointer user-select-none text-hover-primary"
            (click)="agregarNuevoFiltro()"
          ></i>
          <i
            (click)="eliminarFiltro(i)"
            class="bi bi-trash fs-2x align-self-center cursor-pointer user-select-none text-hover-danger"
          ></i>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end gap-2">
    <button
      type="submit"
      class="btn btn-primary btn-sm"
      (click)="limpiarFormulario()"
      *ngIf="filtros.length > 1"
    >
      Limpiar
    </button>
    <button
      translate="FORMULARIOS.TITULOS.COMUNES.FILTRAR"
      type="submit"
      class="btn btn-primary btn-sm"
      (click)="aplicarFiltro()"
    ></button>
  </div>
</form>
