<form [formGroup]="formularioItem" (ngSubmit)="enviarFormulario()">
  <app-comun-encabezado-formulario-nuevo
    [ocultarBtnAtras]="ocultarBtnAtras"
    [estadoAprobado]="false"
  ></app-comun-encabezado-formulario-nuevo>
  <app-card>
    <section card-titulo>
      <ng-container *ngIf="tituloFijo; else tituliNoFijo">
        {{ "FORMULARIOS.BOTONES.COMUNES.NUEVO" | translate | titlecase }}
        {{ "MENU.FUNCIONALIDAD.ITEM" | translate | lowercase }}
      </ng-container>
      <ng-template #tituliNoFijo>
        <app-comun-titulo-accion [nombreModelo]="'item'"></app-comun-titulo-accion>
      </ng-template>
    </section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-md-12 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.NOMBRE"
            class="form-label required"
          ></label>
          <input
            #inputNombre
            formControlName="nombre"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioItem.controls['nombre'].touched &&
                formularioItem.controls['nombre'].invalid,
              'is-valid':
                formularioItem.controls['nombre'].touched &&
                formularioItem.controls['nombre'].valid,
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioItem.controls['nombre'],
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioItem.controls['nombre'],
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
              cantidadCaracteres: '3',
              control: formularioItem.controls['nombre'],
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioItem.controls['nombre'],
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.CODIGO"
            class="form-label required"
          >
          </label>
          <input
            formControlName="codigo"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioItem.controls['codigo'].touched &&
                formularioItem.controls['codigo'].invalid,
              'is-valid':
                formularioItem.controls['codigo'].touched &&
                formularioItem.controls['codigo'].valid,
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioItem.controls['codigo'],
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioItem.controls['codigo'],
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
              cantidadCaracteres: '3',
              control: formularioItem.controls['codigo'],
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioItem.controls['codigo'],
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.ITEM.REFERENCIA"
            class="form-label"
          ></label>
          <input
            formControlName="referencia"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            (blur)="modificarCampoFormulario('referencia', null)"
            [ngClass]="{
              'is-invalid':
                formularioItem.controls['referencia'].touched &&
                formularioItem.controls['referencia'].invalid,
              'is-valid':
                formularioItem.controls['referencia'].touched &&
                formularioItem.controls['referencia'].valid,
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioItem.controls['referencia'],
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
              cantidadCaracteres: '3',
              control: formularioItem.controls['referencia'],
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioItem.controls['referencia'],
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <div class="d-flex gap-3">
            <div class="form-check form-check-custom form-check-solid">
              <input
                class="form-check-input"
                type="radio"
                value="producto"
                id="producto"
                (change)="modificarCampoFormulario('producto', true)"
                formControlName="productoServicio"
                [ngClass]="{
                  'is-invalid':
                    formularioItem.controls['producto'].touched &&
                    formularioItem.controls['producto'].invalid,
                  'is-valid':
                    formularioItem.controls['producto'].touched &&
                    formularioItem.controls['producto'].valid,
                }"
              />
              <label class="form-check-label text-gray-700" for="producto">
                Producto
              </label>
            </div>
            <div class="form-check form-check-custom form-check-solid">
              <input
                class="form-check-input"
                type="radio"
                value="servicio"
                id="servicio"
                formControlName="productoServicio"
                (change)="modificarCampoFormulario('servicio', true)"
                [ngClass]="{
                  'is-invalid':
                    formularioItem.controls['servicio'].touched &&
                    formularioItem.controls['servicio'].invalid,
                  'is-valid':
                    formularioItem.controls['servicio'].touched &&
                    formularioItem.controls['servicio'].valid,
                }"
              />
              <label class="form-check-label text-gray-700" for="servicio">
                Servicio
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 d-flex gap-4 items-start">
          <div>
            <div class="form-check form-check-custom form-check-solid mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                value="1"
                id="inventario"
                formControlName="inventario"
                [ngClass]="{
                  'is-invalid':
                    formularioItem.controls['inventario'].touched &&
                    formularioItem.controls['inventario'].invalid,
                  'is-valid':
                    formularioItem.controls['inventario'].touched &&
                    formularioItem.controls['inventario'].valid,
                }"
              />
              <label class="form-check-label text-gray-700" for="inventario">
                Inventario
              </label>
            </div>
            <div class="form-check form-check-custom form-check-solid">
              <input
                class="form-check-input"
                type="checkbox"
                value="1"
                id="negativo"
                formControlName="negativo"
                [ngClass]="{
                  'is-invalid':
                    formularioItem.controls['negativo'].touched &&
                    formularioItem.controls['negativo'].invalid,
                  'is-valid':
                    formularioItem.controls['negativo'].touched &&
                    formularioItem.controls['negativo'].valid,
                }"
              />
              <label class="form-check-label text-gray-700" for="negativo">
                Negativo
              </label>
            </div>
          </div>

          <div>
            <div class="form-check form-check-custom form-check-solid mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                value="1"
                id="venta"
                formControlName="venta"
                [ngClass]="{
                  'is-invalid':
                    formularioItem.controls['venta'].touched &&
                    formularioItem.controls['venta'].invalid,
                  'is-valid':
                    formularioItem.controls['venta'].touched &&
                    formularioItem.controls['venta'].valid,
                }"
              />
              <label class="form-check-label text-gray-700" for="venta">
                Venta
              </label>
            </div>
            <div class="form-check form-check-custom form-check-solid">
              <input
                class="form-check-input"
                type="checkbox"
                value="1"
                id="favorito"
                formControlName="favorito"
                [ngClass]="{
                  'is-invalid':
                    formularioItem.controls['favorito'].touched &&
                    formularioItem.controls['favorito'].invalid,
                  'is-valid':
                    formularioItem.controls['favorito'].touched &&
                    formularioItem.controls['favorito'].valid,
                }"
              />
              <label class="form-check-label text-gray-700" for="favorito">
                Favorito
              </label>
            </div>
          </div>

          <div>
            <div class="form-check form-check-custom form-check-solid mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                value="1"
                id="inactivo"
                formControlName="inactivo"
                [ngClass]="{
                  'is-invalid':
                    formularioItem.controls['inactivo'].touched &&
                    formularioItem.controls['inactivo'].invalid,
                  'is-valid':
                    formularioItem.controls['inactivo'].touched &&
                    formularioItem.controls['inactivo'].valid,
                }"
              />
              <label class="form-check-label text-gray-700" for="inactivo">
                Inactivo
              </label>
            </div>
          </div>
        </div>
      </div>
      @if (itemEnUso()) {
        <section>
          <div class="alert alert-warning p-2" role="alert">
            <i class="bi bi-exclamation-triangle text-warning"></i>
            Este ítem ya fue usado en un documento; algunas de sus propiedades no
            se pueden editar.
          </div>
        </section>
      }
    </section>
  </app-card>

  <app-card>
    <section card-titulo>Venta</section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.ITEM.IMPUESTOS"
            class="form-label"
          ></label>
          <app-comun-impuestos
            (emitirImpuestoAgregado)="agregarImpuesto($event)"
            (emitirImpuestoElimiando)="removerImpuesto($event)"
            [arrLista]="arrImpuestos"
            [estadoAprobado]="true"
            [visualizarImpuestosVenta]="true"
          ></app-comun-impuestos>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.ITEM.PRECIO"
            class="form-label"
          >
          </label>
          <input
            formControlName="precio"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            prefix="$ "
            mask="separator.2"
            [thousandSeparator]="','"
            [decimalMarker]="'.'"
            (blur)="modificarCampoFormulario('precio', 0)"
            [ngClass]="{
              'is-invalid':
                formularioItem.controls['precio'].touched &&
                formularioItem.controls['precio'].invalid,
              'is-valid':
                formularioItem.controls['precio'].touched &&
                formularioItem.controls['precio'].valid,
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioItem.controls['precio'],
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioItem.controls['precio'],
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
              cantidadCaracteres: '3',
              control: formularioItem.controls['precio'],
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioItem.controls['precio'],
            }"
          ></ng-container>
        </div>
      </div>
    </section>
  </app-card>

  <app-card>
    <section card-titulo>Compra</section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.ITEM.IMPUESTOS"
            class="form-label"
          ></label>
          <app-comun-impuestos
            (emitirImpuestoAgregado)="agregarImpuesto($event)"
            (emitirImpuestoElimiando)="removerImpuesto($event)"
            [arrLista]="arrImpuestos"
            [estadoAprobado]="true"
            [visualizarImpuestosCompra]="true"
          ></app-comun-impuestos>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.ITEM.COSTO"
            class="form-label"
          ></label>
          <input
            formControlName="costo"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            prefix="$ "
            mask="separator.2"
            (blur)="modificarCampoFormulario('costo', 0)"
            [thousandSeparator]="','"
            [decimalMarker]="'.'"
            [ngClass]="{
              'is-invalid':
                formularioItem.controls['costo'].touched &&
                formularioItem.controls['costo'].invalid,
              'is-valid':
                formularioItem.controls['costo'].touched &&
                formularioItem.controls['costo'].valid,
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioItem.controls['costo'],
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioItem.controls['costo'],
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
              cantidadCaracteres: '3',
              control: formularioItem.controls['costo'],
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioItem.controls['costo'],
            }"
          ></ng-container>
        </div>
      </div>
    </section>
  </app-card>

  <app-card>
    <section card-titulo>Contabilidad</section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.ITEM.CUENTAVENTA"
            class="form-label"
          ></label>
          <div ngbDropdown #ItemDropdown="ngbDropdown" class="p-0">
            <div>
              <input
                #inputItem
                type="text"
                ngbDropdownAnchor
                class="cursor-pointer form-select form-select-sm w-100"
                (focus)="consultarCuentas($event); ItemDropdown.open()"
                (keyup)="aplicarFiltrosCuentas($event); ItemDropdown.open()"
                [value]="construirNombre()"
              />
              <div
                ngbDropdownMenu
                aria-labelledby="dropdownBasic1"
                class="dropdown-menu"
              >
                <ng-container *ngFor="let cuenta of arrCuentasLista">
                  <button
                    (click)="agregarCuenta(cuenta)"
                    type="button"
                    ngbDropdownItem
                  >
                    {{ cuenta.cuenta_codigo }} {{ cuenta.cuenta_nombre }}
                  </button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.ITEM.CUENTACOBRAR"
            class="form-label"
          ></label>
          <app-comun-cuentas
            [iniciarFocusInputBusqueda]="false"
            [cuentaCodigo]="cuentaCobrarCodigo"
            [cuentaNombre]="cuentaCobrarNombre"
            [campoInvalido]="
              formularioItem.get('cuenta_compra')?.touched &&
              formularioItem.get('cuenta_compra')?.invalid
            "
            (emitirArrCuentas)="agregarCuentaCobrarSeleccionado($event)"
            (emitirLineaVacia)="limpiarCuentaCobrarSeleccionado()"
          ></app-comun-cuentas>
        </div>
      </div>
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
