<main
  id="kt_body"
  [attr.data-bs-spy]="'scroll'"
  [attr.data-bs-target]="'#kt_landing_menu'"
  class="bg-white position-relative app-blank"
>
  <app-btn-whatsapp />
  <div
    class="d-flex flex-column flex-root"
    id="kt_app_root"
    (window:scroll)="doSomethingOnWindowsScroll($event)"
  >
    <!--begin::Header Section-->
    <div class="mb-0" id="home">
      <!--begin::Wrapper-->
      <div
        class="bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom landing-dark-bg"
        style="
          background-image: url(assets/media/svg/illustrations/landing.svg);
        "
      >
        <!--begin::Header-->
        <div
          class="landing-header"
          [ngClass]="{
            menufijo: menufijo === true,
            'fade-down': animateFadeDown,
          }"
          [attr.data-kt-sticky]="true"
          [attr.data-kt-sticky-name]="'landing-header'"
          [attr.data-kt-sticky-offset]="{ default: '200px', lg: '300px' }"
        >
          <!--begin::Container-->
          <div class="container">
            <!--begin::Wrapper-->
            <div class="d-flex align-items-center justify-content-between">
              <!--begin::Logo-->
              <div class="d-flex align-items-center flex-equal">
                <!--begin::Mobile menu toggle-->
                <button
                  class="btn btn-icon btn-active-color-primary me-3 d-flex d-lg-none"
                  id="kt_landing_menu_toggle"
                  (click)="abrirMenu()"
                >
                  <i class="ki-duotone ki-abstract-14 fs-2hx">
                    <span class="path1"></span>
                    <span class="path2"></span>
                  </i>
                </button>
                <!--end::Mobile menu toggle-->
                <!--begin::Logo image-->
                <a routerLink="/">
                  <ng-container *ngIf="menufijo === false; else elseTemplate">
                    <img
                      alt="Logo"
                      ngSrc="assets/media/logos/landing.svg"
                      class="logo-default img-fluid"
                      width="200"
                      height="100"
                    />
                  </ng-container>
                  <ng-template #elseTemplate>
                    <img
                      alt="Logo"
                      ngSrc="../../../../assets/media/logos/landing-dark.svg"
                      class="img-fluid"
                      width="200"
                      height="100"
                    />
                  </ng-template>
                </a>
                <!--end::Logo image-->
              </div>
              <!--end::Logo-->
              <!--begin::Menu wrapper-->
              <div class="d-lg-block" id="kt_header_nav_wrapper">
                <div
                  class="d-lg-block p-5 p-lg-0"
                  [ngClass]="{
                    'drawer drawer-start drawer-on': estadoMenu === true,
                  }"
                  data-kt-drawer="true"
                  data-kt-drawer-name="landing-menu"
                  data-kt-drawer-activate='{"default": true, "lg": false}'
                  data-kt-drawer-overlay="true"
                  [attr.data-kt-drawer-width]="'500px'"
                  data-kt-drawer-direction="start"
                  [attr.data-kt-drawer-toggle]="'#kt_landing_menu_toggle'"
                  data-kt-swapper="true"
                  data-kt-swapper-mode="prepend"
                  data-kt-swapper-parent='{"default": "#kt_body", "lg": "#kt_header_nav_wrapper"}'
                >
                  <!--begin::Menu-->
                  <div
                    class="menu menu-column flex-nowrap menu-rounded menu-lg-row menu-title-gray-500 menu-state-title-primary nav nav-flush fs-5 fw-semibold"
                    id="kt_landing_menu"
                  >
                    <div class="menu-item" *ngIf="estadoMenu === true">
                      <button
                        class="btn btn-link menu-link text-end"
                        (click)="cerrarMenu()"
                      >
                        <i class="bi bi-x-lg fs-4x text-danger"></i>
                      </button>
                    </div>
                    <!--begin::Menu item-->
                    <div class="menu-item">
                      <!--begin::Menu link-->
                      <a
                        class="menu-link nav-link py-3 px-4 px-xxl-6"
                        routerLink="/inicio"
                        data-kt-scroll-toggle="true"
                        data-kt-drawer-dismiss="true"
                        (click)="navegacionID('kt_app_root')"
                        translate="LANDINGPAGE.INICIO"
                      ></a>
                      <!--end::Menu link-->
                    </div>
                    <!--end::Menu item-->
                    <!--begin::Menu item-->
                    <div class="menu-item">
                      <!--begin::Menu link-->
                      <a
                        class="menu-link nav-link py-3 px-4 px-xxl-6"
                        routerLink="/inicio"
                        (click)="navegacionID('how-it-works')"
                        translate="LANDINGPAGE.COMOFUNCIONA"
                      ></a>
                      <!--end::Menu link-->
                    </div>
                    <!--end::Menu item-->
                    <!--begin::Menu item-->
                    <!--end::Menu item-->
                    <!--begin::Menu item-->
                    <!--end::Menu item-->
                    <!--begin::Menu item-->
                    <div class="menu-item">
                      <!--begin::Menu link-->
                      <a
                        class="menu-link nav-link py-3 px-4 px-xxl-6"
                        (click)="navegacionID('pricing')"
                        routerLink="/inicio"
                        translate="LANDINGPAGE.PRECIO"
                      ></a>
                      <!--end::Menu link-->
                    </div>
                    <!--end::Menu item-->
                    <!--begin::Menu item-->
                    <div class="menu-item">
                      <!--begin::Menu link-->
                      <a
                        class="menu-link nav-link py-3 px-4 px-xxl-6"
                        (click)="navegacionID('contacto')"
                        routerLink="/inicio"
                        translate="LANDINGPAGE.CONTACTO"
                      ></a>
                      <!--end::Menu link-->
                    </div>
                    <div ngbDropdown class="menu-item p-0">
                      <button
                        ngbDropdownToggle
                        class="menu-link nav-link border border-0 bg-transparent"
                        data-kt-menu-trigger="click"
                        data-kt-menu-placement="bottom-start"
                        data-kt-menu-offset="0px, 0px"
                      >
                        <img
                          class="w-15px h-15px rounded-1 ms-2"
                          [src]="language.flag"
                          alt="metronic"
                          loading="lazy"
                        />
                      </button>
                      <div
                        ngbDropdownMenu
                        data-kt-menu="true"
                        id="kt_auth_lang_menu"
                      >
                        <div
                          *ngFor="let l of languages"
                          class="menu-link nav-link px-3 cursor-pointer"
                          (click)="selectLanguage(l.lang)"
                          ngbDropdownItem
                        >
                          <a class="menu-link nav-link d-flex px-5">
                            <span class="symbol symbol-20px me-4">
                              <img
                                class="rounded-1"
                                [src]="l.flag"
                                alt="metronic"
                              />
                            </span>
                            {{ l.name }}
                          </a>
                        </div>
                      </div>
                    </div>
                    <!--end::Menu item-->
                  </div>
                  <!--end::Menu-->
                </div>
              </div>
              <!--end::Menu wrapper-->
              <!--begin::Toolbar-->
              <div class="flex-equal text-end ms-1">
                <a
                  routerLink="/auth/login"
                  class="btn btn-success"
                  translate="LANDINGPAGE.LOGIN"
                ></a>
              </div>
              <!--end::Toolbar-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::Header-->
        <!--begin::Landing hero-->
        <div
          class="d-flex flex-column flex-center w-100 min-h-350px min-h-lg-500px px-9"
        >
          <!--begin::Heading-->
          <div class="text-center mb-5 mb-lg-10 py-10 py-lg-20">
            <!--begin::Title-->
            <h1
              class="text-white lh-base fw-bold fs-2x fs-lg-3x mb-15"
              translate="LANDINGPAGE.MENSAJE1"
            >
              <br />
              <span
                style="
                  background: linear-gradient(
                    to right,
                    #12ce5d 0%,
                    #ffd80c 100%
                  );
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                "
              >
                <span
                  id="kt_landing_hero_text"
                  translate="LANDINGPAGE.MENSAJE2"
                ></span>
              </span>
            </h1>
            <!--end::Title-->
            <!--begin::Action-->
            <button
              (click)="abrirModalContactarAsesor(modalContactarAsesor)"
              class="btn btn-primary"
              translate="LANDINGPAGE.PRUEBAREDDOC"
            ></button>
            <!--end::Action-->
          </div>
          <!--end::Heading-->
          <!--begin::Clients-->
          <div class="d-flex flex-center flex-wrap position-relative px-5">
            <!--begin::Client-->
            <div
              class="d-flex flex-center m-3 m-md-6"
              data-bs-toggle="tooltip"
              title="Fujifilm"
            >
              <img
                src="assets/media/svg/brand-logos/fujifilm.svg"
                class="mh-30px mh-lg-40px"
                alt=""
                loading="lazy"
              />
            </div>
            <!--end::Client-->
            <!--begin::Client-->
            <div
              class="d-flex flex-center m-3 m-md-6"
              data-bs-toggle="tooltip"
              title="Vodafone"
            >
              <img
                src="assets/media/svg/brand-logos/vodafone.svg"
                class="mh-30px mh-lg-40px"
                alt=""
                loading="lazy"
              />
            </div>
            <!--end::Client-->
            <!--begin::Client-->
            <div
              class="d-flex flex-center m-3 m-md-6"
              data-bs-toggle="tooltip"
              title="KPMG International"
            >
              <img
                src="assets/media/svg/brand-logos/kpmg.svg"
                class="mh-30px mh-lg-40px"
                alt=""
                loading="lazy"
              />
            </div>
            <!--end::Client-->
            <!--begin::Client-->
            <div
              class="d-flex flex-center m-3 m-md-6"
              data-bs-toggle="tooltip"
              title="Nasa"
            >
              <img
                src="assets/media/svg/brand-logos/nasa.svg"
                class="mh-30px mh-lg-40px"
                alt=""
                loading="lazy"
              />
            </div>
            <!--end::Client-->
            <!--begin::Client-->
            <div
              class="d-flex flex-center m-3 m-md-6"
              data-bs-toggle="tooltip"
              title="Aspnetzero"
            >
              <img
                src="assets/media/svg/brand-logos/aspnetzero.svg"
                class="mh-30px mh-lg-40px"
                alt=""
                loading="lazy"
              />
            </div>
            <!--end::Client-->
            <!--begin::Client-->
            <div
              class="d-flex flex-center m-3 m-md-6"
              data-bs-toggle="tooltip"
              title="AON - Empower Results"
            >
              <img
                src="assets/media/svg/brand-logos/aon.svg"
                class="mh-30px mh-lg-40px"
                alt=""
                loading="lazy"
              />
            </div>
            <!--end::Client-->
            <!--begin::Client-->
            <div
              class="d-flex flex-center m-3 m-md-6"
              data-bs-toggle="tooltip"
              title="Hewlett-Packard"
            >
              <img
                src="assets/media/svg/brand-logos/hp-3.svg"
                class="mh-30px mh-lg-40px"
                alt=""
                loading="lazy"
              />
            </div>
            <!--end::Client-->
            <!--begin::Client-->
            <div
              class="d-flex flex-center m-3 m-md-6"
              data-bs-toggle="tooltip"
              title="Truman"
            >
              <img
                src="assets/media/svg/brand-logos/truman.svg"
                class="mh-30px mh-lg-40px"
                alt=""
                loading="lazy"
              />
            </div>
            <!--end::Client-->
          </div>
          <!--end::Clients-->
        </div>
        <!--end::Landing hero-->
      </div>
      <!--end::Wrapper-->
      <!--begin::Curve bottom-->
      <div class="landing-curve landing-dark-color mb-10 mb-lg-20">
        <svg
          viewBox="15 12 1470 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
      <!--end::Curve bottom-->
    </div>
    <!--end::Header Section-->

    <ng-content select="[contenido]"></ng-content>

    <!--begin::Footer Section-->
    <div class="mb-0">
      <!--begin::Curve top-->
      <div class="landing-curve landing-dark-color">
        <svg
          viewBox="15 -1 1470 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 48C4.93573 47.6644 8.85984 47.3311 12.7725 47H1489.16C1493.1 47.3311 1497.04 47.6644 1501 48V47H1489.16C914.668 -1.34764 587.282 -1.61174 12.7725 47H1V48Z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
      <!--end::Curve top-->
      <!--begin::Wrapper-->
      <div class="landing-dark-bg pt-20">
        <!--begin::Container-->
        <div class="container">
          <!--begin::Row-->
          <div class="row py-10 py-lg-20">
            <!--begin::Col-->
            <div class="col-lg-6 pe-lg-16 mb-10 mb-lg-0">
              <!--begin::Block-->
              <div class="rounded landing-dark-border p-9 mb-10">
                <!--begin::Title-->
                <h2 class="text-white">
                  {{ "LANDINGPAGE.LICENCIAPERSONALIZADA1" | translate }}
                </h2>
                <!--end::Title-->
                <!--begin::Text-->
                <span class="fw-normal fs-4 text-gray-700"
                  >{{ "LANDINGPAGE.LICENCIAPERSONALIZADA2" | translate }}
                  asesor&#64;reddoc.co
                </span>
                <!--end::Text-->
              </div>
              <!--end::Block-->
              <!--begin::Block-->
              <div class="rounded landing-dark-border p-9">
                <!--begin::Title-->
                <h2 class="text-white">
                  {{ "LANDINGPAGE.PROYECTOPERSONALIZADO1" | translate }}
                </h2>
                <!--end::Title-->
                <!--begin::Text-->
                <span class="fw-normal fs-4 text-gray-700"
                  >{{ "LANDINGPAGE.PROYECTOPERSONALIZADO2" | translate }}
                  {{ "LANDINGPAGE.PROYECTOPERSONALIZADO3" | translate }}</span
                >
                <!--end::Text-->
              </div>
              <!--end::Block-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-lg-6 ps-lg-16">
              <!--begin::Navs-->
              <div class="d-flex justify-content-center">
                <!--begin::Links-->
                <div class="d-flex fw-semibold flex-column me-20">
                  <!--begin::Subtitle-->
                  <h4 class="fw-bold text-gray-400 mb-6">
                    {{ "LANDINGPAGE.MAS" | translate }}
                  </h4>
                  <!--end::Subtitle-->
                  <!--begin::Link-->
                  <a
                    [routerLink]="'/faqs'"
                    class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                    >{{ "LANDINGPAGE.FAQ" | translate }}</a
                  >
                  <!--end::Link-->
                  <!--begin::Link-->
                  <a
                    [routerLink]="'/docs'"
                    class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                    >{{ "LANDINGPAGE.DOCUMENTACION" | translate }}</a
                  >
                  <!--end::Link-->
                  <!--begin::Link-->
                  <a
                    [routerLink]="'/tutoriales'"
                    class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                    >{{ "LANDINGPAGE.VIDEOS" | translate }}</a
                  >
                  <!--end::Link-->
                  <!--begin::Link-->
                  <a
                    [routerLink]="'/cambios'"
                    class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                    >{{ "LANDINGPAGE.CAMBIOS" | translate }}</a
                  >
                  <!--end::Link-->
                  <!--begin::Link-->
                  <a
                    [routerLink]="'/foro'"
                    class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                    >{{ "LANDINGPAGE.FORO" | translate }}</a
                  >
                  <!--end::Link-->
                </div>
                <!--end::Links-->
                <!--begin::Links-->
                <div class="d-flex fw-semibold flex-column ms-lg-20">
                  <!--begin::Subtitle-->
                  <h4 class="fw-bold text-gray-400 mb-6">
                    {{ "LANDINGPAGE.BLOG" | translate }}
                  </h4>
                  <!--end::Subtitle-->
                  <!--begin::Link-->
                  <a
                    href="https://www.facebook.com/profile.php?id=61560068583507"
                    class="mb-6"
                    target="_blank"
                  >
                    <img
                      src="assets/media/svg/brand-logos/facebook-4.svg"
                      class="h-20px me-2"
                      alt=""
                      loading="lazy"
                    />
                    <span
                      class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                      >Facebook</span
                    >
                  </a>
                  <!--end::Link-->
                  <!--begin::Link-->
                  <a
                    href="https://x.com/Reddoccolombia"
                    class="mb-6"
                    target="_blank"
                  >
                    <img
                      src="assets/media/svg/brand-logos/twitter.svg"
                      class="h-20px me-2"
                      alt=""
                      loading="lazy"
                    />
                    <span
                      class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                      >Twitter</span
                    >
                  </a>
                  <!--end::Link-->
                  <!--begin::Link-->
                  <a
                    href="https://www.instagram.com/reddoc.05/"
                    class="mb-6"
                    target="_blank"
                  >
                    <img
                      src="assets/media/svg/brand-logos/instagram-2-1.svg"
                      class="h-20px me-2"
                      alt=""
                      loading="lazy"
                    />
                    <span
                      class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                      >Instagram</span
                    >
                  </a>
                  <!--end::Link-->
                </div>
                <!--end::Links-->
              </div>
              <!--end::Navs-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Row-->
        </div>
        <!--end::Container-->
        <!--begin::Separator-->
        <div class="landing-dark-separator"></div>
        <!--end::Separator-->
        <!--begin::Container-->
        <div class="container">
          <!--begin::Wrapper-->
          <div class="d-flex flex-column flex-md-row flex-stack py-7 py-lg-10">
            <!--begin::Copyright-->
            <div class="d-flex align-items-center order-2 order-md-1">
              <!--begin::Logo-->
              <a [routerLink]="''">
                <img
                  alt="Logo"
                  src="assets/media/logos/landing.svg"
                  class="h-15px h-md-20px"
                  loading="lazy"
                />
              </a>
              <!--end::Logo image-->
              <!--begin::Logo image-->
              <span
                class="mx-5 fs-6 fw-semibold text-gray-600 pt-1"
                [routerLink]="'/inicio'"
                >&copy; {{ fechaActual | date: "yyyy" }} Semantica Digital
                SAS</span
              >
              <!--end::Logo image-->
            </div>
            <!--end::Copyright-->
            <!--begin::Menu-->
            <ul
              class="menu menu-gray-600 menu-hover-primary fw-semibold fs-6 fs-md-5 order-1 mb-5 mb-md-0"
            >
              <li class="menu-item">
                <a [routerLink]="'/acerca_de'" class="menu-link px-2">{{
                  "LANDINGPAGE.ACERCADE" | translate
                }}</a>
              </li>
              <li class="menu-item mx-5">
                <a [routerLink]="'/soporte'" class="menu-link px-2">{{
                  "LANDINGPAGE.SOPORTE" | translate
                }}</a>
              </li>
              <li class="menu-item">
                <a [routerLink]="'/comprar'" class="menu-link px-2">{{
                  "LANDINGPAGE.COMPRAR" | translate
                }}</a>
              </li>
            </ul>
            <!--end::Menu-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Container-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Footer Section-->
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
      <i class="ki-duotone ki-arrow-up">
        <span class="path1"></span>
        <span class="path2"></span>
      </i>
    </div>
    <!--end::Scrolltop-->
  </div>
  <!--end::Root-->
  <!--begin::Scrolltop-->
  <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
    <i class="ki-duotone ki-arrow-up">
      <span class="path1"></span>
      <span class="path2"></span>
    </i>
  </div>
</main>
<!--begin::Theme mode setup on page load-->
<script>
  var defaultThemeMode = "light";
  var themeMode;
  if (document.documentElement) {
    if (document.documentElement.hasAttribute("data-bs-theme-mode")) {
      themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
    } else {
      if (localStorage.getItem("data-bs-theme") !== null) {
        themeMode = localStorage.getItem("data-bs-theme");
      } else {
        themeMode = defaultThemeMode;
      }
    }
    if (themeMode === "system") {
      themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    }
    document.documentElement.setAttribute("data-bs-theme", themeMode);
  }
</script>
<!--end::Theme mode setup on page load-->
<!--begin::Root-->
<ng-template #modalContactarAsesor let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contactar asesor</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-contactar-asesor></app-contactar-asesor>
  </div>
</ng-template>
