<form [formGroup]="formularioContrato" (ngSubmit)="enviarFormulario()">
  <div class="d-flex mb-5 justify-content-between align-items-center">
    <div
      class="btn-group btn-sm shadow-sm"
      role="group"
      aria-label="Basic example"
    >
      <app-comun-btn-atras />
      <button
        type="submit"
        class="btn btn-primary btn-sm"
        #btnGuardar
        translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
      ></button>
    </div>
  </div>
  <app-card>
    <section card-titulo>
      <ng-container *ngIf="accion === 'nuevo'; else tituloDetalle">
        {{ "FORMULARIOS.BOTONES.COMUNES.NUEVO" | translate | titlecase }}
        {{
          "MENU.FUNCIONALIDAD." + (modelo | uppercase) | translate | lowercase
        }}
      </ng-container>
      <ng-template #tituloDetalle>
        {{ "FORMULARIOS.BOTONES.COMUNES.EDITAR" | translate | titlecase }}
        {{
          "MENU.FUNCIONALIDAD." + (modelo | uppercase) | translate | lowercase
        }}
        {{ detalle }}
      </ng-template>
    </section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-12" ngbDropdown #ClienteDropdown="ngbDropdown">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.EMPLEADO"
          ></label>
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              ngbDropdownAnchor
              formControlName="empleadoNombre"
              (focus)="consultarEmpleado($event); ClienteDropdown.open()"
              (keyup)="consultarEmpleado($event)"
              [ngClass]="{
                'is-invalid':
                  formularioContrato.controls['empleado'].touched &&
                  formularioContrato.controls['empleado'].invalid,
                'is-valid':
                  formularioContrato.controls['empleado'].touched &&
                  formularioContrato.controls['empleado'].valid
              }"
            />
            <div class="position-absolute translate-middle-y top-50 end-0 me-3">
              <i class="bi bi-search fs-2x"></i>
            </div>
          </div>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdown-menu"
          >
            <ng-container *ngFor="let empleado of arrEmpleados">
              <button
                type="button"
                ngbDropdownItem
                (click)="modificarCampoFormulario('empleado', empleado)"
                (pointerenter)="modificarCampoFormulario('empleado', empleado)"
              >
                {{ empleado.contacto_nombre_corto }}
              </button>
            </ng-container>
            <div class="dropdown-divider"></div>
            <button type="button" ngbDropdownItem>
              <app-comun-buscar-avanzado
                [consultarModelo]="'Contacto'"
                [consultarTipo]="'Administrador'"
                (emitirRegistroSeleccionado)="
                  actualizarFormulario($event, 'empleado')
                "
                [campoLista]="camposBuscarAvanzado"
                [campoFiltros]="camposBuscarAvanzado"
              >
              </app-comun-buscar-avanzado>
            </button>
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioContrato.controls['empleado']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-3">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.GENERAL.CONTRATO.FECHADESDE"
          ></label>
          <input
            formControlName="fechaDesde"
            class="form-control"
            type="date"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
              formularioContrato.controls['fechaDesde'].touched &&
              formularioContrato.controls['fechaDesde'].invalid,
              'is-valid':
              formularioContrato.controls['fechaDesde'].touched &&
              formularioContrato.controls['fechaDesde'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioContrato.controls['fechaDesde']
            }"
          ></ng-container>
          <div
            *ngIf="
              formularioContrato.controls.fechaDesde?.touched &&
              formularioContrato.controls.fechaDesde?.hasError(
                'fechaSuperiorNoValida'
              )
            "
          >
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <span
                  translate="FORMULARIOS.VALIDACIONES.FACTURA.FECHASUPERIOAFECHAVENCIMINETO"
                  role="alert"
                >
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.GENERAL.CONTRATO.FECHAHASTA"
          ></label>
          <input
            formControlName="fechaHasta"
            class="form-control"
            type="date"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
              formularioContrato.controls['fechaHasta'].touched &&
              formularioContrato.controls['fechaHasta'].invalid,
              'is-valid':
              formularioContrato.controls['fechaHasta'].touched &&
              formularioContrato.controls['fechaHasta'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioContrato.controls['fechaHasta']
            }"
          ></ng-container>
          <div
            *ngIf="
              formularioContrato.controls.fechaHasta?.touched &&
              formularioContrato.controls.fechaHasta?.hasError(
                'fechaSuperiorNoValida'
              )
            "
          >
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <span
                  translate="FORMULARIOS.VALIDACIONES.FACTURA.FECHASUPERIOAFECHAVENCIMINETO"
                  role="alert"
                >
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
