<div class="row mb-5">
  <app-comun-btn-atras />
</div>
<app-card>
  <section card-titulo>
      {{ "FORMULARIOS.BOTONES.COMUNES.DETALLE" | translate | titlecase }}
      {{ "MENU.FUNCIONALIDAD." + (modelo | uppercase) | translate | lowercase }}
      {{ detalle }}
  </section>
  <section card-body>
    <div class="row mb-5">
      <div class="col-md-6 col-sm-12">
        <label
          translate="FORMULARIOS.CAMPOS.COMUNES.NOMBRE"
          class="fw-semibold text-gray-600 fs-7"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">{{ item.nombre }}</p>
      </div>
      <div class="col-md-6 col-sm-12">
        <label
          translate="FORMULARIOS.CAMPOS.COMUNES.CODIGO"
          class="fw-semibold text-gray-600 fs-7"
        >
        </label>
        <p class="fw-bold text-gray-800 fs-6">{{ item.codigo }}</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 col-sm-12">
        <label
          translate="FORMULARIOS.CAMPOS.GENERAL.ITEM.REFERENCIA"
          class="fw-semibold text-gray-600 fs-7"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">{{ item.referencia }}</p>
      </div>
      <div class="col-md-6 col-sm-12">
        <label
          translate="FORMULARIOS.CAMPOS.GENERAL.ITEM.PRECIO"
          class="fw-semibold text-gray-600 fs-7"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">{{ item.precio | appPrecioFormatPipe }}</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 col-sm-12">
        <label
          translate="FORMULARIOS.CAMPOS.GENERAL.ITEM.IMPUESTOS"
          class="fw-semibold text-gray-600 fs-7"
        ></label>
        <li *ngFor="let impuesto of item.impuestos">
          <span class="fw-bold text-gray-800 fs-6">{{
            impuesto.impuesto_nombre_extendido
          }}</span>
        </li>
      </div>
      <div class="col-md-6 col-sm-12">
        <label
          translate="FORMULARIOS.CAMPOS.GENERAL.ITEM.COSTO"
          class="fw-semibold text-gray-600 fs-7"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">{{ item.costo | appPrecioFormatPipe }}</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 col-sm-12 d-flex flex-column gap-3">
        <label
          translate="FORMULARIOS.CAMPOS.GENERAL.ITEM.INVENTARIO"
          class="fw-semibold text-gray-600 fs-7"
        ></label>

        <span class="fw-bold text-gray-800 fs-6">{{item.inventario ? "Si" : "No"}}</span>
        <label
          translate="FORMULARIOS.CAMPOS.GENERAL.ITEM.PRODUCTO"
          class="fw-semibold text-gray-600 fs-7"
        ></label>

        <span class="fw-bold text-gray-800 fs-6">{{item.producto ? "Si" : "No"}}</span>
        <label
          translate="FORMULARIOS.CAMPOS.GENERAL.ITEM.SERVICIO"
          class="fw-semibold text-gray-600 fs-7"
        ></label>
        <span class="fw-bold text-gray-800 fs-6">{{item.servicio ? "Si" : "No"}}</span>

      </div>
    </div>
  </section>
</app-card>
