<div class="mb-10">
  <!--begin::Title-->
  <h5 class="mb-4">Información:</h5>
  <!--end::Title-->
  <!--begin::Details-->
  <div class="d-flex flex-wrap py-5">
    <!--begin::Row-->
    <div class="flex-equal me-5">
      <!--begin::Details-->
      <table class="table fs-6 fw-semibold gs-0 gy-2 gx-2 m-0">
        <!--begin::Row-->
        <tr>
          <td class="text-gray-400">Id:</td>
          <td class="text-gray-800">{{item.id}}</td>

        </tr>
        <!--end::Row-->
        <!--begin::Row-->
        <tr>
          <td class="text-gray-400">Código:</td>
          <td class="text-gray-800">{{item.codigo}}</td>
        </tr>
        <!--end::Row-->
        <!--begin::Row-->
        <tr>
          <td class="text-gray-400">Nombre:</td>
          <td class="text-gray-800">{{item.nombre}}</td>
        </tr>
        <!--end::Row-->
        <!--begin::Row-->
        <tr>
          <td class="text-gray-400">Referencia</td>
          <td class="text-gray-800">{{item.referencia}}</td>
        </tr>
        <!--end::Row-->
      </table>
      <!--end::Details-->
    </div>
    <!--end::Row-->
    <!--begin::Row-->
    <div class="flex-equal">
      <!--begin::Details-->
      <table class="table fs-6 fw-semibold gs-0 gy-2 gx-2 m-0">
        <!--begin::Row-->
        <tr>
          <td class="text-gray-400">Costo</td>
          <td class="text-gray-800">{{item.costo}}</td>
        </tr>
        <!--end::Row-->
        <!--begin::Row-->
        <tr>
          <td class="text-gray-400">Precio</td>
          <td class="text-gray-800">{{item.precio}}</td>
        </tr>
        <!--end::Row-->
      </table>
      <!--end::Details-->
    </div>
    <!--end::Row-->
  </div>
  <!--end::Row-->
</div>
