<div class="row mb-4 justify-content-between gap-sm-5">
  <div class="col-md-4 col-sm-12 d-flex align-items-center gap-3">
    <i
      (click)="disminuirDesplazamiento()"
      class="bi bi-arrow-left fs-2x cursor-pointer"
    ></i>
    <input
      type="text"
      class="form-control form-control-sm w-100px"
      [value]="lado + 1 + '-' + al"
      (blur)="calcularValorMostrar($event)"
    />
    <span>de</span>
    <span>{{ cantidad_registros }}</span>
    <i
      (click)="aumentarDesplazamiento()"
      class="bi bi-arrow-right fs-2x cursor-pointer"
    ></i>
  </div>
  <div class="col-md-4 col-sm-12 d-flex justify-content-end">
    <div
      class="btn-group contenedor-btn-group btn-toolbar"
      data-toggle="buttons"
    >
      <app-importar modelo="{{ modelo }}"></app-importar>

      <div class="btn-group" ngbDropdown role="group">
        <button
          type="button"
          class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
          ngbDropdownToggle
        >
          {{ "FORMULARIOS.BOTONES.COMUNES.EXPORTAR" | translate }}
        </button>
        <div class="dropdown-menu p-2" ngbDropdownMenu>
          <button ngbDropdownItem>
            {{ "FORMULARIOS.BOTONES.COMUNES.EXCEL" | translate }}
          </button>
        </div>
      </div>
      <button
        (click)="navegarNuevo()"
        class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
        translate="FORMULARIOS.BOTONES.COMUNES.NUEVO"
      ></button>
      <div class="btn-group" ngbDropdown role="group">
        <button
          type="button"
          class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
          ngbDropdownToggle
        >
          {{ "FORMULARIOS.TITULOS.COMUNES.COLUMNAS" | translate }}
        </button>
        <div class="dropdown-menu p-2" ngbDropdownMenu>
          <div>
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder="Buscar"
              (keyup)="filterCampos($event)"
            />
          </div>
          <div class="dropdown-divider my-2"></div>
          <div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck"
                (change)="visualizarColumnas()"
              />
              <label class="form-check-label" for="dropdownCheck">
                seleccionar todos
              </label>
            </div>
          </div>
          <div class="dropdown-divider my-2"></div>
          <ng-container *ngFor="let item of encabezadoTestCopia; let i = index">
            <div class="mb-2">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [id]="item.nombre"
                  [checked]="item.visibleTabla ? true : false"
                  (click)="agregarColumna(item.nombre)"
                  [disabled]="item.nombre === 'ID'"
                />
                <label class="form-check-label" [for]="item.nombre">
                  {{
                    "LISTAS." +
                      (modelo | uppercase) +
                      "." +
                      (item.nombre | uppercase) | translate
                  }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <button
        type="button"
        (click)="eliminarRegistros()"
        class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-danger btn-text-danger"
        translate="FORMULARIOS.BOTONES.COMUNES.ELIMINAR"
      ></button>
    </div>
  </div>
</div>
<div class="table-responsive table-loading">
  <div class="table-loading-message" *ngIf="cargandoTabla">
    {{ "LISTAS.COMUNES.CARGANDOTABLA" | translate }}
  </div>
  <table
    class="table table-hover table-row-bordered table-rounded border gy-2 gs-2"
  >
    <thead>
      <tr class="fw-bold fs-6 text-gray-800 animate__animated animate__fadeInUp">
        <ng-container *ngFor="let item of camposVisibles; let i = index">
          <th
            (click)="item.ordenable && orderPor(item.nombre, i)"
            [ngClass]="{ 'cursor-pointer user-select-none': item.ordenable }"
          >
            <div class="d-flex justify-content-between align-items-end">
              <span>
                {{
                  "LISTAS." +
                    (modelo | uppercase) +
                    "." +
                    (item.nombre | uppercase) | translate
                }}
              </span>
              <div class="d-flex" *ngIf="item.ordenable">
                <ng-container
                  *ngIf="
                    this.ordenadoTabla === item.nombre.toLowerCase() ||
                      this.ordenadoTabla === '-' + item.nombre.toLowerCase();
                    else iconopordefecto
                  "
                >
                  <i
                    class="ki-outline ki-arrow-up fs-2"
                    *ngIf="this.ordenadoTabla === item.nombre.toLowerCase()"
                  ></i>
                  <i
                    class="ki-outline ki-arrow-down fs-2"
                    *ngIf="
                      this.ordenadoTabla === '-' + item.nombre.toLowerCase()
                    "
                  ></i>
                </ng-container>
                <ng-template #iconopordefecto>
                  <i class="ki-outline ki-arrow-up-down fs-2"></i>
                </ng-template>
              </div>
            </div>
          </th>
        </ng-container>
        <th colspan="2"></th>
        <th class="text-center">
          <label [for]="selectAll">
            <i
              class="fa-regular fs-2x cursor-pointer"
              [ngClass]="
                checkboxSelectAll.checked
                  ? 'fa-square-check text-danger'
                  : 'fa-square text-gray-500'
              "
            ></i>
            <input
              class="d-none"
              type="checkbox"
              #checkboxSelectAll
              [id]="selectAll"
              [checked]="selectAll"
              [value]="selectAll"
              (change)="toggleSelectAll()"
            />
          </label>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of datosFiltrados" class="animate__animated animate__fadeInUp">
        <td
          *ngFor="let key of item | keys"
          [ngClass]="
            item[key].aplicaFormatoNumerico ? 'text-end' : 'text-start'
          "
        >
          {{ getTipoDato(item[key].valor, item[key]) }}
        </td>
        <td class="w-45px">
          <label
            (click)="navegarEditar(item['id'].valor)"
            class="cursor-pointer"
          >
            <i class="fa-regular hover-primary fa-pen-to-square fs-2x"></i>
          </label>
        </td>
        <td class="w-45px">
          <label
            (click)="navegarDetalle(item['id'].valor)"
            class="cursor-pointer"
          >
            <i class="fa-regular hover-primary fa-eye text-gray-500 fs-2x"></i>
          </label>
        </td>
        <td class="w-20px">
          <label [for]="item['id'].valor">
            <i
              class="fa-regular fs-2x cursor-pointer"
              [ngClass]="
                checked.checked
                  ? 'fa-square-check text-danger'
                  : 'fa-square text-gray-500'
              "
            ></i>
            <input
              #checked
              class="d-none"
              type="checkbox"
              [id]="item['id'].valor"
              [value]="item['id'].valor"
              (change)="agregarRegistrosEliminar(item['id'].valor)"
              [checked]="item.selected"
            />
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
