.dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
  width: 250px;
}

.form-control {
  text-transform: uppercase;

  &::first-letter {
    text-transform: uppercase;
  }
}
.hover-primary {
  &:hover {
    color: rgb(0, 158, 247) !important;
  }
}

.contenedor-btn-group {
  border-width: 1px !important;
  border-style: solid;
  border-color: var(--bs-border-color);
}
