<div class="row mb-4 justify-content-between">
  <div class="col-4 d-flex align-items-center gap-3">
    <i
      (click)="disminuirDesplazamiento()"
      class="bi bi-arrow-left fs-2x cursor-pointer"
    ></i>
    <input
      type="text"
      class="form-control form-control-sm"
      [value]="lado + 1 + '-' + al"
      (blur)="calcularValorMostrar($event)"
    />
    de
    <span>{{ cantidad_registros }}</span>
    <i
      (click)="aumentarDesplazamiento()"
      class="bi bi-arrow-right fs-2x cursor-pointer"
    ></i>
  </div>
  <div class="col-4 d-flex justify-content-end">
    <button
      type="button"
      (click)="eliminarRegistros()"
      class="btn btn-sm btn-danger"
    >
      Eliminar
    </button>
  </div>
</div>
<div class="table-responsive table-loading">
  <table
    class="table table-hover table-row-bordered table-rounded border gy-2 gs-2"
  >
    <thead>
      <tr class="fw-bold fs-6 text-gray-800">
        <th
          (click)="orderPor(item.nombre, i)"
          *ngFor="let item of encabezado; let i = index"
          class="cursor-pointer user-select-none"
        >
          <div class="d-flex justify-content-between">
            <span>
              {{ item.etiqueta }}
            </span>
            <div class="d-flex">
              <ng-container
                *ngIf="
                  this.ordenadoTabla === item.nombre.toLowerCase() ||
                    this.ordenadoTabla === '-' + item.nombre.toLowerCase();
                  else iconopordefecto
                "
              >
                <i
                  class="ki-outline ki-arrow-up fs-2x"
                  *ngIf="this.ordenadoTabla === item.nombre.toLowerCase()"
                ></i>
                <i
                  class="ki-outline ki-arrow-down fs-2x"
                  *ngIf="this.ordenadoTabla === '-' + item.nombre.toLowerCase()"
                ></i>
              </ng-container>
              <ng-template #iconopordefecto>
                <i class="ki-outline ki-arrow-up-down fs-2x"></i>
              </ng-template>
            </div>
          </div>
        </th>
        <th></th>
        <th>
          <div
            class="form-check form-check-custom form-check-danger form-check-solid "
          >
            <input class="form-check-input cursor-pointer" type="checkbox"  [checked]="selectAll" (change)="toggleSelectAll()"/>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of datos">
        <td *ngFor="let key of item | keys">
          {{ item[key] }}
        </td>
        <td class="w-45px">
          <button (click)="detalle(item.id)" class="btn btn-primary btn-sm p-1">
            información
          </button>
        </td>
        <td class="w-20px">
          <div
            class="form-check form-check-custom form-check-danger form-check-solid "
          >
            <input
              class="form-check-input cursor-pointer"
              type="checkbox"
              [value]="item['id']"
              (change)="agregarRegistrosEliminar(item['id'])"
              [checked]="item.selected"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
