<form [formGroup]="formularioAdicional" (ngSubmit)="enviarFormulario()">
  <app-comun-encabezado-formulario-nuevo
    [estadoAprobado]="false"
  ></app-comun-encabezado-formulario-nuevo>
  <app-card>
    <section card-titulo>
      <app-comun-titulo-accion [nombreModelo]="'novedad'"></app-comun-titulo-accion>
    </section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.HUMANO.NOVEDAD.NOVEDADTIPO"
            class="form-label required"
          ></label>
          <select
            #novedad_tipo
            class="form-select"
            formControlName="novedad_tipo"
            (change)="novedadTipoSeleccionado($event)"
            [ngClass]="{
              'is-invalid':
                formularioAdicional.controls['novedad_tipo'].touched &&
                formularioAdicional.controls['novedad_tipo'].invalid,
              'is-valid':
                formularioAdicional.controls['novedad_tipo'].touched &&
                formularioAdicional.controls['novedad_tipo'].valid
            }"
          >
            <option value="">Seleccionar...</option>
            <option
              *ngFor="let novedadTipo of arrNovedadTipos"
              [value]="novedadTipo.id"
              [selected]="
                novedadTipo.id === formularioAdicional.value.novedad_tipo
              "
            >
              {{ novedadTipo.nombre }}
            </option>
          </select>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicional.controls['novedad_tipo']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-12">
          <app-buscar-contrato
            (emitirContrato)="modificarCampoFormulario('contrato', $event)"
            [requerido]="true"
            [informacionContrato]="{
              identificacion: formularioAdicional.value.contrato_identificacion,
              contrato: formularioAdicional.value.contrato,
              contrato_nombre: formularioAdicional.value.contrato_nombre
            }"
            [formularioError]="
              (formularioAdicional.controls['contrato'].hasError('required') &&
                formularioAdicional.controls['contrato'].dirty) ||
              formularioAdicional.controls['contrato'].touched
            "
          >
          </app-buscar-contrato>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicional.controls['contrato']
            }"
          ></ng-container>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-12 col-md-6">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.FECHADESDE"
          ></label>
          <input
            formControlName="fecha_desde"
            class="form-control"
            type="date"
            id="fecha_desde"
            [ngClass]="{
              'is-invalid':
                formularioAdicional.controls['fecha_desde'].touched &&
                formularioAdicional.controls['fecha_desde'].invalid,
              'is-valid':
                formularioAdicional.controls['fecha_desde'].touched &&
                formularioAdicional.controls['fecha_desde'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicional.controls['fecha_desde']
            }"
          ></ng-container>
        </div>
        <div class="col-12 col-md-6">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.FECHAHASTA"
          ></label>
          <input
            formControlName="fecha_hasta"
            class="form-control"
            type="date"
            id="fecha_hasta"
            [ngClass]="{
              'is-invalid':
                formularioAdicional.controls['fecha_hasta'].touched &&
                formularioAdicional.controls['fecha_hasta'].invalid,
              'is-valid':
                formularioAdicional.controls['fecha_hasta'].touched &&
                formularioAdicional.controls['fecha_hasta'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicional.controls['fecha_hasta']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'rangoFechasInvalido',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.RANGOFECHASDESDEHASTA'
                | translate,
              control: formularioAdicional.controls['fecha_hasta']
            }"
          ></ng-container>
        </div>
      </div>

      @if(mostrarCampoNovedadReferencia()){
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.NOVEDADREFERENCIA"
            class="form-label"
          >
          </label>
          <div class="col-12" ngbDropdown #ClienteDropdown="ngbDropdown">
            <div class="position-relative">
              <input
                type="text"
                class="form-control"
                ngbDropdownAnchor
                formControlName="novedad_referencia"
                (focus)="ClienteDropdown.open()"
                (keyup)="recibirEventoNovedadReferencia($event)"
              />
              <div
                class="position-absolute translate-middle-y top-50 end-0 me-3"
              >
                <i class="bi bi-search fs-2"></i>
              </div>
            </div>
            <div
              ngbDropdownMenu
              aria-labelledby="dropdonwBasic1"
              class="dropdown-menu"
            >
              <ng-container
                *ngFor="let novedadReferencia of novedadReferenciaLista()"
              >
                <span
                  type="button"
                  ngbDropdownItem
                  (click)="
                    modificarCampoFormulario(
                      'novedad_referencia',
                      novedadReferencia
                    )
                  "
                >
                  {{ novedadReferencia.id }}
                </span>
              </ng-container>
              <div class="dropdown-divider"></div>
              <button type="button" ngbDropdownItem>
                <app-comun-buscar-avanzado
                  [consultarModelo]="'HumNovedad'"
                  [consultarTipo]="'Administrador'"
                  (emitirRegistroSeleccionado)="
                    modificarCampoFormulario('novedad_referencia', $event)
                  "
                  [campoLista]="campoLista"
                  [filtrosPermanentes]="filtrosNovedadReferencia()"
                >
                </app-comun-buscar-avanzado>
              </button>
            </div>
          </div>
        </div>
      </div>
      } @if(novedad_tipo.value === '7' ){
      <div class="row mb-5" [@fadeInOut]>
        <div class="col-12 col-md-6">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.HUMANO.NOVEDAD.DIASDINERO"
          ></label>
          <input
            formControlName="dias_dinero"
            class="form-control"
            type="number"
            min="0"
            [ngClass]="{
              'is-invalid':
                formularioAdicional.controls['dias_dinero'].touched &&
                formularioAdicional.controls['dias_dinero'].invalid,
              'is-valid':
                formularioAdicional.controls['dias_dinero'].touched &&
                formularioAdicional.controls['dias_dinero'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'min',
              cantidadCaracteres: '0',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.VALORMINIMO' | translate,
              control: formularioAdicional.controls['dias_dinero']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicional.controls['dias_dinero']
            }"
          ></ng-container>
        </div>
        <div class="col-12 col-md-6">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.HUMANO.NOVEDAD.FECHADESDEPERIODO"
          ></label>
          <input
            formControlName="fecha_desde_periodo"
            class="form-control"
            type="date"
            [ngClass]="{
              'is-invalid':
                formularioAdicional.controls['fecha_desde_periodo'].touched &&
                formularioAdicional.controls['fecha_desde_periodo'].invalid,
              'is-valid':
                formularioAdicional.controls['fecha_desde_periodo'].touched &&
                formularioAdicional.controls['fecha_desde_periodo'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicional.controls['fecha_desde_periodo']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5" [@fadeInOut]>
        <div class="col-12 col-md-6">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.HUMANO.NOVEDAD.DIASDISFRUTADOS"
          ></label>
          <input
            formControlName="dias_disfrutados"
            class="form-control"
            type="number"
            min="0"
            [ngClass]="{
              'is-invalid':
                (formularioAdicional.controls['dias_disfrutados'].touched &&
                  formularioAdicional.controls['dias_disfrutados'].invalid) ||
                formularioAdicional.errors?.fechaInvalida,
              'is-valid':
                formularioAdicional.controls['dias_disfrutados'].touched &&
                formularioAdicional.controls['dias_disfrutados'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'min',
              cantidadCaracteres: '0',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.VALORMINIMO' | translate,
              control: formularioAdicional.controls['dias_disfrutados']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicional.controls['dias_disfrutados']
            }"
          ></ng-container>
        </div>
        <div class="col-12 col-md-6">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.HUMANO.NOVEDAD.FECHAHASTAPERIODO"
          ></label>
          <input
            formControlName="fecha_hasta_periodo"
            class="form-control"
            type="date"
            [ngClass]="{
              'is-invalid':
                formularioAdicional.controls['fecha_hasta_periodo'].touched &&
                formularioAdicional.controls['fecha_hasta_periodo'].invalid,
              'is-valid':
                formularioAdicional.controls['fecha_hasta_periodo'].touched &&
                formularioAdicional.controls['fecha_hasta_periodo'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'rangoFechasInvalido',
              message:
                'FORMULARIOS.VALIDACIONES.NOVEDAD.ERRORFECHAPERIODOSINVALIDA'
                | translate,
              control: formularioAdicional.controls['fecha_hasta_periodo']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicional.controls['fecha_hasta_periodo']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5" [@fadeInOut]>
        <div class="col-12 col-md-6">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.HUMANO.NOVEDAD.DIASDISFRUTADOSREALES"
          ></label>
          <input
            formControlName="dias_disfrutados_reales"
            class="form-control"
            type="number"
            id="dias_disfrutados_reales"
            min="1"
            [ngClass]="{
              'is-invalid':
                formularioAdicional.controls['dias_disfrutados_reales']
                  .touched &&
                formularioAdicional.controls['dias_disfrutados_reales'].invalid,
              'is-valid':
                formularioAdicional.controls['dias_disfrutados_reales']
                  .touched &&
                formularioAdicional.controls['dias_disfrutados_reales'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'min',
              cantidadCaracteres: '1',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.VALORMINIMO' | translate,
              control: formularioAdicional.controls['dias_disfrutados_reales']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicional.controls['dias_disfrutados_reales']
            }"
          ></ng-container>
        </div>
      </div>
      }
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
