<button
  type="button"
  class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary h-100 rounded-end-0"
  (click)="abrirModalContactoNuevo(content)"
>
  {{ "FORMULARIOS.BOTONES.COMUNES.IMPORTAR" | translate }}
</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title"
      translate="FORMULARIOS.TITULOS.COMUNES.CARGARARCHIVOS"
    ></h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form action="">
      <div class="custom-file-upload">
        <ng-container *ngIf="archivoNombre === ''; else visualizarArchivo">
          <input
            type="file"
            id="myfile"
            #fileInput
            (change)="archivoSeleccionado($event)"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          />
          <button
            type="button"
            class="btn btn-outline btn-outline-dashed btn-outline-dark btn-active-light-dark"
            (click)="fileInput.click()"
            style="width: 100%; height: 100%"
          >
            Seleccionar archivo
          </button>
        </ng-container>
        <ng-template #visualizarArchivo>
          <div
            class="image-input image-input-outline"
            data-kt-image-input="true"
          >
            <div class="d-flex align-items-start flex-column">
              <i class="bi bi-file-earmark-excel fs-6x text-success"></i>
              <span>{{ archivoNombre }}</span>
            </div>

            <label
              class="btn btn-icon btn-circle btn-active-color-primary w-20px h-20px bg-body position-absolute top-0 start-100 translate-middle"
              (click)="removerArchivoSeleccionado()"
            >
              <i class="ki-duotone ki-cross fs-2 text-danger fs-2x"
                ><span class="path1"></span><span class="path2"></span
              ></i>
            </label>
            <!--end::Label-->
          </div>
        </ng-template>
      </div>
      <img src="" alt="" />
    </form>
    <div style="height: 300px; overflow: auto">
      <table
        class="table table-hover table-bordered table-rounded border gy-2 gs-2"
      >
        <thead class="">
          <tr>
            <th class="w-20px">Fila</th>
            <th>Mensaje</th>
          </tr>
        </thead>

        <tbody>
          @for (item of errorImportar; track $index) {
          <tr appAnimationFadeinUp>
            <td>{{ item.fila }}</td>
            <td>{{ item.Mensaje }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="card-footer d-flex justify-content-end">
      @if (this.errorImportar.length > 0) {
      <button
        type="submit"
        class="btn btn-sm btn-danger me-2"
        (click)="descargarExcelError()"
        appAnimationFadeinLeft
      >
        Errores
      </button>
      }
      <button
        type="submit"
        class="btn btn-sm btn-primary me-2"
        (click)="descargarExcelImportar()"
      >
        Ejemplo
      </button>
      <button
        translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
        type="submit"
        class="btn btn-sm btn-primary"
        [disabled]="archivoNombre === ''"
        (click)="guardarArchivo()"
      ></button>
    </div>
  </div>
</ng-template>
