<div class="tabla">
  <app-card [titulo]="'MENU.FUNCIONALIDAD.FACTURAELECTRONICA'">
    <section card-body>
      <ul
        ngbNav
        #nav="ngbNav"
        [(activeId)]="tabActive"
        class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
      >
        <li
          [ngbNavItem]="1"
          [destroyOnHide]="true"
          class="nav-item"
          (click)="visualizarTap('factura_electronica_emitir')"
        >
          <a
            class="nav-link"
            [ngClass]="{ 'text-primary': tabActive === 1 }"
            ngbNavLink
            data-bs-toggle="tab"
            translate="FORMULARIOS.TITULOS.FACTURACION.EMITIR"
          ></a>
          <ng-template ngbNavContent>
            <app-base-filtro
              (emitirFiltros)="obtenerFiltrosEmitir($event)"
              [persistirFiltros]="false"
              [_tipo]="'DOCUMENTO'"
            ></app-base-filtro>
            <div class="row mb-4 justify-content-between gap-sm-5">
              <div
                class="col-md-5 col-sm-12 d-flex align-items-center gap-3 mb-2"
              >
                <i
                  (click)="disminuirDesplazamientoEmitir()"
                  class="bi bi-arrow-left fs-2x cursor-pointer"
                ></i>
                <input
                  type="text"
                  class="form-control form-control-sm w-100px"
                  [value]="
                    paginacionEmitirDesde + 1 + '-' + paginacionEmitirHasta
                  "
                  (blur)="calcularValorMostrarEmitir($event)"
                />
                <span>de</span>
                <span>{{ arrDocumentosEmitirCantidadRegistros }}</span>
                <i
                  (click)="aumentarDesplazamientoEmitir()"
                  class="bi bi-arrow-right fs-2x cursor-pointer"
                ></i>
              </div>
              <div class="col-md-5 col-sm-12 d-flex justify-content-end my-2">
                <div
                  class="btn-group contenedor-btn-group"
                  data-toggle="buttons"
                >
                  <button
                    type="button"
                    class="btn btn-sm btn-danger"
                    id="dropdownBasic1"
                    (click)="confirmarDescartar()"
                    translate="FORMULARIOS.TITULOS.FACTURACION.DESCARTAR"
                  ></button>
                  <button
                    type="button"
                    class="btn btn-sm btn-primary"
                    id="dropdownBasic1"
                    (click)="emitir()"
                    translate="FORMULARIOS.TITULOS.FACTURACION.EMITIR"
                  ></button>
                </div>
              </div>
            </div>
            <div class="table-responsive-sm table-loading">
              <table
                class="table table-hover table-bordered table-rounded border gy-2 gs-2"
              >
                <thead>
                  <tr class="fw-bold fs-6 text-gray-800">
                    <th class="bg-gray-100 text-center">
                      {{ "LISTAS.DOCUMENTO.ID" | translate }}
                    </th>
                    <th class="bg-gray-100 text-center">
                      {{ "LISTAS.DOCUMENTO.NUMERO" | translate }}
                    </th>
                    <th class="bg-gray-100 text-center">
                      {{ "LISTAS.DOCUMENTO.FECHA" | translate }}
                    </th>
                    <th class="bg-gray-100 text-center">
                      {{ "LISTAS.DOCUMENTO.CLIENTE" | translate }}
                    </th>
                    <th class="bg-gray-100 text-center">
                      {{ "LISTAS.DOCUMENTO.TOTAL" | translate }}
                    </th>
                    <th class="bg-gray-100 text-center">
                      {{ "LISTAS.DOCUMENTO.ESTADO" | translate }}
                    </th>
                    <th class="text-center bg-gray-100">
                      <label [for]="emitirSelectTodo">
                        <i
                          class="fa-regular fs-2x cursor-pointer"
                          [ngClass]="
                            checkboxSelectAll.checked
                              ? 'fa-square-check text-danger'
                              : 'fa-square text-gray-500'
                          "
                        ></i>
                        <input
                          class="d-none"
                          type="checkbox"
                          #checkboxSelectAll
                          [id]="emitirSelectTodo"
                          [checked]="emitirSelectTodo"
                          [value]="emitirSelectTodo"
                          (change)="emitirToggleSelectAll()"
                        />
                      </label>
                    </th>
                  </tr>
                </thead>
                <Tbody>
                  <tr *ngFor="let documentoEmitir of arrDocumentosEmitir">
                    <td>{{ documentoEmitir.id }}</td>
                    <td>{{ documentoEmitir.numero }}</td>
                    <td>{{ documentoEmitir.fecha }}</td>
                    <td>{{ documentoEmitir.contacto_nombre_corto }}</td>
                    <td class="text-end">
                      {{ documentoEmitir.total | number }}
                    </td>
                    <td class="text-center">
                      @if (documentoEmitir.estado_electronico_descartado) { 
                        <span class="badge badge-danger">Descartado</span>
                      }
                      @else {
                      <ng-container
                        *ngIf="
                          documentoEmitir.estado_electronico_enviado === true;
                          else esperando
                        "
                      >
                        <span class="badge badge-success"
                          >Esperando respuesta</span
                        >
                      </ng-container>
                      <ng-template #esperando>
                        <span class="badge badge-warning">Pendiente</span>
                      </ng-template>
                      }
                    </td>
                    <td class="w-20px">
                      <label
                        [for]="documentoEmitir.id"
                        *ngIf="
                          documentoEmitir.estado_electronico_enviado === false
                        "
                      >
                        <i
                          class="fa-regular fs-2x cursor-pointer"
                          [ngClass]="
                            checked.checked
                              ? 'fa-square-check text-danger'
                              : 'fa-square text-gray-500'
                          "
                        ></i>
                        <input
                          #checked
                          class="d-none"
                          type="checkbox"
                          [id]="documentoEmitir.id"
                          [value]="documentoEmitir.id"
                          [checked]="documentoEmitir.selected"
                          (change)="agregarRegistrosEmitir(documentoEmitir.id)"
                        />
                      </label>
                    </td>
                  </tr>
                </Tbody>
              </table>
            </div>
          </ng-template>
        </li>
        <li
          [ngbNavItem]="2"
          [destroyOnHide]="true"
          class="nav-item"
          (click)="visualizarTap('factura_electronica_notificar')"
        >
          <a
            class="nav-link"
            [ngClass]="{ 'text-primary': tabActive === 2 }"
            ngbNavLink
            data-bs-toggle="tab"
            translate="FORMULARIOS.TITULOS.FACTURACION.NOFITICAR"
          ></a>
          <ng-template ngbNavContent>
            <app-base-filtro
              (emitirFiltros)="obtenerFiltrosNotificar($event)"
              [persistirFiltros]="false"
              [_tipo]="'DOCUMENTO'"
            ></app-base-filtro>

            <div class="row mb-4 justify-content-between gap-sm-5">
              <div
                class="col-md-5 col-sm-12 d-flex align-items-center gap-3 mb-2"
              >
                <i
                  (click)="disminuirDesplazamientoNotificar()"
                  class="bi bi-arrow-left fs-2x cursor-pointer"
                ></i>
                <input
                  type="text"
                  class="form-control form-control-sm w-100px"
                  [value]="
                    paginacionNotificarDesde +
                    1 +
                    '-' +
                    paginacionNotificarHasta
                  "
                  (blur)="calcularValorMostrarEmitir($event)"
                />
                <span>de</span>
                <span>{{ cantidad_registros }}</span>
                <i
                  (click)="aumentarDesplazamientoNotificar()"
                  class="bi bi-arrow-right fs-2x cursor-pointer"
                ></i>
              </div>
              <div class="col-md-5 col-sm-12 d-flex justify-content-end my-2">
                <div
                  class="btn-group contenedor-btn-group"
                  data-toggle="buttons"
                >
                  <button
                    type="button"
                    class="btn btn-sm btn-primary"
                    id="dropdownBasic1"
                    (click)="notificar()"
                    translate="FORMULARIOS.TITULOS.FACTURACION.NOFITICAR"
                  ></button>
                </div>
              </div>
            </div>
            <div class="table-responsive-sm table-loading">
              <table
                class="table table-hover table-bordered table-rounded border gy-2 gs-2"
              >
                <thead>
                  <tr class="fw-bold fs-6 text-gray-800">
                    <th class="bg-gray-100 text-center">
                      {{ "LISTAS.DOCUMENTO.ID" | translate }}
                    </th>
                    <th class="bg-gray-100 text-center">
                      {{ "LISTAS.DOCUMENTO.NUMERO" | translate }}
                    </th>
                    <th class="bg-gray-100 text-center">
                      {{ "LISTAS.DOCUMENTO.FECHA" | translate }}
                    </th>
                    <th class="bg-gray-100 text-center">
                      {{ "LISTAS.DOCUMENTO.CLIENTE" | translate }}
                    </th>
                    <th class="bg-gray-100 text-center">
                      {{ "LISTAS.DOCUMENTO.TOTAL" | translate }}
                    </th>
                    <th class="text-center bg-gray-100">
                      <label [for]="notificarSelectTodo">
                        <i
                          class="fa-regular fs-2x cursor-pointer"
                          [ngClass]="
                            checkboxSelectAll.checked
                              ? 'fa-square-check text-danger'
                              : 'fa-square text-gray-500'
                          "
                        ></i>
                        <input
                          class="d-none"
                          type="checkbox"
                          #checkboxSelectAll
                          [id]="notificarSelectTodo"
                          [checked]="notificarSelectTodo"
                          [value]="notificarSelectTodo"
                          (change)="notificarToggleSelectAll()"
                        />
                      </label>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let documentoNotificar of arrDocumentosNotificar">
                    <td>{{ documentoNotificar.id }}</td>
                    <td>{{ documentoNotificar.numero }}</td>
                    <td>{{ documentoNotificar.fecha }}</td>
                    <td>{{ documentoNotificar.contacto_nombre_corto }}</td>
                    <td class="text-end">
                      {{ documentoNotificar.total | number }}
                    </td>
                    <td class="w-20px">
                      <label [for]="documentoNotificar.id">
                        <i
                          class="fa-regular fs-2x cursor-pointer"
                          [ngClass]="
                            checked.checked
                              ? 'fa-square-check text-danger'
                              : 'fa-square text-gray-500'
                          "
                        ></i>
                        <input
                          #checked
                          class="d-none"
                          type="checkbox"
                          [id]="documentoNotificar.id"
                          [value]="documentoNotificar.id"
                          [checked]="documentoNotificar.selected"
                          (change)="
                            agregarRegistrosNotificar(documentoNotificar.id)
                          "
                        />
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </section>
  </app-card>
</div>
