.usuario-nombre {
  max-width: 180px; /* Establece el ancho máximo del campo usuarioNombre */
  word-wrap: break-word; /* Permite el salto de línea dentro de palabras largas */
  text-align: center; /* Centra el texto horizontalmente */
  white-space: nowrap; /* Evita el salto de línea */
}

.usuario-correo {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow-wrap: break-word;
}

.usuario-correo {
  font-size: 0.7em !important;
}