<ng-template #dialogTemplate>
  <form
  class="form w-100"
  novalidate="novalidate"
  [formGroup]="formularioCambioClave"
  (ngSubmit)="submit()"
>
  <div class="card shadow-sm">
    <div class="modal-header">
      <h3 translate="FORMULARIOS.TITULOS.SEGURIDAD.TITULO" class="card-title"></h3>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.dismiss()"></button>
    </div>
    <div class="card-body">
      <div class="fv-row mb-8">
        <label translate="FORMULARIOS.TITULOS.SEGURIDAD.CAMBIARCLAVE" class="form-label fw-bolder text-dark fs-6"
          ></label
        >
        <div class="input-wrapper">
          <input
            class="form-control bg-transparent"
            [type]="cambiarTipoCampoNuevaClave"
            [placeholder]="'FORMULARIOS.TITULOS.SEGURIDAD.CAMBIARCLAVE' | translate"
            name="password"
            formControlName="nuevaClave"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioCambioClave.controls['nuevaClave'].touched &&
                formularioCambioClave.controls['nuevaClave'].invalid,
              'is-valid':
                formularioCambioClave.controls['nuevaClave'].touched &&
                formularioCambioClave.controls['nuevaClave'].valid
            }"
          />
          <i
            (click)="visualizarNuevaClave()"
            class="fa-regular"
            [ngClass]="{
              'fa-eye': cambiarTipoCampoNuevaClave === 'password',
              'fa-eye-slash': cambiarTipoCampoNuevaClave === 'text'
            }"
          ></i>
        </div>

        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
            control: formularioCambioClave.controls['nuevaClave']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
            cantidadCaracteres: '3',
            control: formularioCambioClave.controls['nuevaClave']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
            cantidadCaracteres: '50',
            control: formularioCambioClave.controls['nuevaClave']
          }"
        ></ng-container>
      </div>
      <div class="fv-row mb-8">
        <label translate="FORMULARIOS.TITULOS.SEGURIDAD.CONFIRMARCLAVE" class="form-label fw-bolder text-dark fs-6"
          ></label
        >
        <div class="input-wrapper">
          <input
            class="form-control bg-transparent"
            [type]="cambiarTipoCampoConfirmarNuevaClave"
            [placeholder]="'FORMULARIOS.TITULOS.SEGURIDAD.CONFIRMARCLAVE' | translate"
            name="cPassword"
            autocomplete="off"
            formControlName="confirmarNuevaClave"
            [ngClass]="{
              'is-invalid':
                formularioCambioClave.controls['confirmarNuevaClave'].touched &&
                formularioCambioClave.controls['confirmarNuevaClave'].invalid,
              'is-valid':
                formularioCambioClave.controls['confirmarNuevaClave'].touched &&
                formularioCambioClave.controls['confirmarNuevaClave'].valid
            }"
          />
          <i
            (click)="visualizarConfirmarNuevaClave()"
            class="fa-regular"
            [ngClass]="{
              'fa-eye': cambiarTipoCampoConfirmarNuevaClave === 'password',
              'fa-eye-slash': cambiarTipoCampoConfirmarNuevaClave === 'text'
            }"
          ></i>
        </div>

        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
            control: formularioCambioClave.controls['confirmarNuevaClave']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
            cantidadCaracteres: '3',
            control: formularioCambioClave.controls['confirmarNuevaClave']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
            cantidadCaracteres: '50',
            control: formularioCambioClave.controls['confirmarNuevaClave']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'clavesDiferentes',
            message: 'FORMULARIOS.VALIDACIONES.SEGURIDAD.NOCOINCIDEN' | translate,
            control: formularioCambioClave.controls['confirmarNuevaClave']
          }"
        ></ng-container>
      </div>
      <ng-template
        #formError
        let-control="control"
        let-message="message"
        let-validation="validation"
        let-cantidadCaracteres="cantidadCaracteres"
      >
        <ng-container
          *ngIf="
            control.hasError(validation) && (control.dirty || control.touched)
          "
        >
          <div class="fv-plugins-message-container">
            <div class="fv-help-block">
              <span role="alert">
                {{ message }} {{ cantidadCaracteres }}
              </span>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR" type="submit" class="btn btn-primary"></button>
    </div>
  </div>
  <!--end::Form group-->
</form>
</ng-template>


<div class="card shadow-sm">
  <div class="card-header">
    <h3 translate="FORMULARIOS.TITULOS.SEGURIDAD.TITULO2" class="card-title"></h3>
    <div class="d-flex justify-content-end align-items-center">
      <button translate="FORMULARIOS.BOTONES.SEGURIDAD.CAMBIAR" class="btn btn-dark" (click)="open()"></button>
    </div>
  </div>
</div>
