<form [formGroup]="formularioAsiento" (ngSubmit)="formSubmit()">
  <app-comun-encabezado-formulario-nuevo [estadoAprobado]="estado_aprobado">
  </app-comun-encabezado-formulario-nuevo>
  <app-card>
    <section card-titulo>
      <app-comun-titulo-accion [nombreModelo]="'depreciacion'"></app-comun-titulo-accion>
    </section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-12" ngbDropdown #ClienteDropdown="ngbDropdown">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.CONTACTO"
          ></label>
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              ngbDropdownAnchor
              formControlName="contactoNombre"
              (focus)="consultarCliente($event); ClienteDropdown.open()"
              (keyup)="consultarCliente($event)"
              [ngClass]="{
                'is-invalid':
                  formularioAsiento.controls['contacto'].touched &&
                  formularioAsiento.controls['contacto'].invalid,
                'is-valid':
                  formularioAsiento.controls['contacto'].touched &&
                  formularioAsiento.controls['contacto'].valid,
              }"
            />
            <div class="position-absolute translate-middle-y top-50 end-0 me-3">
              <i class="bi bi-search fs-2"></i>
            </div>
          </div>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdown-menu"
          >
            <ng-container *ngFor="let contacto of arrContactos">
              <span
                type="button"
                ngbDropdownItem
                (click)="modificarCampoFormulario('contacto', contacto)"
                (pointerenter)="modificarCampoFormulario('contacto', contacto)"
              >
                {{ contacto.contacto_nombre_corto }}
              </span>
            </ng-container>
            <div class="dropdown-divider"></div>
            <span
              type="button"
              ngbDropdownItem
              (click)="abrirModalContactoNuevo(content)"
            >
              {{ "FORMULARIOS.BOTONES.COMUNES.NUEVO" | translate | titlecase }}
              <ng-template #content let-modal>
                <div class="modal-body">
                  <app-contacto-formulario
                    [ocultarBtnAtras]="true"
                    (emitirGuardoRegistro)="cerrarModal($event)"
                    [tituloFijo]="true"
                  />
                </div>
              </ng-template>
            </span>
            <button type="button" ngbDropdownItem>
              <app-comun-buscar-avanzado
                [consultarModelo]="'GenContacto'"
                [consultarTipo]="'Administrador'"
                (emitirRegistroSeleccionado)="
                  modificarCampoFormulario('contacto-ver-mas', $event)
                "
                [campoLista]="campoListaContacto"
              >
              </app-comun-buscar-avanzado>
            </button>
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAsiento.controls['contacto'],
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-6">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.FACTURA.FECHA"
          ></label>
          <input
            formControlName="fecha"
            class="form-control"
            type="date"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioAsiento.controls['fecha'].touched &&
                formularioAsiento.controls['fecha'].invalid,
              'is-valid':
                formularioAsiento.controls['fecha'].touched &&
                formularioAsiento.controls['fecha'].valid,
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAsiento.controls['fecha'],
            }"
          ></ng-container>
          <div
            *ngIf="
              formularioAsiento.controls.fecha?.touched &&
              formularioAsiento.controls.fecha?.hasError(
                'fechaSuperiorNoValida'
              )
            "
          >
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <span
                  translate="FORMULARIOS.VALIDACIONES.FACTURA.FECHASUPERIOAFECHAVENCIMINETO"
                  role="alert"
                >
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.FACTURA.GRUPO"
          >
          </label>
          <app-seleccionar-grupo
            [grande]="true"
            [isEdicion]="!!this.detalle"
            [sugerirPrimerValor]="true"
            (selectChange)="onSeleccionarGrupoChange($event)"
            [valorInicial]="formularioAsiento.get('grupo_contabilidad')?.value"
          ></app-seleccionar-grupo>
          <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
            control: formularioAsiento.controls['grupo_contabilidad'],
          }"
        ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12">
          <ul
            ngbNav
            #nav="ngbNav"
            [(activeId)]="active"
            class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
          >
            <li [ngbNavItem]="1" [destroyOnHide]="true" class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ 'text-primary': active === 1 }"
                ngbNavLink
                data-bs-toggle="tab"
                translate="FORMULARIOS.TITULOS.FACTURACION.DETALLES"
              ></a>
              <ng-template ngbNavContent>
                @if (detalle) {
                  <div class="d-flex justify-content-end my-3">
                    <div class="btn-group contenedor-btn-group">
                      <button
                        (click)="cargarActivos()"
                        class="btn btn-sm btn-primary"
                        type="button"
                        translate="FORMULARIOS.BOTONES.COMUNES.CARGARACTIVOS"
                      ></button>
                    </div>
                  </div>
                }
                <div class="table-responsive-sm">
                  <table
                    id="tableDetalles"
                    class="table table-bordered table-sm"
                  >
                    <thead>
                      <tr class="bg-gray-100">
                        <th
                          [translate]="'LISTAS.DOCUMENTO.ID'"
                          style="width: 50px"
                        ></th>
                        <th [translate]="'LISTAS.DOCUMENTO.ACTIVOID'"></th>
                        <th [translate]="'LISTAS.DOCUMENTO.CODIGO'"></th>
                        <th [translate]="'LISTAS.DOCUMENTO.NOMBRE'"></th>
                        <th [translate]="'LISTAS.DOCUMENTO.DIAS'"></th>
                        <th [translate]="'LISTAS.DOCUMENTO.PRECIO'"></th>
                        <th class="text-center" style="width: 50px"></th>
                      </tr>
                    </thead>
                    <tbody formArrayName="detalles">
                      <ng-container
                        *ngFor="let detalle of detalles.controls; let i = index"
                        [formGroupName]="i"
                      >
                        <tr>
                          <td class="w-40px">{{ detalle.value.id }}</td>
                          <td class="text-start">
                            {{ detalle.value.activo }}
                          </td>
                          <td class="text-start">
                            {{ detalle.value.activo_codigo }}
                          </td>
                          <td class="text-start">
                            {{ detalle.value.activo_nombre }}
                          </td>
                          <td class="text-end">
                            {{ detalle.value.dias }}
                          </td>
                          <td class="text-end">
                            {{ detalle.value.precio | number }}
                          </td>
                          <td class="text-center" *ngIf="!estado_aprobado">
                            <i
                              class="bi bi-trash fs-2x align-self-center cursor-pointer user-select-none text-hover-danger"
                              (click)="eliminarDocumento(i, detalle.value.id)"
                            ></i>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
                <div class="d-flex justify-content-end mb-5">
                  <table>
                    <tr>
                      <td
                        class="text-end"
                        translate="FORMULARIOS.TITULOS.FACTURACION.TOTAL"
                      ></td>
                      <td class="text-end">
                        {{
                          formularioAsiento.get("total")?.value | currency: "$"
                        }}
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2" [destroyOnHide]="true" class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ 'text-primary': active === 2 }"
                ngbNavLink
                data-bs-toggle="tab"
                translate="FORMULARIOS.TITULOS.FACTURACION.OTRAINFROMACION"
              ></a>
              <ng-template ngbNavContent>
                <div class="row mb-5">
                  <div class="col-md-12 col-sm-12">
                    <label
                      class="form-label"
                      translate="FORMULARIOS.CAMPOS.FACTURA.COMENTARIO"
                    ></label>
                    <textarea
                      formControlName="comentario"
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      (blur)="modificarCampoFormulario('comentario', null)"
                      rows="3"
                      [ngClass]="{
                        'is-invalid':
                          formularioAsiento.controls['comentario'].touched &&
                          formularioAsiento.controls['comentario'].invalid,
                        'is-valid':
                          formularioAsiento.controls['comentario'].touched &&
                          formularioAsiento.controls['comentario'].valid,
                      }"
                    ></textarea>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'maxlength',
                        message:
                          'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO'
                          | translate,
                        cantidadCaracteres: '500',
                        control: formularioAsiento.controls['comentario'],
                      }"
                    ></ng-container>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
