<app-card [titulo]="'Parámetros'">
  <section card-body>
    <form  [formGroup]="formularioFiltros">
      <div class="row g-4 mb-4">
              <!-- Fecha Desde -->
      <div class="col-12 col-md-6 col-lg-3">
        <label class="form-label fw-semibold">Fecha desde</label>
        <input
          type="date"
          formControlName="fecha_desde"
          class="form-control"
          placeholder="Seleccione fecha inicial"
        />
      </div>

      <!-- Fecha Hasta -->
      <div class="col-12 col-md-6 col-lg-3">
        <label class="form-label fw-semibold">Fecha hasta</label>
        <input
          type="date"
          formControlName="fecha_hasta"
          class="form-control"
          placeholder="Seleccione fecha final"
        />
        <!-- Error messages for date validation -->
        <div *ngIf="formularioFiltros.errors?.['fechaInvalida'] && (formularioFiltros.touched || formularioFiltros.dirty)" class="text-danger mt-1">
          La fecha desde no puede ser mayor a la fecha hasta
        </div>
        <div *ngIf="formularioFiltros.errors?.['diferenteAnio'] && (formularioFiltros.touched || formularioFiltros.dirty)" class="text-danger mt-1">
          Ambas fechas deben estar en el mismo año
        </div>
      </div>

      <div class="col-12 col-md-3 col-lg-3">
        <label class="form-label">Cuenta desde</label>
        <app-comun-cuentas
          [iniciarFocusInputBusqueda]="false"
          [style]="'height: 3.4rem;'"
          [cuentaCodigo]="cuentaDesdeCodigo()"
          [cuentaNombre]="cuentaDesdeNombre()"
          (emitirArrCuentas)="agregarCuentaDesdeSeleccionado($event)"
        ></app-comun-cuentas>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <label class="form-label">Cuenta hasta</label>
        <app-comun-cuentas
          [iniciarFocusInputBusqueda]="false"
          [style]="'height: 3.4rem;'"
          [cuentaCodigo]="cuentaHastaCodigo()"
          [cuentaNombre]="cuentaHastaNombre()"
          (emitirArrCuentas)="agregarCuentaHastaSeleccionado($event)"
        ></app-comun-cuentas>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <label class="form-label fw-semibold">Contacto</label>
        <app-comun-contactos
          [contactoNombre]="contactoNombreCorto()"
          (emitirContacto)="agregarContactoSeleccionado($event)"
          (emitirLineaVacia)="limpiarContacto()"
        ></app-comun-contactos>
      </div>
      </div>
      <div class="row g-4">
              <!-- Checkboxes -->
      <div class="col-12 col-md-6 d-flex flex-column justify-content-end">
        <div class="form-check form-check-custom form-check-solid mb-3">
          <input
            class="form-check-input"
            type="checkbox"
            id="incluirCierre"
            formControlName="incluir_cierre"
          />
          <label class="form-check-label fw-semibold" for="incluirCierre">
            Incluir cierre
          </label>
        </div>
        <div class="form-check form-check-custom form-check-solid">
          <input
            class="form-check-input"
            type="checkbox"
            id="cuentaMovimiento"
            formControlName="cuenta_con_movimiento"
          />
          <label class="form-check-label fw-semibold" for="cuentaMovimiento">
            Solo cuentas con movimiento
          </label>
        </div>
      </div>
      </div>



    </form>
  </section>
</app-card>

<app-card [titulo]="'MENU.FUNCIONALIDAD.BALANCEPRUEBAPORCONTACTO'">
  <section card-body>
    <div class="d-flex justify-content-end mb-4">
      <div class="btn-group btn-sm shadow-sm">
        <app-comun-btn-exportar (emitirExportarExcel)="descargarExcel()" />
        <button
          type="submit"
          class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
          #btnGuardar
          translate="FORMULARIOS.BOTONES.COMUNES.PDF"
          (click)="imprimir()"
        ></button>
        <button
          type="submit"
          class="btn btn-sm btn-primary"
          #btnGuardar
          (click)="generar()"
          [disabled]="cargandoCuentas() || formularioFiltros.invalid"
        >
          @if (cargandoCuentas()) {
            <div class="spinner-border spinner-border-sm mx-4" role="status">
              <span class="sr-only">Generando...</span>
            </div>
          } @else {
            Generar
          }
        </button>
      </div>
    </div>

    <div
      class="table-responsive"
      [ngClass]="{ 'table-loading': cargandoCuentas() }"
    >
      @if (cargandoCuentas()) {
        <div class="table-loading-message" style="margin-top: 2rem">
          Cargando...
        </div>
      }
      <table
        class="table table-hover table-bordered table-rounded border gy-2 gs-2"
      >
        <thead>
          <tr class="text-gray-800 bg-gray-100">
            <th class="text-center" translate="LISTAS.CONMOVIENTO.CUENTA"></th>
            <th class="text-center" translate="LISTAS.CONMOVIENTO.NOMBRE"></th>
            <th
              class="text-center"
              translate="LISTAS.CONMOVIENTO.IDENTIFICACION"
            ></th>
            <th
              class="text-center"
              translate="LISTAS.CONMOVIENTO.CONTACTO"
            ></th>
            <th
              class="text-center"
              translate="LISTAS.CONMOVIENTO.ANTERIOR"
            ></th>
            <th class="text-center" translate="LISTAS.CONMOVIENTO.DEBITO"></th>
            <th class="text-center" translate="LISTAS.CONMOVIENTO.CREDITO"></th>
            <th class="text-center" translate="LISTAS.CONMOVIENTO.ACTUAL"></th>
          </tr>
        </thead>
        <tbody>
          @for (item of cuentasAgrupadas; track $index) {
            <tr>
              <td>{{ item.codigo }}</td>
              <td style="text-align: left">{{ item.nombre }}</td>
              <td style="text-align: left">
                {{ item.contacto_numero_identificacion }}
              </td>
              <td style="text-align: left">{{ item.contacto_nombre_corto }}</td>
              <td>{{ item.saldo_anterior | currency: "$" }}</td>
              <td>{{ item.debito | currency: "$" }}</td>
              <td>{{ item.credito | currency: "$" }}</td>
              <td>{{ item.saldo_actual | currency: "$" }}</td>
            </tr>
          }
          <!-- Se retiran los totales tarea 1517  -->
          <!-- @if (cuentasAgrupadas.length > 0) {
            <tr>
              <td></td>
              <td style="text-align: left" class="fw-bold">Total</td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{ totalDebito | currency: "$" }}</td>
              <td>{{ totalCredito | currency: "$" }}</td>
              <td></td>
            </tr>
          } -->
        </tbody>
      </table>
    </div>
  </section>
</app-card>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
