#btn-whatsapp{
  position: fixed;
  height: 55px;
  width: 55px;
  bottom: 60px;
  right: 30px;
  background-color: #25D366;
  border-radius: 50px;
  text-align: center;
  font-size: 2rem;
  line-height: 55px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.5);
  z-index: 100;
  transition: 1s;

  &:hover{
    text-decoration: none;
    background-color: #fff;
    i{
      color: #25D366;
    }
  }


  i{
    color: #fff;
  }
}
