<form [formGroup]="formularioPrecio" (ngSubmit)="enviarFormulario()">
  <app-comun-encabezado-formulario-nuevo
  [estadoAprobado]="false"
></app-comun-encabezado-formulario-nuevo>
  <app-card>
    <section card-titulo>
      <app-comun-titulo-accion [nombreModelo]="'precio'"></app-comun-titulo-accion>
    </section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.NOMBRE"
            class="form-label required"
          ></label>
          <input
            formControlName="nombre"
            class="form-control bg-transparent"
            type="email"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioPrecio.controls['nombre'].touched &&
                formularioPrecio.controls['nombre'].invalid,
              'is-valid':
                formularioPrecio.controls['nombre'].touched &&
                formularioPrecio.controls['nombre'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioPrecio.controls['nombre']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioPrecio.controls['nombre']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.PRECIO.TIPO"
            class="form-label required"
          ></label>
          <input
            formControlName="tipo"
            class="form-control bg-transparent"
            type="email"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioPrecio.controls['tipo'].touched &&
                formularioPrecio.controls['tipo'].invalid,
              'is-valid':
                formularioPrecio.controls['tipo'].touched &&
                formularioPrecio.controls['tipo'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioPrecio.controls['tipo']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '1',
              control: formularioPrecio.controls['tipo']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioPrecio.controls['tipo']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.PRECIO.FECHAVENCE"
            class="form-label required"
          ></label>
          <input
            #fechaDesde
            formControlName="fecha_vence"
            class="form-control bg-transparent"
            type="date"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioPrecio.controls['fecha_vence'].touched &&
                formularioPrecio.controls['fecha_vence'].invalid,
              'is-valid':
                formularioPrecio.controls['fecha_vence'].touched &&
                formularioPrecio.controls['fecha_vence'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioPrecio.controls['fecha_vence']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioPrecio.controls['fecha_vence']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioPrecio.controls['fecha_vence']
            }"
          ></ng-container>
        </div>
      </div>
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
