<div class="table-responsive-sm">
  <table id="tableDetalles" class="table table-bordered table-row-gray-500">
    <thead>
      <tr>
        <th class="bg-gray-100" style="width: 50px">Número</th>
        <th class="bg-gray-100">inconsistencia</th>
        <th class="bg-gray-100">Documento tipo nombre</th>
      </tr>
    </thead>
    <tbody>
      @for (item of inconsistencias(); track $index) {
        <tr>
          <td style="width: 50px">{{ item.numero }}</td>
          <td>{{ item.documento_tipo_nombre }}</td>
          <td>{{ item.inconsistencia }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
