<div class="menu-item px-3">
  <a
    translate="FORMULARIOS.BOTONES.COMUNES.EDITAR"
    class="btn btn-sm btn-dark me-3 cursor-pointer"
    (click)="openModal()"
  >
  </a>
</div>

<ng-template #dialogTemplate>
  <form
  class="form w-100"
  novalidate="novalidate"
>
  <div class="card shadow-sm">
    <div class="modal-header">
      <h3 translate="FORMULARIOS.TITULOS.EMPRESAS.EDITAR" class="card-title"></h3>
      <button type="button" class="btn btn-bg-light btn-color-danger" aria-label="Close" (click)="modalRef.dismiss('Cross click')"><i class="bi bi-x fs-2x"></i></button>
    </div>
    <div class="card-body">
      <app-empresa-formulario
        [informacionEmpresa]="informacionEmpresa"
        [visualizarCampoSubdominio]="false"
        [visualizarBtnAtras]="visualizarBtnAtras"
        (dataFormulario)="enviarFormulario($event)"
      ></app-empresa-formulario>
    </div>
  </div>
  <!--end::Form group-->
</form>
</ng-template>
