<form [formGroup]="formularioAdicional" (ngSubmit)="enviarFormulario()">
  <div class="d-flex mb-5 justify-content-between align-items-center">
    <div
      class="btn-group btn-sm shadow-sm"
      role="group"
      aria-label="Basic example"
    >
      <app-comun-btn-atras />
      <button
        type="submit"
        class="btn btn-primary btn-sm"
        #btnGuardar
        translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
      ></button>
    </div>
  </div>
  <app-card>
    <section card-titulo>
      <ng-container *ngIf="accion === 'nuevo'; else tituloDetalle">
        {{ "FORMULARIOS.BOTONES.COMUNES.NUEVO" | translate | titlecase }}
        {{
          "MENU.FUNCIONALIDAD." + (modelo | uppercase) | translate | lowercase
        }}
      </ng-container>
      <ng-template #tituloDetalle>
        {{ "FORMULARIOS.BOTONES.COMUNES.EDITAR" | translate | titlecase }}
        {{
          "MENU.FUNCIONALIDAD." + (modelo | uppercase) | translate | lowercase
        }}
        {{ detalle }}
      </ng-template>
    </section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-12 col-md-6">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.FECHADESDE"
          ></label>
          <input
            formControlName="fecha_desde"
            class="form-control"
            type="date"
            id="fecha_desde"
            [ngClass]="{
              'is-invalid':
                formularioAdicional.controls['fecha_desde'].touched &&
                formularioAdicional.controls['fecha_desde'].invalid,
              'is-valid':
                formularioAdicional.controls['fecha_desde'].touched &&
                formularioAdicional.controls['fecha_desde'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicional.controls['fecha_desde']
            }"
          ></ng-container>
        </div>
        <div class="col-12 col-md-6">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.FECHAHASTA"
          ></label>
          <input
            formControlName="fecha_hasta"
            class="form-control"
            type="date"
            id="fecha_hasta"
            [ngClass]="{
              'is-invalid':
                formularioAdicional.controls['fecha_hasta'].touched &&
                formularioAdicional.controls['fecha_hasta'].invalid,
              'is-valid':
                formularioAdicional.controls['fecha_hasta'].touched &&
                formularioAdicional.controls['fecha_hasta'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicional.controls['fecha_hasta']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-6" ngbDropdown #ContratosDropdown="ngbDropdown">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.HUMANO.ADICIONAL.CONTRATO"
          ></label>
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              ngbDropdownAnchor
              formControlName="contrato_nombre"
              (focus)="consultarContratos($event); ContratosDropdown.open()"
              (keyup)="consultarContratos($event)"
              [ngClass]="{
                'is-invalid':
                  formularioAdicional.controls['contrato'].touched &&
                  formularioAdicional.controls['contrato'].invalid,
                'is-valid':
                  formularioAdicional.controls['contrato'].touched &&
                  formularioAdicional.controls['contrato'].valid
              }"
            />
            <div class="position-absolute translate-middle-y top-50 end-0 me-3">
              <i class="bi bi-search fs-2"></i>
            </div>
          </div>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdown-menu"
          >
            <ng-container *ngFor="let contrato of arrContratos">
              <button
                type="button"
                ngbDropdownItem
                (click)="modificarCampoFormulario('contrato', contrato)"
                (pointerenter)="modificarCampoFormulario('contrato', contrato)"
              >
              {{ contrato.contrato_contacto_numero_identificacion }}
              {{ contrato.contrato_contacto_nombre_corto }}
            </button>
            </ng-container>
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicional.controls['contrato']
            }"
          ></ng-container>
        </div>
      </div>
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
