<form [formGroup]="formularioConCuenta" (ngSubmit)="enviarFormulario()">
  <app-comun-encabezado-formulario-nuevo
    [estadoAprobado]="false"
  ></app-comun-encabezado-formulario-nuevo>
  <app-card>
    <section card-titulo>
      <app-comun-titulo-accion [nombreModelo]="'cuenta'"></app-comun-titulo-accion>
    </section>
    <section card-body>
      <div class="row mb-5">
        <!-- Codigo -->
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.CODIGO"
            class="form-label required"
          >
          </label>
          <input
            formControlName="codigo"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            appSoloNumeros
            [ngClass]="{
              'is-invalid':
                formularioConCuenta.controls['codigo'].touched &&
                formularioConCuenta.controls['codigo'].invalid,
              'is-valid':
                formularioConCuenta.controls['codigo'].touched &&
                formularioConCuenta.controls['codigo'].valid
            }"
          />
          @if(formularioConCuenta.get('codigo')?.hasError('primerCaracterInvalido')){
          <div class="fv-plugins-message-container">
            <div class="fv-help-block">
              <span role="alert"> El primer carácter no puede ser "0". </span>
            </div>
          </div>
          }
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '8',
              control: formularioConCuenta.controls['codigo']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'longitudImpar',
              message: 'El código debe tener una longitud par.',
              control: formularioConCuenta.controls['codigo']
            }"
          ></ng-container>
        </div>
        <!-- Nombre -->
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.NOMBRE"
            class="form-label required"
          ></label>
          <input
            formControlName="nombre"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioConCuenta.controls['nombre'].touched &&
                formularioConCuenta.controls['nombre'].invalid,
              'is-valid':
                formularioConCuenta.controls['nombre'].touched &&
                formularioConCuenta.controls['nombre'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioConCuenta.controls['nombre']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioConCuenta.controls['nombre']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
              cantidadCaracteres: '3',
              control: formularioConCuenta.controls['nombre']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioConCuenta.controls['nombre']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.CLASE"
            class="form-label required"
          >
          </label>
          <ng-select
            [items]="cuentaClaseLista"
            bindLabel="id"
            bindValue="id"
            formControlName="cuenta_clase"
            notFoundText="Sin elementos"
            placeholder="Selecciona un elemento"
            class="select2Custom"
          >
            <ng-template ng-label-tmp let-item="item">
              {{ item.id }} - {{ item.nombre }}
            </ng-template>

            <ng-template ng-option-tmp let-item="item">
              {{ item.id }} - {{ item.nombre }}
            </ng-template>
          </ng-select>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioConCuenta.controls['cuenta_clase']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.GRUPO"
            class="form-label required"
          >
          </label>
          <ng-select
            [items]="cuentaGrupoLista"
            bindLabel="id"
            bindValue="id"
            formControlName="cuenta_grupo"
            notFoundText="Sin elementos"
            placeholder="Selecciona un elemento"
            class="select2Custom"
          >
            <ng-template ng-label-tmp let-item="item">
              {{ item.id }} - {{ item.nombre }}
            </ng-template>

            <ng-template ng-option-tmp let-item="item">
              {{ item.id }} - {{ item.nombre }}
            </ng-template>
          </ng-select>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioConCuenta.controls['cuenta_grupo']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.CUENTA"
            class="form-label required"
          >
          </label>
          <ng-select
            [items]="cuentaCuentaLista"
            bindLabel="id"
            bindValue="id"
            formControlName="cuenta_cuenta"
            notFoundText="Sin elementos"
            placeholder="Selecciona un elemento"
            class="select2Custom"
          >
            <ng-template ng-label-tmp let-item="item">
              {{ item.id }} - {{ item.nombre }}
            </ng-template>

            <ng-template ng-option-tmp let-item="item">
              {{ item.id }} - {{ item.nombre }}
            </ng-template>
          </ng-select>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioConCuenta.controls['cuenta_cuenta']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-6 d-flex flex-column gap-2">
          <!-- Exige base check -->
          <div class="form-check form-check-custom form-check-solid">
            <input
              class="form-check-input"
              type="checkbox"
              value="1"
              id="exige_base"
              formControlName="exige_base"
              [ngClass]="{
                'is-invalid':
                  formularioConCuenta.controls['exige_base'].touched &&
                  formularioConCuenta.controls['exige_base'].invalid,
                'is-valid':
                  formularioConCuenta.controls['exige_base'].touched &&
                  formularioConCuenta.controls['exige_base'].valid
              }"
            />
            <label class="form-check-label text-gray-700" for="exige_base">Exige base</label>
          </div>
          <!-- Exige contacto check -->
          <div class="form-check form-check-custom form-check-solid">
            <input
              class="form-check-input"
              type="checkbox"
              value="1"
              id="exige_contacto"
              formControlName="exige_contacto"
              [ngClass]="{
                'is-invalid':
                  formularioConCuenta.controls['exige_contacto'].touched &&
                  formularioConCuenta.controls['exige_contacto'].invalid,
                'is-valid':
                  formularioConCuenta.controls['exige_contacto'].touched &&
                  formularioConCuenta.controls['exige_contacto'].valid
              }"
            />
            <label class="form-check-label text-gray-700" for="exige_contacto"
              >Exige contacto</label
            >
          </div>
          <!-- Exige grupo check -->
          <div class="form-check form-check-custom form-check-solid">
            <input
              class="form-check-input"
              type="checkbox"
              value="1"
              id="exige_grupo"
              formControlName="exige_grupo"
              [ngClass]="{
                'is-invalid':
                  formularioConCuenta.controls['exige_grupo'].touched &&
                  formularioConCuenta.controls['exige_grupo'].invalid,
                'is-valid':
                  formularioConCuenta.controls['exige_grupo'].touched &&
                  formularioConCuenta.controls['exige_grupo'].valid
              }"
            />
            <label class="form-check-label text-gray-700" for="exige_grupo"
              >Exige grupo</label
            >
          </div>
          <!-- Permite movimiento check -->
          <div class="form-check form-check-custom form-check-solid">
            <input
              class="form-check-input"
              type="checkbox"
              value="1"
              id="permite_movimiento"
              formControlName="permite_movimiento"
              [ngClass]="{
                'is-invalid':
                  formularioConCuenta.controls['permite_movimiento'].touched &&
                  formularioConCuenta.controls['permite_movimiento'].invalid,
                'is-valid':
                  formularioConCuenta.controls['permite_movimiento'].touched &&
                  formularioConCuenta.controls['permite_movimiento'].valid
              }"
            />
            <label class="form-check-label text-gray-700" for="permite_movimiento"
              >Permite movimiento</label
            >
          </div>
        </div>
      </div>
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
