<div class="encabezadoDetalle">
  <section class="encabezadoDetalleBotonera">
    <div class="btn-group btn-sm shadow-sm">
      <app-comun-btn-atras />
    </div>
    <div class="btn-group btn-sm shadow-sm">
      <button
        type="submit"
        class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
        #btnGuardar
        translate=""
        (click)="imprimir()"
      >
        {{ "FORMULARIOS.BOTONES.COMUNES.PDF" | translate }}
      </button>
      <app-comun-documento-opciones
        [opciones]="{
          modelo: 'ConMovimiento',
        }"
        (itemDesaprobadoEvent)="consultarDetalle()"
        [opcionesDesaprobarBoton]="{
          deshabilitado: !pago.estado_aprobado || pago.estado_anulado,
        }"
        [documento]="pago"
      ></app-comun-documento-opciones>
    </div>
  </section>
  <section class="encabezadoDetalleEstados">
    <app-base-estados [documento]="pago"></app-base-estados>
  </section>
</div>
<app-card>
  <section card-titulo>
    <app-comun-titulo-accion [nombreModelo]="'aporte'"></app-comun-titulo-accion>
  </section>
  <section card-propiedades></section>
  <section card-body>
    <div class="table-responsive-sm">
      <table class="table table-bordered table-sm">
        <tbody>
          <tr>
            <td
              class="fw-bold text-gray-800 fs-6 bg-gray-100"
              translate="FORMULARIOS.CAMPOS.FACTURA.NUMERO"
            ></td>
            <td>{{ pago.numero }}</td>
            <td
              class="fw-bold text-gray-800 fs-6 bg-gray-100"
              translate="FORMULARIOS.CAMPOS.HUMANO.PAGO.IBP"
            ></td>
            <td class="text-end">{{ pago.base_prestacion | number }}</td>
            <td
              class="fw-bold text-gray-800 fs-6 bg-gray-100"
              translate="FORMULARIOS.CAMPOS.HUMANO.PAGO.DEVENGADO"
            ></td>
            <td class="text-end">{{ pago.devengado | number }}</td>
          </tr>
          <tr>
            <td
              class="fw-bold text-gray-800 fs-6 bg-gray-100"
              translate="FORMULARIOS.CAMPOS.HUMANO.PAGO.EMPLEADO"
            ></td>
            <td>
              {{ pago.contacto_numero_identificacion }} -
              {{ pago.contacto_nombre_corto }}
            </td>
            <td
              class="fw-bold text-gray-800 fs-6 bg-gray-100"
              translate="FORMULARIOS.CAMPOS.HUMANO.PAGO.IBC"
            ></td>
            <td class="text-end">{{ pago.base_cotizacion | number }}</td>
            <td
              class="fw-bold text-gray-800 fs-6 bg-gray-100"
              translate="FORMULARIOS.CAMPOS.HUMANO.PAGO.DEDUCCION"
            ></td>
            <td class="text-end">{{ pago.deduccion | number }}</td>
          </tr>
          <tr>
            <td
              class="fw-bold text-gray-800 fs-6 bg-gray-100"
              translate="FORMULARIOS.CAMPOS.HUMANO.PAGO.DESDE"
            ></td>
            <td>{{ pago.fecha }}</td>
            <td
              class="fw-bold text-gray-800 fs-6 bg-gray-100"
              translate="FORMULARIOS.CAMPOS.HUMANO.PAGO.SALARIO"
            ></td>
            <td class="text-end">{{ pago.salario | number }}</td>
            <td
              class="fw-bold text-gray-800 fs-6 bg-gray-100"
              translate="FORMULARIOS.CAMPOS.HUMANO.PAGO.PAGO"
            ></td>
            <td class="text-end">{{ pago.total | number }}</td>
          </tr>
          <tr>
            <td
              class="fw-bold text-gray-800 fs-6 bg-gray-100"
              translate="FORMULARIOS.CAMPOS.HUMANO.PAGO.HASTA"
            ></td>
            <td>{{ pago.fecha_hasta }}</td>
            <td class="fw-bold text-gray-800 fs-6 bg-gray-100"></td>
            <td></td>
            <td class="fw-bold text-gray-800 fs-6 bg-gray-100"></td>
            <td></td>
          </tr>
          <tr>
            <td
              class="fw-bold text-gray-800 fs-6 bg-gray-100"
              translate="FORMULARIOS.CAMPOS.HUMANO.PAGO.CONTRATO"
            ></td>
            <td>{{ pago.contrato_id }}</td>
            <!--Agregar contrato_id cuando el back lo devuelva-->
            <td
              class="fw-bold text-gray-800 fs-6 bg-gray-100"
              translate="FORMULARIOS.CAMPOS.HUMANO.PAGO.PROGRAMACIONDETALLE"
            ></td>
            <td class="text-end">{{ pago.programacion_detalle_id }}</td>
            <td class="fw-bold text-gray-800 fs-6 bg-gray-100"></td>
            <td class="text-end"></td>
          </tr>
          <tr>
            <td
              class="fw-bold text-gray-800 fs-6 bg-gray-100"
              translate="FORMULARIOS.CAMPOS.FACTURA.CUE"
            ></td>
            @if (pago.cue) {
              <td colspan="7">
                {{ pago.cue }} -
                <a
                  href="https://catalogo-vpfe.dian.gov.co/document/searchqr?documentkey={{
                    pago.cue
                  }}"
                  target="_blank"
                  >ver documento DIAN</a
                >
              </td>
            }
          </tr>
          <tr>
            <td
              class="fw-bold text-gray-800 fs-6 bg-gray-100"
              translate="FORMULARIOS.CAMPOS.FACTURA.COMENTARIO"
            ></td>
            <td colspan="5">{{ pago.comentario }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row mb-5">
      <div class="col-12">
        <ul
          ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
          class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
        >
          <li [ngbNavItem]="1" [destroyOnHide]="true" class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ 'text-primary': active === 1 }"
              ngbNavLink
              data-bs-toggle="tab"
              translate="FORMULARIOS.TITULOS.FACTURACION.DETALLES"
            ></a>
            <ng-template ngbNavContent>
              <div class="table-responsive-sm">
                <table
                  id="tableDetalles"
                  class="table table-bordered table-row-gray-500"
                >
                  <thead>
                    <tr>
                      <th class="bg-gray-100" style="width: 50px">Id</th>
                      <th
                        class="bg-gray-100"
                        translate="FORMULARIOS.CAMPOS.HUMANO.PAGODETALLE.DETALLE"
                      ></th>
                      <th
                        class="bg-gray-100"
                        translate="FORMULARIOS.CAMPOS.HUMANO.PAGODETALLE.PAGO"
                      ></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngFor="let detalle of pago.detalles; let i = index"
                    >
                      <tr>
                        <td style="width: 50px">{{ detalle.id }}</td>
                        <td>{{ detalle.detalle }}</td>
                        <td class="text-end">
                          {{ detalle.pago | number }}
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </section>
</app-card>
