<app-card [visualizarTitulo]="false">
  <section card-body >
    <h3>Configuraciones</h3>
    <div class="d-flex overflow-auto h-55px">
      <ul
        class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder flex-nowrap"
      >
      <li class="nav-item mb-2">
        <a
          class="nav-link text-active-primary me-6"
          (click)="seleccionarConfiguracion('GENERAL')"
          [translate]="'MENU.TITULOS.GENERAL'">
        </a>
      </li>
        @for (item of arrMenuApps; track $index) {
          <li class="nav-item mb-2">
            <a
              class="nav-link text-active-primary me-6"
              (click)="seleccionarConfiguracion(item)"
              [translate]="'MENU.TITULOS.'+item">
            </a>
          </li>
        }
      </ul>
    </div>
    {{menuSeleccionado}}
    @switch (menuSeleccionado) {
      @case ('COMPRA') {

      }
      @case ('VENTA') {
        <app-configuracion-humano></app-configuracion-humano>
      }
      @case ('CONTABILIDAD') {
      }
      @case ('CARTERA') {
      }
      @case ('HUMANO') {
        <app-configuracion-humano></app-configuracion-humano>
      }
      @case ('INVENTARIO') {
      }
      @case ('TESORERIA') {
      }
      @case ('GENERAL') {
        <app-configuracion-general></app-configuracion-general>
      }
      @case ('TRANSPORTE') {
      }
    }
  </section>
</app-card>

