<form [formGroup]="formularioService.form">
  <div class="row mb-5">
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.TITULOS.COMUNES.RESOLUCION"
        class="form-label"
      ></label>
      <app-seleccionar-resolucion
        [iniciarFocusInputBusqueda]="false"
        [style]="'height: 3.4rem;'"
        [iniciarFocusInputBusqueda]="false"
        [valorInicial]="formularioFactura.get('resolucion_numero')?.value"
        (itemSeleccionadoEvent)="agregarResolucionSeleccionado($event)"
        [filtrosExternos]="[
          {
            operador: 'exact',
            propiedad: 'compra',
            valor1: true,
          },
        ]"
      ></app-seleccionar-resolucion>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-12 col-sm-12">
      <label
        class="form-label"
        translate="FORMULARIOS.CAMPOS.FACTURA.COMENTARIO"
      ></label>
      <textarea
        formControlName="comentario"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        [ngClass]="{
          'is-invalid':
            formularioService.form.controls['comentario'].touched &&
            formularioService.form.controls['comentario'].invalid,
          'is-valid':
            formularioService.form.controls['comentario'].touched &&
            formularioService.form.controls['comentario'].valid,
        }"
      ></textarea>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '500',
          control: formularioService.form.controls['comentario'],
        }"
      ></ng-container>
    </div>
  </div>
</form>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
