<div class="encabezadoDetalle">
  <section class="encabezadoDetalleBotonera">
    <div class="btn-group btn-sm shadow-sm">
      <app-comun-btn-atras />
    </div>
    <div class="btn-group btn-sm shadow-sm">
      <button
        type="button"
        class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
        (click)="navegarEditar(programacion.id)"
        [disabled]="
          programacion.estado_aprobado || programacion.estado_generado
        "
      >
        {{ "FORMULARIOS.BOTONES.COMUNES.EDITAR" | translate }}
      </button>
      <button
        type="button"
        class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
        (click)="generar()"
        [disabled]="
          generando ||
          !arrProgramacionDetalle.length ||
          programacion.estado_generado
        "
      >
        @if (generando) {
        <div class="spinner-border spinner-border-sm mx-4" role="status">
          <span class="sr-only">Generando...</span>
        </div>
        } @else {
        {{ "FORMULARIOS.BOTONES.COMUNES.GENERAR" | translate }}
        }
      </button>
      <button
        type="submit"
        class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
        #btnGuardar
        translate=""
        (click)="imprimir()"
      >
        {{ "FORMULARIOS.BOTONES.COMUNES.PDF" | translate }}
      </button>
      <button
        type="button"
        class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
        (click)="aprobar()"
        [disabled]="
          !programacion.estado_generado || programacion.estado_aprobado
        "
      >
        {{ "FORMULARIOS.BOTONES.COMUNES.APROBAR" | translate }}
      </button>

      <div
        class="btn-group"
        ngbDropdown
        autoClose="outside"
        #OpcionesDropdown="ngbDropdown"
      >
        <button
          type="button"
          class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Opciones
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            ngbDropdownItem
            (click)="desgenerar()"
            [disabled]="
              desgenerando ||
              !programacion.estado_generado ||
              programacion.estado_aprobado
            "
          >
            @if (desgenerando) {
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Desgenerando...</span>
            </div>
            Desgenerando... } @else {
            {{ "FORMULARIOS.BOTONES.COMUNES.DESGENERAR" | translate }}
            }
          </button>
          @if(programacion.estado_aprobado){
          <button
            (click)="notificar()"
            ngbDropdownItem
            [disabled]="notificando"
          >
            @if(notificando){
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only"></span>
            </div>
            {{ "FORMULARIOS.BOTONES.COMUNES.NOTIFICANDO" | translate }}
            }@else {
            {{ "FORMULARIOS.BOTONES.COMUNES.NOTIFICAR" | translate }}
            }
          </button>
          }
        </div>
      </div>
    </div>
  </section>
  <section class="encabezadoDetalleEstados">
    <app-base-estados [documento]="programacion"></app-base-estados>
  </section>
</div>

<app-card>
  <section card-titulo>
    <app-comun-titulo-accion></app-comun-titulo-accion>
  </section>
  <section card-body>
    <app-tabla-resumen [programacion]="programacion" />
    <div class="row mb-5">
      <div class="col-12">
        <ul
          ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
          class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
        >
          <li
            [ngbNavItem]="1"
            [destroyOnHide]="true"
            class="nav-item"
            (click)="consultarDatos()"
          >
            <a
              class="nav-link"
              [ngClass]="{ 'text-primary': active === 1 }"
              ngbNavLink
              data-bs-toggle="tab"
              translate="FORMULARIOS.TITULOS.FACTURACION.DETALLES"
            ></a>
            <ng-template ngbNavContent>
              <app-tabla-contratos
                [programacion]="programacion"
              ></app-tabla-contratos>
            </ng-template>
          </li>
          <li
            [ngbNavItem]="2"
            [destroyOnHide]="true"
            class="nav-item"
            (click)="consultarAdicionalesTab()"
          >
            <a
              class="nav-link"
              [ngClass]="{ 'text-primary': active === 2 }"
              ngbNavLink
              data-bs-toggle="tab"
              translate="FORMULARIOS.TITULOS.HUMPROGRAMACION.ADICIONAL"
            ></a>
            <ng-template ngbNavContent>
              <div class="d-flex justify-content-end my-3">
                <div class="btn-group contenedor-btn-group">
                  <app-importar-administrador
                    [estadoHabilitado]="programacion.estado_generado"
                    [modelo]="'HumAdicional'"
                    [exportarArchivoFijo]="'HumAdicional'"
                    [detalle]="[
                      {
                        idNombre: 'programacion_id',
                        idValor: programacion.id
                      }
                    ]"
                    [filtrosExternos]="[
                      { propiedad: 'permanente', valor1: false }
                    ]"
                    role="group"
                    (emitirDetallesAgregados)="consultarAdicionalesTab()"
                  ></app-importar-administrador>
                  <button
                    [disabled]="programacion.estado_generado"
                    (click)="abrirModal(contentModalAdicional)"
                    class="btn btn-sm btn-primary"
                    type="button"
                    translate="FORMULARIOS.BOTONES.COMUNES.NUEVO"
                  ></button>
                  <button
                    type="button"
                    [disabled]="programacion.estado_generado"
                    class="btn btn-sm btn-danger"
                    (click)="eliminarRegistrosAdicional()"
                    translate="FORMULARIOS.BOTONES.COMUNES.ELIMINAR"
                  ></button>
                </div>
              </div>
              <div class="table-responsive-sm">
                <table id="tableDetalles" class="table table-bordered table-sm">
                  <thead>
                    <tr class="bg-gray-100">
                      <th class="bg-gray-100" style="width: 50px">Id</th>
                      <th
                        class="bg-gray-100"
                        translate="FORMULARIOS.TITULOS.COMUNES.IDENTIFICACION"
                      ></th>
                      <th
                        class="bg-gray-100"
                        translate="FORMULARIOS.TITULOS.COMUNES.NOMBRE"
                      ></th>
                      <th class="bg-gray-100">
                        <div
                          placement="top"
                          ngbTooltip="Código contrato"
                          translate="FORMULARIOS.TITULOS.HUMPROGRAMACION.CONTRATONUMEROABREVITADO"
                        ></div>
                      </th>
                      <th
                        class="bg-gray-100"
                        translate="FORMULARIOS.TITULOS.HUMPROGRAMACION.CODIGO"
                      ></th>
                      <th
                        class="bg-gray-100"
                        translate="FORMULARIOS.TITULOS.HUMPROGRAMACION.CONCEPTO"
                      ></th>
                      <th
                        class="bg-gray-100"
                        translate="FORMULARIOS.TITULOS.COMUNES.VALOR"
                      ></th>
                      <th
                        class="bg-gray-100"
                        translate="FORMULARIOS.TITULOS.HUMPROGRAMACION.DIALABORADO"
                      ></th>
                      @if(!programacion.estado_generado){
                      <th class="text-center bg-gray-100"></th>
                      }
                      <th class="text-center bg-gray-100">
                        <label for="seleccionarTodos">
                          <i
                            class="cursor-pointer"
                            [ngClass]="
                              isCheckedSeleccionarTodosAdicional
                                ? 'fa-solid fa-square-check text-danger'
                                : 'fa-regular fa-square text-gray-500'
                            "
                          >
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>

                          <input
                            class="d-none"
                            type="checkbox"
                            #checkboxSelectAll
                            id="seleccionarTodos"
                            [checked]="isCheckedSeleccionarTodosAdicional"
                            [value]="isCheckedSeleccionarTodosAdicional"
                            (click)="toggleSelectAllAdicional($event)"
                          />
                        </label>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngFor="
                        let programacionAdicional of arrProgramacionAdicional
                      "
                    >
                      <tr>
                        <td class="w-40px">{{ programacionAdicional.id }}</td>
                        <td>
                          {{
                            programacionAdicional.contrato_contacto_numero_identificacion
                          }}
                        </td>
                        <td>
                          {{
                            programacionAdicional.contrato_contacto_nombre_corto
                          }}
                        </td>
                        <td>
                          {{ programacionAdicional.contrato_id }}
                        </td>
                        <td class="w-40px">
                          {{ programacionAdicional.concepto_id }}
                        </td>
                        <td>
                          {{ programacionAdicional.concepto_nombre }}
                        </td>
                        <td class="text-end">
                          {{ programacionAdicional.valor | number }}
                        </td>
                        <td>
                          {{
                            programacionAdicional.aplica_dia_laborado
                              ? "SI"
                              : "NO"
                          }}
                        </td>
                        @if(!programacion.estado_generado){
                        <td class="w-20px">
                          <label
                            class="cursor-pointer"
                            (click)="
                              abrirModalDeEditarAdicional(
                                contentModalAdicionalEditar,
                                programacionAdicional.id
                              )
                            "
                          >
                            <i class="ki-duotone ki-notepad-edit hover-primary">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>
                          </label>
                        </td>
                        }
                        <td class="w-20px">
                          <label [for]="programacionAdicional.id">
                            <i
                              class="cursor-pointer"
                              [ngClass]="
                                checked.checked
                                  ? 'fa-solid fa-square-check text-danger'
                                  : 'fa-regular fa-square text-gray-500'
                              "
                            >
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>
                            <input
                              #checked
                              class="d-none"
                              type="checkbox"
                              [id]="programacionAdicional.id"
                              [value]="programacionAdicional.id"
                              [checked]="programacionAdicional.selected"
                              (click)="
                                agregarRegistrosEliminarAdicional(
                                  programacionAdicional.id
                                )
                              "
                            />
                          </label>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </section>
</app-card>

<!-- Modal para adicionar programacion -->
<ng-template #contentModalAdicional let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Adicional</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioAdicionalProgramacion">
      <div class="row mb-5">
        <label
          class="form-label required"
          translate="FORMULARIOS.CAMPOS.HUMANO.ADICIONAL.CONTRATO"
        ></label>
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-text">{{
              formularioAdicionalProgramacion.get("contrato")?.value || "ID"
            }}</span>
            <span class="input-group-text">{{
              formularioAdicionalProgramacion.get("identificacion")?.value ||
                "Identificación"
            }}</span>
            <div class="dropdown" ngbDropdown #NombreDropdown="ngbDropdown">
              <input
                formControlName="contrato_nombre"
                (input)="onSearch($event)"
                class="form-control dropdown-busqueda"
                ngbDropdownAnchor
                (blur)="validarCampoContrato()"
                (focus)="
                  consultarContratos('', 'contacto__nombre_corto__icontains');
                  NombreDropdown.open()
                "
                placeholder="Buscar contrato..."
                type="text"
                [ngClass]="{
                  'is-invalid':
                    formularioAdicionalProgramacion.controls['contrato']
                      .touched &&
                    formularioAdicionalProgramacion.controls['contrato']
                      .invalid,
                  'is-valid':
                    formularioAdicionalProgramacion.controls['contrato']
                      .touched &&
                    formularioAdicionalProgramacion.controls['contrato'].valid
                }"
              />
              <div
                ngbDropdownMenu
                aria-labelledby="dropdownBasic1"
                class="dropdown-menu"
              >
                @if (arrContratos.length > 0) {
                <ng-container *ngFor="let contrato of arrContratos">
                  <button
                    type="button"
                    ngbDropdownItem
                    (click)="modificarCampoFormulario('contrato', contrato)"
                  >
                    {{ contrato.contrato_contacto_numero_identificacion }}
                    {{ contrato.contrato_contacto_nombre_corto }}
                  </button>
                </ng-container>
                } @else { @if (cargandoEmpleados$ | async) {
                <button type="button" ngbDropdownItem>Cargando...</button>
                } @else {
                <button type="button" ngbDropdownItem>No hay resultados</button>
                } }
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-12">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.HUMANO.ADICIONAL.CONCEPTO"
          ></label>
          <ng-select
            [items]="arrConceptosAdicional"
            bindLabel="concepto_nombre"
            bindValue="concepto_id"
            formControlName="concepto"
            notFoundText="Sin elementos"
            placeholder="Selecciona un elemento"
            class="select2Custom"
          >
          </ng-select>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-12">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.HUMANO.ADICIONAL.VALOR"
          ></label>
          <input
            type="number"
            class="form-control"
            formControlName="valor"
            prefix="$ "
            mask="separator.2"
            [ngClass]="{
              'is-invalid':
                formularioAdicionalProgramacion.controls['valor'].touched &&
                formularioAdicionalProgramacion.controls['valor'].invalid &&
                formularioAdicionalProgramacion.controls['valor'].hasError(
                  'valorCero'
                ),
              'is-valid':
                formularioAdicionalProgramacion.controls['valor'].touched &&
                formularioAdicionalProgramacion.controls['valor'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicionalProgramacion.controls['valor']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioAdicionalProgramacion.controls['valor']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-12">
          <label
            class="form-label"
            translate="FORMULARIOS.CAMPOS.HUMANO.ADICIONAL.DETALLE"
          ></label>

          <textarea
            formControlName="detalle"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            (blur)="modificarCampoFormulario('detalle', null)"
            [ngClass]="{
              'is-invalid':
                formularioAdicionalProgramacion.controls['detalle'].touched &&
                formularioAdicionalProgramacion.controls['detalle'].invalid,
              'is-valid':
                formularioAdicionalProgramacion.controls['detalle'].touched &&
                formularioAdicionalProgramacion.controls['detalle'].valid
            }"
          ></textarea>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicionalProgramacion.controls['detalle']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-6">
          <div class="form-check form-check-custom form-check-solid">
            <input
              class="form-check-input"
              type="checkbox"
              value="1"
              id="aplica_dia_laborado"
              formControlName="aplica_dia_laborado"
            />
            <label
              class="form-check-label text-gray-700"
              for="aplica_dia_laborado"
              translate="FORMULARIOS.CAMPOS.HUMANO.ADICIONAL.APLICA_DIA_LABORADO"
            >
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="cerrarModal()"
      [disabled]="!formularioAdicionalProgramacion.valid"
    >
      Guardar
    </button>
  </div>
</ng-template>

<!-- Modal para adicionar programacion -->
<ng-template #contentModalAdicionalEditar let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Adicional</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioAdicionalProgramacion">
      <div class="row mb-5">
        <label
          class="form-label required"
          translate="FORMULARIOS.CAMPOS.HUMANO.ADICIONAL.CONTRATO"
        ></label>
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-text">{{
              formularioAdicionalProgramacion.get("contrato")?.value || "ID"
            }}</span>
            <span class="input-group-text">{{
              formularioAdicionalProgramacion.get("identificacion")?.value ||
                "Identificación"
            }}</span>
            <div class="dropdown" ngbDropdown #NombreDropdown="ngbDropdown">
              <input
                formControlName="contrato_nombre"
                (input)="onSearch($event)"
                class="form-control dropdown-busqueda"
                ngbDropdownAnchor
                (blur)="validarCampoContrato()"
                (focus)="
                  consultarContratos('', 'contacto__nombre_corto__icontains');
                  NombreDropdown.open()
                "
                placeholder="Buscar contrato..."
                type="text"
                [ngClass]="{
                  'is-invalid':
                    formularioAdicionalProgramacion.controls['contrato']
                      .touched &&
                    formularioAdicionalProgramacion.controls['contrato']
                      .invalid,
                  'is-valid':
                    formularioAdicionalProgramacion.controls['contrato']
                      .touched &&
                    formularioAdicionalProgramacion.controls['contrato'].valid
                }"
              />
              <div
                ngbDropdownMenu
                aria-labelledby="dropdownBasic1"
                class="dropdown-menu"
              >
                @if (arrContratos.length > 0) {
                <ng-container *ngFor="let contrato of arrContratos">
                  <button
                    type="button"
                    ngbDropdownItem
                    (click)="modificarCampoFormulario('contrato', contrato)"
                  >
                    {{ contrato.contrato_contacto_numero_identificacion }}
                    {{ contrato.contrato_contacto_nombre_corto }}
                  </button>
                </ng-container>
                } @else { @if (cargandoEmpleados$ | async) {
                <button type="button" ngbDropdownItem>Cargando...</button>
                } @else {
                <button type="button" ngbDropdownItem>No hay resultados</button>
                } }
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-12">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.HUMANO.ADICIONAL.CONCEPTO"
          ></label>
          <ng-select
            [items]="arrConceptosAdicional"
            bindLabel="concepto_nombre"
            bindValue="concepto_id"
            formControlName="concepto"
            notFoundText="Sin elementos"
            placeholder="Selecciona un elemento"
            class="select2Custom"
          >
          </ng-select>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-12">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.HUMANO.ADICIONAL.VALOR"
          ></label>
          <input
            type="number"
            class="form-control"
            formControlName="valor"
            prefix="$ "
            mask="separator.2"
            [ngClass]="{
              'is-invalid':
                formularioAdicionalProgramacion.controls['valor'].touched &&
                formularioAdicionalProgramacion.controls['valor'].invalid,
              'is-valid':
                formularioAdicionalProgramacion.controls['valor'].touched &&
                formularioAdicionalProgramacion.controls['valor'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicionalProgramacion.controls['valor']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioAdicionalProgramacion.controls['valor']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-12">
          <label
            class="form-label"
            translate="FORMULARIOS.CAMPOS.HUMANO.ADICIONAL.DETALLE"
          ></label>

          <textarea
            formControlName="detalle"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            (blur)="modificarCampoFormulario('detalle', null)"
            [ngClass]="{
              'is-invalid':
                formularioAdicionalProgramacion.controls['detalle'].touched &&
                formularioAdicionalProgramacion.controls['detalle'].invalid,
              'is-valid':
                formularioAdicionalProgramacion.controls['detalle'].touched &&
                formularioAdicionalProgramacion.controls['detalle'].valid
            }"
          ></textarea>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioAdicionalProgramacion.controls['detalle']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-6">
          <div class="form-check form-check-custom form-check-solid">
            <input
              class="form-check-input"
              type="checkbox"
              value="1"
              id="aplica_dia_laborado"
              formControlName="aplica_dia_laborado"
            />
            <label
              class="form-check-label text-gray-700"
              for="aplica_dia_laborado"
              translate="FORMULARIOS.CAMPOS.HUMANO.ADICIONAL.APLICA_DIA_LABORADO"
            >
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="actualizarDetalleAdicional()"
      [disabled]="!formularioAdicionalProgramacion.valid"
    >
      Guardar
    </button>
  </div>
</ng-template>

<!-- Errores -->
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
