<form
  class="form w-100"
  novalidate="novalidate"
  [formGroup]="formularioConfiguracion"
  (ngSubmit)="formSubmit()"
>
  <div class="fv-row d-flex mb-5">
    <button
      translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
      type="submit"
      class="btn btn-sm btn-primary"
      type="submit"
      #btnGuardar
    ></button>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-md-6">
      <label
        translate="FORMULARIOS.CAMPOS.CONFIGURACIONHUMANO.FACTOR"
        class="form-label required"
      ></label>
      <input
        formControlName="hum_factor"
        class="form-control"
        type="test"
        [ngClass]="{
          'is-invalid':
            formularioConfiguracion.controls['hum_factor'].touched &&
            formularioConfiguracion.controls['hum_factor'].invalid,
          'is-valid':
            formularioConfiguracion.controls['hum_factor'].touched &&
            formularioConfiguracion.controls['hum_factor'].valid,
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioConfiguracion.controls['hum_factor'],
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '6',
          control: formularioConfiguracion.controls['hum_factor'],
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
          control: formularioConfiguracion.controls['hum_factor'],
        }"
      ></ng-container>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.CONFIGURACIONHUMANO.SALARIOMINIMO"
        class="form-label required"
      ></label>
      <input
        formControlName="hum_salario_minimo"
        class="form-control"
        type="test"
        [ngClass]="{
          'is-invalid':
            formularioConfiguracion.controls['hum_salario_minimo'].touched &&
            formularioConfiguracion.controls['hum_salario_minimo'].invalid,
          'is-valid':
            formularioConfiguracion.controls['hum_salario_minimo'].touched &&
            formularioConfiguracion.controls['hum_salario_minimo'].valid,
        }"
        appSoloNumeros
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioConfiguracion.controls['hum_salario_minimo'],
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '20',
          control: formularioConfiguracion.controls['hum_salario_minimo'],
        }"
      ></ng-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.CONFIGURACIONHUMANO.AUXILIOTRANSPORTE"
        class="form-label required"
      ></label>
      <input
        formControlName="hum_auxilio_transporte"
        class="form-control"
        type="test"
        [ngClass]="{
          'is-invalid':
            formularioConfiguracion.controls['hum_auxilio_transporte']
              .touched &&
            formularioConfiguracion.controls['hum_auxilio_transporte'].invalid,
          'is-valid':
            formularioConfiguracion.controls['hum_auxilio_transporte']
              .touched &&
            formularioConfiguracion.controls['hum_auxilio_transporte'].valid,
        }"
        appSoloNumeros
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioConfiguracion.controls['hum_auxilio_transporte'],
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '20',
          control: formularioConfiguracion.controls['hum_auxilio_transporte'],
        }"
      ></ng-container>
    </div>
  </div>
  <br />
  <div class="row mb-5">
    <div class="col-12">
      <ul
        ngbNav
        #nav="ngbNav"
        [(activeId)]="tabActive"
        class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
      >
        <li [ngbNavItem]="1" [destroyOnHide]="true" class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ 'text-primary': tabActive === 1 }"
            ngbNavLink
            data-bs-toggle="tab"
            >Conceptos nomina</a
          >
          <ng-template ngbNavContent>
            <div class="row mb-5">
              <section card-body>
                <table
                  id="tableDetalles"
                  class="table table-bordered table-row-gray-500"
                >
                  <thead>
                    <tr>
                      <th class="bg-gray-100" style="width: 10px">Id</th>
                      <th class="bg-gray-100">Nombre</th>
                      <th class="bg-gray-100">Concepto</th>
                      <th class="bg-gray-100"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (
                      conceptoNomina of arrConceptosNomina;
                      track conceptoNomina.id
                    ) {
                      <tr>
                        <td style="width: 10px">{{ conceptoNomina.id }}</td>
                        <td class="w-50 text-start">
                          {{ conceptoNomina.nombre }}
                        </td>
                        <td>
                          {{ conceptoNomina.concepto_nombre }}
                        </td>
                        <td class="w-45px text-center">
                          <label
                            (click)="abrirModal(content, conceptoNomina)"
                            class="cursor-pointer"
                          >
                            <i class="ki-duotone ki-notepad-edit hover-primary">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>
                          </label>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </section>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" [destroyOnHide]="true" class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ 'text-primary': tabActive === 2 }"
            ngbNavLink
            data-bs-toggle="tab"
          >
            Conceptos
          </a>
          <ng-template ngbNavContent>
            <app-conceptos-lista></app-conceptos-lista>
          </ng-template>
        </li>
        <li [ngbNavItem]="3" [destroyOnHide]="true" class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ 'text-primary': tabActive === 3 }"
            ngbNavLink
            data-bs-toggle="tab"
          >
            Provisión
          </a>
          <ng-template ngbNavContent>
            <app-provision-lista></app-provision-lista>
          </ng-template>
        </li>
        <li [ngbNavItem]="4" [destroyOnHide]="true" class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ 'text-primary': tabActive === 4 }"
            ngbNavLink
            data-bs-toggle="tab"
          >
            Aporte
          </a>
          <ng-template ngbNavContent>
            <app-aporte-lista></app-aporte-lista>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h3>Concepto nomina</h3>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioConcepto" (ngSubmit)="enviarFormulario()">
      <div class="d-flex mb-5 justify-content-between align-items-center">
        <div
          class="btn-group btn-sm shadow-sm"
          role="group"
          aria-label="Basic example"
        >
          <button
            type="submit"
            class="btn btn-primary btn-sm"
            #btnGuardar
            translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
          ></button>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.CONFIGURACIONHUMANO.CONCEPTO"
            class="form-label required"
          >
          </label>
          <select
            class="form-select"
            formControlName="concepto"
            [ngClass]="{
              'is-invalid':
                formularioConcepto.controls['concepto'].touched &&
                formularioConcepto.controls['concepto'].invalid,
              'is-valid':
                formularioConcepto.controls['concepto'].touched &&
                formularioConcepto.controls['concepto'].valid,
            }"
          >
            <option value="">Seleccionar...</option>
            @for (item of arrConceptosHumano; track $index) {
              <option
                [value]="item.concepto_id"
                [selected]="
                  item.concepto_id === formularioConcepto.value.identificacion
                "
                *ngIf="item.concepto_id !== 6"
              >
                {{ item.concepto_nombre }}
              </option>
            }
          </select>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioConcepto.controls['concepto'],
            }"
          ></ng-container>
        </div>
      </div>
    </form>
  </div>
</ng-template>
