<div class="card card-xl-stretch mb-5 mb-xl-8 shadow-sm animate__animated animate__fadeInUp">
  <div class="card-header">
    <div class="card-title m-0">
      <h3 class="card-title animate__animated animate__fadeInRight">
        <ng-container *ngIf="titulo">
          {{titulo | translate}}
        </ng-container>
        <ng-content select="[card-titulo]"></ng-content>
      </h3>
    </div>
  </div>

  <div class="card-body">
    <ng-content select="[card-body]"></ng-content>
  </div>
</div>
