<div class="w-full">
  <ng-select
    [items]="options()"
    [bindLabel]="labelField"
    [bindValue]="valueField"
    [notFoundText]="notFoundText"
    [loadingText]="'Buscando...'"
    [placeholder]="placeholder"
    [clearable]="clearable"
    [searchable]="true"
    [appendTo]="appendTo"
    [searchFn]="localSearchFn"
    [(ngModel)]="value"
    (ngModelChange)="onValueChange($event)"
    (keyup)="onSearch($event)"
    (focus)="onFocus()"
    (clear)="onClear()"
    (blur)="onTouched()"
    [class]="sizeClass()">
    @if (hasFooter()) {
      <ng-template ng-footer-tmp>
        @if (footerTemplate) {
          <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
        } @else if (footerButtonLabel) {
          <div class="selector-footer-action">
            <button type="button" class="btn btn-sm btn-link w-100 text-start"
              (click)="onFooterButtonClick()">
              @if (footerButtonIcon) { <i [class]="footerButtonIcon"></i> }
              {{ footerButtonLabel }}
            </button>
          </div>
        }
      </ng-template>
    }
  </ng-select>

  @if (shouldShowErrors()) {
    @for (error of getErrors(); track $index) {
      <p class="text-danger">{{ error }}</p>
    }
  }
</div>
