<div class="card shadow-sm">
  <div class="card-header">
    <h3 translate="FORMULARIOS.TITULOS.EMPRESAS.TITULO" class="card-title"></h3>
  </div>
  <div class="table-responsive-sm p-5">
    <table class="table table-row-dashed table-row-gray-300">
      <tbody>
        <ng-container *ngIf="arrEmpresas.length > 0; else sinEmpresas">
          <tr
            *ngFor="let empresa of arrEmpresas"
            style="height: calc(82px - 0.6rem) !important"
          >
            <td style="width: 120px">
              <ng-container *ngIf="empresa.imagen">
                <img
                  src="{{ empresa.imagen }}"
                  alt="LOGO"
                  style="min-width: 120px"
                  class="img-thumbnail"
                />
              </ng-container>
            </td>
            <td>
              <p class="text-dark fw-bolder fs-6">
                {{ empresa.nombre }}
                <small class="badge badge-light-primary fs-8 fw-bold">{{
                  empresa.rol
                }}</small>
              </p>
              <span class="text-muted fw-bold text-muted d-block fs-7">
                {{ empresa.subdominio }}.muup.online
              </span>
            </td>
            <td class="w-50px">
              <div
                ngbDropdown
                class="d-inline-block"
                *ngIf="empresa.rol === 'propietario'"
              ></div>
            </td>
            <td>{{ empresa.usuarios }} / {{empresa.usuarios_base}}</td>
          </tr>
        </ng-container>
        <ng-template #sinEmpresas>
          <tr>
            <td colspan="4">No cuenta con empresas creadas</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
