<app-card>
  <section card-titulo>Facturación</section>
  <section card-body>
    <div class="row mb-5">
      <div class="col-12">
        <ul
          ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
          class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
        >
          <li [ngbNavItem]="1" [destroyOnHide]="true" class="nav-item">
            <a
              class="nav-link"
              ngbNavLink
              data-bs-toggle="tab"
              translate="FORMULARIOS.TITULOS.FACTURACION.DETALLES"
            ></a>
            <ng-template ngbNavContent>
              <div *ngIf="facturas.length > 0" class="mb-10 p-5 border">
                <div class="d-flex align-items-center justify-content-between">
                  <h5
                    class="mb-4"
                    translate="FORMULARIOS.TITULOS.FACTURACION.PENDIENTE"
                  ></h5>
                  <div class="card-toolbar" id="wompiWidget"></div>
                </div>
                <div class="row p-5">
                  <table
                    class="table table-hover table-bordered table-rounded border gy-2 gs-2"
                  >
                    <thead>
                      <tr class="fw-bold text-gray-800">
                        <th>Id</th>
                        <th translate="FORMULARIOS.TITULOS.FACTURACION.FECHA"></th>
                        <th translate="FORMULARIOS.TITULOS.FACTURACION.DESCRIPCION"></th>
                        <th translate="FORMULARIOS.TITULOS.FACTURACION.IMPORTANTE"></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of facturas">
                        <td>{{ item.id }}</td>
                        <td>{{ item.fecha | date : "yyyy-MM-dd" }}</td>
                        <td>{{ item.tipo }}</td>
                        <td>{{ item.vr_total | currency : "$" }}</td>
                        <td class="w-20px">
                          <label [for]="item.id">
                            <i
                              class="cursor-pointer"
                              [ngClass]="
                                checked.checked
                                  ? 'fa-solid fa-square-check text-danger'
                                  : 'fa-regular fa-square text-gray-500'
                              "
                            >
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>
                            <input
                              #checked
                              class="d-none"
                              type="checkbox"
                              [id]="item.id"
                              [value]="item.id"
                              (change)="agregarRegistrosPagar(item)"
                            />
                          </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="mb-10 p-5 border">
                <h5
                  class="mb-4"
                  translate="FORMULARIOS.TITULOS.FACTURACION.ESTIMADO"
                ></h5>
                <p
                  class="text-gray-400"
                  translate="FORMULARIOS.TITULOS.FACTURACION.TEXTOAYUDA2"
                ></p>
                <b>{{ consumoTotal || "0.00" | currency : "$" }}</b>
                <div class="mb-0">
                  <div class="row">
                    <div class="col">
                      <b>{{
                        this.fechaServices.obtenerPrimerDiaDelMesSiguiente()
                          | date : "yyyy-MM-dd"
                      }}</b>
                      <p translate="FORMULARIOS.TITULOS.FACTURACION.FECHAPAGO"></p>
                    </div>
                    <div class="col">
                      <b>{{ 0 | currency : "$" }}</b>
                      <p translate="FORMULARIOS.TITULOS.FACTURACION.PAGOSANTICIPADOS">
                        <i class="ki-outline ki-information-2"></i>
                      </p>
                    </div>
                    <div class="col">
                      <b>{{ consumoTotal || "0.00" | currency : "$" }}</b>
                      <p translate="FORMULARIOS.TITULOS.FACTURACION.TOTALUSO">
                        <i class="ki-outline ki-information-2"></i>
                      </p>
                    </div>
                    <div class="col">
                      <b>{{ consumoTotal || "0.00" | currency : "$" }}</b>
                      <p translate="FORMULARIOS.TITULOS.FACTURACION.ESTIMADO">
                        <i class="ki-outline ki-information-2"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-10 p-5 border">
                <table
                  class="table table-hover table-bordered table-rounded border gy-2 gs-2"
                >
                  <thead>
                    <tr class="fw-bold text-gray-800">
                      <th colspan="4">Consumo</th>
                    </tr>
                    <tr class="fw-bold text-gray-800">
                      <th>Subdominio</th>
                      <th>Empresa</th>
                      <th>Plan</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let consumo of consumos">
                      <td>{{ consumo.subdominio }}</td>
                      <td>{{ consumo.contenedor }}</td>
                      <td>{{ consumo.plan__nombre }}</td>
                      <td class="text-end">$ {{ consumo.vr_total }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" [destroyOnHide]="true" class="nav-item">
            <a
              class="nav-link"
              ngbNavLink
              data-bs-toggle="tab"
              translate="FORMULARIOS.TITULOS.FACTURACION.HISTORIALFACTURACION"
            ></a>
            <ng-template ngbNavContent>
              <app-historial-facturacion></app-historial-facturacion>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </section>
</app-card>
