td {
    vertical-align: middle;
  }
  
  th {
    background-color: var(--bs-gray-100);
  }
  
  .ki-duotone,
  .ki-outline,
  .ki-solid,
  .fa-regular,
  .fa-solid {
    font-size: 1.8rem;
    width: 20.484px;
    height: 23.406px;
  }
  