<form [formGroup]="formularioContacto" (ngSubmit)="enviarFormulario()">
  <div class="row mb-5">
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.NUMEROIDENTIFICACION"
        class="form-label required"
      ></label>
      <input
        formControlName="numero_identificacion"
        class="form-control bg-transparent"
        type="text"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            formularioContacto.controls['numero_identificacion'].touched &&
            formularioContacto.controls['numero_identificacion'].invalid,
          'is-valid':
            formularioContacto.controls['numero_identificacion'].touched &&
            formularioContacto.controls['numero_identificacion'].valid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
          cantidadCaracteres: '3',
          control: formularioContacto.controls['numero_identificacion']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '100',
          control: formularioContacto.controls['numero_identificacion']
        }"
      ></ng-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <label
      translate="FORMULARIOS.CAMPOS.COMUNES.NUMEROIDENTIFICACION"
      class="form-label required"
    ></label>
      <select
      class="form-select"
      formControlName="identificacion"

    >
      <option value="">Seleccionar...</option>
      <option
        *ngFor="let identificacion of arrIdentificacion"
        [value]="identificacion.identificacion_id"
      
      >
        {{ identificacion.identificacion_nombre  }}
      </option>
    </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.NOMBRE"
        class="form-label required"
      ></label>
      <input
        formControlName="nombre_corto"
        class="form-control bg-transparent"
        type="text"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            formularioContacto.controls['nombre_corto'].touched &&
            formularioContacto.controls['nombre_corto'].invalid,
          'is-valid':
            formularioContacto.controls['nombre_corto'].touched &&
            formularioContacto.controls['nombre_corto'].valid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
          cantidadCaracteres: '3',
          control: formularioContacto.controls['nombre_corto']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '100',
          control: formularioContacto.controls['nombre_corto']
        }"
      ></ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.DIRECCION"
        class="form-label required"
      ></label>
      <input
        formControlName="direccion"
        class="form-control bg-transparent"
        type="text"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            formularioContacto.controls['direccion'].touched &&
            formularioContacto.controls['direccion'].invalid,
          'is-valid':
            formularioContacto.controls['direccion'].touched &&
            formularioContacto.controls['direccion'].valid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
          cantidadCaracteres: '3',
          control: formularioContacto.controls['direccion']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '100',
          control: formularioContacto.controls['direccion']
        }"
      ></ng-container>
    </div>
    <div class="col-12" ngbDropdown #CiudadDropdown="ngbDropdown">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.CIUDAD"
        class="form-label required"
      ></label>
      <div class="position-relative">
        <input
          type="text"
          class="form-control form-control"
          ngbDropdownAnchor
          formControlName="ciudad_nombre"
          (focus)="consultarCiudad($event); CiudadDropdown.open()"
          (keyup)="consultarCiudad($event)"
        />
        <div class="position-absolute translate-middle-y top-50 end-0 me-3">
          <i class="bi bi-search fs-2x"></i>
        </div>
      </div>
      <div
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
        class="dropdown-menu"
      >
        <ng-container *ngFor="let ciudad of arrCiudades">
          <button
            type="button"
            ngbDropdownItem
            (click)="modificarCampoFormulario('ciudad', ciudad)"
          >
            {{ ciudad.ciudad_id}} - {{ ciudad.ciudad_nombre }}
          </button>
        </ng-container>
        <div class="dropdown-divider"></div>
        <button type="button" ngbDropdownItem>Nuevo</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.TELEFONO"
        class="form-label required"
      ></label>
      <input
        formControlName="telefono"
        class="form-control bg-transparent"
        type="text"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            formularioContacto.controls['telefono'].touched &&
            formularioContacto.controls['telefono'].invalid,
          'is-valid':
            formularioContacto.controls['telefono'].touched &&
            formularioContacto.controls['telefono'].valid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
          cantidadCaracteres: '3',
          control: formularioContacto.controls['telefono']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '100',
          control: formularioContacto.controls['telefono']
        }"
      ></ng-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.CELULAR"
        class="form-label required"
      ></label>
      <input
        formControlName="celular"
        class="form-control bg-transparent"
        type="text"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            formularioContacto.controls['celular'].touched &&
            formularioContacto.controls['celular'].invalid,
          'is-valid':
            formularioContacto.controls['celular'].touched &&
            formularioContacto.controls['celular'].valid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
          cantidadCaracteres: '3',
          control: formularioContacto.controls['celular']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '100',
          control: formularioContacto.controls['celular']
        }"
      ></ng-container>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6 col-sm-12">
      <label
      translate="FORMULARIOS.CAMPOS.GENERAL.CONTACTO.PERSONATIPO"
      class="form-label required"
    ></label>
      <select
      class="form-select"
      formControlName="tipo_persona"

    >
      <option value="">Seleccionar...</option>
      <option
        *ngFor="let tipoPersona of arrTipoPersona"
        [value]="tipoPersona.tipo_persona_id"
      
      >
        {{ tipoPersona.tipo_persona_nombre  }}
      </option>
    </select>
    </div>
    <div class="col-md-6 col-sm-12">
      <label
      translate="FORMULARIOS.CAMPOS.GENERAL.CONTACTO.REGIMEN"
      class="form-label required"
    ></label>
      <select
      class="form-select"
      formControlName="regimen"

    >
      <option value="">Seleccionar...</option>
      <option
        *ngFor="let regimen of arrRegimen"
        [value]="regimen.regimen_id"
      
      >
        {{ regimen.regimen_nombre  }}
      </option>
    </select>
    </div>
  </div>

  <div class="fv-row d-flex justify-content-end">
    <button
      type="submit"
      class="btn btn-primary btn-sm"
      #btnGuardar
      translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
    ></button>
  </div>
</form>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
