<div class="row mb-5">
  <app-comun-btn-atras />
</div>
<app-card>
  <section card-titulo>
    {{ "FORMULARIOS.BOTONES.COMUNES.DETALLE" | translate | titlecase }}
    {{ "MENU.FUNCIONALIDAD." + (modelo | uppercase) | translate | lowercase }}
    {{ detalle }}
  </section>
  <section card-body>
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td
            class="fw-bold text-gray-800 fs-6"
            translate="FORMULARIOS.CAMPOS.GENERAL.RESOLUCION.PREFIJO"
          ></td>
          <td colspan="5">{{ resolucion.prefijo }}</td>
        </tr>
        <tr>
          <td
            class="fw-bold text-gray-800 fs-6"
            translate="FORMULARIOS.CAMPOS.COMUNES.NUMERO"
          ></td>
          <td colspan="5">{{ resolucion.numero }}</td>
        </tr>
        <tr>
          <td
            class="fw-bold text-gray-800 fs-6"
            translate="FORMULARIOS.CAMPOS.GENERAL.RESOLUCION.CONSECUTIVODESDE"
          ></td>
          <td>{{ resolucion.consecutivo_desde }}</td>
          <td
            class="fw-bold text-gray-800 fs-6"
            translate="FORMULARIOS.CAMPOS.GENERAL.RESOLUCION.CONSECUTIVOHASTA"
          ></td>
          <td>{{ resolucion.consecutivo_hasta }}</td>
        </tr>
        <tr>
          <td
            class="fw-bold text-gray-800 fs-6"
            translate="FORMULARIOS.CAMPOS.COMUNES.FECHADESDE"
          ></td>
          <td >{{ resolucion.fecha_desde }}</td>
          <td
            class="fw-bold text-gray-800 fs-6"
            translate="FORMULARIOS.CAMPOS.COMUNES.FECHAHASTA"
          ></td>
          <td colspan="5">{{ resolucion.fecha_hasta }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</app-card>
