
<div style="text-align:center">
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [title]="chartOptions.title!"
  ></apx-chart>
</div>


<div style="text-align:center">
  <apx-chart
  #seires

  [series]="areaChartOptions.series!"
  [chart]="areaChartOptions.chart!"
  [xaxis]="areaChartOptions.xaxis!"
  [stroke]="areaChartOptions.stroke!"
  [dataLabels]="areaChartOptions.dataLabels!"
  [yaxis]="areaChartOptions.yaxis!"
  [labels]="areaChartOptions.labels!"
  [legend]="areaChartOptions.legend!"
  [title]="areaChartOptions.title!"
  [subtitle]="areaChartOptions.subtitle!"
></apx-chart>
</div>
