<app-card [titulo]="'FORMULARIOS.TITULOS.COMUNES.FILTRO'">
  <section card-body>
    <app-base-filtro
      (emitirFiltros)="obtenerFiltros($event)"
      [persistirFiltros]="false"
    ></app-base-filtro>
  </section>
</app-card>
<app-card [titulo]="'MENU.FUNCIONALIDAD.' + (modelo | uppercase)">
  <section card-body>
    <div class="table-responsive-sm table-loading">
      <table
        class="table table-hover table-bordered table-rounded border gy-2 gs-2"
      >
        <thead>
          <tr class="fw-bold fs-6 text-gray-800">
            <th class="bg-gray-100 text-center">
              {{ "LISTAS.DOCUMENTO.ID" | translate }}
            </th>
            <th class="bg-gray-100 text-center">
              {{ "LISTAS.DOCUMENTO.DOCUMENTO_TIPO" | translate }}
            </th>
            <th class="bg-gray-100 text-center">
              {{ "LISTAS.DOCUMENTO.FECHA" | translate }}
            </th>
            <th class="bg-gray-100 text-center">
              {{ "LISTAS.DOCUMENTO.NUMERO" | translate }}
            </th>
            <th class="bg-gray-100 text-center">
              {{ "LISTAS.DOCUMENTO.ITEM" | translate }}
            </th>
            <th class="bg-gray-100 text-center">
              {{ "LISTAS.ITEM.NOMBRE" | translate }}
            </th>
            <th class="bg-gray-100 text-center">
              {{ "LISTAS.DOCUMENTO.CANTIDAD" | translate }}
            </th>
            <th class="bg-gray-100 text-center">
              {{ "LISTAS.DOCUMENTO.PRECIO" | translate }}
            </th>
            <th class="bg-gray-100 text-center">
              {{ "LISTAS.DOCUMENTO.SUBTOTAL" | translate }}
            </th>
            <th class="bg-gray-100 text-center">
              {{ "LISTAS.DOCUMENTO.IMPUESTO" | translate }}
            </th>
            <th class="bg-gray-100 text-center">
              {{ "LISTAS.DOCUMENTO.TOTAL" | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let documento of arrDocumentos">
            <td>{{ documento.id }}</td>
            <td>{{ documento.documento_tipo_nombre }}</td>
            <td>{{ documento.documento_fecha }}</td>
            <td>{{ documento.documento_numero }}</td>
            <td>{{ documento.item_id }}</td>
            <td>{{ documento.item_nombre }}</td>
            <td class="text-end">{{ documento.cantidad | number }}</td>
            <td class="text-end">{{ documento.precio | number }}</td>
            <td class="text-end">{{ documento.subtotal | number }}</td>
            <td class="text-end">{{ documento.impuesto | number }}</td>
            <td class="text-end">{{ documento.total | number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</app-card>
