<div class="d-flex mb-5 justify-content-between align-items-center">
  <div
    class="btn-group btn-sm shadow-sm"
    role="group"
    aria-label="Basic example"
  >
    <app-comun-btn-atras />
    <button
      type="button"
      class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
      (click)="aprobar()"
      [disabled]="arrEstados.estado_aprobado"
    >
      {{ "FORMULARIOS.BOTONES.COMUNES.APROBAR" | translate }}
    </button>
    <button
      type="submit"
      class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
      #btnGuardar
      translate=""
      (click)="imprimir()"
    >
      {{ "FORMULARIOS.BOTONES.COMUNES.PDF" | translate }}
    </button>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
        (click)="emitir()"
        [disabled]="
          !arrEstados.estado_aprobado || arrEstados.estado_electronico_enviado
        "
      >
        {{ "FORMULARIOS.BOTONES.COMUNES.EMITIR" | translate }}
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-end gap-2">
    <ng-container *ngIf="arrEstados.estado_aprobado">
      <span class="badge badge-success">Aprobado</span>
    </ng-container>
    <ng-container *ngIf="arrEstados.estado_anulado">
      <span class="badge badge-danger">Anulado</span>
    </ng-container>
    <ng-container *ngIf="arrEstados.estado_electronico">
      <span class="badge badge-secondary">Electrónico</span>
    </ng-container>
    <ng-container *ngIf="arrEstados.estado_electronico_enviado">
      <span class="badge badge-secondary">Enviado</span>
    </ng-container>
    <ng-container *ngIf="arrEstados.estado_electronico_notificado">
      <span class="badge badge-secondary">Notificado</span>
    </ng-container>
  </div>
</div>
<app-card>
  <section card-titulo>
    {{ "FORMULARIOS.BOTONES.COMUNES.DETALLE" | translate | titlecase }}
    {{ "MENU.FUNCIONALIDAD." + (modelo | uppercase) | translate | lowercase }}
  </section>
  <section card-body>
    <div class="row mb-5">
      <div class="col-12" ngbDropdown #ClienteDropdown="ngbDropdown">
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.COMUNES.CLIENTE"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">
          {{ documento.contacto_nombre_corto }}
        </p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.FACTURA.FECHAFACTURA"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">{{ documento.fecha }}</p>
      </div>
      <div class="col">
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.FACTURA.PLAZOPAGO"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">{{ documento.plazo_pago_nombre }}</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.FACTURA.FECHAVENCIMIENTO"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">{{ documento.fecha_vence }}</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 col-sm-12">
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.FACTURA.METODOPAGO"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">
          {{ documento.metodo_pago_nombre }}
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.FACTURA.NUMERO"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">
          {{ documento.numero }}
        </p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 col-sm-12">
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.FACTURA.ORDENCOMPRA"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">
          {{ documento.orden_compra }}
        </p>
      </div>
      <div
        class="col-md-6 col-sm-12"
        *ngIf="
          this.parametrosUrl.documento_clase === '2' ||
          this.parametrosUrl.documento_clase === '3'
        "
      >
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.FACTURA.DOCUMENTOREFERENCIA"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">
          {{ documento.documento_referencia_numero }}
        </p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-12 col-sm-12">
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.FACTURA.COMENTARIO"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">
          {{ documento.comentario }}
        </p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12">
        <ul
          ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
          class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
        >
          <li [ngbNavItem]="1" [destroyOnHide]="true" class="nav-item">
            <a
              class="nav-link"
              ngbNavLink
              data-bs-toggle="tab"
              translate="FORMULARIOS.TITULOS.FACTURACION.DETALLES"
            ></a>
            <ng-template ngbNavContent>
              <div class="table-responsive-sm">
                <table
                  id="tableDetalles"
                  class="table table-row-dashed table-row-gray-500"
                >
                  <thead>
                    <tr>
                      <th style="width: 50px">Id</th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.PRODUCTO"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.CANTIDAD"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.PRECIO"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.DESCUENTO"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.SUBTOTAL"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.IMPUESTO"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.TOTALNETO"
                      ></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngFor="let detalle of documento.detalles; let i = index"
                    >
                      <tr>
                        <td style="width: 50px">{{ detalle.id }}</td>
                        <td class="w-50 text-start">
                          {{ detalle.item_nombre }}
                        </td>
                        <td style="width: 10rem">
                          {{ detalle.cantidad }}
                        </td>
                        <td class="text-end">
                          {{ detalle.precio | currency : "$" }}
                        </td>
                        <td class="text-end" style="width: 10rem">
                          {{ detalle.descuento }}
                          <i class="bi bi-percent"></i>
                        </td>
                        <td class="text-end">
                          {{ detalle.subtotal | currency : "$" }}
                        </td>
                        <td class="text-center">
                          <ul
                            *ngFor="
                              let impuesto of detalle.impuestos;
                              let i = index
                            "
                          >
                            <li>{{ impuesto.impuesto_nombre_extendido }}</li>
                          </ul>
                        </td>
                        <td class="text-end">
                          {{ detalle.total | currency : "$" }}
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" [destroyOnHide]="true" class="nav-item">
            <a
              class="nav-link"
              ngbNavLink
              data-bs-toggle="tab"
              translate="FORMULARIOS.TITULOS.FACTURACION.OTRAINFROMACION"
            ></a>
            <ng-template ngbNavContent> </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-end mb-5">
        <table>
          <tr *ngIf="totalCantidad > 0">
            <td
              class="text-end"
              translate="FORMULARIOS.TITULOS.FACTURACION.TOTALCANTIDAD"
            ></td>
            <td class="text-end">{{ totalCantidad }}</td>
          </tr>
          <tr *ngIf="subtotalGeneral > 0">
            <td
              class="text-end"
              translate="FORMULARIOS.TITULOS.FACTURACION.SUBTOTAL"
            ></td>
            <td class="text-end">
              {{ subtotalGeneral | currency : "$" }}
            </td>
          </tr>
          <tr *ngFor="let impuesto of acumuladorImpuestos | keyvalue">
            <td class="text-end">{{ impuesto.key }}</td>
            <td class="text-end">
              {{ impuesto.value.total | currency : "$" }}
            </td>
          </tr>
          <tr *ngIf="totalDescuento > 0">
            <td
              class="text-end"
              translate="FORMULARIOS.TITULOS.FACTURACION.TOTALDESCUENTO"
            ></td>
            <td class="text-end">
              {{ totalDescuento | currency : "$" }}
            </td>
          </tr>
          <tr *ngIf="totalImpuestos > 0">
            <td
              class="text-end"
              translate="FORMULARIOS.TITULOS.FACTURACION.TOTALIMPUESTOS"
            ></td>
            <td class="text-end">
              {{ totalImpuestos | currency : "$" }}
            </td>
          </tr>
          <tr class="border-top">
            <td
              class="text-end"
              translate="FORMULARIOS.TITULOS.FACTURACION.TOTALGENERAL"
            ></td>
            <td class="text-end" style="padding-left: 24px">
              {{ totalGeneral | currency : "$" }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</app-card>
