<app-botonera-detalle [estados]="arrEstados"></app-botonera-detalle>
<app-card>
  <section card-titulo>
    {{ "FORMULARIOS.BOTONES.COMUNES.DETALLE" | translate | titlecase }}
    {{ "MENU.FUNCIONALIDAD." + (modelo | uppercase) | translate | lowercase }}
    {{ detalle }}
  </section>
  <section card-body>
    <div class="row mb-5">
      <div class="col-12" ngbDropdown #ClienteDropdown="ngbDropdown">
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.COMUNES.CLIENTE"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">
          {{ documento.contacto_nombre_corto }}
        </p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.FACTURA.FECHAFACTURA"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">{{ documento.fecha }}</p>
      </div>
      <div class="col">
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.FACTURA.FECHAVENCIMIENTO"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">{{ documento.fecha_vence }}</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 col-sm-12" ngbDropdown #MetodoDropdown="ngbDropdown">
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.FACTURA.METODOPAGO"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">
          {{ documento.metodo_pago_nombre }}
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.FACTURA.SOPORTE"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">
          {{ documento.soporte }}
        </p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 col-sm-12">
        <label
          class="fw-semibold text-gray-600 fs-7"
          translate="FORMULARIOS.CAMPOS.FACTURA.COMENTARIO"
        ></label>
        <p class="fw-bold text-gray-800 fs-6">
          {{ documento.comentario }}
        </p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12">
        <ul
          ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
          class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
        >
          <li [ngbNavItem]="1" [destroyOnHide]="true" class="nav-item">
            <a
              class="nav-link"
              ngbNavLink
              data-bs-toggle="tab"
              translate="FORMULARIOS.TITULOS.FACTURACION.DETALLES"
            ></a>
            <ng-template ngbNavContent>
              <div class="table-responsive-sm">
                <table
                  id="tableDetalles"
                  class="table table-row-dashed table-row-gray-500"
                >
                  <thead>
                    <tr>
                      <th  style="width: 50px">Id</th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.PRODUCTO"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.CANTIDAD"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.PRECIO"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.DESCUENTO"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.SUBTOTAL"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.IMPUESTO"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.TOTALNETO"
                      ></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngFor="let detalle of documento.detalles; let i = index"
                    >
                      <tr>
                        <td style="width: 50px">{{ detalle.id }}</td>
                        <td class="w-50 text-start">
                          {{ detalle.item_nombre }}
                        </td>
                        <td style="width: 10rem">
                          {{ detalle.cantidad }}
                        </td>
                        <td  class="text-end">
                          {{ detalle.precio | currency : "$" }}
                        </td>
                        <td class="text-end" style="width: 10rem">
                          {{ detalle.descuento }}
                          <i class="bi bi-percent"></i>
                        </td>
                        <td class="text-end">
                          {{ detalle.subtotal  | currency : "$" }}
                        </td>
                        <td  class="text-center">
                          <ul
                            *ngFor="
                              let impuesto of detalle.impuestos;
                              let i = index
                            "
                          >
                            <li>{{ impuesto.impuesto_nombre_extendido }}</li>
                          </ul>
                        </td>
                        <td  class="text-end">
                          {{ detalle.total | currency : "$" }}
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" [destroyOnHide]="true" class="nav-item">
            <a
              class="nav-link"
              ngbNavLink
              data-bs-toggle="tab"
              translate="FORMULARIOS.TITULOS.FACTURACION.OTRAINFROMACION"
            ></a>
            <ng-template ngbNavContent> </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </section>
</app-card>
