<app-comun-base-lista>
  <section base-filtros>
    <app-card [titulo]="'FORMULARIOS.TITULOS.COMUNES.FILTRO'">
      <section card-body>
        <app-base-filtro
          [propiedades]="filtros"
          (emitirFiltros)="obtenerFiltros($event)"
        ></app-base-filtro>
      </section>
    </app-card>
  </section>
  <section base-acciones>
    <app-importar
      [subtitulo]="'FORMULARIOS.TITULOS.COMUNES.ITEMS'"
    ></app-importar>
  </section>
  <section base-tabla>
    <app-card [titulo]="'FORMULARIOS.TITULOS.COMUNES.ITEMS'">
      <section card-body>
        <app-comun-tabla
          [datos]="arrItems"
          [encabezado]="arrEncabezado"
          [cantidad_registros]="cantidad_registros"
          (cantidadRegistros)="cantidadRegistros($event)"
          (emitirDesplazamiento)="cambiarDesplazamiento($event)"
          (emitirOrdenamiento)="cambiarOrdemiento($event)"
          (emitirPaginacion)="cambiarPaginacion($event)"
        ></app-comun-tabla>
      </section>
    </app-card>
  </section>
</app-comun-base-lista>
