<app-comun-base-lista>
  <section base-filtros>
    <div class="card card-px-1 shadow-sm">
      <div class="card-header">
        <h3 class="card-title" translate="FORMULARIOS.TITULOS.COMUNES.FILTRO"></h3>
      </div>
      <div class="card-body">
        <app-base-filtro></app-base-filtro>
      </div>
    </div>
  </section>
  <section base-tabla>
    <div class="card card-px-0 shadow-sm">
      <div class="card-body">
          <app-comun-tabla [datos]="arrItems" [encabezado]="arrEncabezado"></app-comun-tabla>
      </div>
    </div>
  </section>
</app-comun-base-lista>
