<div class="d-flex justify-content-between my-4">
  <app-comun-paginador
    [cantidadRegistros]="cantidadRegistros()"
    (emitirDesplazamiento)="cambiarDesplazamiento($event)"
    (emitirPaginacion)="cambiarPaginacion($event)"
  ></app-comun-paginador>
  <div class="btn-group contenedor-btn-group" role="group">
    <div class="btn-group" ngbDropdown #OpcionesDropdown="ngbDropdown">
      <button
        type="button"
        class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{ "FORMULARIOS.BOTONES.COMUNES.EXCEL" | translate }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button (click)="descargarExcelDetalle()" ngbDropdownItem>
          {{ "FORMULARIOS.BOTONES.COMUNES.EXCEL" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table id="tableDetalles" class="table table-bordered table-row-gray-500">
    <thead>
      <tr class="bg-gray-100 text-center">
        <th style="width: 50px">Id</th>
        <th>Tipo</th>
        <th>Entidad</th>
        <th>Cotización</th>
      </tr>
    </thead>
    <tbody>
      @for(aporteDetalle of entidadesAgrupadas(); track $index){ @for (entidad
      of aporteDetalle.entidades; track $index) {
      <tr>
        <td style="width: 50px">
          {{ entidad.id }}
        </td>
        <td>
          {{ entidad.tipo }}
        </td>
        <td>
          {{ entidad.entidad_nombre }}
        </td>
        <td class="text-end">
          {{ entidad.cotizacion | number }}
        </td>
      </tr>
      }
      <tr>
        <td></td>
        <td></td>
        <td class="fw-bold">Total</td>
        <td class="text-end">{{ aporteDetalle.cotizacionTotal | number }}</td>
      </tr>
      } @if (entidadesAgrupadas().length) {
      <tr>
        <td></td>
        <td></td>
        <td class="fw-bold">Total general</td>
        <td class="text-end fw-bold">{{ totalGeneral() | number }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
