<div class="row">
  <div class="col-xl-12">
    <app-card>
      <section card-titulo>
        {{ "FORMULARIOS.TITULOS.CONTENEDOR.NUEVO" | translate }}
      </section>
      <section card-body>
        <app-contenedor-formulario
          [informacionContenedor]="informacionContenedor"
          (dataFormulario)="enviarFormulario($event)"
        ></app-contenedor-formulario>
      </section>
    </app-card>
  </div>
</div>
<div *ngIf="procesando" class="fake-loading">
  <span translate="FORMULARIOS.MENSAJES.CONTENEDOR.CREARCONTENEDOR"></span>
</div>
