<form [formGroup]="formularioFactura" (ngSubmit)="formSubmit()">
  <div class="row mb-10">
    <div class="col-12" ngbDropdown #ClienteDropdown="ngbDropdown">
      <label
        class="form-label required"
        translate="FORMULARIOS.CAMPOS.COMUNES.CLIENTE"
      ></label>
      <div class="position-relative">
        <input
          type="text"
          class="form-control form-control"
          minlength="3"
          maxlength="4"
          ngbDropdownAnchor
          (focus)="consultarCliente($event); ClienteDropdown.open()"
          (keyup)="consultarCliente($event)"
        />
        <div class="position-absolute translate-middle-y top-50 end-0 me-3">
          <i class="bi bi-search fs-2x"></i>
        </div>
      </div>
      <div
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
        class="dropdown-menu"
      >
        <ng-container *ngFor="let impuesto of arrMovimientosTipos">
          <button type="button" ngbDropdownItem>cliente.nombre</button>
        </ng-container>
        <div class="dropdown-divider"></div>
        <button type="button" ngbDropdownItem>Nuevo</button>
      </div>
    </div>
  </div>

  <div class="row mb-10">
    <div class="col-12" ngbDropdown #movimientoTipoDropdown="ngbDropdown">
      <label
        class="form-label required"
        translate="FORMULARIOS.CAMPOS.FACTURA.MOVIMIENTOTIPO"
      ></label>
      <div class="position-relative">
        <input
          type="text"
          class="form-control form-control"
          ngbDropdownAnchor
          formControlName="movimiento_tipo"
          (focus)="
            consultarMovimeintosTipo($event); movimientoTipoDropdown.open()
          "
          (keyup)="consultarMovimeintosTipo($event)"
        />
        <div class="position-absolute translate-middle-y top-50 end-0 me-3">
          <i class="bi bi-search fs-2x"></i>
        </div>
      </div>
      <div
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
        class="dropdown-menu"
      >
        <ng-container *ngFor="let impuesto of arrMovimientosTipos">
          <button
            (click)="agregarMovimientoTipo(impuesto)"
            type="button"
            ngbDropdownItem
          >
            {{ impuesto.nombre }}
          </button>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="row mb-10">
    <div class="col">
      <label
        class="form-label required"
        translate="FORMULARIOS.CAMPOS.FACTURA.FECHAFACTURA"
      ></label>
      <input
        formControlName="fechaFactura"
        class="form-control bg-transparent"
        type="datetime-local"
        autocomplete="off"
      />
    </div>
    <div class="col">
      <label
        class="form-label required"
        translate="FORMULARIOS.CAMPOS.FACTURA.FECHAVENCIMIENTO"
      >
      </label>
      <input
        formControlName="fechaVencimiento"
        class="form-control bg-transparent"
        type="datetime-local"
        autocomplete="off"
      />
    </div>
  </div>

  <div class="row mb-10">
    <div class="col">
      <label
        class="form-label required"
        translate="FORMULARIOS.CAMPOS.FACTURA.PLAZO"
      ></label>
      <input
        formControlName="plazo"
        class="form-control bg-transparent"
        type="number"
        autocomplete="off"
      />
    </div>
    <div class="col">
      <label
        class="form-label required"
        translate="FORMULARIOS.CAMPOS.COMUNES.DOCUMENTOTIPO"
      ></label>
      <input
        formControlName="tipoDocumento"
        class="form-control bg-transparent"
        type="text"
        autocomplete="off"
      />
    </div>
  </div>

  <div class="row mb-10">
    <div class="col">
      <label
        class="form-label required"
        translate="FORMULARIOS.CAMPOS.FACTURA.URLANEXO"
      ></label>
      <input
        formControlName="url"
        class="form-control bg-transparent"
        type="url"
        autocomplete="off"
      />
    </div>
    <div class="col">
      <label
        class="form-label required"
        translate="FORMULARIOS.CAMPOS.FACTURA.TIPOOPERACION"
      ></label>
      <select class="form-select" formControlName="tipoOperacion">
        <option value="1">SUMA</option>
        <option value="0">NEUTRO</option>
        <option value="-1">RESTA</option>
      </select>
    </div>
  </div>

  <div class="row mb-10">
    <div class="col-6">
      <label
        class="form-label required"
        translate="FORMULARIOS.CAMPOS.FACTURA.METODOPAGO"
      ></label>
      <input
        formControlName="metodoPago"
        class="form-control bg-transparent"
        type="text"
        autocomplete="off"
      />
    </div>
  </div>

  <div class="row mb-10">
    <div class="col-12">
      <ul
        ngbNav
        #nav="ngbNav"
        [(activeId)]="active"
        class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
      >
        <li [ngbNavItem]="1" [destroyOnHide]="true" class="nav-item">
          <a
            class="nav-link"
            ngbNavLink
            data-bs-toggle="tab"
            translate="FORMULARIOS.TITULOS.FACTURACION.LISTA"
          ></a>
          <ng-template ngbNavContent>
            <div class="table-responsive-sm">
              <table
                id="tableDetalles"
                class="table table-row-dashed table-row-gray-500"
              >
                <thead>
                  <tr>
                    <th
                      translate="FORMULARIOS.TITULOS.FACTURACION.PRODUCTO"
                    ></th>
                    <th
                      translate="FORMULARIOS.TITULOS.FACTURACION.CANTIDAD"
                    ></th>
                    <th translate="FORMULARIOS.TITULOS.FACTURACION.PRECIO"></th>
                    <th
                      translate="FORMULARIOS.TITULOS.FACTURACION.DESCUENTO"
                    ></th>
                    <th
                      translate="FORMULARIOS.TITULOS.FACTURACION.IMPUESTO"
                    ></th>
                    <th
                      translate="FORMULARIOS.TITULOS.FACTURACION.IMPINCLUIDOS"
                    ></th>
                    <th class="text-center">
                      <button
                        (click)="agregarProductos()"
                        class="btn btn-sm btn-primary"
                        type="button"
                        translate="FORMULARIOS.TITULOS.FACTURACION.AGREGARITEM"
                      ></button>
                    </th>
                  </tr>
                </thead>
                <tbody formArrayName="detalles">
                  <ng-container
                    *ngFor="let detalle of detalles.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <tr>
                      <td>
                        <app-comun-productos
                          (emitirArrItems)="agregarItemSeleccionado($event, i)"
                          (emitirRetirarArrItems)="
                            retirarItemSeleccionado($event, i)
                          "
                        ></app-comun-productos>
                      </td>
                      <td>
                        <textarea
                          class="o_input"
                          formControlName="cantidad"
                          [value]="detalle.value?.cantidad"
                          (change)="actualizarDetalle(i, 'cantidad', $event)"
                          rows="1"
                          spellcheck="true"
                        ></textarea>
                      </td>
                      <td>
                        <textarea
                          class="o_input"
                          [value]="detalle.value.precio"
                          (change)="actualizarDetalle(i, 'precio', $event)"
                          rows="1"
                          spellcheck="true"
                        ></textarea>
                      </td>
                      <td>
                        <textarea
                          class="o_input"
                          [value]="detalle.value.descuento"
                          (change)="actualizarDetalle(i, 'descuento', $event)"
                          rows="1"
                          spellcheck="true"
                        ></textarea>
                      </td>
                      <td>
                        <app-comun-impuestos
                          (emitirImpuestos)="agregarImpuesto($event, i)"
                          (emitirImpuesto)="removerImpuesto($event, i)"
                        ></app-comun-impuestos>
                      </td>
                      <td>
                        <textarea
                          [value]="
                            detalle.value.cantidad * detalle.value.precio
                          "
                          (blur)="onImpuestoBlur(i)"
                          readonly
                          rows="1"
                          spellcheck="true"
                        ></textarea>
                      </td>
                      <td class="text-center">
                        <i
                          class="bi bi-trash fs-2x align-self-center cursor-pointer user-select-none text-hover-danger"
                          (click)="eliminarProducto(i)"
                        ></i>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div class="d-flex flex-column justify-content-end align-items-end">
              <table>
                <tr *ngIf="totalCantidad > 0">
                  <td
                    class="text-end"
                    translate="FORMULARIOS.TITULOS.FACTURACION.TOTALCANTIDAD"
                  ></td>
                  <td class="text-end">{{ totalCantidad | currency : "$" }}</td>
                </tr>
                <tr *ngFor="let impuesto of acumuladorImpuestos | keyvalue">
                  <td class="text-end">{{ impuesto.key }}</td>
                  <td class="text-end">
                    {{ impuesto.value.total | currency : "$" }}
                  </td>
                </tr>
                <tr *ngIf="totalDescuento > 0">
                  <td
                    class="text-end"
                    translate="FORMULARIOS.TITULOS.FACTURACION.TOTALCANTIDAD"
                  ></td>
                  <td class="text-end">
                    {{ totalDescuento | currency : "$" }}
                  </td>
                </tr>
                <tr *ngIf="totalImpuestos > 0">
                  <td class="text-end"
                  translate="FORMULARIOS.TITULOS.FACTURACION.TOTALIMPUESTOS"

                  ></td>
                  <td class="text-end">
                    {{ totalImpuestos | currency : "$" }}
                  </td>
                </tr>
                <tr class="border-top">
                  <td class="text-end"
                  translate="FORMULARIOS.TITULOS.FACTURACION.TOTALGENERAL"

                  ></td>
                  <td class="text-end" style="padding-left: 24px">
                    {{ totalGeneral | currency : "$" }}
                  </td>
                </tr>
              </table>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" [destroyOnHide]="true" class="nav-item">
          <a
            class="nav-link"
            ngbNavLink
            data-bs-toggle="tab"
            translate="FORMULARIOS.TITULOS.FACTURACION.OTRAINFROMACION"
          ></a>
          <ng-template ngbNavContent> </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>

  <div class="d-flex justify-content-end mb-10">
    <button
      type="submit"
      class="btn btn-primary btn-sm"
      #btnGuardar
      translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
    ></button>
  </div>
</form>
