<section card-body>
  <table id="tableDetalles" class="table table-bordered table-row-gray-500">
    <thead>
      <tr>
        <th class="bg-gray-100 w-45px">Id</th>
        <th class="bg-gray-100">Nombre</th>
        <th class="bg-gray-100">Porcentaje</th>
        <th class="bg-gray-100"></th>
      </tr>
    </thead>
    <tbody>
      @for (concepto of conceptosLista(); track concepto.id) {
        <tr>
          <td class="w-45px">{{ concepto.id }}</td>
          <td class="w-50 text-start">
            {{ concepto.nombre }}
          </td>
          <td>{{ concepto.porcentaje }} %</td>
          <td class="w-45px text-center">
            <label
              (click)="abrirModal(content, concepto)"
              class="cursor-pointer"
            >
              <i class="ki-duotone ki-notepad-edit hover-primary">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </label>
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
<ng-template #content let-modal>
  <div class="modal-header">
    <h3>Concepto</h3>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="d-flex mb-5 justify-content-between align-items-center">
        <div
          class="btn-group btn-sm shadow-sm"
          role="group"
          aria-label="Basic example"
        >
          <button
            type="submit"
            class="btn btn-primary btn-sm"
            #btnGuardar
            translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
          ></button>
        </div>
      </div>

      <!-- <div class="row mb-2">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.CONFIGURACIONHUMANO.CONCEPTO"
            class="form-label required"
          >
          </label>
          <select
            class="form-select"
            formControlName="concepto"
            [ngClass]="{
              'is-invalid':
                formularioConcepto.controls['concepto'].touched &&
                formularioConcepto.controls['concepto'].invalid,
              'is-valid':
                formularioConcepto.controls['concepto'].touched &&
                formularioConcepto.controls['concepto'].valid,
            }"
          >
            <option value="">Seleccionar...</option>
            @for (item of arrConceptosHumano; track $index) {
              <option
                [value]="item.concepto_id"
                [selected]="
                  item.concepto_id === formularioConcepto.value.identificacion
                "
                *ngIf="item.concepto_id !== 6"
              >
                {{ item.concepto_nombre }}
              </option>
            }
          </select>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioConcepto.controls['concepto'],
            }"
          ></ng-container>
        </div>
      </div> -->
    </form>
  </div>
</ng-template>
