<div class="row">
  <div class="col">
    <select
      class="form-control form-control-sm"
      (change)="propiedadSeleccionada($event)"
    >
      <option value="">
        {{ "FORMULARIOS.CAMPOS.COMUNES.SELECCIONAR" | translate }}
      </option>
      <ng-container *ngFor="let propiedad of camposVisibles">
        <option
          [value]="propiedad.campoTipo"
          [selected]="
            propiedad.nombre === filtroCampoNombre.toLocaleUpperCase()
          "
          [attr.data-value]="propiedad.nombre.toLocaleLowerCase()"
        >
          {{
            "LISTAS." +
              (modelo | uppercase) +
              "." +
              (propiedad.nombre | uppercase) | translate
          }}
        </option>
      </ng-container>
    </select>
  </div>
  <div class="col">
    <select
      class="form-control form-control-sm"
      (change)="onCriterioSeleccionado($event)"
    >
      <option value="">
        {{ "FORMULARIOS.CAMPOS.COMUNES.SELECCIONAR" | translate }}
      </option>
      <option
        *ngFor="let criterioBusqueda of criteriosBusqueda"
        [value]="criterioBusqueda.valor"
        [selected]="criterioBusqueda.valor === filtroCampoCriterio"
      >
        {{
          "FORMULARIOS.CAMPOS.FILTROS.OPERADORES." +
            (criterioBusqueda.texto | uppercase) | translate
        }}
      </option>
    </select>
  </div>
</div>
