<div class="row">
  <div class="col">
    <select
      class="form-control form-control-sm"
      (change)="propiedadSeleccionada($event)"
    >
      <option value="">Propiedad</option>
      <option
        *ngFor="let propiedad of propiedades"
        [value]="propiedad.tipo"
        [selected]="propiedad.tipo === datosSeleccionados?.propiedad"
      >
        {{ propiedad.valor }}
      </option>
    </select>
  </div>

  <div class="col">
    <select
      class="form-control form-control-sm"
      (change)="onCriterioSeleccionado($event)"
    >
      <option value="">Operador</option>
      <option
        *ngFor="let criterioBusqueda of criteriosBusqueda"
        [value]="criterioBusqueda.valor"
        [selected]="criterioBusqueda === datosSeleccionados?.operador"
      >
        {{ criterioBusqueda.texto }}
      </option>
    </select>
  </div>
</div>

