<form [formGroup]="formularioFactura" (ngSubmit)="formSubmit()">
  <app-comun-encabezado-formulario-nuevo
    [estadoAprobado]="estadoAprobado()"
  ></app-comun-encabezado-formulario-nuevo>
  <app-card>
    <section card-titulo>
      <app-comun-titulo-accion [nombreModelo]="'NOTACREDITO'"></app-comun-titulo-accion>
    </section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-16" ngbDropdown #ClienteDropdown="ngbDropdown">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.PROVEEDOR"
          ></label>
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              ngbDropdownAnchor
              formControlName="contactoNombre"
              (focus)="consultarCliente($event); ClienteDropdown.open()"
              (keyup)="consultarCliente($event)"
              [ngClass]="{
                'is-invalid':
                  formularioFactura.controls['contacto'].touched &&
                  formularioFactura.controls['contacto'].invalid,
                'is-valid':
                  formularioFactura.controls['contacto'].touched &&
                  formularioFactura.controls['contacto'].valid,
              }"
            />
            <div class="position-absolute translate-middle-y top-50 end-0 me-3">
              <i class="bi bi-search fs-2"></i>
            </div>
          </div>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdown-menu"
          >
            <ng-container *ngFor="let contacto of arrMovimientosClientes">
              <button
                type="button"
                ngbDropdownItem
                (click)="modificarCampoFormulario('contacto', contacto)"
                (pointerenter)="modificarCampoFormulario('contacto', contacto)"
              >
                {{ contacto.contacto_nombre_corto }}
              </button>
            </ng-container>
            <div class="dropdown-divider"></div>
            <span
              type="button"
              ngbDropdownItem
              (click)="abrirModalContactoNuevo(content)"
            >
              {{ "FORMULARIOS.BOTONES.COMUNES.NUEVO" | translate | titlecase }}
              <ng-template #content let-modal>
                <div class="modal-body">
                  <app-contacto-formulario
                    [ocultarBtnAtras]="true"
                    [tituloFijo]="true"
                    [esProvedor]="true"
                    [esCliente]="false"
                    (emitirGuardoRegistro)="cerrarModal($event)"
                  />
                </div>
              </ng-template>
            </span>
            <button type="button" ngbDropdownItem>
              <app-comun-buscar-avanzado
                [consultarModelo]="'GenContacto'"
                [consultarTipo]="'Administrador'"
                (emitirRegistroSeleccionado)="
                  actualizarFormulario($event, 'contacto')
                "
                [campoLista]="campoListaContacto"
                [filtrosPermanentes]="filtrosPermanentes"
              >
              </app-comun-buscar-avanzado>
            </button>
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioFactura.controls['contacto'],
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div
          class="col-12 col-md-3"
          [ngClass]="
            dataUrl.documento_clase === '1' ? 'col-12 col-3' : 'col-12 col-md-6'
          "
        >
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.FACTURA.FECHA"
          ></label>
          <input
            formControlName="fecha"
            class="form-control"
            type="date"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioFactura.controls['fecha'].touched &&
                formularioFactura.controls['fecha'].invalid,
              'is-valid':
                formularioFactura.controls['fecha'].touched &&
                formularioFactura.controls['fecha'].valid,
            }"
            (change)="cambiarFechaVence($event)"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioFactura.controls['fecha'],
            }"
          ></ng-container>
          <div
            *ngIf="
              formularioFactura.controls.fecha?.touched &&
              formularioFactura.controls.fecha?.hasError(
                'fechaSuperiorNoValida'
              )
            "
          >
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <span
                  translate="FORMULARIOS.VALIDACIONES.FACTURA.FECHASUPERIOAFECHAVENCIMINETO"
                  role="alert"
                >
                </span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-6 col-sm-12"
          appAnimacionFadeInOut
          *ngIf="formularioFactura.controls['contactoNombre'].value"
          ngbDropdown
          #DocumentoReferenciaDropdown="ngbDropdown"
        >
          <label
            class="form-label"
            translate="FORMULARIOS.CAMPOS.FACTURA.DOCUMENTOREFERENCIA"
          ></label>
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              ngbDropdownAnchor
              formControlName="documento_referencia_numero"
              (focus)="
                consultarDocumentoReferencia($event);
                DocumentoReferenciaDropdown.open()
              "
              (keyup)="consultarDocumentoReferencia($event)"
              [ngClass]="{
                'is-invalid':
                  formularioFactura.controls['documento_referencia_numero']
                    .touched &&
                  formularioFactura.controls['documento_referencia_numero']
                    .invalid,
                'is-valid':
                  formularioFactura.controls['documento_referencia_numero']
                    .touched &&
                  formularioFactura.controls['documento_referencia_numero']
                    .valid,
              }"
            />
            <div class="position-absolute translate-middle-y top-50 end-0 me-3">
              <i class="bi bi-search fs-2"></i>
            </div>
          </div>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdown-menu"
          >
            <ng-container *ngFor="let referencia of referencias">
              <button
                type="button"
                ngbDropdownItem
                (click)="
                  modificarCampoFormulario('documento_referencia', referencia)
                "
              >
                {{ referencia.numero }}
              </button>
            </ng-container>
            <div class="dropdown-divider"></div>
            <button type="button" ngbDropdownItem>
              <app-comun-buscar-avanzado
                [consultarModelo]="'GenDocumento'"
                [consultarTipo]="'Documento'"
                (emitirRegistroSeleccionado)="
                  actualizarFormulario($event, 'documento_referencia')
                "
                [filtrosPermanentes]="filtrosPermanentesNotaCredito"
                [campoLista]="campoListaDocReferencia"
              >
              </app-comun-buscar-avanzado>
            </button>
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '50',
              control: formularioFactura.controls['documento_referencia'],
            }"
          ></ng-container>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            class="form-label"
            translate="FORMULARIOS.CAMPOS.FACTURA.GRUPO"
          >
          </label>
          <app-seleccionar-grupo
            [grande]="true"
            [isEdicion]="modoEdicion()"
            [sugerirPrimerValor]="true"
            (selectChange)="onSeleccionarGrupoChange($event)"
            [valorInicial]="formularioFactura.get('grupo_contabilidad')?.value"
          ></app-seleccionar-grupo>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-12 col-sm-12">
          <label
            class="form-label"
            translate="FORMULARIOS.CAMPOS.FACTURA.COMENTARIO"
          ></label>
          <textarea
            formControlName="comentario"
            class="form-control"
            id="exampleFormControlTextarea1"
            (blur)="modificarCampoFormulario('comentario', null)"
            rows="3"
            [ngClass]="{
              'is-invalid':
                formularioFactura.controls['comentario'].touched &&
                formularioFactura.controls['comentario'].invalid,
              'is-valid':
                formularioFactura.controls['comentario'].touched &&
                formularioFactura.controls['comentario'].valid,
            }"
          ></textarea>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '500',
              control: formularioFactura.controls['comentario'],
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12">
          <ul
            ngbNav
            #nav="ngbNav"
            [(activeId)]="active"
            class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
          >
            <li [ngbNavItem]="1" [destroyOnHide]="false" class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ 'text-primary': active === 1 }"
                ngbNavLink
                data-bs-toggle="tab"
                translate="FORMULARIOS.TITULOS.FACTURACION.DETALLES"
              ></a>
              <ng-template ngbNavContent>
                <app-formulario-productos
                  (emitirDocumentoDetalle)="recibirDocumentoDetalle($event)"
                  [formularioTipo]="'compra'"
                ></app-formulario-productos>
              </ng-template>
            </li>
            <li [ngbNavItem]="2" [destroyOnHide]="true" class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ 'text-primary': active === 2 }"
                ngbNavLink
                data-bs-toggle="tab"
                translate="FORMULARIOS.TITULOS.FACTURACION.CUENTAS"
              ></a>
              <ng-template ngbNavContent>
                <app-factura-cuenta />
              </ng-template>
            </li>
            <li [ngbNavItem]="3" [destroyOnHide]="true" class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ 'text-primary': active === 3 }"
                ngbNavLink
                data-bs-toggle="tab"
                translate="FORMULARIOS.TITULOS.FACTURACION.OTRAINFROMACION"
              ></a>
              <ng-template ngbNavContent> </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
          <div class="d-flex justify-content-end mb-5">
            <table>
              <tr *ngIf="formularioFactura.value.totalCantidad > 0">
                <td
                  class="text-end"
                  translate="FORMULARIOS.TITULOS.FACTURACION.TOTALCANTIDAD"
                ></td>
                <td class="text-end">
                  {{ formularioFactura.value.totalCantidad }}
                </td>
              </tr>
              @for (
                debitoCredito of acumuladorDebitosCreditos() | keyvalue;
                track $index
              ) {
                @if (debitoCredito.value.total > 0) {
                  <tr>
                    <td class="text-end">
                      @if (debitoCredito.key === "creditos") {
                        Créditos
                      } @else if (debitoCredito.key === "debitos") {
                        Débitos
                      } @else {
                        {{ debitoCredito.key }}
                      }
                    </td>
                    <td class="text-end">
                      {{ debitoCredito.value.total | currency: "$" }}
                    </td>
                  </tr>
                }
              }
              <tr *ngIf="formularioFactura.value.subtotal > 0">
                <td
                  class="text-end"
                  translate="FORMULARIOS.TITULOS.FACTURACION.SUBTOTAL"
                ></td>
                <td class="text-end">
                  {{ formularioFactura.value.subtotal | currency: "$" }}
                </td>
              </tr>
              <tr *ngIf="formularioFactura.value.base_impuesto > 0">
                <td
                  class="text-end"
                  translate="FORMULARIOS.TITULOS.FACTURACION.TOTALBASE"
                ></td>
                <td class="text-end">
                  {{ formularioFactura.value.base_impuesto | currency: "$" }}
                </td>
              </tr>
              @for (impuesto of acumuladorImpuesto() | keyvalue; track $index) {
                <tr>
                  <td class="text-end">{{ impuesto.key }}</td>
                  <td class="text-end">
                    {{ impuesto.value.total | currency: "$" }}
                  </td>
                </tr>
              }
              <tr *ngIf="(acumuladorImpuesto() | keyvalue).length">
                <td
                  class="text-end"
                  translate="FORMULARIOS.TITULOS.FACTURACION.TOTALIMPUESTOS"
                ></td>
                <td class="text-end">
                  {{ formularioFactura.value.impuesto_operado | currency: "$" }}
                </td>
              </tr>
              <tr class="border-top">
                <td
                  class="text-end"
                  translate="FORMULARIOS.TITULOS.FACTURACION.TOTALGENERAL"
                ></td>
                <td class="text-end" style="padding-left: 24px">
                  {{ formularioFactura.value.total | currency: "$" }}
                </td>
              </tr>
              <tr *ngIf="formularioFactura.value.afectado > 0">
                <td
                  class="text-end"
                  translate="FORMULARIOS.TITULOS.FACTURACION.PAGO"
                ></td>
                <td class="text-end" style="padding-left: 24px">
                  {{ formularioFactura.value.afectado | currency: "$" }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
