<div class="container-grid">
  <div class="filtros">
    <ng-content select="[base-filtros]"></ng-content>
    <app-card [titulo]="'FORMULARIOS.TITULOS.COMUNES.FILTRO'">
      <section card-body>
        <app-base-filtro
          (emitirFiltros)="obtenerFiltros($event)"
          [persistirFiltros]="false"
        ></app-base-filtro>
      </section>
    </app-card>
  </div>
  <div class="tabla">
    <app-card>
      <section card-titulo>
        <ng-container *ngIf="submodelo; else elseTemplate">
          {{ "MENU.FUNCIONALIDAD." + (submodelo | uppercase) | translate }}

        </ng-container>
        <ng-template #elseTemplate>
          {{ "MENU.FUNCIONALIDAD." + (modelo | uppercase) | translate }}

        </ng-template>

      </section>
      <section card-body>
        <app-comun-tabla
          [modelo]="modelo"
          [datos]="arrItems"
          [encabezado]="titulos"
          [cantidad_registros]="cantidad_registros"
          [confirmacionRegistrosEliminado]="confirmacionRegistrosEliminado"
          (emitirDesplazamiento)="cambiarDesplazamiento($event)"
          (emitirOrdenamiento)="cambiarOrdemiento($event)"
          (emitirPaginacion)="cambiarPaginacion($event)"
          (emitirRegistraEliminar)="eliminarRegistros($event)"
          (emitirExportarExcel)="descargarExcel()"
          (emitirNavegarNuevo)="navegarNuevo()"
          (emitirNavegarDetalle)="navegarDetalle($event)"
          (emitirNavegarEditar)="navegarEditar($event)"
        >
        </app-comun-tabla>
      </section>
    </app-card>
  </div>
</div>
