<div class="filtros">
  <ng-content select="[base-filtros]"></ng-content>
  <app-card [titulo]="'FORMULARIOS.TITULOS.COMUNES.FILTRO'">
    <section card-body>
      <app-base-filtro
        (emitirFiltros)="obtenerFiltros($event)"
        [_tipo]="'DOCUMENTO'"
      ></app-base-filtro>
    </section>
  </app-card>
</div>

<app-card [titulo]="'MENU.FUNCIONALIDAD.AUXILIARCUENTA'">
  <section card-body>
    <div class="d-flex justify-content-end mb-2">
      <div class="btn-group btn-sm shadow-sm">
        <app-comun-btn-exportar (emitirExportarExcel)="descargarExcel()" />
        <button
          type="submit"
          class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
          #btnGuardar
          translate="FORMULARIOS.BOTONES.COMUNES.PDF"
          (click)="imprimir()"
        ></button>
      </div>
    </div>
    <div
      class="table-responsive"
      [ngClass]="{ 'table-loading': cargandoCuentas() }"
    >
      @if (cargandoCuentas()) {
        <div class="table-loading-message" style="margin-top: 2rem">
          Cargando...
        </div>
      }
      <table
        class="table table-hover table-bordered table-rounded border gy-2 gs-2"
      >
        <thead>
          <tr class="text-gray-800 bg-gray-100">
            <th class="text-center" translate="LISTAS.CONMOVIENTO.CUENTA"></th>
            <th class="text-center" translate="LISTAS.CONMOVIENTO.NOMBRE"></th>
            <th
              class="text-center"
              translate="LISTAS.CONMOVIENTO.ANTERIOR"
            ></th>
            <th class="text-center" translate="LISTAS.CONMOVIENTO.DEBITO"></th>
            <th class="text-center" translate="LISTAS.CONMOVIENTO.CREDITO"></th>
            <th class="text-center" translate="LISTAS.CONMOVIENTO.ACTUAL"></th>
          </tr>
        </thead>
        <tbody>
          @for (item of cuentasAgrupadas; track $index) {
            <tr>
              <td>{{ item.codigo }}</td>
              <td style="text-align: left">{{ item.nombre }}</td>
              <td>{{ item.saldo_anterior | currency: "$" }}</td>
              <td>{{ item.debito | currency: "$" }}</td>
              <td>{{ item.credito | currency: "$" }}</td>
              <td>{{ item.saldo_actual | currency: "$" }}</td>
            </tr>
          }
          @if (cuentasAgrupadas.length > 0) {
            <tr>
              <td></td>
              <td style="text-align: left" class="fw-bold">Total</td>
              <td></td>
              <td>{{ totalDebito | currency: "$" }}</td>
              <td>{{ totalCredito | currency: "$" }}</td>
              <td></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </section>
</app-card>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
