<form [formGroup]="formularioFactura" (ngSubmit)="formSubmit()">
  <app-comun-encabezado-formulario-nuevo
    [estadoAprobado]="estadoAprobado()"
  ></app-comun-encabezado-formulario-nuevo>
  <app-card>
    <section card-titulo>
      <app-comun-titulo-accion
        [nombreModelo]="'documentosoporte'"
      ></app-comun-titulo-accion>
    </section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-16" ngbDropdown #ClienteDropdown="ngbDropdown">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.PROVEEDOR"
          ></label>
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              ngbDropdownAnchor
              formControlName="contactoNombre"
              (focus)="consultarCliente($event); ClienteDropdown.open()"
              (keyup)="consultarCliente($event)"
              [ngClass]="{
                'is-invalid':
                  formularioFactura.controls['contacto'].touched &&
                  formularioFactura.controls['contacto'].invalid,
                'is-valid':
                  formularioFactura.controls['contacto'].touched &&
                  formularioFactura.controls['contacto'].valid,
              }"
            />
            <div class="position-absolute translate-middle-y top-50 end-0 me-3">
              <i class="bi bi-search fs-2"></i>
            </div>
          </div>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdown-menu"
          >
            <ng-container *ngFor="let contacto of arrMovimientosClientes">
              <button
                type="button"
                ngbDropdownItem
                (click)="modificarCampoFormulario('contacto', contacto)"
                (pointerenter)="modificarCampoFormulario('contacto', contacto)"
              >
                {{ contacto.nombre_corto }}
              </button>
            </ng-container>
            <div class="dropdown-divider"></div>
            <span
              type="button"
              ngbDropdownItem
              (click)="abrirModalContactoNuevo(content)"
            >
              {{ "FORMULARIOS.BOTONES.COMUNES.NUEVO" | translate | titlecase }}
              <ng-template #content let-modal>
                <div class="modal-body">
                  <app-contacto-formulario
                    [ocultarBtnAtras]="true"
                    [tituloFijo]="true"
                    [esProvedor]="true"
                    [esCliente]="false"
                    (emitirGuardoRegistro)="cerrarModal($event)"
                  />
                </div>
              </ng-template>
            </span>
            <button type="button" ngbDropdownItem>
              <app-comun-buscar-avanzado
                [consultarUrl]="'general/contacto/'"
                [tituloModal]="'contacto'"
                (emitirRegistroSeleccionado)="
                  actualizarFormulario($event, 'contacto')
                "
                [campoLista]="campoListaContacto"
                [campoFiltros]="campoListaContacto"
                [filtrosPermanentes]="filtrosPermanentesContacto"
              >
              </app-comun-buscar-avanzado>
            </button>
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioFactura.controls['contacto'],
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-3">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.FACTURA.FECHA"
          ></label>
          <input
            formControlName="fecha"
            class="form-control"
            type="date"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioFactura.controls['fecha'].touched &&
                formularioFactura.controls['fecha'].invalid,
              'is-valid':
                formularioFactura.controls['fecha'].touched &&
                formularioFactura.controls['fecha'].valid,
            }"
            (change)="cambiarFechaVence($event)"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioFactura.controls['fecha'],
            }"
          ></ng-container>
          <div
            *ngIf="
              formularioFactura.controls.fecha?.touched &&
              formularioFactura.controls.fecha?.hasError(
                'fechaSuperiorNoValida'
              )
            "
          >
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <span
                  translate="FORMULARIOS.VALIDACIONES.FACTURA.FECHASUPERIOAFECHAVENCIMINETO"
                  role="alert"
                >
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.FACTURA.FECHAVENCIMIENTO"
          ></label>
          <input
            formControlName="fecha_vence"
            class="form-control"
            type="date"
            id="fecha_vence"
            autocomplete="off"
            readonly
            [ngClass]="{
              'is-invalid':
                formularioFactura.controls['fecha_vence'].touched &&
                formularioFactura.controls['fecha_vence'].invalid,
              'is-valid':
                formularioFactura.controls['fecha_vence'].touched &&
                formularioFactura.controls['fecha_vence'].valid,
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioFactura.controls['fecha_vence'],
            }"
          ></ng-container>
          <div
            *ngIf="
              formularioFactura.controls.fecha_vence?.touched &&
              formularioFactura.controls.fecha_vence?.hasError(
                'fechaVenceInferiorNoValida'
              )
            "
          >
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <span
                  translate="FORMULARIOS.VALIDACIONES.FACTURA.FECHAVENCEINFERIORNOVALIDA"
                  role="alert"
                >
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.FACTURA.PLAZOPAGO"
          ></label>
          <select
            class="form-select"
            formControlName="plazo_pago"
            [ngClass]="{
              'is-invalid':
                formularioFactura.controls['plazo_pago'].touched &&
                formularioFactura.controls['plazo_pago'].invalid,
              'is-valid':
                formularioFactura.controls['plazo_pago'].touched &&
                formularioFactura.controls['plazo_pago'].valid,
            }"
            (change)="capturarDias($event)"
          >
            <option value="">
              {{ "FORMULARIOS.CAMPOS.COMUNES.SELECCIONAR" | translate }}
            </option>
            <option
              *ngFor="let plazoPago of arrPlazoPago"
              [value]="plazoPago.id"
              [attr.data-dias]="plazoPago.dias"
            >
              {{ plazoPago.nombre }}
            </option>
          </select>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioFactura.controls['plazo_pago'],
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            class="form-label"
            translate="FORMULARIOS.CAMPOS.FACTURA.FORMAPAGO"
          >
          </label>
          <ng-select
            [items]="formaPagoLista"
            bindLabel="nombre"
            bindValue="id"
            formControlName="forma_pago"
            notFoundText="Sin elementos"
            placeholder="Selecciona un elemento"
            class="select2Custom"
          >
          </ng-select>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            class="form-label"
            translate="FORMULARIOS.CAMPOS.FACTURA.ORDENCOMPRA"
          ></label>
          <input
            formControlName="orden_compra"
            class="form-control"
            type="text"
            autocomplete="off"
            (blur)="modificarCampoFormulario('orden_compra', null)"
            [ngClass]="{
              'is-invalid':
                formularioFactura.controls['orden_compra'].touched &&
                formularioFactura.controls['orden_compra'].invalid,
              'is-valid':
                formularioFactura.controls['orden_compra'].touched &&
                formularioFactura.controls['orden_compra'].valid,
            }"
          />
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            class="form-label"
            translate="FORMULARIOS.CAMPOS.FACTURA.GRUPO"
          >
          </label>
          <app-seleccionar-grupo
            [grande]="true"
            [isEdicion]="modoEdicion()"
            [sugerirPrimerValor]="true"
            (selectChange)="onSeleccionarGrupoChange($event)"
            [valorInicial]="formularioFactura.get('grupo_contabilidad')?.value"
          ></app-seleccionar-grupo>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="col-12" ngbDropdown #ClienteDropdown="ngbDropdown">
            <label
              class="form-label"
              translate="FORMULARIOS.CAMPOS.COMUNES.ALMACEN"
            ></label>

            <app-seleccionar-almacen
              [grande]="true"
              [isEdicion]="modoEdicion()"
              [sugerirPrimerValor]="true"
              [itemNombre]="formularioFactura.get('almacen_nombre')?.value"
              [estadoAprobado]="estadoAprobado()"
              [campoInvalido]="
                formularioFactura.get('almacen')?.touched &&
                formularioFactura.get('almacen')?.hasError('required')
              "
              (emitirItemSeleccionado)="recibirAlmacenSeleccionado($event)"
              (emitirLineaVacia)="recibirAlmacenVacio()"
            ></app-seleccionar-almacen>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div
          class="col-md-6 col-sm-12"
          *ngIf="visualizarCampoDocumentoReferencia"
          appAnimacionFadeInOut
          ngbDropdown
          #DocumentoReferenciaDropdown="ngbDropdown"
        >
          <label
            class="form-label"
            translate="FORMULARIOS.CAMPOS.FACTURA.DOCUMENTOREFERENCIA"
          ></label>
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              ngbDropdownAnchor
              formControlName="documento_referencia_numero"
              (focus)="
                consultarDocumentoReferencia($event);
                DocumentoReferenciaDropdown.open()
              "
              (keyup)="consultarDocumentoReferencia($event)"
              [ngClass]="{
                'is-invalid':
                  formularioFactura.controls['documento_referencia_numero']
                    .touched &&
                  formularioFactura.controls['documento_referencia_numero']
                    .invalid,
                'is-valid':
                  formularioFactura.controls['documento_referencia_numero']
                    .touched &&
                  formularioFactura.controls['documento_referencia_numero']
                    .valid,
              }"
            />
            <div class="position-absolute translate-middle-y top-50 end-0 me-3">
              <i class="bi bi-search fs-2"></i>
            </div>
          </div>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdown-menu"
          >
            <ng-container *ngFor="let referencia of arrMovimientosClientes">
              <button
                type="button"
                ngbDropdownItem
                (click)="
                  modificarCampoFormulario('documento_referencia', referencia)
                "
              >
                {{ referencia.numero }}
              </button>
            </ng-container>
            <div class="dropdown-divider"></div>
            <button type="button" ngbDropdownItem>
              <app-comun-buscar-avanzado
                (emitirRegistroSeleccionado)="
                  actualizarFormulario($event, 'documento_referencia')
                "
              >
              </app-comun-buscar-avanzado>
            </button>
          </div>

          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '50',
              control: formularioFactura.controls['documento_referencia'],
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12">
          <ul
            ngbNav
            #nav="ngbNav"
            [(activeId)]="active"
            class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
          >
            <li [ngbNavItem]="1" [destroyOnHide]="false" class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ 'text-primary': active === 1 }"
                ngbNavLink
                data-bs-toggle="tab"
                translate="FORMULARIOS.TITULOS.FACTURACION.DETALLES"
              ></a>
              <ng-template ngbNavContent>
                <app-formulario-productos
                  [formularioTipo]="'compra'"
                ></app-formulario-productos>
                <div class="d-flex justify-content-end mb-5">
                  <table>
                    <tr *ngIf="formularioFactura.value.totalCantidad > 0">
                      <td
                        class="text-end"
                        translate="FORMULARIOS.TITULOS.FACTURACION.TOTALCANTIDAD"
                      ></td>
                      <td class="text-end">
                        {{ formularioFactura.value.totalCantidad }}
                      </td>
                    </tr>
                    <tr *ngIf="formularioFactura.value.subtotal > 0">
                      <td
                        class="text-end"
                        translate="FORMULARIOS.TITULOS.FACTURACION.SUBTOTAL"
                      ></td>
                      <td class="text-end">
                        {{ formularioFactura.value.subtotal | currency: "$" }}
                      </td>
                    </tr>
                    @for (
                      impuesto of acumuladorImpuesto() | keyvalue;
                      track $index
                    ) {
                      <tr>
                        <td class="text-end">{{ impuesto.key }}</td>
                        <td class="text-end">
                          {{ impuesto.value.total | currency: "$" }}
                        </td>
                      </tr>
                    }
                    <tr *ngIf="(acumuladorImpuesto() | keyvalue).length">
                      <td
                        class="text-end"
                        translate="FORMULARIOS.TITULOS.FACTURACION.TOTALIMPUESTOS"
                      ></td>
                      <td class="text-end">
                        {{
                          formularioFactura.value.impuesto_operado
                            | currency: "$"
                        }}
                      </td>
                    </tr>
                    <tr class="border-top">
                      <td
                        class="text-end"
                        translate="FORMULARIOS.TITULOS.FACTURACION.TOTALGENERAL"
                      ></td>
                      <td class="text-end" style="padding-left: 24px">
                        {{ formularioFactura.value.total | currency: "$" }}
                      </td>
                    </tr>
                    <tr *ngIf="formularioFactura.value.pago > 0">
                      <td
                        class="text-end"
                        translate="FORMULARIOS.TITULOS.FACTURACION.PAGO"
                      ></td>
                      <td class="text-end" style="padding-left: 24px">
                        {{ formularioFactura.value.pago | currency: "$" }}
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2" [destroyOnHide]="true" class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ 'text-primary': active === 2 }"
                ngbNavLink
                data-bs-toggle="tab"
                translate="FORMULARIOS.TITULOS.FACTURACION.MASINFORMACION"
              ></a>
              <ng-template ngbNavContent>
                <app-documento-soporte-informacion-extra></app-documento-soporte-informacion-extra>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
