<div class="menu-item px-3">
  <a
    translate="FORMULARIOS.BOTONES.COMUNES.EDITAR"
    class="btn btn-sm btn-dark me-3 cursor-pointer"
    (click)="openModal()"
  >
  </a>
</div>
<ng-template #dialogTemplate>
  <form
    class="form w-100"
    novalidate="novalidate"
    [formGroup]="formularioContenedor"
    (ngSubmit)="formSubmit()"
  >
    <div class="card shadow-sm">
      <div class="modal-header">
        <h3
          translate="FORMULARIOS.TITULOS.CONTENEDOR.EDITAR"
          class="card-title"
        ></h3>
        <button
          type="button"
          class="btn btn-bg-light btn-color-danger"
          aria-label="Close"
          (click)="modalRef.dismiss('Cross click')"
        >
          <i class="bi bi-x fs-2x"></i>
        </button>
      </div>
      <div class="card-body">
        <div class="row mb-10">
          <div class="col-md-12 col-sm-12">
            <label
              translate="FORMULARIOS.CAMPOS.COMUNES.NOMBRE"
              class="form-label required"
            ></label>
            <input
              formControlName="nombre"
              class="form-control bg-transparent"
              type="text"
              autocomplete="off"
              [ngClass]="{
                'is-invalid':
                  formularioContenedor.controls['nombre'].touched &&
                  formularioContenedor.controls['nombre'].invalid,
                'is-valid':
                  formularioContenedor.controls['nombre'].touched &&
                  formularioContenedor.controls['nombre'].valid
              }"
            />
            <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'required',
                message:
                  'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
                control: formularioContenedor.controls['nombre']
              }"
            ></ng-container>
            <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'pattern',
                message:
                  'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
                control: formularioContenedor.controls['nombre']
              }"
            ></ng-container>
            <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'minlength',
                message:
                  'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
                cantidadCaracteres: '3',
                control: formularioContenedor.controls['nombre']
              }"
            ></ng-container>
            <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message:
                  'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
                cantidadCaracteres: '100',
                control: formularioContenedor.controls['nombre']
              }"
            ></ng-container>
          </div>
        </div>
        <div class="row mb-10">
          <div class="col-md-12 col-sm-12">
            <label class="form-label required">Planes </label>
            <div
              class="row row-cols-1 row-cols-md-3 row-cols-lg-1 row-cols-xl-3 g-9"
              data-kt-buttons="true"
              data-kt-buttons-target="[data-kt-button='true']"
              data-kt-initialized="1"
            >
              <div class="col" *ngFor="let plan of arrPlanes">
                <label
                  class="btn btn-outline btn-outline-dashed btn-active-light-primary d-flex text-start p-6"
                  [ngClass]="{ active: planSeleccionado === plan.id }"
                  data-kt-button="true"
                  (click)="seleccionarPlan(plan.id)"
                >
                  <span
                    class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1"
                  >
                    <input
                      class="form-check-input"
                      type="radio"
                      name="plan_id"
                      formControlName="plan_id"
                      [value]="plan.id"
                      checked="checked"
                    />
                  </span>
                  <span class="ms-5">
                    <span class="fs-6 fw-bold text-gray-800 d-block">
                      {{ plan.nombre }}
                    </span>
                    <span class="fs-6 fw-bold text-gray-800 d-block">
                      ${{ plan.precio | number : "1.0-0" }}
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-10">
          <div class="col-md-12 col-sm-12">
            <label class="form-label"
              >Información plan
              <i class="ki-duotone ki-information-5 fs-3">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
              </i>
            </label>
            <div class="mb-10" style="columns: 2;">
              <!--begin::Item-->
              <div
                class="d-flex flex-stack p-2 border"
                *ngFor="let item of informacionPlan"
              >
                <span class="fw-semibold fs-6 text-gray-500 text-start pe-3">{{
                  item | translate
                }}</span>
                <i class="ki-duotone ki-check-circle fs-1 text-success">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
              </div>
            </div>
          </div>
        </div>
        <div class="fv-row d-flex justify-content-end">
          <button
            translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
            type="submit"
            class="btn btn-primary"
            type="submit"
            #btnGuardar
          ></button>
        </div>
      </div>
    </div>
    <!--end::Form group-->
  </form>
  <ng-template
    #formError
    let-control="control"
    let-message="message"
    let-validation="validation"
    let-cantidadCaracteres="cantidadCaracteres"
  >
    <ng-container
      *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
    >
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
        </div>
      </div>
    </ng-container>
  </ng-template>
</ng-template>
