<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
  <div [ngSwitch]="verificacionToken">
    <div *ngSwitchCase="'exitosa'">
      <div class="alert alert-success d-flex align-items-center p-5 mb-10">
        <i class="ki-duotone ki-shield-tick fs-2hx text-success me-4"
          ><span class="path1"></span><span class="path2"></span
        ></i>
        <div class="d-flex flex-column">
          <h4 class="mb-1 text-success">
            Cuenta verificada con éxito
          </h4>
          <span>Ya puedes empezar a usar redoffice</span>
        </div>
      </div>
      <button
        type="submit"
        id="kt_sign_in_submit"
        class="btn btn-lg btn-primary w-100 mb-5"
        type="submit"
        (click)="login()"
      >
        Regresar a la página de inicio
      </button>
    </div>
    <div *ngSwitchCase="'error'">
      <div class="alert alert-danger d-flex align-items-center p-5 mb-10">
        <i class="ki-duotone ki-shield-tick fs-2hx text-danger me-4"
          ><span class="path1"></span><span class="path2"></span
        ></i>
        <div class="d-flex flex-column">
          <h4 class="mb-1 text-danger">
            Se ha presentado un error
          </h4>
          <span>{{verficacionErrorMensaje}}</span>
        </div>
      </div>
      <a
        class="btn btn-danger btn-flex flex-center btn-light btn-lg w-100 mb-5"
        (click)="reenviarVerificacion()"
      >
        Reenviar token
      </a>
    </div>
    <div *ngSwitchCase="'cargando'">Procesando token...</div>
  </div>
</div>
