<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
  <div *ngIf="verificacionToken === 'exitosa'">
    <div class="alert alert-success d-flex align-items-center p-5 mb-10">
      <i class="ki-duotone ki-shield-tick fs-2hx text-success me-4"
        ><span class="path1"></span><span class="path2"></span
      ></i>
      <div class="d-flex flex-column">
        <h4
          class="mb-1 text-success"
          translate="FORMULARIOS.TITULOS.AUTENTIFICACION.VERIFICACIONEXITOSA"
        ></h4>
        <span
          translate="FORMULARIOS.TITULOS.AUTENTIFICACION.VERIFICACIONEXITOSASUBTITULO"
        ></span>
      </div>
    </div>
    <button
      type="submit"
      id="kt_sign_in_submit"
      class="btn btn-lg btn-primary w-100 mb-5"
      type="submit"
      (click)="login()"
      translate="FORMULARIOS.TITULOS.AUTENTIFICACION.REGRESARLOGIN"
    ></button>
  </div>
  <div *ngIf="verificacionToken === 'error'">
    <div class="alert alert-danger d-flex align-items-center p-5 mb-10">
      <i class="ki-duotone ki-shield-tick fs-2hx text-danger me-4"
        ><span class="path1"></span><span class="path2"></span
      ></i>
      <div class="d-flex flex-column">
        <h4
          class="mb-1 text-danger"
          translate="FORMULARIOS.TITULOS.AUTENTIFICACION.VERIFICACIONERROR"
        ></h4>
        <span
          translate="FORMULARIOS.TITULOS.AUTENTIFICACION.VERIFICACIONERRORSUBTITULO"
        ></span>
      </div>
    </div>
    <a
      class="btn btn-danger btn-flex flex-center btn-light btn-lg w-100 mb-5"
      (click)="login()"
      translate="FORMULARIOS.TITULOS.AUTENTIFICACION.REGRESARLOGIN"
    ></a>
  </div>
  <div
    *ngIf="verificacionToken === 'cargando'"
    translate="FORMULARIOS.TITULOS.AUTENTIFICACION.PROCESANDOTOKEN"
  ></div>
</div>
