<div class="row">
  <!--begin::Col-->
  <div class="col-xl-12">
    <!--begin::Tables Widget 9-->
    <div class="card card-xl-stretch mb-5 mb-xl-8 shadow-sm">
      <!--begin::Header-->
      <div class="card-header">
        <div class="card-title m-0">
          <h3 translate="FORMULARIOS.TITULOS.EMPRESAS.NUEVO" class="fw-bolder m-0"></h3>
        </div>
      </div>
      <div class="card-body">
        <app-empresa-formulario
          [informacionInquilino]="informacionInquilino"
          (dataFormulario)="enviarFormulario($event)"
        ></app-empresa-formulario>
      </div>
      <!--begin::Body-->
    </div>
    <!--end::Tables Widget 9-->
  </div>
  <!--end::Col-->
</div>
<div *ngIf="procesando" class="fake-loading">
  <span translate="FORMULARIOS.MENSAJES.EMPRESAS.CREAREMPRESA"></span>
</div>
