<div
  id="kt_app_sidebar_menu_wrapper"
  class="app-sidebar-wrapper hover-scroll-overlay-y my-5"
  data-kt-scroll="true"
  data-kt-scroll-activate="true"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu"
  data-kt-scroll-offset="5px"
  data-kt-scroll-save-state="true"
>
  <!--begin::Menu-->
  <div
    class="menu menu-column menu-rounded menu-sub-indention px-3"
    id="#kt_app_sidebar_menu"
    data-kt-menu="true"
    data-kt-menu-expand="false"
  >
    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span
          class="menu-heading fw-bold text-uppercase fs-7"
          [translate]="'MENU.TITULOS.' + (MenuSeleccion$ | async)"
        >
        </span>
      </div>
    </div>

    <!-- Widgets -->
    <div
      class="menu-item menu-accordion"
      data-kt-menu-trigger="click"
      *ngFor="let menu of arrMenu"
    >
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon
            name="{{ obtenerIcono(menu.nombre) }}"
            class="fs-2"
          ></app-keenicon>
        </span>
        <span
          class="menu-title"
          [translate]="'MENU.COMUNES.' + (menu.nombre | uppercase)"
        >
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div
        class="menu-sub menu-sub-accordion"
        *ngFor="let item of menu.children"
      >
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLink="{{ item.url }}"
            [queryParams]="{ modelo: item.modelo, tipo: item.tipo }"
          >
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">{{ item.nombre }} </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->
