<div class="row w-100 p-0">
  <div ngbDropdown #ItemDropdown="ngbDropdown" class="p-0">
    <div>
      <input
        #inputItem
        type="text"
        formControlName="impuestos"
        ngbDropdownAnchor
        class="cursor-pointer form-select form-select-sm w-100"
        (focus)="consultarItems($event); ItemDropdown.open()"
        (keyup)="aplicarFiltrosItems($event); ItemDropdown.open()"
        [disabled]="estado_aprobado"
        [readonly]="estado_aprobado"
        [ngClass]="{ 'disabled-cursor': estado_aprobado }"
        [value]="itemNombre"
        [ngClass]="{
          'is-invalid': campoInvalido,
          'is-valid': itemSeleccionado !== null
        }"
      />
      <div
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
        class="dropdown-menu"
      >
        <ng-container *ngFor="let impuesto of arrItemsLista">
          <button (click)="agregarItem(impuesto)" type="button" ngbDropdownItem>
            {{ impuesto.item_nombre }}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="fv-plugins-message-container" *ngIf="campoInvalido">
    <div class="fv-help-block">
      <span role="alert"
        >{{ "FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO" | translate }}
      </span>
    </div>
  </div>
</div>
