<div class="fv-row">
  <div class="col-12">
    <div ngbDropdown class="d-flex row-gap-4">
      <span
        *ngIf="itemSeleccionado !== null"
        class="d-flex align-items-center cursor-pointer"
      >
        {{ itemSeleccionado.nombre }}
        <i class="bi bi-x text-danger fs-2x" (click)="removerItem()" title="retirar producto"></i>
      </span>
      <div>
        <input
          #inputItem
          type="text"
          formControlName="impuestos"
          ngbDropdownToggle
          class="cursor-pointer form-select w-100"
          (focus)="consultarItems()"
          *ngIf="itemSeleccionado === null"
        />
        <div
          ngbDropdownMenu
          aria-labelledby="dropdownBasic1"
          class="dropdown-menu"
        >
          <ng-container *ngFor="let impuesto of arrItemsLista">
            <button
              (click)="agregarItem(impuesto)"
              type="button"
              ngbDropdownItem
            >
              {{ impuesto.nombre }}
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
