.container-grid {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 0.1fr 1.7fr;
  grid-auto-rows: 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "ayuda ."
    "formulario formulario";
}

.ayuda {
  grid-area: ayuda;
}

.formulario {
  grid-area: formulario;
}
