<div class="container-grid">
  <div class="ayuda">
    <a
      [routerLink]="['../lista']"
      [queryParams]="{modulo, modelo, tipo}"
      class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-icon-primary btn-text-primary fw-bold me-2"
    >
      <i class="ki-duotone ki-arrow-left fs-6 text-muted"
        ><span class="path1"></span><span class="path2"></span
      ></i>
      {{ "FORMULARIOS.BOTONES.COMUNES.ATRAS" | translate }}
    </a>
  </div>
  <div class="formulario">
    <div class="card mb-5 mb-lg-10">
      <!--begin::Card header-->
      <div class="card-header">
        <!--begin::Heading-->
        <div class="card-title">
          <h3>
            <ng-container *ngIf="accion === 'nuevo'; else tituloEditar">
              {{ "FORMULARIOS.BOTONES.COMUNES.NUEVO" | translate }}
              {{ "MENU.FUNCIONALIDAD." + (modelo | uppercase) | translate }}
            </ng-container>
            <ng-template #tituloEditar>
              {{ "FORMULARIOS.BOTONES.COMUNES.EDITAR" | translate }}
              {{ modelo }}
              {{ detalle }}
            </ng-template>
          </h3>
        </div>
        <!--end::Heading-->
      </div>
      <!--end::Card header-->

      <!--begin::Card body-->
      <div class="card-body">
        <div #dynamicComponentContainer></div>
      </div>
      <!--end::Card body-->
    </div>
  </div>
</div>
