@if(documento.estado_electronico){

  @if(documento.estado_electronico && documento.evento_documento === 'PE' ){
    <button type="submit" class="btn btn-sm btn-primary" (click)="abrirModal(content)">
      Recibir documento
    </button>
  }

  @else if(documento.estado_electronico && documento.evento_recepcion === 'PE' ){
    <button type="submit" class="btn btn-sm btn-primary" (click)="abrirModal(content)">
      Recibir bien / servicio
    </button>
  }

  @else if(documento.estado_electronico && documento.evento_aceptacion === 'PE'){
    <button type="submit" class="btn btn-sm btn-primary" (click)="abrirModal(content)">
      Aceptar factura
    </button>
  }

} @else{
  <button type="button" class="btn btn-sm btn-primary w-100" (click)="emitir()" >
    {{ "FORMULARIOS.BOTONES.COMUNES.EMITIR" | translate }}
  </button>
}

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Información</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <form [formGroup]="formularioModal" (ngSubmit)="formSubmit()">
    <div class="modal-body">

      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.NOMBRECORTO"
          ></label>
          <input
            formControlName="nombre"
            class="form-control"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioModal.controls['nombre'].touched &&
                formularioModal.controls['nombre'].invalid,
              'is-valid':
                formularioModal.controls['nombre'].touched &&
                formularioModal.controls['nombre'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioModal.controls['nombre']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.APELLIDOS"
          ></label>
          <input
            formControlName="apellidos"
            class="form-control"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioModal.controls['apellidos'].touched &&
                formularioModal.controls['apellidos'].invalid,
              'is-valid':
                formularioModal.controls['apellidos'].touched &&
                formularioModal.controls['apellidos'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioModal.controls['apellidos']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.IDENTIFICACIONTIPO"
            class="form-label required"
          ></label>
          <select
            class="form-select"
            formControlName="identificacion"
            [ngClass]="{
              'is-invalid':
                formularioModal.controls['identificacion'].touched &&
                formularioModal.controls['identificacion'].invalid,
              'is-valid':
                formularioModal.controls['identificacion'].touched &&
                formularioModal.controls['identificacion'].valid
            }"
          >
            <option value="">Seleccionar...</option>
            <option
              *ngFor="let identificacion of arrIdentificacion"
              [value]="identificacion.identificacion_id"
            >
              {{ identificacion.identificacion_nombre }}
            </option>
          </select>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioModal.controls['identificacion']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.NUMEROIDENTIFICACION"
            class="form-label required"
          ></label>
          <input
            formControlName="numero_identificacion"
            class="form-control bg-transparent"
            type="number"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioModal.controls['numero_identificacion'].touched &&
                formularioModal.controls['numero_identificacion'].invalid,
              'is-valid':
                formularioModal.controls['numero_identificacion'].touched &&
                formularioModal.controls['numero_identificacion'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioModal.controls['numero_identificacion']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '20',
              control: formularioModal.controls['numero_identificacion']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioModal.controls['numero_identificacion']
            }"
          ></ng-container>
        </div>
      </div>

      <ng-template
        #formError
        let-control="control"
        let-message="message"
        let-validation="validation"
        let-cantidadCaracteres="cantidadCaracteres"
      >
        <ng-container
          *ngIf="
            control.hasError(validation) && (control.dirty || control.touched)
          "
        >
          <div class="fv-plugins-message-container">
            <div class="fv-help-block">
              <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
    <div class="modal-footer">

      @if(documento.estado_electronico && documento.evento_documento === 'PE' ){
        <button type="submit" class="btn btn-sm btn-primary">
          Confirmar recepcion
        </button>
      }

      @else if(documento.estado_electronico && documento.evento_recepcion === 'PE' ){
        <button type="submit" class="btn btn-sm btn-primary">
          Recibir bien / servicio
        </button>
      }

      @else if(documento.estado_electronico && documento.evento_aceptacion === 'PE'){
        <button type="submit" class="btn btn-sm btn-primary">
          Aceptar factura
        </button>
      }
    </div>
  </form>
</ng-template>
