<form [formGroup]="formularioConcepto" (ngSubmit)="enviarFormulario()">
  <app-comun-encabezado-formulario-nuevo
    [estadoAprobado]="false"
  ></app-comun-encabezado-formulario-nuevo>
  <app-card>
    <section card-titulo>
      <app-comun-titulo-accion [nombreModelo]="'concepto'"></app-comun-titulo-accion>
    </section>
    <section card-body>
      <div class="row mb-2">
        <div class="col-md-12 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.NOMBRE"
            class="form-label required"
          ></label>
          <input
            formControlName="nombre"
            class="form-control"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioConcepto.controls['nombre'].touched &&
                formularioConcepto.controls['nombre'].invalid,
              'is-valid':
                formularioConcepto.controls['nombre'].touched &&
                formularioConcepto.controls['nombre'].valid
            }"
            appSoloNumeros
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioConcepto.controls['nombre']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.HUMANO.CONCEPTO.PORCENTAJE"
            class="form-label required"
          ></label>
          <input
            formControlName="porcentaje"
            class="form-control"
            type="number"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioConcepto.controls['porcentaje'].touched &&
                formularioConcepto.controls['porcentaje'].invalid,
              'is-valid':
                formularioConcepto.controls['porcentaje'].touched &&
                formularioConcepto.controls['porcentaje'].valid
            }"
            appSoloNumeros
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioConcepto.controls['porcentaje']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.HUMANO.CONCEPTO.ORDEN"
            class="form-label required"
          ></label>
          <input
            formControlName="orden"
            class="form-control"
            type="number"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioConcepto.controls['orden'].touched &&
                formularioConcepto.controls['orden'].invalid,
              'is-valid':
                formularioConcepto.controls['orden'].touched &&
                formularioConcepto.controls['orden'].valid
            }"
            appSoloNumeros
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioConcepto.controls['orden']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6 col-sm-12">
          <div class="form-check form-check-custom form-check-solid my-5">
            <input
              class="form-check-input"
              type="checkbox"
              id="ingreso_base_cotizacion"
              formControlName="ingreso_base_cotizacion"
            />
            <label
              class="form-check-label text-gray-700"
              for="ingreso_base_cotizacion"
            >
              {{
                "FORMULARIOS.CAMPOS.HUMANO.CONCEPTO.INGRESOBASECOTIZACION"
                  | translate
              }}
            </label>
          </div>
          <div class="form-check form-check-custom form-check-solid">
            <input
              class="form-check-input"
              type="checkbox"
              id="INGRESOBASEPRESTACION"
              formControlName="ingreso_base_prestacion"
            />
            <label
              class="form-check-label text-gray-700"
              for="INGRESOBASEPRESTACION"
            >
              {{
                "FORMULARIOS.CAMPOS.HUMANO.CONCEPTO.INGRESOBASEPRESTACION"
                  | translate
              }}
            </label>
          </div>
        </div>
        <div class="col-md-6 col-sm-12"></div>
      </div>
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
