<div class="d-flex mb-5 justify-content-between align-items-center">
  <div
    class="btn-group btn-sm shadow-sm"
    role="group"
    aria-label="Basic example"
  >
    <app-comun-btn-atras />
    <button
      type="button"
      class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
      (click)="aprobar()"
      [disabled]="arrEstados.estado_aprobado"
    >
      {{ "FORMULARIOS.BOTONES.COMUNES.APROBAR" | translate }}
    </button>
    <button
      type="submit"
      class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
      #btnGuardar
      translate=""
      (click)="imprimir()"
    >
      {{ "FORMULARIOS.BOTONES.COMUNES.PDF" | translate }}
    </button>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
        (click)="emitir()"
        [disabled]="
          !arrEstados.estado_aprobado || arrEstados.estado_electronico_enviado
        "
      >
        {{ "FORMULARIOS.BOTONES.COMUNES.EMITIR" | translate }}
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-end gap-2">
    <ng-container *ngIf="arrEstados.estado_aprobado">
      <span class="badge badge-success">Aprobado</span>
    </ng-container>
    <ng-container *ngIf="arrEstados.estado_anulado">
      <span class="badge badge-danger">Anulado</span>
    </ng-container>
    <ng-container *ngIf="arrEstados.estado_electronico">
      <span class="badge badge-secondary">Electrónico</span>
    </ng-container>
    <ng-container *ngIf="arrEstados.estado_electronico_enviado">
      <span class="badge badge-secondary">Enviado</span>
    </ng-container>
    <ng-container *ngIf="arrEstados.estado_electronico_notificado">
      <span class="badge badge-secondary">Notificado</span>
    </ng-container>
  </div>
</div>
<app-card>
  <section card-titulo>
    {{ "FORMULARIOS.BOTONES.COMUNES.DETALLE" | translate | titlecase }}
    {{ "MENU.FUNCIONALIDAD." + (modelo | uppercase) | translate | lowercase }}
  </section>
  <section card-body>
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td
            class="fw-bold text-gray-800 fs-6"
            translate="FORMULARIOS.CAMPOS.COMUNES.CLIENTE"
          ></td>
          <td colspan="5">{{ documento.contacto_nombre_corto }}</td>
        </tr>
        <tr>
          <td
            class="fw-bold text-gray-800 fs-6"
            translate="FORMULARIOS.CAMPOS.FACTURA.FECHAFACTURA"
          ></td>
          <td>{{ documento.fecha }}</td>
          <td
            class="fw-bold text-gray-800 fs-6"
            translate="FORMULARIOS.CAMPOS.FACTURA.NUMERO"
          ></td>
          <td>{{ documento.numero }}</td>
          <td
            class="fw-bold text-gray-800 fs-6"
            translate="FORMULARIOS.CAMPOS.FACTURA.DOCUMENTOREFERENCIA"
          ></td>
          <td>{{ documento.documento_referencia_numero }}</td>
        </tr>
        <tr>
          <td
            class="fw-bold text-gray-800 fs-6"
            translate="FORMULARIOS.CAMPOS.FACTURA.COMENTARIO"
          ></td>
          <td colspan="5">{{ documento.comentario }}</td>
        </tr>
      </tbody>
    </table>
    <div class="row mb-5">
      <div class="col-12">
        <ul
          ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
          class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
        >
          <li [ngbNavItem]="1" [destroyOnHide]="true" class="nav-item">
            <a
              class="nav-link"
              ngbNavLink
              data-bs-toggle="tab"
              translate="FORMULARIOS.TITULOS.FACTURACION.DETALLES"
            ></a>
            <ng-template ngbNavContent>
              <div class="table-responsive-sm">
                <table
                  id="tableDetalles"
                  class="table table-bordered table-row-gray-500"
                >
                  <thead>
                    <tr>
                      <th style="width: 50px">Id</th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.PRODUCTO"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.CANTIDAD"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.PRECIO"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.DESCUENTO"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.SUBTOTAL1"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.IMPUESTO"
                      ></th>
                      <th
                        translate="FORMULARIOS.TITULOS.FACTURACION.TOTALNETO"
                      ></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngFor="let detalle of documento.detalles; let i = index"
                    >
                      <tr>
                        <td style="width: 50px">{{ detalle.id }}</td>
                        <td class="w-50 text-start">
                          {{ detalle.item_nombre }}
                        </td>
                        <td class="text-end" style="width: 10rem">
                          {{ detalle.cantidad }}
                        </td>
                        <td class="text-end">
                          {{ detalle.precio | number }}
                        </td>
                        <td class="text-end" style="width: 10rem">
                          {{ detalle.descuento }}
                          <i class="bi bi-percent"></i>
                        </td>
                        <td class="text-end">
                          {{ detalle.subtotal | number }}
                        </td>
                        <td class="text-center">
                          <ul
                            *ngFor="
                              let impuesto of detalle.impuestos;
                              let i = index
                            "
                          >
                            <li>{{ impuesto.impuesto_nombre_extendido }}</li>
                          </ul>
                        </td>
                        <td class="text-end">
                          {{ detalle.total | number }}
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" [destroyOnHide]="true" class="nav-item">
            <a
              class="nav-link"
              ngbNavLink
              data-bs-toggle="tab"
              translate="FORMULARIOS.TITULOS.FACTURACION.OTRAINFROMACION"
            ></a>
            <ng-template ngbNavContent> </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-end mb-5">
        <table>
          <tr *ngIf="totalCantidad > 0">
            <td
              class="text-end"
              translate="FORMULARIOS.TITULOS.FACTURACION.TOTALCANTIDAD"
            ></td>
            <td class="text-end">{{ totalCantidad }}</td>
          </tr>
          <tr *ngIf="subtotalGeneral > 0">
            <td
              class="text-end"
              translate="FORMULARIOS.TITULOS.FACTURACION.SUBTOTAL"
            ></td>
            <td class="text-end">
              {{ subtotalGeneral | number }}
            </td>
          </tr>
          <tr *ngFor="let impuesto of acumuladorImpuestos | keyvalue">
            <td class="text-end">{{ impuesto.key }}</td>
            <td class="text-end">
              {{ impuesto.value.total | number }}
            </td>
          </tr>
          <tr *ngIf="totalDescuento > 0">
            <td
              class="text-end"
              translate="FORMULARIOS.TITULOS.FACTURACION.TOTALDESCUENTO"
            ></td>
            <td class="text-end">
              {{ totalDescuento | number }}
            </td>
          </tr>
          <tr *ngIf="totalImpuestos > 0">
            <td
              class="text-end"
              translate="FORMULARIOS.TITULOS.FACTURACION.TOTALIMPUESTOS"
            ></td>
            <td class="text-end">
              {{ totalImpuestos | number }}
            </td>
          </tr>
          <tr class="border-top">
            <td
              class="text-end"
              translate="FORMULARIOS.TITULOS.FACTURACION.TOTALGENERAL"
            ></td>
            <td class="text-end" style="padding-left: 24px">
              {{ totalGeneral | number }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</app-card>
