<form [formGroup]="formularioFactura" (ngSubmit)="formSubmit()">
  <app-comun-encabezado-formulario-nuevo></app-comun-encabezado-formulario-nuevo>
  <app-card>
    <section card-titulo>
      <app-comun-titulo-accion [nombreModelo]="'notacredito'"></app-comun-titulo-accion>
    </section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-16" ngbDropdown #ClienteDropdown="ngbDropdown">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.CLIENTE"
          ></label>
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              ngbDropdownAnchor
              formControlName="contactoNombre"
              (focus)="consultarCliente($event); ClienteDropdown.open()"
              (keyup)="consultarCliente($event)"
              [ngClass]="{
                'is-invalid':
                  formularioFactura.controls['contacto'].touched &&
                  formularioFactura.controls['contacto'].invalid,
                'is-valid':
                  formularioFactura.controls['contacto'].touched &&
                  formularioFactura.controls['contacto'].valid,
              }"
            />
            <div class="position-absolute translate-middle-y top-50 end-0 me-3">
              <i class="bi bi-search fs-2"></i>
            </div>
          </div>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdown-menu"
          >
            <ng-container *ngFor="let contacto of arrMovimientosClientes">
              <button
                type="button"
                ngbDropdownItem
                (click)="modificarCampoFormulario('contacto', contacto)"
              >
                {{ contacto.contacto_nombre_corto }}
              </button>
            </ng-container>
            <div class="dropdown-divider"></div>
            <span
              type="button"
              ngbDropdownItem
              (click)="abrirModalContactoNuevo(content)"
            >
              {{ "FORMULARIOS.BOTONES.COMUNES.NUEVO" | translate | titlecase }}
              <ng-template #content let-modal>
                <div class="modal-body">
                  <app-contacto-formulario
                    [ocultarBtnAtras]="true"
                    (emitirGuardoRegistro)="cerrarModal($event)"
                    [tituloFijo]="true"
                  />
                </div>
              </ng-template>
            </span>
            <button type="button" ngbDropdownItem>
              <app-comun-buscar-avanzado
                [consultarModelo]="'GenContacto'"
                [consultarTipo]="'Administrador'"
                (emitirRegistroSeleccionado)="
                  actualizarFormulario($event, 'contacto')
                "
                [campoLista]="campoListaContacto"
                [filtrosPermanentes]="filtrosPermanentes"
              >
              </app-comun-buscar-avanzado>
            </button>
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioFactura.controls['contacto'],
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div
          class="col-12 col-md-6"
        >
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.FACTURA.FECHA"
          ></label>
          <input
            formControlName="fecha"
            class="form-control"
            type="date"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioFactura.controls['fecha'].touched &&
                formularioFactura.controls['fecha'].invalid,
              'is-valid':
                formularioFactura.controls['fecha'].touched &&
                formularioFactura.controls['fecha'].valid,
            }"
            (change)="cambiarFechaVence($event)"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioFactura.controls['fecha'],
            }"
          ></ng-container>
          <div
            *ngIf="
              formularioFactura.controls.fecha?.touched &&
              formularioFactura.controls.fecha?.hasError(
                'fechaSuperiorNoValida'
              )
            "
          >
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <span
                  translate="FORMULARIOS.VALIDACIONES.FACTURA.FECHASUPERIOAFECHAVENCIMINETO"
                  role="alert"
                >
                </span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-6 col-sm-12"
          appAnimacionFadeInOut
          *ngIf="formularioFactura.controls['contactoNombre'].value"
          ngbDropdown
          #DocumentoReferenciaDropdown="ngbDropdown"
        >
          <label
            class="form-label"
            translate="FORMULARIOS.CAMPOS.FACTURA.DOCUMENTOREFERENCIA"
          ></label>
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              ngbDropdownAnchor
              formControlName="documento_referencia_numero"
              (focus)="
                consultarDocumentoReferencia($event);
                DocumentoReferenciaDropdown.open()
              "
              (keyup)="consultarDocumentoReferencia($event)"
              [ngClass]="{
                'is-invalid':
                  formularioFactura.controls['documento_referencia_numero']
                    .touched &&
                  formularioFactura.controls['documento_referencia_numero']
                    .invalid,
                'is-valid':
                  formularioFactura.controls['documento_referencia_numero']
                    .touched &&
                  formularioFactura.controls['documento_referencia_numero']
                    .valid,
              }"
            />
            <div class="position-absolute translate-middle-y top-50 end-0 me-3">
              <i class="bi bi-search fs-2"></i>
            </div>
          </div>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdown-menu"
          >
            <ng-container *ngFor="let referencia of arrMovimientosClientes">
              <button
                type="button"
                ngbDropdownItem
                (click)="
                  modificarCampoFormulario('documento_referencia', referencia)
                "
              >
                {{ referencia.numero }}
              </button>
            </ng-container>
            <div class="dropdown-divider"></div>
            <button type="button" ngbDropdownItem>
              <app-comun-buscar-avanzado
                [consultarModelo]="'GenDocumento'"
                [consultarTipo]="'Documento'"
                (emitirRegistroSeleccionado)="
                  actualizarFormulario($event, 'documento_referencia')
                "
                [campoLista]="campoListaDocReferencia"
                [filtrosPermanentes]="filtrosPermanentesNotaCredito"
              >
              </app-comun-buscar-avanzado>
            </button>
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '50',
              control: formularioFactura.controls['documento_referencia'],
            }"
          ></ng-container>
        </div>
      </div>

      <div class="row mb-5">
        <div
          class="col-md-6 col-sm-12"
          ngbDropdown
          #MetodoDropdown="ngbDropdown"
        >
          <label
            class="form-label"
            translate="FORMULARIOS.CAMPOS.FACTURA.SEDE"
          ></label>
          <select
            class="form-select"
            formControlName="sede"
            [ngClass]="{
              'is-invalid':
                formularioFactura.controls['sede'].touched &&
                formularioFactura.controls['sede'].invalid,
              'is-valid':
                formularioFactura.controls['sede'].touched &&
                formularioFactura.controls['sede'].valid,
            }"
          >
            <option value="">
              {{ "FORMULARIOS.CAMPOS.COMUNES.SELECCIONAR" | translate }}
            </option>
            <option
              *ngFor="let sede of arrSede"
              [value]="sede.sede_id"
              [selected]="
                sede.sede_id === formularioFactura.controls.sede.value
              "
            >
              {{ sede.sede_nombre }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-12 col-sm-12">
          <label
            class="form-label"
            translate="FORMULARIOS.CAMPOS.FACTURA.COMENTARIO"
          ></label>
          <textarea
            formControlName="comentario"
            class="form-control"
            id="exampleFormControlTextarea1"
            (blur)="modificarCampoFormulario('comentario', null)"
            rows="3"
            [ngClass]="{
              'is-invalid':
                formularioFactura.controls['comentario'].touched &&
                formularioFactura.controls['comentario'].invalid,
              'is-valid':
                formularioFactura.controls['comentario'].touched &&
                formularioFactura.controls['comentario'].valid,
            }"
          ></textarea>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '500',
              control: formularioFactura.controls['comentario'],
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12">
          <ul
            ngbNav
            #nav="ngbNav"
            [(activeId)]="active"
            class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
          >
            <li [ngbNavItem]="1" [destroyOnHide]="false" class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ 'text-primary': active === 1 }"
                ngbNavLink
                data-bs-toggle="tab"
                translate="FORMULARIOS.TITULOS.FACTURACION.DETALLES"
              ></a>
              <ng-template ngbNavContent>
                <app-formulario-productos
                  (emitirDocumentoDetalle)="recibirDocumentoDetalle($event)"
                  [formularioTipo]="'venta'"
                ></app-formulario-productos>
                <!-- <div class="d-flex justify-content-end my-3">
                  <div class="btn-group contenedor-btn-group">
                    <button
                      (click)="agregarProductos()"
                      class="btn btn-sm btn-primary"
                      type="button"
                      translate="FORMULARIOS.TITULOS.FACTURACION.AGREGARITEM"
                    ></button>
                  </div>
                </div>
                <div class="table-responsive-sm">
                  <table
                    id="tableDetalles"
                    class="table table-bordered table-sm"
                  >
                    <thead>
                      <tr class="bg-gray-100">
                        <th class="w-40px">Id</th>
                        <th
                          translate="FORMULARIOS.TITULOS.FACTURACION.PRODUCTO"
                        ></th>
                        <th
                          class="w-50px"
                          translate="FORMULARIOS.TITULOS.FACTURACION.CANTIDAD"
                        ></th>
                        <th
                          class="w-100px"
                          translate="FORMULARIOS.TITULOS.FACTURACION.PRECIO"
                        ></th>
                        <th
                          class="w-100px"
                          translate="FORMULARIOS.TITULOS.FACTURACION.DESCUENTO"
                        ></th>
                        <th
                          class="w-100px"
                          translate="FORMULARIOS.TITULOS.FACTURACION.SUBTOTAL1"
                        ></th>
                        <th
                          class="w-100px"
                          translate="FORMULARIOS.TITULOS.FACTURACION.IMPUESTO"
                        ></th>
                        <th
                          class="w-100px"
                          translate="FORMULARIOS.TITULOS.FACTURACION.NETO"
                        ></th>
                        <th
                          class="w-100px text-center"
                          *ngIf="!estado_aprobado"
                        ></th>
                      </tr>
                    </thead>
                    <tbody formArrayName="detalles">
                      <ng-container
                        *ngFor="let detalle of detalles.controls; let i = index"
                        [formGroupName]="i"
                      >
                        <tr>
                          <td class="w-40px">{{ detalle.value.id }}</td>
                          <td>
                            <app-comun-productos
                              [itemNombre]="detalle.value.item_nombre"
                              [estado_aprobado]="estado_aprobado"
                              [campoInvalido]="
                                detalle.get('item')?.touched &&
                                detalle.get('item')?.invalid
                              "
                              (emitirArrItems)="
                                agregarItemSeleccionado($event, i)
                              "
                              (emitirLineaVacia)="
                                eliminarProducto(i, detalle.value.id)
                              "
                            ></app-comun-productos>
                          </td>
                          <td>
                            <input
                              type="text"
                              [value]="detalle.value.cantidad"
                              formControlName="cantidad"
                              (change)="
                                actualizarDetalle(i, 'cantidad', $event)
                              "
                              class="form-control-sm"
                              [attr.disabled]="estado_aprobado"
                              [readonly]="estado_aprobado"
                              [ngClass]="{
                                'disabled-cursor bg-transparent':
                                  estado_aprobado,
                                'text-white':
                                  theme_value === 'dark' && estado_aprobado
                              }"
                              rows="1"
                              spellcheck="true"
                              appSoloNumeros
                            />
                          </td>
                          <td>
                            <input
                              formControlName="precio"
                              [value]="detalle.value.precio"
                              (change)="actualizarDetalle(i, 'precio', $event)"
                              [attr.disabled]="estado_aprobado"
                              [readonly]="estado_aprobado"
                              class="form-control-sm"
                              [ngClass]="{
                                'disabled-cursor bg-transparent':
                                  estado_aprobado,
                                'text-white':
                                  theme_value === 'dark' && estado_aprobado
                              }"
                              rows="1"
                              spellcheck="true"
                              appSoloNumeros
                            />
                          </td>
                          <td>
                            <div class="position-relative">
                              <input
                                formControlName="descuento"
                                [value]="detalle.value.descuento"
                                (change)="
                                  actualizarDetalle(i, 'descuento', $event)
                                "
                                [attr.disabled]="estado_aprobado"
                                [readonly]="estado_aprobado"
                                class="form-control-sm"
                                [ngClass]="{
                                  'disabled-cursor bg-transparent':
                                    estado_aprobado,
                                  'text-white':
                                    theme_value === 'dark' && estado_aprobado
                                }"
                                rows="1"
                                spellcheck="true"
                                appSoloNumeros
                              />
                              <div
                                class="position-absolute translate-middle-y top-50 end-0 me-3"
                              >
                                <i class="bi bi-percent"></i>
                              </div>
                            </div>
                          </td>
                          <td>
                            <input
                              class="form-control form-control-sm"
                              disabled
                              rows="1"
                              spellcheck="true"
                              class="disabled-cursor bg-transparent"
                              class="form-control-sm"
                              [ngClass]="{
                                'disabled-cursor bg-transparent':
                                  estado_aprobado,
                                'text-white bg-transparent':
                                  theme_value === 'dark'
                              }"
                              readonly
                              [value]="detalle.value.subtotal"
                            />
                          </td>
                          <td>
                            <app-comun-impuestos
                              (emitirImpuestoAgregado)="
                                agregarImpuesto($event, i, 'agregar')
                              "
                              (emitirImpuestoElimiando)="
                                removerImpuesto($event, i)
                              "
                              [arrLista]="detalles.controls[i].value.impuestos"
                              [estado_aprobado]="!estado_aprobado"
                              [visualizarImpuestosVenta]="true"
                            ></app-comun-impuestos>
                          </td>
                          <td>
                            <input
                              readonly
                              rows="1"
                              spellcheck="true"
                              (blur)="onImpuestoBlur(i, estado_aprobado)"
                              class="disabled-cursor"
                              class="form-control-sm"
                              [ngClass]="{
                                'bg-transparent': estado_aprobado,
                                'text-white':
                                  theme_value === 'dark' && estado_aprobado
                              }"
                              [value]="detalle.value.total"
                            />
                          </td>
                          <td
                            class="w-20px text-center"
                            *ngIf="!estado_aprobado"
                          >
                            <i
                              class="bi bi-trash fs-2x align-self-center cursor-pointer user-select-none text-hover-danger"
                              (click)="eliminarDocumento(i, detalle.value.id)"
                            ></i>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div> -->
                <div class="d-flex justify-content-end mb-5">
                  <table>
                    <tr *ngIf="formularioFactura.value.totalCantidad > 0">
                      <td
                        class="text-end"
                        translate="FORMULARIOS.TITULOS.FACTURACION.TOTALCANTIDAD"
                      ></td>
                      <td class="text-end">
                        {{ formularioFactura.value.totalCantidad }}
                      </td>
                    </tr>
                    <tr *ngIf="formularioFactura.value.subtotal > 0">
                      <td
                        class="text-end"
                        translate="FORMULARIOS.TITULOS.FACTURACION.SUBTOTAL"
                      ></td>
                      <td class="text-end">
                        {{ formularioFactura.value.subtotal | currency: "$" }}
                      </td>
                    </tr>
                    <tr *ngIf="formularioFactura.value.base_impuesto > 0">
                      <td
                        class="text-end"
                        translate="FORMULARIOS.TITULOS.FACTURACION.TOTALBASE"
                      ></td>
                      <td class="text-end">
                        {{
                          formularioFactura.value.base_impuesto | currency: "$"
                        }}
                      </td>
                    </tr>
                    @for (
                      impuesto of acumuladorImpuesto() | keyvalue;
                      track $index
                    ) {
                      <tr>
                        <td class="text-end">{{ impuesto.key }}</td>
                        <td class="text-end">
                          {{ impuesto.value.total | currency: "$" }}
                        </td>
                      </tr>
                    }
                    <tr *ngIf="(acumuladorImpuesto() | keyvalue).length">
                      <td
                        class="text-end"
                        translate="FORMULARIOS.TITULOS.FACTURACION.TOTALIMPUESTOS"
                      ></td>
                      <td class="text-end">
                        {{
                          formularioFactura.value.impuesto_operado
                            | currency: "$"
                        }}
                      </td>
                    </tr>
                    <tr class="border-top">
                      <td
                        class="text-end"
                        translate="FORMULARIOS.TITULOS.FACTURACION.TOTALGENERAL"
                      ></td>
                      <td class="text-end" style="padding-left: 24px">
                        {{ formularioFactura.value.total | currency: "$" }}
                      </td>
                    </tr>
                    <tr *ngIf="formularioFactura.value.afectado > 0">
                      <td
                        class="text-end"
                        translate="FORMULARIOS.TITULOS.FACTURACION.PAGO"
                      ></td>
                      <td class="text-end" style="padding-left: 24px">
                        {{ formularioFactura.value.afectado | currency: "$" }}
                      </td>
                    </tr>
                    <!-- <tr *ngIf="totalCantidad > 0">
                      <td class="text-end" translate="FORMULARIOS.TITULOS.FACTURACION.TOTALCANTIDAD"></td>
                      <td class="text-end">{{ totalCantidad }}</td>
                    </tr>
                    <tr *ngIf="subtotalGeneral > 0">
                      <td class="text-end" translate="FORMULARIOS.TITULOS.FACTURACION.SUBTOTAL"></td>
                      <td class="text-end">
                        {{ subtotalGeneral | currency : "$" }}
                      </td>
                    </tr>
                    <tr *ngIf="totalBase > 0">
                      <td class="text-end" translate="FORMULARIOS.TITULOS.FACTURACION.TOTALBASE"></td>
                      <td class="text-end">
                        {{ totalBase | currency : "$" }}
                      </td>
                    </tr>
                    <tr *ngFor="let impuesto of acumuladorImpuestos | keyvalue">
                      <td class="text-end">{{ impuesto.key }}</td>
                      <td class="text-end">
                        {{ impuesto.value.total | currency : "$" }}
                      </td>
                    </tr>
                    <tr *ngIf="totalDescuento > 0">
                      <td class="text-end" translate="FORMULARIOS.TITULOS.FACTURACION.TOTALDESCUENTO"></td>
                      <td class="text-end">
                        {{ totalDescuento | currency : "$" }}
                      </td>
                    </tr>
                    <tr *ngIf="totalImpuestos > 0">
                      <td class="text-end" translate="FORMULARIOS.TITULOS.FACTURACION.TOTALIMPUESTOS"></td>
                      <td class="text-end">
                        {{ totalImpuestos | currency : "$" }}
                      </td>
                    </tr>
                    <tr class="border-top">
                      <td class="text-end" translate="FORMULARIOS.TITULOS.FACTURACION.TOTALGENERAL"></td>
                      <td class="text-end" style="padding-left: 24px">
                        {{ totalGeneral | currency : "$" }}
                      </td>
                    </tr> -->
                  </table>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2" [destroyOnHide]="true" class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ 'text-primary': active === 2 }"
                ngbNavLink
                data-bs-toggle="tab"
                translate="FORMULARIOS.TITULOS.FACTURACION.OTRAINFROMACION"
              ></a>
              <ng-template ngbNavContent> </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
