<div class="d-flex justify-content-end my-3">
  <div class="btn-group contenedor-btn-group">
    <app-importar-administrador
      [estadoHabilitado]="programacion.estado_generado"
      [modelo]="'HumAdicional'"
      [exportarArchivoFijo]="'HumAdicional'"
      [detalle]="[
        {
          idNombre: 'programacion_id',
          idValor: programacion.id
        }
      ]"
      [filtrosExternos]="[{ propiedad: 'permanente', valor1: false }]"
      role="group"
      (emitirDetallesAgregados)="consultarDatos()"
    ></app-importar-administrador>
    <button
      [disabled]="programacion.estado_generado"
      (click)="abrirModalNuevo()"
      class="btn btn-sm btn-primary"
      type="button"
      translate="FORMULARIOS.BOTONES.COMUNES.NUEVO"
    ></button>
    <button
      type="button"
      [disabled]="programacion.estado_generado"
      class="btn btn-sm btn-danger"
      (click)="eliminarRegistros()"
      translate="FORMULARIOS.BOTONES.COMUNES.ELIMINAR"
    ></button>
  </div>
</div>
<div class="table-responsive-sm">
  <table id="tableDetalles" class="table table-bordered table-sm">
    <thead>
      <tr class="bg-gray-100">
        <th class="bg-gray-100" style="width: 50px">Id</th>
        <th
          class="bg-gray-100"
          translate="FORMULARIOS.TITULOS.COMUNES.IDENTIFICACION"
        ></th>
        <th
          class="bg-gray-100"
          translate="FORMULARIOS.TITULOS.COMUNES.NOMBRE"
        ></th>
        <th class="bg-gray-100">
          <div
            placement="top"
            ngbTooltip="Código contrato"
            translate="FORMULARIOS.TITULOS.HUMPROGRAMACION.CONTRATONUMEROABREVITADO"
          ></div>
        </th>
        <th
          class="bg-gray-100"
          translate="FORMULARIOS.TITULOS.HUMPROGRAMACION.CODIGO"
        ></th>
        <th
          class="bg-gray-100"
          translate="FORMULARIOS.TITULOS.HUMPROGRAMACION.CONCEPTO"
        ></th>
        <th
          class="bg-gray-100"
          translate="FORMULARIOS.TITULOS.COMUNES.VALOR"
        ></th>
        <th
          class="bg-gray-100"
          translate="FORMULARIOS.CAMPOS.HUMANO.ADICIONAL.DETALLE"
        ></th>
        <th class="bg-gray-100">
          <div
            placement="top"
            [ngbTooltip]="
              'FORMULARIOS.TITULOS.HUMPROGRAMACION.DIALABORADO' | translate
            "
          >
            ADL
          </div>
        </th>

        @if(!programacion.estado_generado){
        <th class="text-center bg-gray-100"></th>
        }
        <th class="text-center bg-gray-100">
          <label for="seleccionarTodos">
            <i
              class="cursor-pointer"
              [ngClass]="
                isCheckedSeleccionarTodos()
                  ? 'fa-solid fa-square-check text-danger'
                  : 'fa-regular fa-square text-gray-500'
              "
            >
              <span class="path1"></span>
              <span class="path2"></span>
            </i>

            <input
              class="d-none"
              type="checkbox"
              #checkboxSelectAll
              id="seleccionarTodos"
              [checked]="isCheckedSeleccionarTodos()"
              [value]="isCheckedSeleccionarTodos()"
              (click)="toggleSelectAll($event)"
            />
          </label>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngFor="let programacionAdicional of arrProgramacionAdicional()"
      >
        <tr>
          <td class="w-40px">{{ programacionAdicional.id }}</td>
          <td>
            {{ programacionAdicional.contrato_contacto_numero_identificacion }}
          </td>
          <td>
            {{ programacionAdicional.contrato_contacto_nombre_corto }}
          </td>
          <td>
            {{ programacionAdicional.contrato_id }}
          </td>
          <td class="w-40px">
            {{ programacionAdicional.concepto_id }}
          </td>
          <td>
            {{ programacionAdicional.concepto_nombre }}
          </td>
          <td class="text-end">
            {{ programacionAdicional.valor | number }}
          </td>
          <td style="width: 185px;">
            {{ programacionAdicional.detalle }}
          </td>
          <td class="text-center">
            {{ programacionAdicional.aplica_dia_laborado ? "SI" : "NO" }}
          </td>

          @if(!programacion.estado_generado){
          <td class="w-20px">
            <label
              class="cursor-pointer"
              (click)="abrirModalEditar(programacionAdicional.id)"
            >
              <i class="ki-duotone ki-notepad-edit hover-primary">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </label>
          </td>
          }
          <td class="w-20px">
            <label [for]="programacionAdicional.id">
              <i
                class="cursor-pointer"
                [ngClass]="
                  programacionAdicional.selected
                    ? 'fa-solid fa-square-check text-danger'
                    : 'fa-regular fa-square text-gray-500'
                "
              >
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
              <input
                #checked
                class="d-none"
                type="checkbox"
                [id]="programacionAdicional.id"
                [value]="programacionAdicional.id"
                [checked]="programacionAdicional.selected"
                (click)="agregarRegistrosEliminar(programacionAdicional.id)"
              />
            </label>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<app-modal-programacion-editar-adicional
  [programacionId]="programacion.id"
  (emitirConsultarLista)="consultarDatos()"
></app-modal-programacion-editar-adicional>

<app-modal-programacion-detalle-adicional
  [programacionId]="programacion.id"
></app-modal-programacion-detalle-adicional>
