<div class="d-flex justify-content-end my-3">
  <div class="btn-group contenedor-btn-group">
    <button
      (click)="exportarExcel()"
      class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
      type="button"
    >
      Excel
    </button>

    <button
      (click)="cargarDetalle(modalCargarDetalle)"
      class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
      type="button"
    >
      Cargar
    </button>
    <button
      (click)="conciliar()"
      class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
      type="button"
    >
      Conciliar
    </button>
    <button
      (click)="limpiarRegistros()"
      class="btn btn-sm btn-danger"
      type="button"
    >
      Eliminar
    </button>
  </div>
</div>

<div class="table-responsive-sm">
  <table id="tableConciliacionDetalle" class="table table-bordered table-sm">
    <thead>
      <tr class="bg-gray-100 text-center">
        <th class="bg-gray-100" style="width: 50px">Id</th>
        <th class="bg-gray-100">Modelo</th>
        <th class="bg-gray-100">Número</th>
        <th class="bg-gray-100">Fecha</th>
        <th class="bg-gray-100">Cuenta</th>
        <th class="bg-gray-100 text-end">Débito</th>
        <th class="bg-gray-100 text-end">Crédito</th>
        <th class="bg-gray-100">Descripción</th>
        <th class="text-center bg-gray-100">
          <label for="seleccionarTodos">
            <i
              class="cursor-pointer"
              [ngClass]="
                isCheckedSeleccionarTodos()
                  ? 'fa-solid fa-square-check text-danger'
                  : 'fa-regular fa-square text-gray-500'
              "
            >
              <span class="path1"></span>
              <span class="path2"></span>
            </i>

            <input
              class="d-none"
              type="checkbox"
              #checkboxSelectAll
              id="seleccionarTodos"
              [checked]="isCheckedSeleccionarTodos()"
              [value]="isCheckedSeleccionarTodos()"
              (click)="toggleSelectAll($event)"
            />
          </label>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let detalle of arrConciliacionDetalle()">
        <tr>
          <td class="w-40px">{{ detalle.id }}</td>
          <td>{{ detalle.modelo }}</td>
          <td>{{ detalle.numero }}</td>
          <td>{{ detalle.fecha }}</td>
          <td>{{ detalle.cuenta }}</td>
          <td class="text-end">
            {{ detalle.debito | number: "1.0-0" }}
          </td>
          <td class="text-end">
            {{ detalle.credito | number: "1.0-0" }}
          </td>
          <td>{{ detalle.descripcion }}</td>
          <td class="w-20px">
            <label [for]="detalle.id">
              <i
                class="cursor-pointer"
                [ngClass]="
                  detalle.selected
                    ? 'fa-solid fa-square-check text-danger'
                    : 'fa-regular fa-square text-gray-500'
                "
              >
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
              <input
                #checked
                class="d-none"
                type="checkbox"
                [id]="detalle.id"
                [checked]="detalle.selected"
                [value]="detalle.selected"
                (click)="toggleItemSelection(detalle)"
              />
            </label>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

@if (arrConciliacionDetalle().length === 0) {
  <div class="text-center py-4">
    <p class="text-muted">No hay registros de detalle para mostrar</p>
  </div>
}

<ng-template #modalCargarDetalle let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cargar detalle</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-importar
      [estadoHabilitado]="true"
      [modelo]="'ConciliacionDetalle'"
      [importarConfig]="{
        endpoint: 'contabilidad/conciliacion_detalle/cargar/',
        nombre: 'ConciliacionDetalle',
        rutaEjemplo:
          'https://semantica.sfo3.digitaloceanspaces.com/renio/ejemplos/estructuraConciliacionDetalle.xls',
        verBotonImportar: true,
        verBotonEjemplo: true,
      }"
      [detalle]="[
        {
          idNombre: 'id',
          idValor: conciliacionId,
        },
      ]"
      role="group"
      (emitirDetallesAgregados)="consultarDetalle()"
    ></app-importar>
  </div>
</ng-template>
