<form [formGroup]="formularioEmpleado" (ngSubmit)="enviarFormulario()">
  <app-comun-encabezado-formulario-nuevo
    [estadoAprobado]="false"
    [btnNuevoCargando]="guardando$ | async"
  ></app-comun-encabezado-formulario-nuevo>
  <app-card>
    <section card-titulo>
      <app-comun-titulo-accion [nombreModelo]="'empleado'"></app-comun-titulo-accion>
    </section>
    <section card-body>
      <div class="row mb-2">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.IDENTIFICACIONTIPO"
            class="form-label required"
          ></label>
          <select
            class="form-select"
            formControlName="identificacion"
            [ngClass]="{
              'is-invalid':
                formularioEmpleado.controls['identificacion'].touched &&
                formularioEmpleado.controls['identificacion'].invalid,
              'is-valid':
                formularioEmpleado.controls['identificacion'].touched &&
                formularioEmpleado.controls['identificacion'].valid
            }"
          >
            <option value="">Seleccionar...</option>
            <ng-container *ngFor="let identificacion of arrIdentificacion">
              <option
                [value]="identificacion.identificacion_id"
                [selected]="
                  identificacion.identificacion_id ===
                  formularioEmpleado.value.identificacion
                "
                *ngIf="identificacion.identificacion_id !== 6"
              >
                {{ identificacion.identificacion_nombre }}
              </option>
            </ng-container>
          </select>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioEmpleado.controls['identificacion']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.NUMEROIDENTIFICACION"
            class="form-label required"
          ></label>
          <input
            formControlName="numero_identificacion"
            class="form-control bg-transparent"
            type="number"
            autocomplete="off"
            (blur)="calcularDigitoVerificacion()"
            [ngClass]="{
              'is-invalid':
                formularioEmpleado.controls['numero_identificacion'].touched &&
                formularioEmpleado.controls['numero_identificacion'].invalid,
              'is-valid':
                formularioEmpleado.controls['numero_identificacion'].touched &&
                formularioEmpleado.controls['numero_identificacion'].valid
            }"
          />
          <div
            *ngIf="
              formularioEmpleado.controls.numero_identificacion?.touched &&
              formularioEmpleado.controls.numero_identificacion?.hasError(
                'numeroIdentificacionExistente'
              )
            "
          >
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <span
                  translate="FORMULARIOS.VALIDACIONES.COMUNES.NUMEROIDENTIFICACIONEXISTEN"
                  role="alert"
                >
                </span>
              </div>
            </div>
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioEmpleado.controls['numero_identificacion']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '20',
              control: formularioEmpleado.controls['numero_identificacion']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioEmpleado.controls['numero_identificacion']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.NOMBRE1"
            class="form-label required"
          ></label>
          <input
            formControlName="nombre1"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioEmpleado.controls['nombre1'].touched &&
                formularioEmpleado.controls['nombre1'].invalid,
              'is-valid':
                formularioEmpleado.controls['nombre1'].touched &&
                formularioEmpleado.controls['nombre1'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '50',
              control: formularioEmpleado.controls['nombre1']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioEmpleado.controls['nombre1']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'El campo contiene caracteres no validos',
              control: formularioEmpleado.controls['nombre1']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.NOMBRE2"
            class="form-label"
          ></label>
          <input
            formControlName="nombre2"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            (blur)="modificarCampoFormulario('nombre2', null)"
            [ngClass]="{
              'is-invalid':
                formularioEmpleado.controls['nombre2'].touched &&
                formularioEmpleado.controls['nombre2'].invalid,
              'is-valid':
                formularioEmpleado.controls['nombre2'].touched &&
                formularioEmpleado.controls['nombre2'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
              cantidadCaracteres: '3',
              control: formularioEmpleado.controls['nombre2']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '50',
              control: formularioEmpleado.controls['nombre2']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'El campo contiene caracteres no validos',
              control: formularioEmpleado.controls['nombre2']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.APELLIDO1"
            class="form-label required"
          ></label>
          <input
            formControlName="apellido1"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioEmpleado.controls['apellido1'].touched &&
                formularioEmpleado.controls['apellido1'].invalid,
              'is-valid':
                formularioEmpleado.controls['apellido1'].touched &&
                formularioEmpleado.controls['apellido1'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '50',
              control: formularioEmpleado.controls['apellido1']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioEmpleado.controls['apellido1']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'El campo contiene caracteres no validos',
              control: formularioEmpleado.controls['apellido1']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.APELLIDO2"
            class="form-label"
          ></label>
          <input
            formControlName="apellido2"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioEmpleado.controls['apellido2'].touched &&
                formularioEmpleado.controls['apellido2'].invalid,
              'is-valid':
                formularioEmpleado.controls['apellido2'].touched &&
                formularioEmpleado.controls['apellido2'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '50',
              control: formularioEmpleado.controls['apellido2']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'El campo contiene caracteres no validos',
              control: formularioEmpleado.controls['apellido2']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.TELEFONO"
            class="form-label required"
          ></label>
          <input
            formControlName="telefono"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioEmpleado.controls['telefono'].touched &&
                formularioEmpleado.controls['telefono'].invalid,
              'is-valid':
                formularioEmpleado.controls['telefono'].touched &&
                formularioEmpleado.controls['telefono'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioEmpleado.controls['telefono']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '50',
              control: formularioEmpleado.controls['telefono']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.CELULAR"
            class="form-label required"
          ></label>
          <input
            formControlName="celular"
            class="form-control bg-transparent"
            autocomplete="off"
            mask="000-000-0000"
            [ngClass]="{
              'is-invalid':
                formularioEmpleado.controls['celular'].touched &&
                formularioEmpleado.controls['celular'].invalid,
              'is-valid':
                formularioEmpleado.controls['celular'].touched &&
                formularioEmpleado.controls['celular'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioEmpleado.controls['celular']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '50',
              control: formularioEmpleado.controls['celular']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-2">
        <div
          class="col-md-6 col-sm-12"
          ngbDropdown
          #CiudadDropdown="ngbDropdown"
        >
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.CIUDAD"
            class="form-label required"
          ></label>
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              ngbDropdownAnchor
              formControlName="ciudad_nombre"
              [ngClass]="{
                'is-invalid':
                  formularioEmpleado.controls['ciudad'].touched &&
                  formularioEmpleado.controls['ciudad'].invalid,
                'is-valid':
                  formularioEmpleado.controls['ciudad'].touched &&
                  formularioEmpleado.controls['ciudad'].valid
              }"
              (focus)="consultarCiudad($event); CiudadDropdown.open()"
              (keyup)="consultarCiudad($event)"
              (blur)="limpiarCiudad($event)"
            />
            <div class="position-absolute translate-middle-y top-50 end-0 me-3">
              <i class="bi bi-search fs-2"></i>
            </div>
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioEmpleado.controls['ciudad']
            }"
          ></ng-container>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              type="button"
              ngbDropdownItem
              *ngFor="let ciudad of arrCiudades; index as i"
              [ngClass]="{ item: selectedDateIndex === i }"
              (click)="
                modificarCampoFormulario('ciudad', ciudad);
                CiudadDropdown.close()
              "
              (pointerenter)="modificarCampoFormulario('ciudad_id', ciudad)"
            >
              {{ ciudad.nombre }} - {{ ciudad.estado_nombre }}
            </button>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.DIRECCION"
            class="form-label required"
          ></label>
          <input
            formControlName="direccion"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioEmpleado.controls['direccion'].touched &&
                formularioEmpleado.controls['direccion'].invalid,
              'is-valid':
                formularioEmpleado.controls['direccion'].touched &&
                formularioEmpleado.controls['direccion'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioEmpleado.controls['direccion']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '255',
              control: formularioEmpleado.controls['direccion']
            }"
          ></ng-container>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.BARRIO"
            class="form-label"
          ></label>
          <input
            formControlName="barrio"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            (blur)="modificarCampoFormulario('barrio', null)"
            [ngClass]="{
              'is-invalid':
                formularioEmpleado.controls['barrio'].touched &&
                formularioEmpleado.controls['barrio'].invalid,
              'is-valid':
                formularioEmpleado.controls['barrio'].touched &&
                formularioEmpleado.controls['barrio'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioEmpleado.controls['barrio']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '50',
              control: formularioEmpleado.controls['barrio']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.CORREO"
            class="form-label required"
          ></label>
          <input
            formControlName="correo"
            class="form-control bg-transparent"
            type="email"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioEmpleado.controls['correo'].touched &&
                formularioEmpleado.controls['correo'].invalid,
              'is-valid':
                formularioEmpleado.controls['correo'].touched &&
                formularioEmpleado.controls['correo'].valid
            }"
            appInputValuecaseDirective
            [appInputValueCase]="'minuscula'"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioEmpleado.controls['correo']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioEmpleado.controls['correo']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.TIPOCORREO' | translate,
              control: formularioEmpleado.controls['correo']
            }"
          ></ng-container>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.BANCO"
            class="form-label required"
          ></label>
          <select
            class="form-select"
            formControlName="banco"
            [ngClass]="{
              'is-invalid':
                formularioEmpleado.controls['banco'].touched &&
                formularioEmpleado.controls['banco'].invalid,
              'is-valid':
                formularioEmpleado.controls['banco'].touched &&
                formularioEmpleado.controls['banco'].valid
            }"
          >
            <option value="">Seleccionar...</option>
            <ng-container *ngFor="let banco of arrBancos">
              <option
                [value]="banco.id"
                [selected]="banco.id === formularioEmpleado.value.banco"
              >
                {{ banco.nombre }}
              </option>
            </ng-container>
          </select>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioEmpleado.controls['banco']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.NUMEROCUENTA"
            class="form-label required"
          ></label>
          <input
            formControlName="numero_cuenta"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioEmpleado.controls['numero_cuenta'].touched &&
                formularioEmpleado.controls['numero_cuenta'].invalid,
              'is-valid':
                formularioEmpleado.controls['numero_cuenta'].touched &&
                formularioEmpleado.controls['numero_cuenta'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioEmpleado.controls['numero_cuenta']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '20',
              control: formularioEmpleado.controls['numero_cuenta']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.CUENTABANCO.CUENTABANCOCLASE"
            class="form-label required"
          ></label>
          <select
            formControlName="cuenta_banco_clase"
            class="form-select form-select"
            [ngClass]="{
              'is-invalid':
                formularioEmpleado.controls['cuenta_banco_clase'].touched &&
                formularioEmpleado.controls['cuenta_banco_clase'].invalid,
              'is-valid':
                formularioEmpleado.controls['cuenta_banco_clase'].touched &&
                formularioEmpleado.controls['cuenta_banco_clase'].valid
            }"
          >
            @for (item of arrCuentasBancos; track $index) {
            <option
              [value]="item.cuenta_banco_clase_id"
              [selected]="
                item.cuenta_banco_clase_id ===
                formularioEmpleado.value.cuenta_banco_clase
              "
            >
              {{ item.cuenta_banco_clase_nombre }}
            </option>
            }
          </select>

          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioEmpleado.controls['cuenta_banco_clase']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioEmpleado.controls['cuenta_banco_clase']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioEmpleado.controls['cuenta_banco_clase']
            }"
          ></ng-container>
        </div>
      </div>
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
