:host {
    display: block; /* Asegura que el componente sea un bloque */
    width: 100%; /* Ocupa el 100% del ancho disponible */
    height: 100%; /* Ocupa el 100% del alto disponible, si es necesario */
  }

  .boton-ver-mas {
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }