<div class="tabla">
  <app-card [titulo]="'MENU.FUNCIONALIDAD.CONTABILIZAR'">
    <section card-body>
      <app-base-filtro
        (emitirFiltros)="obtenerFiltros($event)"
        [persistirFiltros]="false"
        [_tipo]="'DOCUMENTO'"
      ></app-base-filtro>
      <section>
        <div class="d-flex justify-content-between my-4">
          <app-comun-paginador
            [cantidadRegistros]="cantidadRegistros()"
            (emitirDesplazamiento)="cambiarDesplazamiento($event)"
            (emitirPaginacion)="cambiarPaginacion($event)"
          ></app-comun-paginador>
          <div class="col-md-5 col-sm-12 d-flex justify-content-end my-2">
            <div class="btn-group contenedor-btn-group" data-toggle="buttons">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                id="dropdownBasic1"
                [disabled]="registrosSeleccionados().length <= 0"
                (click)="contabilizarTodos()"
                translate="FORMULARIOS.TITULOS.FACTURACION.CONTABILIZAR"
              ></button>
              <button
                type="button"
                class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary h-100 rounded-end"
                id="dropdownBasic1"
                (click)="abrirModal(content)"
              >
                Descontabilizar
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive-sm table-loading">
          <table
            class="table table-hover table-bordered table-rounded border gy-2 gs-2"
          >
            <thead>
              <tr class="fw-bold fs-6 text-gray-800">
                <th class="bg-gray-100 text-center">
                  {{ "LISTAS.DOCUMENTO.ID" | translate }}
                </th>
                <th class="bg-gray-100 text-center">
                  {{ "LISTAS.DOCUMENTO.TIPO" | translate }}
                </th>
                <th class="bg-gray-100 text-center">
                  {{ "LISTAS.DOCUMENTO.NUMERO" | translate }}
                </th>
                <th class="bg-gray-100 text-center">
                  {{ "LISTAS.DOCUMENTO.FECHA" | translate }}
                </th>
                <th class="bg-gray-100 text-center">
                  {{ "LISTAS.DOCUMENTO.CONTACTO" | translate }}
                </th>
                <th class="bg-gray-100 text-center">
                  {{ "LISTAS.DOCUMENTO.SUBTOTAL" | translate }}
                </th>
                <th class="bg-gray-100 text-center">
                  {{ "LISTAS.DOCUMENTO.IMPUESTO" | translate }}
                </th>
                <th class="bg-gray-100 text-center">
                  {{ "LISTAS.DOCUMENTO.TOTAL" | translate }}
                </th>
                <th class="text-center bg-gray-100">
                  <label>
                    <i
                      class="fa-regular fs-2x cursor-pointer"
                      [ngClass]="
                        checkboxSelectAll.checked
                          ? 'fa-solid fa-square-check text-danger'
                          : 'fa-regular fa-square text-gray-500'
                      "
                    ></i>
                    <input
                      class="d-none"
                      type="checkbox"
                      #checkboxSelectAll
                      (click)="manejarCheckGlobal($event)"
                    />
                  </label>
                </th>
              </tr>
            </thead>
            <Tbody>
              <tr *ngFor="let registro of contabilizarLista()">
                <td>{{ registro.id }}</td>
                <td>{{ registro.documento_tipo_nombre }}</td>
                <td>{{ registro.numero }}</td>
                <td>{{ registro.fecha }}</td>
                <td>{{ registro.contacto_nombre_corto }}</td>
                <td class="text-end">
                  {{ registro.subtotal | number }}
                </td>
                <td class="text-end">
                  {{ registro.impuesto | number }}
                </td>
                <td class="text-end">
                  {{ registro.total | number }}
                </td>
                <td class="w-20px">
                  <label>
                    <i
                      class="fa-regular fs-2x cursor-pointer"
                      [ngClass]="
                        checked.checked
                          ? 'fa-solid fa-square-check text-danger'
                          : 'fa-regular fa-square text-gray-500'
                      "
                    >
                    </i>
                    <input
                      #checked
                      class="d-none"
                      type="checkbox"
                      (change)="manejarCheckItem($event, registro.id)"
                      [checked]="estoyEnListaEliminar(registro.id)"
                    />
                  </label>
                </td>
              </tr>
            </Tbody>
          </table>
        </div>
      </section>
    </section>
  </app-card>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Descontabilizar</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formularioDescontabilizar">
        <section class="row mb-5">
          <div class="col-md-6 col-sm-12">
            <label
              class="form-label required"
              translate="FORMULARIOS.CAMPOS.COMUNES.FECHADESDE"
            ></label>
            <input
              formControlName="fecha_desde"
              class="form-control"
              type="date"
              autocomplete="off"
              [ngClass]="{
                'is-invalid':
                  formularioDescontabilizar.controls['fecha_desde'].touched &&
                  formularioDescontabilizar.controls['fecha_desde'].invalid,
                'is-valid':
                  formularioDescontabilizar.controls['fecha_desde'].touched &&
                  formularioDescontabilizar.controls['fecha_desde'].valid,
              }"
            />
            <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'required',
                message:
                  'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
                control: formularioDescontabilizar.controls['fecha_desde'],
              }"
            ></ng-container>
          </div>
          <div class="col-md-6 col-sm-12">
            <label
              class="form-label required"
              translate="FORMULARIOS.CAMPOS.COMUNES.FECHAHASTA"
            ></label>
            <input
              formControlName="fecha_hasta"
              class="form-control"
              type="date"
              autocomplete="off"
              [ngClass]="{
                'is-invalid':
                  (formularioDescontabilizar.controls['fecha_hasta'].touched &&
                    formularioDescontabilizar.controls['fecha_hasta']
                      .invalid) ||
                  formularioDescontabilizar.errors?.fechaInvalida,
                'is-valid':
                  formularioDescontabilizar.controls['fecha_hasta'].touched &&
                  formularioDescontabilizar.controls['fecha_hasta'].valid,
              }"
            />
            <div *ngIf="formularioDescontabilizar.errors?.fechaInvalida">
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <span role="alert">
                    La fecha desde no puede ser mayor que la fecha hasta.
                  </span>
                </div>
              </div>
            </div>
            <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'required',
                message:
                  'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
                control: formularioDescontabilizar.controls['fecha_hasta'],
              }"
            ></ng-container>
          </div>
        </section>
        <section class="row mb-5">
          <div class="col-md-3 col-sm-12">
            <label class="form-label"> Número desde</label>
            <input
              formControlName="numero_desde"
              class="form-control"
              type="number"
              min="0"
            />
          </div>
          <div class="col-md-3 col-sm-12">
            <label class="form-label"> Número hasta</label>
            <input
              formControlName="numero_hasta"
              class="form-control"
              type="number"
              min="0"
            />
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label">Documento tipo</label>
            <select
              formControlName="documento_tipo"
              class="form-select"
              [value]=""
            >
              <option value="">Seleccionar</option>
              @for (documentoTipo of documentoTipos(); track $index) {
                <option [value]="documentoTipo.documento_tipo_id">
                  {{ documentoTipo.documento_tipo_nombre }}
                </option>
              }
            </select>
          </div>
        </section>
        <section class="d-flex justify-content-end">
          <button
            type="submit"
            class="btn btn-sm btn-primary"
            (click)="enviarFormulario()"
            [disabled]="
              formularioDescontabilizar.invalid || descontabilizando()
            "
          >
            @if (descontabilizando()) {
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Cargando...</span>
              </div>
              Cargando...
            } @else {
              Descontabilizar
            }
          </button>
        </section>
      </form>
    </div>
  </ng-template>
</div>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>

@if (isContabilizando()) {
  <div class="fake-loading">
    <span>
      Contabilizando, espere un momento...
    </span>
  </div>
}
