<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="active menu-here"
    routerLink="/dashboard"
    ><span class="menu-title" translate="MENU.DASHBOARD"></span
  ></a>
</div>

<!-- General -->
<div
  class="menu-item menu-lg-down-accordion me-lg-1 menu-dropdown"
  data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
  data-kt-menu-placement="bottom-start"
>
  <span
    class="menu-link py-3"
    [ngClass]="calculateMenuItemCssClass('/crafted')"
  >
    <span class="menu-title">General</span>
    <span class="menu-arrow d-lg-none"></span>
  </span>
  <div
    class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
    data-kt-menu-dismiss="true"
    data-popper-placement="bottom-start"
  >
    <div
      class="menu-item menu-lg-down-accordion me-lg-1"
      data-kt-menu-trigger="{default:'click', lg: 'hover'}"
      data-kt-menu-placement="right-start"
    >
      <span
        class="menu-link py-3"
        [ngClass]="calculateMenuItemCssClass('/crafted/pages')"
        ><span class="menu-icon"><i class="bi fs-3 bi-archive"></i></span
        ><span class="menu-title">Pages</span><span class="menu-arrow"></span
      ></span>
      <div
        class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
        data-kt-menu-dismiss="true"
      >
        <div
          class="menu-item menu-lg-down-accordion me-lg-1"
          data-kt-menu-trigger="{default:'click', lg: 'hover'}"
          data-kt-menu-placement="right-start"
        >
          <span
            class="menu-link py-3"
            [ngClass]="calculateMenuItemCssClass('/crafted/pages/profile')"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title" data-link="/crafted/pages/profile"
              >Profile</span
            ><span class="menu-arrow"></span
          ></span>
          <div
            class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
            data-kt-menu-dismiss="true"
          >
            <div class="menu-item me-lg-1">
              <a
                class="menu-link py-3"
                routerLinkActive="active"
                routerLink="/crafted/pages/profile/overview"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Overview</span></a
              >
            </div>
            <div class="menu-item me-lg-1">
              <a
                class="menu-link py-3"
                routerLinkActive="active"
                routerLink="/crafted/pages/profile/projects"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Projects</span></a
              >
            </div>

            <div class="menu-item me-lg-1">
              <a
                class="menu-link py-3"
                routerLinkActive="active"
                routerLink="/crafted/pages/profile/campaigns"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Campaigns</span></a
              >
            </div>

            <div class="menu-item me-lg-1">
              <a
                class="menu-link py-3"
                routerLinkActive="active"
                routerLink="/crafted/pages/profile/documents"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Documents</span></a
              >
            </div>

            <div class="menu-item me-lg-1">
              <a
                class="menu-link py-3"
                routerLinkActive="active"
                routerLink="/crafted/pages/profile/connections"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Connections</span></a
              >
            </div>
          </div>
        </div>
        <div
          class="menu-item menu-lg-down-accordion me-lg-1"
          data-kt-menu-trigger="{default:'click', lg: 'hover'}"
          data-kt-menu-placement="right-start"
        >
          <span
            class="menu-link py-3"
            [ngClass]="calculateMenuItemCssClass('/crafted/pages/wizards')"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title" data-link="/crafted/pages/wizards"
              >Wizards</span
            ><span class="menu-arrow"></span
          ></span>
          <div
            class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
            data-kt-menu-dismiss="true"
          >
            <div class="menu-item me-lg-1">
              <a
                class="menu-link py-3"
                routerLinkActive="active"
                routerLink="/crafted/pages/wizards/horizontal"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Horizontal</span></a
              >
            </div>
            <div class="menu-item me-lg-1">
              <a
                class="menu-link py-3"
                routerLinkActive="active"
                routerLink="/crafted/pages/wizards/vertical"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Vertical</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="menu-item menu-lg-down-accordion me-lg-1"
      data-kt-menu-trigger="{default:'click', lg: 'hover'}"
      data-kt-menu-placement="right-start"
    >
      <span
        class="menu-link py-3"
        [ngClass]="calculateMenuItemCssClass('/crafted/account')"
        ><span class="menu-icon"><i class="bi fs-3 bi-person"></i></span
        ><span class="menu-title" data-link="/crafted/account"
          >Administración</span
        ><span class="menu-arrow"></span
      ></span>
      <div
        class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
        data-kt-menu-dismiss="true"
      >
        <div class="menu-item me-lg-1">
          <a
            class="menu-link py-3"
            routerLinkActive="active"
            routerLink="/general/administracion/item/lista"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Items</span></a
          >
        </div>
        <div class="menu-item me-lg-1">
          <a
            class="menu-link py-3"
            routerLinkActive="active"
            routerLink="/general/administracion/contacto/lista"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Contactos</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="menu-item me-lg-1" *ngFor="let item of arrMenu">
  <a
    class="menu-link py-3"
    routerLinkActive="active menu-here"
    routerLink="/{{ item }}"
    (click)="navegar(item)"
    ><span class="menu-title">{{ item | titlecase }}</span></a
  >
</div>

