<div class="filter-container mb-3">
    <div *ngFor="let condition of filterConditions; let i = index" class="filter-row mb-2 row g-2 align-items-center">
      <div class="col-md-4">
        <select class="form-select" [(ngModel)]="condition.field" (change)="onFieldChange(condition)">
          <option value="">Seleccionar campo</option>
          <option *ngFor="let field of availableFields" [value]="field.name">
            {{ field.displayName }}
          </option>
        </select>
      </div>
      
      <div class="col-md-3">
        <select class="form-select" [(ngModel)]="condition.operator" [disabled]="!condition.field">
          <option value="">Seleccionar operador</option>
          <option *ngFor="let op of getOperatorsForField(condition.field)" [value]="op.symbol">
            {{ op.name }}
          </option>
        </select>
      </div>
      
      <div class="col-md-3">
        <ng-container [ngSwitch]="getInputType(condition.field)">
          <select *ngSwitchCase="'boolean'" class="form-select" [(ngModel)]="condition.value" [disabled]="!condition.operator">
            <option [ngValue]="true">Sí</option>
            <option [ngValue]="false">No</option>
          </select>
          <input 
            *ngSwitchDefault
            type="{{ getInputType(condition.field) }}" 
            class="form-control" 
            [(ngModel)]="condition.value" 
            [disabled]="!condition.operator"
            [placeholder]="getPlaceholder(condition.field)">
        </ng-container>
      </div>
      
      <div class="col-md-2 d-flex">
        <button class="btn btn-outline-danger me-1" (click)="removeFilterCondition(i)" [disabled]="filterConditions.length <= 1">
          <i class="bi bi-dash-lg"></i>
        </button>
        <button class="btn btn-outline-success" (click)="addFilterCondition()">
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>
    </div>
  
    <!-- Botón para aplicar filtros -->
    <div class="text-end mt-3">
      <button class="btn btn-primary" (click)="applyFilters()">
        Aplicar filtros
      </button>
    </div>
  </div>