<div class="row">
  <div class="col-12 col-xl-6 d-flex flex-column mb-3 mb-xl-0">
    <div class="card mb-3">
      <div class="card-body d-flex flex-column justify-content-between">
        <div class="mb-3">
          <h5 class="card-title">Cuentas por cobrar</h5>
          <p class="card-text">
            ${{ arrResumenCobrar.resumen.saldo_pendiente | number }}
          </p>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <small class="text-success">Vigentes</small>
            <p>${{ arrResumenCobrar.resumen.saldo_pendiente | number }}</p>
            <small>{{ arrResumenCobrar.resumen.cantidad }} documentos</small>
          </div>
          <div>
            <small class="text-danger">Vencidas</small>
            <p>${{ arrResumenCobrar.vencido.saldo_pendiente | number }}</p>
            <small>{{ arrResumenCobrar.vencido.cantidad }} documentos</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card flex-grow-1">
      <div class="card-body d-flex flex-column justify-content-between">
        <div class="mb-3">
          <h5 class="card-title">Cuentas por pagar</h5>
          <p class="card-text">
            ${{ arrResumenPagar.resumen.saldo_pendiente | number }}
          </p>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <small class="text-success">Vigentes</small>
            <p>${{ arrResumenPagar.resumen.saldo_pendiente | number }}</p>
            <small>{{ arrResumenPagar.resumen.cantidad }} documentos</small>
          </div>
          <div>
            <small class="text-danger">Vencidas</small>
            <p>${{ arrResumenPagar.vencido.saldo_pendiente | number }}</p>
            <small>{{ arrResumenPagar.vencido.cantidad }} documentos</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total de ventas</h5>
        <div>
          <div id="chart">
            <div *ngIf="chartOptions?.series?.length">
              <apx-chart
                [series]="chartOptions.series!"
                [chart]="chartOptions.chart!"
                [yaxis]="chartOptions.yaxis!"
                [xaxis]="chartOptions.xaxis!"
                [dataLabels]="chartOptions.dataLabels!"
                [grid]="chartOptions.grid!"
                [stroke]="chartOptions.stroke!"
                [title]="chartOptions.title!"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
