<div class="row">
  <div class="col-12 col-xxl-3 d-flex flex-column mb-10 mb-xxl-0" style="height: fit-content">
      <div class="card card-flush mb-5 mb-xl-5" >
        <div class="card-header pt-5">
          <div class="card-title d-flex flex-column">
            <div class="d-flex align-items-center">
              <!--begin::Currency-->
              <span class="fs-4 fw-semibold text-gray-500 me-1 align-self-start"
                >$</span
              >
              <!--end::Currency-->

              <!--begin::Amount-->
              <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">{{
                arrResumenCobrar.resumen.saldo_pendiente | number
              }}</span>
              <!--end::Amount-->

              <!--begin::Badge-->
       
              <!--end::Badge-->
            </div>
            <span class="text-gray-500 pt-1 fw-semibold fs-6"
              >Cuentas por cobrar</span
            >
          </div>
        </div>

        <div class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center">
          <div class="d-flex flex-center me-5 pt-2">
            <div
              id="kt_card_widget_17_chart"
              style="min-width: 70px; min-height: 70px"
            >
              <apx-chart
                #donutChart
                [series]="donutChartOptions.series"
                [chart]="donutChartOptions.chart"
                [plotOptions]="donutChartOptions.plotOptions"
                [colors]="donutChartOptions.colors"
                [stroke]="donutChartOptions.stroke"
                [tooltip]="donutChartOptions.tooltip"
                [legend]="donutChartOptions.legend"
                [dataLabels]="donutChartOptions.dataLabels"
              ></apx-chart>
            </div>
          </div>

          <div class="d-flex flex-column content-justify-center flex-row-fluid">
            <div class="d-flex fw-semibold align-items-center">
              <div class="bullet w-8px h-3px rounded-2 bg-success me-3"></div>
              <div class="text-gray-500 flex-grow-1 me-4">
                Vigentes
                <span class="badge badge-light-success fs-base">
                  {{ arrResumenCobrar.vigente.cantidad }}
                </span>
              </div>

              <div class="fw-bolder text-gray-700 text-xxl-end">
                ${{ arrResumenCobrar.vigente.saldo_pendiente | number }}
              </div>
            </div>

            <div class="d-flex fw-semibold align-items-center my-3">
              <div class="bullet w-8px h-3px rounded-2 bg-danger me-3"></div>
              <div class="text-gray-500 flex-grow-1 me-4">
                Vencidas
                <span class="badge badge-light-danger fs-base">
                  {{ arrResumenCobrar.vencido.cantidad }}
                </span>
              </div>
              <div class="fw-bolder text-gray-700 text-xxl-end">
                ${{ arrResumenCobrar.vencido.saldo_pendiente | number }}
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-12 col-xxl-3 d-flex flex-column mb-10 mb-xxl-0" style="height: fit-content">
    <div class="card card-flush mb-5 mb-xxl-5">
      <div class="card-header pt-5">
        <div class="card-title d-flex flex-column">
          <div class="d-flex align-items-center">
            <!--begin::Currency-->
            <span class="fs-4 fw-semibold text-gray-500 me-1 align-self-start"
              >$</span
            >
            <!--end::Currency-->

            <!--begin::Amount-->
            <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">{{
              arrResumenPagar.resumen.saldo_pendiente | number
            }}</span>
            <!--end::Amount-->

            <!--begin::Badge-->
      
            <!--end::Badge-->
          </div>
          <span class="text-gray-500 pt-1 fw-semibold fs-6"
            >Cuentas por pagar</span
          >
        </div>
      </div>

      <div class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center">
        <div class="d-flex flex-center me-5 pt-2">
          <div style="min-width: 70px; min-height: 70px">
            <apx-chart
              #donutChartPagar
              [series]="donutChartPagarOptions.series"
              [chart]="donutChartPagarOptions.chart"
              [plotOptions]="donutChartPagarOptions.plotOptions"
              [colors]="donutChartPagarOptions.colors"
              [stroke]="donutChartPagarOptions.stroke"
              [tooltip]="donutChartPagarOptions.tooltip"
              [legend]="donutChartPagarOptions.legend"
              [dataLabels]="donutChartPagarOptions.dataLabels"
            ></apx-chart>
          </div>
        </div>

        <div class="d-flex flex-column content-justify-center flex-row-fluid">
          <div class="d-flex fw-semibold align-items-center">
            <div class="bullet w-8px h-3px rounded-2 bg-success me-3"></div>
            <div class="text-gray-500 flex-grow-1 me-4">Vigentes
              <span class="badge badge-light-success fs-base">
                {{ arrResumenPagar.vigente.cantidad }}
              </span>
            </div>
            <div class="fw-bolder text-gray-700 text-xxl-end">
              ${{ arrResumenPagar.vigente.saldo_pendiente | number }}
            </div>
          </div>

          <div class="d-flex fw-semibold align-items-center my-3">
            <div class="bullet w-8px h-3px rounded-2 bg-danger me-3"></div>
            <div class="text-gray-500 flex-grow-1 me-4">Vencidas
              <span class="badge badge-light-danger fs-base">
                {{ arrResumenPagar.vencido.cantidad }}
              </span>
            </div>
            <div class="fw-bolder text-gray-700 text-xxl-end">
              ${{ arrResumenPagar.vencido.saldo_pendiente | number }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-xxl-6" style="height: 100px !important">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total de ventas</h5>
        <div>
          <div id="chart">
            <div *ngIf="chartOptions?.series?.length">
              <apx-chart

              [series]="chartOptions.series!"
                [chart]="chartOptions.chart!"
                [yaxis]="chartOptions.yaxis!"
                [xaxis]="chartOptions.xaxis!"
                [dataLabels]="chartOptions.dataLabels!"
                [grid]="chartOptions.grid!"
                [stroke]="chartOptions.stroke!"
                [title]="chartOptions.title!"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
