<form
  class="form w-100"
  novalidate="novalidate"
  [formGroup]="formularioEmpresa"
  (ngSubmit)="formSubmit()"
>
  <div class="fv-row d-flex mb-5">
    <button
      translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
      type="submit"
      class="btn btn-sm btn-primary"
      type="submit"
      #btnGuardar
    ></button>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <label
        translate="FORMULARIOS.CAMPOS.EMPRESA.INFORMACIONFACTURASUPERIOR"
        class="form-label"
      ></label>
      <textarea
        formControlName="informacion_factura_superior"
        class="form-control bg-transparent"
        (blur)="modificarCampoFormulario('informacion_factura_superior', null)"
        [ngClass]="{
          'is-invalid':
            formularioEmpresa.controls['informacion_factura_superior']
              .touched &&
            formularioEmpresa.controls['informacion_factura_superior'].invalid,
          'is-valid':
            formularioEmpresa.controls['informacion_factura_superior']
              .touched &&
            formularioEmpresa.controls['informacion_factura_superior'].valid
        }"
      ></textarea>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '2000',
          control: formularioEmpresa.controls['informacion_factura_superior']
        }"
      ></ng-container>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <label
        translate="FORMULARIOS.CAMPOS.EMPRESA.INFORMACIONFACTURA"
        class="form-label"
      ></label>
      <textarea
        formControlName="informacion_factura"
        (blur)="modificarCampoFormulario('informacion_factura', null)"
        class="form-control bg-transparent"
        [ngClass]="{
          'is-invalid':
            formularioEmpresa.controls['informacion_factura'].touched &&
            formularioEmpresa.controls['informacion_factura'].invalid,
          'is-valid':
            formularioEmpresa.controls['informacion_factura'].touched &&
            formularioEmpresa.controls['informacion_factura'].valid
        }"
      ></textarea>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '2000',
          control: formularioEmpresa.controls['informacion_factura']
        }"
      ></ng-container>
    </div>
  </div>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
