@if (accion === "nuevo") {
  {{ "FORMULARIOS.BOTONES.COMUNES.NUEVO" | translate | titlecase }}
  {{ "MENU.FUNCIONALIDAD." + (nombreModelo | uppercase) | translate | lowercase }}
}
@if (accion === "editar") {
  {{ "FORMULARIOS.BOTONES.COMUNES.EDITAR" | translate | titlecase }}
  {{ "MENU.FUNCIONALIDAD." + (nombreModelo | uppercase) | translate | lowercase }}
  {{ detalle }}
}
@if (accion === "detalle") {
  {{ "FORMULARIOS.BOTONES.COMUNES.DETALLE" | translate | titlecase }}
  {{ "MENU.FUNCIONALIDAD." + (nombreModelo | uppercase) | translate | lowercase }}
  {{ detalle }}
}
