<app-card [titulo]="'FORMULARIOS.TITULOS.COMUNES.FILTRO'">
  <section card-body>
    <app-base-filtro
      (emitirFiltros)="obtenerFiltros($event)"
      [persistirFiltros]="false"
      [_tipo]="'DOCUMENTO'"
    ></app-base-filtro>
  </section>
</app-card>
<app-card [titulo]="'MENU.FUNCIONALIDAD.MOVIMIENTO'">
  <section card-body>
    <div class="table-responsive-sm table-loading">
      <app-comun-tabla
        [modelo]="'ConMovimiento'"
        [datos]="arrDocumentos"
        [cantidad_registros]="cantidad_registros"
        [visualizarColumnaEditar]="false"
        [visualizarColumnaDetalle]="false"
        [visualizarColumnaSeleccionar]="false"
        [visualizarBtnImportar]="true"
        [visualizarBtnExportar]="true"
        [visualizarBtnNuevo]="false"
        [visualizarBtnEliminar]="false"
        [visualizarBtnExportarZip]="false"
        (emitirDesplazamiento)="cambiarDesplazamiento($event)"
        (emitirOrdenamiento)="cambiarOrdemiento($event)"
        (emitirPaginacion)="cambiarPaginacion($event)"
        (emitirExportarExcel)="descargarExcel()"
        (emitirConsultarLista)="consultarLista()"
      >
      </app-comun-tabla>
    </div>
  </section>
</app-card>
