<app-card [titulo]="'FORMULARIOS.TITULOS.COMUNES.FILTRO'">
  <section card-body>
    <app-filtro
      (filtersApply)="obtenerFiltros($event)"
      [availableFields]="MOVIMIENTO_FILTERS"
    ></app-filtro>
  </section>
</app-card>
<app-card [titulo]="'MENU.FUNCIONALIDAD.MOVIMIENTO'">
  <section card-body>
    <div class="table-responsive-sm table-loading">
      <app-comun-tabla
        [modelo]="'MOVIMIENTO'"
        [_tipo]="'MOVIMIENTO'"
        [datos]="arrDocumentos"
        [cantidad_registros]="cantidad_registros"
        [importarConfig]="{
          endpoint: 'contabilidad/movimiento',
          nombre: 'ConMovmimiento',
          rutaEjemplo: 'https://semantica.sfo3.digitaloceanspaces.com/renio/ejemplos/ConMovimiento.xlsx',
          verBotonEjemplo: true,
          verBotonImportar: true,
        }"
        [visualizarColumnaEditar]="false"
        [visualizarColumnaDetalle]="false"
        [visualizarColumnaSeleccionar]="false"
        [visualizarBtnImportar]="true"
        [visualizarBtnExportar]="true"
        [visualizarBtnNuevo]="false"
        [visualizarBtnEliminar]="false"
        [visualizarBtnExportarZip]="false"
        (emitirPaginacion)="cambiarPaginacion($event)"
        (emitirExportarExcel)="descargarExcel()"
        (emitirConsultarLista)="consultarLista()"
      >
      </app-comun-tabla>
    </div>
  </section>
</app-card>
