#informacionPlan {
  columns: 2;
}

@media only screen and (max-width: 985px) {
  #informacionPlan {
    columns: 1;
  }
}

input[type="radio"]:disabled {
  cursor: not-allowed !important;
}

// #contenedorPlanes{
//   display: flex;
// }

// #contenedorPlanes > #plan1 {
//   order: 1;
// }

// #contenedorPlanes > #plan2 {
//   order: 5;
// }

// #contenedorPlanes > #plan3 {
//   order: 2;
// }

// #contenedorPlanes > #plan4 {
//   order: 6;
// }

// #contenedorPlanes > #plan5 {
//   order: 3;
// }

// #contenedorPlanes > #plan6 {
//   order: 6;
// }

// #contenedorPlanes > #plan7 {
//   order: 4;
// }

// #contenedorPlanes > #plan8 {
//   order: 8;
// }
