<form [formGroup]="formularioContenedor" (ngSubmit)="formSubmit()">
  <div class="row mb-5">
    <div class="col-md-12 col-sm-12">
      <label class="form-label required"> Nombre de la empresa </label>
      <input
        formControlName="nombre"
        class="form-control bg-transparent"
        type="text"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            formularioContenedor.controls['nombre'].touched &&
            formularioContenedor.controls['nombre'].invalid,
          'is-valid':
            formularioContenedor.controls['nombre'].touched &&
            formularioContenedor.controls['nombre'].valid
        }"
        (keyup)="modificarCampoFormulario('subdominio', $event)"
      />
      <small
        id="emailHelp"
        class="form-text text-muted"
        *ngIf="nombreEmpresa !== ''"
        >{{ nombreEmpresa.toLocaleLowerCase() }}{{ dominioApp }}
        <a
          class="btn btn-icon btn-link btn-sm btn-color-gray-500 btn-active-color-primary"
          (click)="editarSubdominio()"
          data-bs-toggle="tooltip" data-bs-placement="right" title="Editar"
          ><i class="bi bi-pencil fs-4 me-2"></i
        ></a>
      </small>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioContenedor.controls['nombre']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
          control: formularioContenedor.controls['nombre']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
          cantidadCaracteres: '3',
          control: formularioContenedor.controls['nombre']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '100',
          control: formularioContenedor.controls['nombre']
        }"
      ></ng-container>
    </div>
  </div>
  <div class="row mb-10" *ngIf="visualizarCampoSubdominio">
    <div class="col-md-12 col-sm-12">
      <label
        translate="FORMULARIOS.TITULOS.CONTENEDOR.SUBDOMINIO"
        class="form-label required"
      ></label>
      <div class="input-group mb-5">
        <input
          type="text"
          formControlName="subdominio"
          class="form-control bg-transparent"
          autocomplete="off"
          [ngClass]="{
            'is-invalid':
              formularioContenedor.controls['subdominio'].touched &&
              formularioContenedor.controls['subdominio'].invalid,
            'is-valid':
              formularioContenedor.controls['subdominio'].touched &&
              formularioContenedor.controls['subdominio'].valid
          }"
          (keyup)="cambiarTextoAMinusculas()"
        />
        <span class="input-group-text" id="basic-addon2">{{ dominioApp }}</span>
      </div>

      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioContenedor.controls['subdominio']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
          control: formularioContenedor.controls['subdominio']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
          cantidadCaracteres: '3',
          control: formularioContenedor.controls['subdominio']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '20',
          control: formularioContenedor.controls['subdominio']
        }"
      ></ng-container>
      <div
        *ngIf="
          formularioContenedor.controls.subdominio?.touched &&
          formularioContenedor.controls.subdominio?.hasError('EmpresaYaExiste')
        "
      >
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            <span
              translate="FORMULARIOS.COMUNES.EMPRESA.NOMBREUSADO"
              role="alert"
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.CORREO"
        class="form-label required"
      ></label>
      <input
        formControlName="correo"
        class="form-control bg-transparent"
        type="email"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            formularioContenedor.controls['correo'].touched &&
            formularioContenedor.controls['correo'].invalid,
          'is-valid':
            formularioContenedor.controls['correo'].touched &&
            formularioContenedor.controls['correo'].valid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioContenedor.controls['correo']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '100',
          control: formularioContenedor.controls['correo']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.TIPOCORREO' | translate,
          control: formularioContenedor.controls['correo']
        }"
      ></ng-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.TELEFONO"
        class="form-label required"
      ></label>
      <input
        formControlName="telefono"
        class="form-control bg-transparent"
        type="text"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            formularioContenedor.controls['telefono'].touched &&
            formularioContenedor.controls['telefono'].invalid,
          'is-valid':
            formularioContenedor.controls['telefono'].touched &&
            formularioContenedor.controls['telefono'].valid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioContenedor.controls['telefono']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '50',
          control: formularioContenedor.controls['telefono']
        }"
      ></ng-container>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-md-12 col-sm-12">
      <label class="form-label required">Planes </label>
      <div
        class="row row-cols-1 row-cols-md-4 row-cols-lg-4 row-cols-xl-4 g-9"
        data-kt-buttons="true"
        data-kt-buttons-target="[data-kt-button='true']"
        data-kt-initialized="1"
      >
        <div class="col" *ngFor="let plan of arrPlanes">
          <label
            class="btn btn-outline btn-outline-dashed btn-active-light-primary d-flex align-items-center text-start p-5"
            [ngClass]="{ active: planSeleccionado === plan.id }"
            data-kt-button="true"
            (click)="seleccionarPlan(plan.id)"
          >
            <span
              class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1"
            >
              <input
                class="form-check-input"
                type="radio"
                name="plan_id"
                formControlName="plan_id"
                [value]="plan.id"
                checked="checked"
              />
            </span>
            <div class="ms-5 w-100 d-flex justify-content-between flex-wrap">
              <div class="fs-7 fw-bold text-gray-800 flex-shrink-1">
                {{ plan.nombre }}
              </div>
              <div class="fs-7 fw-bold text-gray-800">
                ${{ plan.precio | number : "1.0-0" }}
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-md-12 col-sm-12">
      <label class="form-label"
        >Información plan
        <i class="ki-duotone ki-information-5 fs-3">
          <span class="path1"></span>
          <span class="path2"></span>
          <span class="path3"></span>
        </i>
      </label>
      <div class="mb-10" style="columns: 2">
        <!--begin::Item-->
        <div
          class="d-flex flex-stack p-2 border"
          *ngFor="let item of informacionPlan"
        >
          <span class="fw-semibold fs-6 text-gray-500 text-start pe-3">{{
            item | translate
          }}</span>
          <i class="ki-duotone ki-check-circle fs-1 text-success">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
        </div>
      </div>
    </div>
  </div>
  <div
    class="fv-row d-flex"
    [ngClass]="{
      'justify-content-between': visualizarBtnAtras === true,
      'justify-content-end': visualizarBtnAtras === false
    }"
  >
    <a
      translate="FORMULARIOS.BOTONES.COMUNES.ATRAS"
      class="btn btn-secondary align-self-center"
      [routerLink]="['../lista']"
      *ngIf="visualizarBtnAtras"
    >
    </a>
    <button
      translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
      type="submit"
      class="btn btn-primary"
      type="submit"
      #btnGuardar
    ></button>
  </div>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
