<section card-body>
  <table id="tableDetalles" class="table table-bordered table-row-gray-500">
    <thead>
      <tr>
        <th class="bg-gray-100 w-45px">Id</th>
        <th class="bg-gray-100">Nombre</th>
        <th class="bg-gray-100">Tipo</th>
        <th class="bg-gray-100">Cuenta débito</th>
        <th class="bg-gray-100">Cuenta crédito</th>
      </tr>
    </thead>
    <tbody>
      @for (provision of provisiones(); track provision.id) {
        <tr>
          <td class="w-45px">{{ provision.id }}</td>
          <td class="">
            {{ provision.tipo }}
          </td>
          <td class="">
            {{ provision.tipo_costo_nombre }}
          </td>
          <td>
            <app-comun-cuentas
              [iniciarFocusInputBusqueda]="false"
              [cuentaCodigo]="provision.cuenta_debito_codigo"
              [cuentaNombre]="provision.cuenta_debito_nombre"
              (emitirArrCuentas)="
                onCambioDeCuenta($event, provision.id, 'cuenta_debito')
              "
            ></app-comun-cuentas>
          </td>
          <td>
            @if (mostrarCuentaCredito(provision.tipo)) {
              <app-comun-cuentas
                [iniciarFocusInputBusqueda]="false"
                [cuentaCodigo]="provision.cuenta_credito_codigo"
                [cuentaNombre]="provision.cuenta_credito_nombre"
                (emitirArrCuentas)="
                  onCambioDeCuenta($event, provision.id, 'cuenta_credito')
                "
              ></app-comun-cuentas>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
