<app-card>
  <section card-titulo>Facturación</section>
  <section card-body>
    <div class="row mb-5">
      <div class="col-12">
        <div *ngIf="facturas.length > 0" class="mb-10 p-5 border">
          <div class="d-flex align-items-center justify-content-between">
            <h5
              class="mb-4"
              translate="FORMULARIOS.TITULOS.FACTURACION.PENDIENTE"
            ></h5>
            <div class="card-toolbar" id="wompiWidget"></div>
          </div>
          <p
            class="text-gray-700"
            translate="FORMULARIOS.TITULOS.FACTURACION.TEXTOAYUDA4"
          ></p>
          <div class="table-responsive">
            <table class="table table-row-bordered align-middle gy-4 gs-9">
              <thead
                class="border-bottom border-gray-200 fs-6 text-gray-600 fw-bold bg-light bg-opacity-75"
              >
                <tr class="fw-bold text-gray-800">
                  <th translate="FORMULARIOS.TITULOS.FACTURACION.FECHA"></th>
                  <th
                    translate="FORMULARIOS.TITULOS.FACTURACION.DESCRIPCION"
                  ></th>
                  <th
                    translate="FORMULARIOS.TITULOS.FACTURACION.IMPORTANTE"
                  ></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of facturas">
                  <td>{{ item.fecha | date: "yyyy-MM-dd" }}</td>
                  <td>{{ item.tipo }}</td>
                  <td class="text-end">
                    {{ item.vr_total | currency: "$" }}
                  </td>
                  <td class="w-20px">
                    <label [for]="item.id">
                      <i
                        class="cursor-pointer"
                        [ngClass]="
                          checkbox.checked
                            ? 'fa-solid fa-square-check text-danger'
                            : 'fa-regular fa-square text-gray-500'
                        "
                      >
                        <span class="path1"></span>
                        <span class="path2"></span>
                      </i>
                      <input
                        #checkbox
                        class="d-none"
                        type="checkbox"
                        [id]="item.id"
                        [checked]="idEstaEnLista(item.id)"
                        (change)="agregarRegistrosPagar(item)"
                      />
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-muted">
              <p>
                * La factura electrónica se envía al correo o podrá descargarla
                en la pestaña historial después de realizar el pago.
              </p>
            </div>
            <!-- <div
                    class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-3 p-4"
                  >
                    <i
                      class="ki-duotone ki-information fs-2tx text-warning me-4"
                    >
                      <span class="path1"></span>
                      <span class="path2"></span>
                      <span class="path3"></span>
                    </i>
                    <div class="d-flex flex-stack flex-grow-1">
                      <div class="fw-semibold">
                        <h4 class="text-gray-900 fw-bold">
                          Información sobre su factura
                        </h4>
                        <div class="fs-6 text-gray-700">
                          La factura electrónica se envía al correo o podrá
                          descargarla en la pestaña historial después de
                          realizar el pago.
                        </div>
                      </div>
                    </div>
                  </div> -->
          </div>
        </div>

        <div class="mb-10 p-5 border">
          <h5
            class="d-inline-block"
            translate="FORMULARIOS.TITULOS.FACTURACION.ESTIMADO"
          ></h5>
          <span
            class="badge badge-sm badge-success badge-outline d-inline-block ms-2"
          >
            Mes actual
          </span>
          <br />
          <b style="font-size: 24px">{{ consumoTotal | currency: "$ " }}</b>
          <p
            class="text-gray-700"
            translate="FORMULARIOS.TITULOS.FACTURACION.TEXTOAYUDA2"
          ></p>
          <div class="mb-0">
            <div class="row">
              <div class="col-sm-12 col-md-3">
                <b>{{
                  fechaServices.obtenerPrimerDiaDelMesSiguiente()
                    | date: "yyyy-MM-dd"
                }}</b>
                <p translate="FORMULARIOS.TITULOS.FACTURACION.FECHAPAGO"></p>
              </div>
              <div class="col-sm-12 col-md-3">
                <b>{{ 0 | currency: "$ " }}</b>
                <p translate="FORMULARIOS.TITULOS.FACTURACION.PAGOSANTICIPADOS">
                  <i class="ki-outline ki-information-2 ms-2"></i>
                </p>
              </div>
              <div class="col-sm-12 col-md-3">
                <b>{{ consumoTotal | currency: "$ " }}</b>
                <p translate="FORMULARIOS.TITULOS.FACTURACION.TOTALUSO">
                  <i class="ki-outline ki-information-2 ms-2"></i>
                </p>
              </div>
              <div class="col-sm-12 col-md-3">
                <b>{{ consumoTotal | currency: "$ " }}</b>
                <p translate="FORMULARIOS.TITULOS.FACTURACION.ESTIMADO">
                  <i class="ki-outline ki-information-2 ms-2"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-10 p-5 border">
          <div class="d-flex align-items-center justify-content-between">
            <h5
              class="mb-4"
              translate="FORMULARIOS.TITULOS.FACTURACION.CONSUMO"
            ></h5>
            <div class="card-toolbar" id="wompiWidget"></div>
          </div>
          <div class="table-responsive">
            <table class="table table-row-bordered align-middle gy-4 gs-9">
              <thead
                class="border-bottom border-gray-200 fs-6 text-gray-600 fw-bold bg-light bg-opacity-75"
              >
                <tr class="fw-bold text-gray-800">
                  <th>Subdominio</th>
                  <th>Empresa</th>
                  <th>Plan</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let consumo of consumos">
                  <td>{{ consumo.subdominio }}</td>
                  <td>{{ consumo.contenedor }}</td>
                  <td>{{ consumo.plan__nombre }}</td>
                  <td class="text-end">
                    {{ consumo.vr_total | currency: "$ " }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-card>

<app-card>
  <section card-titulo>Información facturación</section>
  <section card-body>
    <div
      class="row row-cols-1 row-cols-md-3 row-cols-lg-1 row-cols-xl-3 g-9"
      data-kt-buttons="true"
      data-kt-buttons-target="[data-kt-button='true']"
      data-kt-initialized="1"
    >
      <div class="col" *ngFor="let informacion of arrFacturacionInformacion">
        <label
          class="btn btn-outline btn-outline-dashed btn-active-light-primary d-flex flex-column text-start p-4 position-relative"
          [ngClass]="{
            active: informacionFacturacion === informacion.id,
          }"
          (click)="informacionFacturacion = informacion.id"
          data-kt-button="true"
          style="cursor: pointer"
        >
          <div class="d-flex align-items-stretch justify-content-between w-100">
            <div>
              <div class="text-start">
                <span class="fs-6 text-gray-800 d-block">
                  {{ getIdentificacionPrefix(informacion.identificacion_id) }}
                  {{ informacion.numero_identificacion }}
                </span>
                <span class="fs-6 fw-bold text-gray-800 d-block">
                  {{ informacion.nombre_corto }}
                </span>
                <span class="fs-6 text-gray-800 d-block">
                  {{ informacion.telefono }}
                </span>
                <span class="fs-6 text-gray-800 d-block">
                  {{ informacion.direccion }}
                </span>
                <span class="fs-6 text-gray-800 d-block">
                  {{ informacion.ciudad_nombre }} -
                  {{ informacion.ciudad_estado_nombre }}
                </span>
              </div>
            </div>
            <div
              class="d-flex flex-column justify-content-between align-items: flex-end;"
            >
              <div class="align-self-end">
                <app-informacion-facturacion
                  [informacion_id]="informacion.id"
                  [validarNuevoEditar]="false"
                  (emitirActualizacion)="consultarDetalle()"
                ></app-informacion-facturacion>
              </div>
              <i
                ngbTooltip="Eliminar"
                placement="right"
                class="ki-duotone ki-trash fs-3x text-danger align-self-end me-3 mb-2"
                (click)="confirmarEliminarFacturacion(informacion.id)"
                style="cursor: pointer"
              >
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                <span class="path5"></span>
              </i>
            </div>
          </div>

          <!-- <div
                class="d-flex align-items-center justify-content-between w-100"
              >
                <div class="text-start">
                  <span class="fs-6 text-gray-800 d-block">
                    {{
                      getIdentificacionPrefix(
                        informacion.identificacion_id
                      )
                    }}
                    {{ informacion.numero_identificacion }}
                  </span>
                  <span class="fs-6 fw-bold text-gray-800 d-block">
                    {{ informacion.nombre_corto }}
                  </span>
                  <span class="fs-6 text-gray-800 d-block">
                    {{ informacion.telefono }}
                  </span>
                  <span class="fs-6 text-gray-800 d-block">
                    {{ informacion.direccion }}
                  </span>
                  <span class="fs-6 text-gray-800 d-block">
                    {{ informacion.ciudad_nombre_mascara }}
                  </span>
                </div>
                <div class="position-absolute top-0 end-0 mt-3 me-3">
                  <app-informacion-facturacion
                    [informacion_id]="informacion.id"
                    [validarNuevoEditar]="false"
                    (emitirActualizacion)="consultarDetalle()"
                  ></app-informacion-facturacion>
                </div>
              </div>
              <div
                class="d-flex align-items-end justify-content-end position-absolute bottom-0 end-0 mb-3 me-3"
              >
                <i
                  class="ki-duotone ki-trash fs-3x text-danger"
                  (click)="
                    eliminarInformacionFacturacion(informacion.id)
                  "
                  style="cursor: pointer"
                >
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                  <span class="path4"></span>
                  <span class="path5"></span>
                </i>
              </div> -->
        </label>
      </div>
      <div class="col">
        <label
          class="btn btn-outline btn-outline-dashed btn-active-light-primary d-flex flex-column text-start p-4 position-relative active"
          data-kt-button="true"
          style="cursor: pointer"
        >
          <app-informacion-facturacion
            [validarNuevoEditar]="true"
            (emitirActualizacion)="consultarDetalle()"
          ></app-informacion-facturacion>
        </label>
      </div>
    </div>
  </section>
</app-card>

<app-card>
  <section card-titulo>Historial facturación</section>
  <section card-body>
    <app-historial-facturacion></app-historial-facturacion>
  </section>
</app-card>
