<div class="fv-row mb-10">
  <div class="col-lg-8">
    <div class="image-input image-input-outline" data-kt-image-input="true">
      <img
        [src]="base64 !== '' ? base64 : recibirImagen"
        alt=""
        class="image-input-wrapper w-160px h-160px cursor-pointer"
        style="user-select: none"
        (click)="fileInput.click()"
      />
      <label
        class="btn btn-icon btn-circle btn-active-color-primary w-40px h-40px bg-body shadow"
        data-kt-image-input-action="change"
        data-bs-toggle="tooltip"
        aria-label="Change avatar"
        data-bs-original-title="Change avatar"
        data-kt-initialized="1"
      >
        <i class="ki-duotone ki-search-list fs-2x">
          <i class="path1"></i>
          <i class="path2"></i>
          <i class="path3"></i>
        </i>

        <!--begin::Inputs-->
        <input
          type="file"
          name="avatar"
          accept="image/png, image/jpeg"
          (change)="archivoSeleccionado($event)"
          #fileInput
        />
        <!--end::Inputs-->
      </label>
      <!--end::Label-->

      <!--begin::Remove-->
      <span
        class="btn btn-icon btn-circle btn-active-color-primary w-30px h-30px bg-body shadow"
        data-kt-image-input-action="remove"
        data-bs-toggle="tooltip"
        aria-label="Remove avatar"
        data-bs-original-title="Remove avatar"
        data-kt-initialized="1"
        (click)="removerArchivoSeleccionado()"
        *ngIf="visualizarRemoverImagen"
      >
        <i class="ki-duotone ki-cross fs-2 text-danger fs-2x"
          ><span class="path1"></span><span class="path2"></span
        ></i>
      </span>
      <!--end::Remove-->
    </div>
    <!--end::Image input-->

    <!--begin::Hint-->
    <!--end::Hint-->
  </div>
  <!--end::Col-->
</div>

<ng-template #dialogTemplate>
  <div class="card shadow-sm">
    <div class="modal-header">
      <h3
        translate="FORMULARIOS.TITULOS.COMUNES.IMAGEN"
        class="card-title"
      ></h3>
      <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
    </div>
    <div class="card-body">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 4"
        format="jpeg"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      <div class="fv-plugins-message-container" *ngIf="imagenMuyGrande">
        <div class="fv-help-block">
          <span role="alert"> imagen muy grande </span>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button
        translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
        type="submit"
        class="btn btn-primary"
        (click)="emitirBase64()"
      ></button>
    </div>
  </div>
</ng-template>
