table#tableDetalles {
  user-select: none;
  border-collapse: collapse;
  width: 100%;

  tr {
    height: 60px;

    th {
      width: 200px;
      padding: 10px !important;
      text-align: left;
      font-size: 1.05rem;
      font-weight: 500;
    }

    td {
      padding: 10px !important;
      vertical-align: middle; /* Centra el contenido verticalmente */
      text-align: center;

      input {
        border-width: 0px;
        padding: 0px;
        resize: none;
        width: 100%;
        text-align: center;
        box-sizing: border-box;

        &:hover {
          background-color: #f9f9f9;
        }

        &:focus {
          outline: none;
          background-color: #f9f9f9;
        }
      }
    }
  }

  .textarea-container {
    display: flex;
    align-items: center; /* Esto centra verticalmente el contenido */
  }

  .disabled-cursor {
    cursor: not-allowed;
  }
}

#fecha_vence{
  cursor: not-allowed;
  user-select: none;
}
