<form
  class="form w-100"
  novalidate="novalidate"
  id="kt_login_signup_form"
  [formGroup]="formularioRegistro"
  (ngSubmit)="submit()"
>
  <!--begin::Heading-->
  <div class="text-center mb-11">
    <!--begin::Title-->
    <h1 class="text-dark fw-bolder mb-3">Regístrese</h1>
    <!--end::Title-->

    <!--begin::Subtitle-->
    <div class="text-gray-500 fw-semibold fs-6">Your Social Campaigns</div>
    <!--end::Subtitle--->
  </div>
  <!--begin::Heading-->

  <!--begin::Login options-->
  <div class="row g-3 mb-9">
    <!--begin::Col-->
    <div class="col-md-6">
      <!--begin::Google link--->
      <a
        href="#"
        class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100"
      >
        <img
          alt="Logo"
          src="./assets/media/svg/brand-logos/google-icon.svg"
          class="h-15px me-3"
        />
        Iniciar sesión con Google
      </a>
      <!--end::Google link--->
    </div>
    <!--end::Col-->

    <!--begin::Col-->
    <div class="col-md-6">
      <!--begin::Google link--->
      <a
        href="#"
        class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100"
      >
        <img
          alt="Logo"
          src="./assets/media/svg/brand-logos/apple-black.svg"
          class="theme-light-show h-15px me-3"
        />
        <img
          alt="Logo"
          src="./assets/media/svg/brand-logos/apple-black-dark.svg"
          class="theme-dark-show h-15px me-3"
        />
        Iniciar sesión con Apple
      </a>
      <!--end::Google link--->
    </div>
    <!--end::Col-->
  </div>
  <!--end::Login options-->

  <!--begin::Separator-->
  <div class="separator separator-content my-14">
    <span class="w-125px text-gray-500 fw-semibold fs-7"
      >O con correo electrónico</span
    >
  </div>
  <!--end::Separator-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-dark fs-6">Usuario</label>
    <input
      class="form-control bg-transparent"
      type="email"
      placeholder="Email"
      name="email"
      formControlName="usuario"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': formularioRegistro.controls['usuario'].invalid,
        'is-valid': formularioRegistro.controls['usuario'].valid
      }"
    />
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'El campo es requerido',
        control: formularioRegistro.controls['usuario']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'El campo no es un correo electrónico válido',
        control: formularioRegistro.controls['usuario']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'El campo debe contener mínimo 3 caracteres',
        control: formularioRegistro.controls['usuario']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'El campo debe contener máximo 50 caracteres',
        control: formularioRegistro.controls['usuario']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-dark fs-6">Clave</label>
    <input
      class="form-control bg-transparent"
      type="password"
      placeholder="Password"
      name="password"
      formControlName="clave"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': formularioRegistro.controls['clave'].invalid,
        'is-valid': formularioRegistro.controls['clave'].valid
      }"
    />
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'El campo es requerido',
        control: formularioRegistro.controls['clave']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'El campo debe contener mínimo 3 caracteres',
        control: formularioRegistro.controls['clave']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'El campo debe contener máximo 50 caracteres',
        control: formularioRegistro.controls['clave']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-dark fs-6">Confirmar clave</label>
    <input
      class="form-control bg-transparent"
      type="password"
      placeholder="Confirm password"
      name="cPassword"
      autocomplete="off"
      formControlName="confirmarClave"
      [ngClass]="{
        'is-invalid': formularioRegistro.controls['confirmarClave'].invalid,
        'is-valid': formularioRegistro.controls['confirmarClave'].valid
      }"
    />
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'El campo es requerido',
        control: formularioRegistro.controls['confirmarClave']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'El campo debe contener mínimo 3 caracteres',
        control: formularioRegistro.controls['confirmarClave']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'El campo debe contener máximo 50 caracteres',
        control: formularioRegistro.controls['confirmarClave']
      }"
    ></ng-container>
    <div
      *ngIf="
        formularioRegistro.controls.confirmarClave?.touched &&
        formularioRegistro.controls.confirmarClave?.hasError('clavesDiferentes')
      "
    >
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          <span role="alert"> la clave y confirmar clave son difirentes </span>
        </div>
      </div>
    </div>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row">
    <label class="form-check form-check-inline">
      <input
        id="kt_login_toc_agree"
        type="checkbox"
        formControlName="terminosCondiciones"
        name="agree"
        class="form-check-input"
      />
      <span
        for="kt_login_toc_agree"
        class="form-check-label fw-semibold text-gray-700 fs-base ms-1"
      >
        Acepto los&nbsp;<a
          href="https://keenthemes.com/metronic/?page=faq"
          target="_blank"
          class="ms-1 link-primary"
          >Terminos</a
        >.
      </span>
    </label>
  </div>
  <div
  *ngIf="formularioRegistro.controls.terminosCondiciones?.touched && formularioRegistro.controls.terminosCondiciones?.hasError('required')"
>
  El campo es requerido
</div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="d-grid mt-8 mb-10">
    <button type="submit" id="kt_sign_up_submit" class="btn btn-primary" #btnCrear>
      Crear
    </button>
  </div>
  <!--end::Form group-->

  <!--begin::Sign up-->
  <div class="text-gray-500 text-center fw-semibold fs-6">
    ¿Ya tiene una cuenta?
    <a routerLink="/auth/login" class="link-primary fw-semibold">
      Iniciar sesión
    </a>
  </div>
  <!--end::Sign up-->
</form>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>
