<div class="card p-20">
  <form
    class="form w-100"
    novalidate="novalidate"
    id="kt_login_signup_form"
    [formGroup]="formularioRegistro"
    (ngSubmit)="submit()"
  >
    <!--begin::Heading-->
    <div class="text-center mb-11">
      <!--begin::Title-->
      <h1
        translate="FORMULARIOS.TITULOS.SEGURIDAD.REGISTRO"
        class="text-dark fw-bolder mb-3"
      ></h1>
      <!--end::Title-->

      <!--begin::Subtitle-->
      <div class="text-gray-500 fw-semibold fs-6"></div>
      <!--end::Subtitle--->
    </div>
    <!--begin::Heading-->

    <!--begin::Login options-->
    <div class="row g-3 mb-9">
      <!--begin::Col-->
      <div class="col-md-6">
        <!--begin::Google link--->
        <!-- <a
        href="#"
        class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100"
      > -->
        <!-- <img
          alt="Logo"
          src="./assets/media/svg/brand-logos/google-icon.svg"
          class="h-15px me-3"
        /> -->
        <!-- </a> -->
        <!--end::Google link--->
      </div>
      <!--end::Col-->

      <!--begin::Col-->
      <div class="col-md-6">
        <!--begin::Google link--->
        <!-- <a
        href="#"
        class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100"
      >
        <img
          alt="Logo"
          src="./assets/media/svg/brand-logos/apple-black.svg"
          class="theme-light-show h-15px me-3"
        />
        <img
          alt="Logo"
          src="./assets/media/svg/brand-logos/apple-black-dark.svg"
          class="theme-dark-show h-15px me-3"
        /> -->
        <!-- </a> -->
        <!--end::Google link--->
      </div>
      <!--end::Col-->
    </div>
    <!--end::Login options-->

    <!--begin::Form group-->
    <div class="fv-row mb-8 h-100px">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.CORREO"
        class="form-label fw-bolder text-dark fs-6"
      ></label>
      <input
        class="form-control bg-transparent"
        type="email"
        [placeholder]="'FORMULARIOS.CAMPOS.COMUNES.CORREO' | translate"
        name="email"
        formControlName="usuario"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            formularioRegistro.controls['usuario'].touched &&
            formularioRegistro.controls['usuario'].invalid,
          'is-valid':
            formularioRegistro.controls['usuario'].touched &&
            formularioRegistro.controls['usuario'].valid
        }"
        appInputValuecaseDirective
        [appInputValueCase]="'minuscula'"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioRegistro.controls['usuario']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'email',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.TIPOCORREO' | translate,
          control: formularioRegistro.controls['usuario']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
          cantidadCaracteres: '8',
          control: formularioRegistro.controls['usuario']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '50',
          control: formularioRegistro.controls['usuario']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="fv-row mb-8 h-100px">
      <label
        translate="FORMULARIOS.TITULOS.SEGURIDAD.TITULO2"
        class="form-label fw-bolder text-dark fs-6"
      ></label>
      <div class="input-wrapper">
        <input
          class="form-control bg-transparent"
          [type]="cambiarTipoCampoClave"
          [placeholder]="'FORMULARIOS.TITULOS.SEGURIDAD.TITULO2' | translate"
          name="password"
          formControlName="clave"
          autocomplete="off"
          [ngClass]="{
            'is-invalid':
              formularioRegistro.controls['clave'].touched &&
              formularioRegistro.controls['clave'].invalid,
            'is-valid':
              formularioRegistro.controls['clave'].touched &&
              formularioRegistro.controls['clave'].valid
          }"
        />
        <i
          (click)="visualizarClave()"
          class="fa-regular"
          [ngClass]="{
            'fa-eye': cambiarTipoCampoClave === 'password',
            'fa-eye-slash': cambiarTipoCampoClave === 'text'
          }"
        ></i>
      </div>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioRegistro.controls['clave']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
          cantidadCaracteres: '8',
          control: formularioRegistro.controls['clave']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '50',
          control: formularioRegistro.controls['clave']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
          control: formularioRegistro.controls['clave']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="fv-row mb-8 h-100px">
      <label
        translate="FORMULARIOS.TITULOS.SEGURIDAD.CONFIRMARCLAVE"
        class="form-label fw-bolder text-dark fs-6"
      ></label>
      <div class="input-wrapper">
        <input
          class="form-control bg-transparent"
          [type]="cambiarTipoCampoConfirmarClave"
          [placeholder]="
            'FORMULARIOS.TITULOS.SEGURIDAD.CONFIRMARCLAVE' | translate
          "
          name="cPassword"
          autocomplete="off"
          formControlName="confirmarClave"
          [ngClass]="{
            'is-invalid':
              formularioRegistro.controls['confirmarClave'].touched &&
              formularioRegistro.controls['confirmarClave'].invalid,
            'is-valid':
              formularioRegistro.controls['confirmarClave'].touched &&
              formularioRegistro.controls['confirmarClave'].valid
          }"
        />
        <i
          (click)="visualizarConfirmarClave()"
          class="fa-regular"
          [ngClass]="{
            'fa-eye': cambiarTipoCampoConfirmarClave === 'password',
            'fa-eye-slash': cambiarTipoCampoConfirmarClave === 'text'
          }"
        ></i>
      </div>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioRegistro.controls['confirmarClave']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
          cantidadCaracteres: '8',
          control: formularioRegistro.controls['confirmarClave']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '50',
          control: formularioRegistro.controls['confirmarClave']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
          control: formularioRegistro.controls['confirmarClave']
        }"
      ></ng-container>
      <div
        *ngIf="
          formularioRegistro.controls.confirmarClave?.touched &&
          formularioRegistro.controls.confirmarClave?.hasError(
            'clavesDiferentes'
          )
        "
      >
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            <span
              translate="FORMULARIOS.VALIDACIONES.SEGURIDAD.NOCOINCIDENNUEVO"
              role="alert"
            >
            </span>
          </div>
        </div>
      </div>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="fv-row">
      <label class="form-check form-check-inline">
        <input
          id="kt_login_toc_agree"
          type="checkbox"
          formControlName="terminosCondiciones"
          name="agree"
          class="form-check-input"
        />
        <span
          translate="FORMULARIOS.TITULOS.AUTENTIFICACION.TERMINOS"
          for="kt_login_toc_agree"
          class="form-check-label fw-semibold text-gray-700 fs-base ms-1"
        ></span>
      </label>
    </div>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
        control: formularioRegistro.controls['terminosCondiciones']
      }"
    ></ng-container>

    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="d-grid mt-8 mb-10">
      <button
        translate="FORMULARIOS.BOTONES.AUTENTIFICACION.CREARCUENTA"
        type="submit"
        id="kt_sign_up_submit"
        class="btn btn-primary"
        *ngIf="visualizarLoader === false; else loader"
      ></button>
      <ng-template #loader>
        <button class="btn btn-primary" type="button" disabled>
          <span
            class="spinner-border spinner-border-sm me-2"
            aria-hidden="true"
          ></span>
          <span role="status" translate="LISTAS.COMUNES.CARGANDO"></span>
        </button>
      </ng-template>
    </div>
    <!--end::Form group-->

    <!--begin::Sign up-->
    <div
      translate="FORMULARIOS.TITULOS.AUTENTIFICACION.CUENTA"
      class="text-gray-500 text-center fw-semibold fs-6"
    >
      <a
        routerLink="/auth/login"
        translate="FORMULARIOS.TITULOS.AUTENTIFICACION.TITULO"
        class="link-primary fw-semibold"
      >
      </a>
    </div>
    <!--end::Sign up-->
  </form>

  <ng-template
    #formError
    let-control="control"
    let-message="message"
    let-validation="validation"
    let-cantidadCaracteres="cantidadCaracteres"
  >
    <ng-container
      *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
    >
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
        </div>
      </div>
    </ng-container>
  </ng-template>
</div>
