<div class="row">
    <div class="col-xl-12">
      <div class="card card-xl-stretch mb-5 mb-xl-8 shadow-sm">
        <div class="card-header">
          <div class="card-title m-0">
            <h3 translate="FORMULARIOS.TITULOS.CONTACTO.NUEVO" class="fw-bolder m-0"></h3>
          </div>
        </div>
        <div class="card-body">
          <app-contacto-formulario

          ></app-contacto-formulario>
        </div>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="procesando" class="fake-loading">
    <span translate="FORMULARIOS.MENSAJES.EMPRESAS.CREAREMPRESA"></span>
  </div> -->