<app-card [titulo]="'Parámetros'">
  <section card-body>
    <form class="row g-4" [formGroup]="formularioFiltros">
      <!-- Fecha Desde -->
      <div class="col-12 col-md-6 col-lg-3">
        <label class="form-label fw-semibold">Fecha desde</label>
        <input
          type="date"
          formControlName="fecha_desde"
          class="form-control"
          placeholder="Seleccione fecha inicial"
        />
      </div>

      <!-- Fecha Hasta -->
      <div class="col-12 col-md-6 col-lg-3">
        <label class="form-label fw-semibold">Fecha hasta</label>
        <input
          type="date"
          formControlName="fecha_hasta"
          class="form-control"
          placeholder="Seleccione fecha final"
        />
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <label class="form-label">Cuenta desde</label>
        <app-comun-cuentas
          [iniciarFocusInputBusqueda]="false"
          [style]="'height: 3.4rem;'"
          [cuentaCodigo]="cuentaDesdeCodigo()"
          [cuentaNombre]="cuentaDesdeNombre()"
          (emitirArrCuentas)="agregarCuentaDesdeSeleccionado($event)"
        ></app-comun-cuentas>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <label class="form-label">Cuenta hasta</label>
        <app-comun-cuentas
          [iniciarFocusInputBusqueda]="false"
          [style]="'height: 3.4rem;'"
          [cuentaCodigo]="cuentaHastaCodigo()"
          [cuentaNombre]="cuentaHastaNombre()"
          (emitirArrCuentas)="agregarCuentaHastaSeleccionado($event)"
        ></app-comun-cuentas>
      </div>

      <!-- Checkboxes -->
      <div class="col-12 col-md-6 d-flex flex-column justify-content-end">
        <div class="form-check form-check-custom form-check-solid mb-3">
          <input
            class="form-check-input"
            type="checkbox"
            id="incluirCierre"
            formControlName="incluir_cierre"
          />
          <label class="form-check-label fw-semibold" for="incluirCierre">
            Incluir cierre
          </label>
        </div>
        <div class="form-check form-check-custom form-check-solid">
          <input
            class="form-check-input"
            type="checkbox"
            id="cuentaMovimiento"
            formControlName="cuenta_con_movimiento"
          />
          <label class="form-check-label fw-semibold" for="cuentaMovimiento">
            Solo cuentas con movimiento
          </label>
        </div>
      </div>
    </form>
  </section>
</app-card>
<app-card [titulo]="'MENU.FUNCIONALIDAD.BASE'">
  <section card-body>
    <div class="d-flex justify-content-end mb-2">
      <div class="btn-group btn-sm shadow-sm">
        <app-comun-btn-exportar (emitirExportarExcel)="descargarExcel()" />
        <button
          type="submit"
          class="btn btn-sm btn-primary"
          #btnGuardar
          (click)="generar()"
          [disabled]="cargandoCuentas()"
        >
          @if (cargandoCuentas()) {
            <div class="spinner-border spinner-border-sm mx-4" role="status">
              <span class="sr-only">Generando...</span>
            </div>
          } @else {
            Generar
          }
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table
        class="table table-hover table-bordered table-rounded border gy-2 gs-2"
      >
        <thead>
          <tr class="text-gray-800 bg-gray-100">
            <th class="text-center" translate="LISTAS.CONMOVIENTO.ID"></th>
            <th
              class="text-center"
              translate="LISTAS.CONMOVIENTO.COMPROBANTE_NOMBRE"
            ></th>
            <th class="text-center" translate="LISTAS.CONMOVIENTO.NUMERO"></th>
            <th class="text-center" translate="LISTAS.CONMOVIENTO.FECHA"></th>
            <th
              class="text-center"
              translate="LISTAS.CONMOVIENTO.CUENTA_CODIGO"
            ></th>
            <th
              class="text-center"
              translate="LISTAS.CONMOVIENTO.CUENTA_NOMBRE"
            ></th>
            <th
              class="text-center"
              translate="LISTAS.CONMOVIENTO.CONTACTO_ID"
            ></th>
            <th
              class="text-center"
              translate="LISTAS.CONMOVIENTO.CONTACTO_NUMERO_IDENTIFICACION"
            ></th>
            <th
              class="text-center"
              translate="LISTAS.CONMOVIENTO.CONTACTO_NOMBRE_CORTO"
            ></th>
            <th class="text-center" translate="LISTAS.CONMOVIENTO.DEBITO"></th>
            <th class="text-center" translate="LISTAS.CONMOVIENTO.CREDITO"></th>
            <th class="text-center" translate="LISTAS.CONMOVIENTO.BASE"></th>
            <th class="text-center" translate="LISTAS.CONMOVIENTO.DETALLE"></th>
          </tr>
        </thead>
        <tbody>
          @for (item of cuentasAgrupadas; track $index) {
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.comprobante_nombre }}</td>
              <td>{{ item.numero }}</td>
              <td>{{ item.fecha }}</td>
              <td>{{ item.cuenta_codigo }}</td>
              <td>{{ item.cuenta_nombre }}</td>
              <td>{{ item.contacto_id }}</td>
              <td>{{ item.contacto_numero_identificacion }}</td>
              <td>{{ item.contacto_nombre_corto }}</td>
              <td class="text-end">{{ item.debito | currency: "$" }}</td>
              <td class="text-end">{{ item.credito | currency: "$" }}</td>
              <td class="text-end">{{ item.base | currency: "$" }}</td>
              <td>{{ item.detalle }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </section>
</app-card>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
