@if(documento.estado_electronico){ @if(visualizarBtnAbrirModal){
<button
  type="submit"
  class="btn btn-sm btn-primary w-100 text-nowrap"
  (click)="abrirModal(content)"
>
  {{ textoBtnOpenModal }}
</button>
} } @else{
<button type="button" class="btn btn-sm btn-primary w-100" (click)="emitir()">
  {{ "FORMULARIOS.BOTONES.COMUNES.EMITIR" | translate }}
</button>
}
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ evento_id }} {{ tituloModal }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <form [formGroup]="formularioModal" (ngSubmit)="formSubmit()">
    <div class="modal-body">
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.NOMBRE"
          ></label>
          <input
            formControlName="nombre"
            class="form-control"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioModal.controls['nombre'].touched &&
                formularioModal.controls['nombre'].invalid,
              'is-valid':
                formularioModal.controls['nombre'].touched &&
                formularioModal.controls['nombre'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioModal.controls['nombre']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.APELLIDOS"
          ></label>
          <input
            formControlName="apellido"
            class="form-control"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioModal.controls['apellido'].touched &&
                formularioModal.controls['apellido'].invalid,
              'is-valid':
                formularioModal.controls['apellido'].touched &&
                formularioModal.controls['apellido'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioModal.controls['apellido']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.IDENTIFICACIONTIPO"
            class="form-label required"
          ></label>
          <select
            class="form-select"
            formControlName="identificacion"
            [ngClass]="{
              'is-invalid':
                formularioModal.controls['identificacion'].touched &&
                formularioModal.controls['identificacion'].invalid,
              'is-valid':
                formularioModal.controls['identificacion'].touched &&
                formularioModal.controls['identificacion'].valid
            }"
          >
            <option value="">Seleccionar...</option>
            <option
              *ngFor="let identificacion of arrIdentificacion"
              [value]="identificacion.identificacion_id"
            >
              {{ identificacion.identificacion_nombre }}
            </option>
          </select>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioModal.controls['identificacion']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.NUMEROIDENTIFICACION"
            class="form-label required"
          ></label>
          <input
            formControlName="numero_identificacion"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            appSoloNumeros
            [ngClass]="{
              'is-invalid':
                formularioModal.controls['numero_identificacion'].touched &&
                formularioModal.controls['numero_identificacion'].invalid,
              'is-valid':
                formularioModal.controls['numero_identificacion'].touched &&
                formularioModal.controls['numero_identificacion'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioModal.controls['numero_identificacion']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '20',
              control: formularioModal.controls['numero_identificacion']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioModal.controls['numero_identificacion']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.GENERAL.CONTRATO.CARGO"
          ></label>
          <input
            formControlName="cargo"
            class="form-control"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioModal.controls['cargo'].touched &&
                formularioModal.controls['cargo'].invalid,
              'is-valid':
                formularioModal.controls['cargo'].touched &&
                formularioModal.controls['cargo'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioModal.controls['cargo']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.AREA"
          ></label>
          <input
            formControlName="area"
            class="form-control"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioModal.controls['area'].touched &&
                formularioModal.controls['area'].invalid,
              'is-valid':
                formularioModal.controls['area'].touched &&
                formularioModal.controls['area'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioModal.controls['area']
            }"
          ></ng-container>
        </div>
      </div>
      <ng-template
        #formError
        let-control="control"
        let-message="message"
        let-validation="validation"
        let-cantidadCaracteres="cantidadCaracteres"
      >
        <ng-container
          *ngIf="
            control.hasError(validation) && (control.dirty || control.touched)
          "
        >
          <div class="fv-plugins-message-container">
            <div class="fv-help-block">
              <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
    <div class="modal-footer d-flex justify-content-between">
      <div>
        <section>
          <div role="alert">
            <p class="mb-0">
              * Para evitar ingresar esta información en cada evento, puedes
              editarla
            </p>
            <p class="mb-0">directamente en tu perfil.</p>
          </div>
        </section>
      </div>
      <div>
        @if (visualizarBtnCargando$ | async) {
        <button
          class="btn btn-sm btn-bg-primary btn-color-white"
          type="button"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm me-1"
            aria-hidden="true"
          ></span>
          <span role="status" translate="LISTAS.COMUNES.CARGANDO"></span>
        </button>
        } @else {
        <button type="submit" class="btn btn-sm btn-primary">
          {{ textoBtnGuardarFormulario }}
        </button>
        }
      </div>
    </div>
  </form>
</ng-template>
