<div [formGroup]="formularioFactura">
  <!-- <pre>{{ formularioFactura.value | json }}</pre> -->
  @if (!estadoAprobado()) {
    <div class="d-flex justify-content-end mb-2">
      <div class="btn-group btn-sm shadow-sm">
        <button
          (click)="agregarNuevoItem('C')"
          class="btn btn-sm btn-primary"
          type="button"
          translate="FORMULARIOS.TITULOS.FACTURACION.AGREGARCUENTA"
        ></button>
      </div>
    </div>
  }
  <div class="table-responsive-sm">
    <table id="tableDetalles" class="table table-bordered table-sm">
      <thead>
        <tr class="bg-gray-100">
          <th class="w-40px">Id</th>
          <th translate="FORMULARIOS.TITULOS.FACTURACION.CUENTA"></th>
          <th
            class="w-100px"
            translate="FORMULARIOS.TITULOS.FACTURACION.GRUPO"
          ></th>
          <th
            class="w-100px"
            translate="FORMULARIOS.TITULOS.FACTURACION.CONTACTO"
          ></th>
          <th
            class="w-50px"
            translate="FORMULARIOS.TITULOS.FACTURACION.NATURALEZA"
          ></th>
          <th
            class="w-100px"
            translate="FORMULARIOS.TITULOS.FACTURACION.VALOR"
          ></th>
          <th
            class="w-100px"
            translate="FORMULARIOS.TITULOS.FACTURACION.BASE"
          ></th>
          <th
            class="w-100px"
            translate="FORMULARIOS.TITULOS.FACTURACION.SUBTOTAL1"
          ></th>

          <th
            class="w-100px"
            translate="FORMULARIOS.TITULOS.FACTURACION.NETO"
          ></th>
          <th class="w-100px text-center" *ngIf="!estadoAprobado()"></th>
        </tr>
      </thead>
      <tbody formArrayName="detalles">
        <ng-container
          *ngFor="let detalle of detalles.controls; let i = index"
          [formGroupName]="i"
        >
          @if (detalle.value.tipo_registro === "C") {
            <tr>
              <td class="w-40px">{{ detalle.value.id }}</td>
              <td class="">
                <app-comun-cuentas
                  [cuentaCodigo]="detalle.value.cuenta_codigo"
                  [cuentaNombre]="detalle.value.cuenta_nombre"
                  [campoInvalido]="
                    detalle.get('cuenta')?.touched &&
                    detalle.get('cuenta')?.hasError('required')
                  "
                  (emitirArrCuentas)="recibirCuentaSeleccionada($event, i)"
                ></app-comun-cuentas>
              </td>
              <td>
                <app-seleccionar-grupo
                  (selectChange)="onSeleccionarGrupoChange($event, i)"
                  [valorInicial]="detalle.value.grupo"
                ></app-seleccionar-grupo>
              </td>
              <td>
                <app-seleccionar-contacto
                  [itemNombre]="detalle.get('contacto_nombre')?.value"
                  [estadoAprobado]="estadoAprobado()"
                  [campoInvalido]="
                    detalle.get('contacto')?.touched &&
                    detalle.get('contacto')?.hasError('required')
                  "
                  (emitirItemSeleccionado)="
                    recibirContactoSeleccionado($event, i)
                  "
                  (emitirLineaVacia)="recibirContactoSeleccionado($event, i)"
                ></app-seleccionar-contacto>
              </td>
              <td>
                <select
                  formControlName="naturaleza"
                  class="form-select form-select-sm"
                  (focus)="onNaturalezaChange(i)"
                >
                  <option value="D">Débito</option>
                  <option value="C">Crédito</option>
                </select>
              </td>
              <td>
                <input
                  type="number"
                  formControlName="precio"
                  (focus)="onPrecioChange(i)"
                  [attr.disabled]="estadoAprobado()"
                  [readonly]="estadoAprobado()"
                  class="form-control-sm"
                  [ngClass]="{
                    'disabled-cursor bg-transparent': estadoAprobado(),
                    'text-white': themeValue === 'dark' && estadoAprobado(),
                    'is-invalid':
                      detalle.get('precio')?.touched &&
                      detalle.get('precio')?.hasError('valorCero'),
                  }"
                  rows="1"
                  spellcheck="true"
                  appSoloNumeros
                />
                <div
                  *ngIf="
                    (detalle.get('precio')?.touched &&
                      detalle.get('precio')?.hasError('valorCero')) ||
                    detalle.get('precio')?.invalid
                  "
                >
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <span role="alert"> Valor no permitido. </span>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <input
                  type="number"
                  formControlName="base"
                  (focus)="onBaseImpuestoChange(i)"
                  [attr.disabled]="estadoAprobado()"
                  [readonly]="estadoAprobado()"
                  class="form-control-sm"
                  [ngClass]="{
                    'disabled-cursor bg-transparent': estadoAprobado(),
                    'text-white': themeValue === 'dark' && estadoAprobado(),
                    'is-invalid':
                      detalle.get('base')?.touched &&
                      detalle.get('base')?.hasError('valorCero'),
                  }"
                  rows="1"
                  spellcheck="true"
                  appSoloNumeros
                />
                <div
                  *ngIf="
                    (detalle.get('base')?.touched &&
                      detalle.get('base')?.hasError('valorCero')) ||
                    detalle.get('base')?.invalid
                  "
                >
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <span role="alert"> Valor no permitido. </span>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <input
                  class="form-control form-control-sm"
                  disabled
                  rows="1"
                  spellcheck="true"
                  class="disabled-cursor bg-transparent"
                  class="form-control-sm"
                  [ngClass]="{
                    'disabled-cursor bg-transparent': estadoAprobado(),
                    'text-white bg-transparent': themeValue === 'dark',
                  }"
                  readonly
                  [value]="detalle.value.subtotal"
                />
              </td>

              <td>
                <input
                  readonly
                  disabled
                  rows="1"
                  spellcheck="true"
                  class="disabled-cursor"
                  class="form-control-sm"
                  [ngClass]="{
                    'bg-transparent': estadoAprobado(),
                    'text-white': themeValue === 'dark' && estadoAprobado(),
                  }"
                  [value]="detalle.value.total"
                />
              </td>
              <td class="text-center" *ngIf="!estadoAprobado()">
                <i
                  class="bi bi-trash fs-2x align-self-center cursor-pointer user-select-none text-hover-danger"
                  (click)="eliminarItem(i)"
                ></i>
              </td>
            </tr>
          }
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
