<div class="container-grid">
  <div class="filtros">
    <ng-content select="[base-filtros]"></ng-content>
    <app-card [titulo]="'FORMULARIOS.TITULOS.COMUNES.FILTRO'">
      <section card-body>
        <app-base-filtro
          [propiedades]="arrPropiedades"
          (emitirFiltros)="obtenerFiltros($event)"
        ></app-base-filtro>
      </section>
    </app-card>
  </div>
  <div class="acciones">
    <ng-content select="[base-acciones]"></ng-content>
    <a
      (click)="navegarNuevo()"
      class="btn btn-sm btn-primary"
      translate="FORMULARIOS.BOTONES.COMUNES.NUEVO"
    ></a>
    <button
      type="submit"
      class="btn btn-info btn-sm"
      #btnGuardar
      translate="FORMULARIOS.BOTONES.COMUNES.EXCEL"
      (click)="descargarExcel()"
    ></button>
  </div>
  <div class="tabla">
    <app-card [titulo]="'MENU.FUNCIONALIDAD.' + (modelo | uppercase)">
      <section card-body>
        <app-comun-tabla
          [datos]="arrItems"
          [encabezado]="arrPropiedades"
          [cantidad_registros]="cantidad_registros"
          (emitirDesplazamiento)="cambiarDesplazamiento($event)"
          (emitirOrdenamiento)="cambiarOrdemiento($event)"
          (emitirPaginacion)="cambiarPaginacion($event)"
          (emitirRegistraEliminar)="eliminarRegistros($event)"
          (itemDetalle)="navegarDetalle($event)"
        >
        </app-comun-tabla>
      </section>
    </app-card>
  </div>
</div>
