<div class="container-grid">
  <div class="filtros">
    <ng-content select="[base-filtros]"></ng-content>
  </div>
  <div class="acciones">
    <ng-content select="[base-acciones]"></ng-content>
    <a
      [routerLink]="['../nuevo']"
      class="btn btn-sm btn-primary"
      translate="FORMULARIOS.BOTONES.COMUNES.NUEVO"
    ></a>
  </div>
  <div class="tabla">
    <ng-content select="[base-tabla]"></ng-content>
  </div>
</div>

<ng-template #dialogTemplate>
  <div class="card shadow-sm">
    <div class="modal-header">
      <h3 class="card-title">Añadir filtro personalizado</h3>
      <button
        type="button"
        class="btn btn-bg-light btn-color-danger"
        aria-label="Close"
        (click)="cerrarModal()"
      >
        <i class="bi bi-x fs-3x"></i>
      </button>
    </div>
    <div class="card-body">
      <div class="d-flex align-items-stretch">
        <select name="asd" id="" class="form-control form-control-sm">
          <option value="">string</option>
          <option value="">string</option>
          <option value="">string</option>
          <option value="">string</option>
        </select>

        <select name="qwe" id="" class="form-control form-control-sm">
          <option value="">IGual</option>
          <option value="">No es igual</option>
          <option value="">Contine</option>
          <option value="">No contiene</option>
        </select>

        <input
          class="form-control form-control-sm"
          type="text"
          placeholder="Buscar..."
        />
        <i
          class="bi bi bi-plus-lg fs-2x align-self-center cursor-pointer user-select-none"
        ></i>
        <i
          class="bi bi-trash fs-2x align-self-center  cursor-pointer user-select-none"
        ></i>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button
        translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
        type="submit"
        class="btn btn-primary"
      ></button>
    </div>
  </div>
</ng-template>
