/* Estilos personalizados para el encabezado del panel */
.custom-header {
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .custom-header button:hover {
    text-decoration: underline;
  }
  
  .custom-header .collapsed {
    border-radius: 5px;
  }
  
  /* Estilos personalizados para el contenido del panel */
  .custom-content {
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .custom-content p {
    margin: 0;
  }
  
  /* Ajuste de márgenes para el valor total */
  .custom-content .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .custom-content .text-end {
    margin-left: 10px;
  }
  