<div class="card card-flush pt-3 mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card title-->
    <div class="flex-column card-title">
      <h2 translate="FORMULARIOS.TITULOS.COMUNES.FACTURACION" class="mb-1"></h2>
      <!-- <div translate="FORMULARIOS.TITULOS.FACTURACION.TEXTOAYUDA1" class="fs-6 fw-semibold text-muted">
      </div> -->
    </div>

    <!--begin::Card title-->
    <!--begin::Card toolbar-->
    <!-- <div class="card-toolbar">
      <a
        class="btn btn-link mx-2"
        translate="FORMULARIOS.TITULOS.FACTURACION.COMOFUNCIONA"
      ></a>
      <a
        class="btn btn-light-primary"
        translate="FORMULARIOS.TITULOS.FACTURACION.REALIZARPAGO"
      ></a>
    </div> -->
    <!--end::Card toolbar-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body pt-3">
    <!--begin::Section-->
    <div class="mb-10 p-5 border">
      <!--begin::Title-->
      <h5
        class="mb-4"
        translate="FORMULARIOS.TITULOS.FACTURACION.ESTIMADO"
      ></h5>
      <span
        class="text-gray-400 min-w-175px w-175px"
        translate="FORMULARIOS.TITULOS.FACTURACION.TEXTOAYUDA2"
      ></span>
      <p class="fs-2 mb-10">{{ consumo.vr_total | currency: 'COP' }}</p>
      <!--begin::Section-->
      <div class="mb-0">
        <!--begin::Title-->
        <h5 class="mb-4" translate="FORMULARIOS.TITULOS.FACTURACION.PRODUCTOSSUSCRITOS"></h5>
        <!--end::Title-->
        <div class="row">
          <div class="col">
            <p translate="FORMULARIOS.TITULOS.FACTURACION.FECHAPAGO">
              <i class="ki-outline ki-information-2"></i>
            </p>
          </div> 
          <div class="col">
            <p translate="FORMULARIOS.TITULOS.FACTURACION.PAGOSANTICIPADOS">
              <i class="ki-outline ki-information-2"></i>
            </p>
          </div>
          <div class="col">
            <p translate="FORMULARIOS.TITULOS.FACTURACION.TOTALUSO">
              <i class="ki-outline ki-information-2"></i>
            </p>
            <span>{{ consumo.vr_total | currency: 'COP' }}</span>
          </div>
          <div class="col">
            <p translate="FORMULARIOS.TITULOS.FACTURACION.PLAN">
              <i class="ki-outline ki-information-2"></i>
            </p>
            <span>{{ consumo.vr_plan | currency: 'COP' }}</span>
          </div>
        </div>
      </div>
      <!--end::Section-->
      <!--end::Title-->
    </div>

    <div class="mb-10 border">
      <div class="p-5 d-flex justify-content-between">
        <div class="flex-column">
          <h2 class="mb-1">Planes</h2>
          <!-- <div class="fs-6 fw-semibold text-muted">
            Keep your account extra secure with a second authentication step.
          </div> -->
        </div>
        <!-- <div>
          <a
            href="#"
            class="btn btn-link btn-color-muted btn-active-color-primary me-5 mb-2"
            >PDF</a
          >

          <a
            href="#"
            class="btn btn-link btn-color-muted btn-active-color-primary me-5 mb-2"
            >Excel</a
          >
        </div> -->
      </div> 
      <ngb-accordion #a="ngbAccordion">
        <ng-container *ngFor="let consumoPlan of consumo.consumosPlan">
          <ngb-panel [id]="'custom-panel-' + consumoPlan.plan_id">
            <ng-template ngbPanelHeader let-opened="opened">
              <div class="accordion-button" [class.collapsed]="!opened">
                <button ngbPanelToggle class="p-0 btn btn-link container-fluid text-start ps-0">
                   {{ consumoPlan.plan_nombre }}
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="custom-content">
                <p class="mb-2">{{ consumoPlan.plan_nombre }}</p>
                <p class="m-0 text-end">{{ consumoPlan.vr_total | currency: 'COP' }}</p>
              </div>
            </ng-template>
          </ngb-panel>
        </ng-container>
      </ngb-accordion>
      <div class="p-5 text-end">Total: {{ consumo.vr_total | currency: 'COP' }}</div>
    </div>
    <!--end::Section-->
  </div>
  <!--end::Card body-->
</div>
