<div>
  <app-base-filtro
    (emitirFiltros)="obtenerFiltrosContratos($event)"
    [_tipo]="'DOCUMENTO'"
  ></app-base-filtro>
</div>
<div class="d-flex justify-content-between my-4">
  <app-comun-paginador
    [cantidadRegistros]="cantidadRegistros()"
    (emitirDesplazamiento)="cambiarDesplazamiento($event)"
    (emitirPaginacion)="cambiarPaginacion($event)"
  ></app-comun-paginador>
  <div class="btn-group" role="group">
    <div class="btn-group" ngbDropdown #OpcionesDropdown="ngbDropdown">
      <button
        type="button"
        class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-primary btn-text-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{ "FORMULARIOS.BOTONES.COMUNES.EXCEL" | translate }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button (click)="descargarExcelDetalle()" ngbDropdownItem>
          {{ "FORMULARIOS.BOTONES.COMUNES.DETALLE" | translate }}
        </button>
        <butto (click)="descargarExcelNomina()" ngbDropdownItem>
          {{ "FORMULARIOS.BOTONES.COMUNES.NOMINA" | translate }}
        </butto>
        <button (click)="descargarExcelNominaDetalle()" ngbDropdownItem>
          {{ "FORMULARIOS.BOTONES.COMUNES.NOMINADETALLE" | translate }}
        </button>
      </div>
    </div>

    <button
      type="button"
      [disabled]="programacion.estado_generado || cargandoContratos()"
      (click)="cargarContratos()"
      class="btn btn-sm btn-primary"
    >
      @if (cargandoContratos()) {
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
      Cargando... } @else {
      {{ "FORMULARIOS.BOTONES.COMUNES.CARGARCONTRATOS" | translate }}
      }
    </button>

    <button
      type="button"
      [disabled]="programacion.estado_generado"
      (click)="eliminarRegistros()"
      class="btn btn-sm btn-danger"
      translate="FORMULARIOS.BOTONES.COMUNES.ELIMINAR"
    ></button>
  </div>
</div>

@switch (programacion.pago_tipo_id) { @case (2) {
<app-tabla-encabezado-prima
  [programacion]="programacion"
></app-tabla-encabezado-prima>
} @case (3) {
<app-tabla-encabezado-cesantia
  [programacion]="programacion"
></app-tabla-encabezado-cesantia>
} @default {
<app-tabla-encabezado-general
  [programacion]="programacion"
></app-tabla-encabezado-general>
} }
