
.container-grid {
  display: grid;
  gap: 20px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "ayuda ."
    "botonera estados"
    "detalle detalle"
    "tap tap";
}

.ubicacion { grid-area: ubicacion }

.estados{
  grid-area: estados;
  display: flex;
  justify-items: end;
  flex-direction: row-reverse;
}

.botonera { grid-area: botonera }

.detalle { grid-area: detalle }

.tap { grid-area: tap}
