<form [formGroup]="formularioResolucion" (ngSubmit)="enviarFormulario()">
  <div class="d-flex mb-5 justify-content-between align-items-center">
    <div
      class="btn-group btn-sm shadow-sm"
      role="group"
      aria-label="Basic example"
    >
      <app-comun-btn-atras *ngIf="!ocultarBtnAtras" />
      <button
        type="submit"
        class="btn btn-primary btn-sm"
        #btnGuardar
        translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
      ></button>
    </div>
  </div>
  <app-card>
    <section card-titulo>
      <ng-container *ngIf="tituliFijo; else tituliNoFijo">
        {{ "FORMULARIOS.BOTONES.COMUNES.NUEVO" | translate | titlecase }}
        {{ "MENU.FUNCIONALIDAD.RESOLUCION" | translate | lowercase }}
      </ng-container>
      <ng-template #tituliNoFijo>
        <ng-container *ngIf="accion === 'nuevo'; else tituloDetalle">
          {{ "FORMULARIOS.BOTONES.COMUNES.NUEVO" | translate | titlecase }}
          {{
            "MENU.FUNCIONALIDAD." + (modelo | uppercase) | translate | lowercase
          }}
        </ng-container>
        <ng-template #tituloDetalle>
          {{ "FORMULARIOS.BOTONES.COMUNES.EDITAR" | translate | titlecase }}
          {{
            "MENU.FUNCIONALIDAD." + (modelo | uppercase) | translate | lowercase
          }}
          {{ detalle }}
        </ng-template>
      </ng-template>
    </section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.RESOLUCION.PREFIJO"
            class="form-label required"
          ></label>
          <input
            formControlName="prefijo"
            class="form-control bg-transparent"
            type="email"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioResolucion.controls['prefijo'].touched &&
                formularioResolucion.controls['prefijo'].invalid,
              'is-valid':
                formularioResolucion.controls['prefijo'].touched &&
                formularioResolucion.controls['prefijo'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioResolucion.controls['prefijo']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '10',
              control: formularioResolucion.controls['prefijo']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.NUMERO"
            class="form-label required"
          ></label>
          <input
            formControlName="numero"
            class="form-control bg-transparent"
            type="email"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioResolucion.controls['numero'].touched &&
                formularioResolucion.controls['numero'].invalid,
              'is-valid':
                formularioResolucion.controls['numero'].touched &&
                formularioResolucion.controls['numero'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioResolucion.controls['numero']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioResolucion.controls['numero']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioResolucion.controls['numero']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.RESOLUCION.CONSECUTIVODESDE"
            class="form-label required"
          ></label>
          <input
            formControlName="consecutivo_desde"
            class="form-control bg-transparent"
            type="number"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioResolucion.controls['consecutivo_desde'].touched &&
                formularioResolucion.controls['consecutivo_desde'].invalid,
              'is-valid':
                formularioResolucion.controls['consecutivo_desde'].touched &&
                formularioResolucion.controls['consecutivo_desde'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioResolucion.controls['consecutivo_desde']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioResolucion.controls['consecutivo_desde']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.RESOLUCION.CONSECUTIVOHASTA"
            class="form-label required"
          ></label>
          <input
            formControlName="consecutivo_hasta"
            class="form-control bg-transparent"
            type="number"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioResolucion.controls['consecutivo_hasta'].touched &&
                formularioResolucion.controls['consecutivo_hasta'].invalid,
              'is-valid':
                formularioResolucion.controls['consecutivo_hasta'].touched &&
                formularioResolucion.controls['consecutivo_hasta'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioResolucion.controls['consecutivo_hasta']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioResolucion.controls['consecutivo_hasta']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioResolucion.controls['consecutivo_hasta']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.FECHADESDE"
            class="form-label required"
          ></label>
          <input
            #fechaDesde
            formControlName="fecha_desde"
            class="form-control bg-transparent"
            type="date"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioResolucion.controls['fecha_desde'].touched &&
                formularioResolucion.controls['fecha_desde'].invalid,
              'is-valid':
                formularioResolucion.controls['fecha_desde'].touched &&
                formularioResolucion.controls['fecha_desde'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioResolucion.controls['fecha_desde']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioResolucion.controls['fecha_desde']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioResolucion.controls['fecha_desde']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.COMUNES.FECHAHASTA"
            class="form-label required"
          ></label>
          <input
            formControlName="fecha_hasta"
            class="form-control bg-transparent"
            type="date"
            [min]="fechaDesde.value"
            [ngClass]="{
              'is-invalid':
                formularioResolucion.controls['fecha_hasta'].touched &&
                formularioResolucion.controls['fecha_hasta'].invalid,
              'is-valid':
                formularioResolucion.controls['fecha_hasta'].touched &&
                formularioResolucion.controls['fecha_hasta'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioResolucion.controls['fecha_hasta']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioResolucion.controls['fecha_hasta']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioResolucion.controls['fecha_hasta']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.RESOLUCION.AMBIENTE"
            class="form-label required"
          ></label>
          <select
            class="form-select"
            formControlName="ambiente"
            [ngClass]="{
              'is-invalid':
                formularioResolucion.controls['ambiente'].touched &&
                formularioResolucion.controls['ambiente'].invalid,
              'is-valid':
                formularioResolucion.controls['ambiente'].touched &&
                formularioResolucion.controls['ambiente'].valid
            }"
          >
            <option value="">
              {{ "FORMULARIOS.CAMPOS.COMUNES.SELECCIONAR" | translate }}
            </option>
            <option
              value="2"
              [selected]="2 === formularioResolucion.value.plazo_pago_id"
            >
              {{ "FORMULARIOS.CAMPOS.GENERAL.RESOLUCION.PRUEBA" | translate }}
            </option>
            <option
              value="1"
              [selected]="1 === formularioResolucion.value.plazo_pago_id"
            >
              {{
                "FORMULARIOS.CAMPOS.GENERAL.RESOLUCION.PRODUCCION" | translate
              }}
            </option>
          </select>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioResolucion.controls['ambiente']
            }"
          ></ng-container>
        </div>
      </div>
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
