/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
// Replace above style with this css file to enable RTL styles
// @import "./assets/css/style.rtl";
@import "./assets/sass/plugins.scss";
// @import "./assets/css/style.rtl.css";
@import "./assets/sass/style.angular.scss";

// Keenicons - High quality and pixel perfect font icons available in 3 styles, duotone, outline and solid for Metronic elements
@import "./assets/plugins/keenicons/duotone/style.css";
@import "./assets/plugins/keenicons/outline/style.css";
@import "./assets/plugins/keenicons/solid/style.css";

.h-100px {
  height: 100px;
}

.input-wrapper {
  position: relative;
  display: flex;

  input {
    padding-right: 75px !important; /* Ajusta el espaciado derecho para el ícono */
    box-sizing: border-box;
  }

  i {
    font-size: 1.4rem;
    position: absolute;
    right: 12px; /* Ajusta la posición horizontal del ícono */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
  }

  input[type="password"].form-control.is-invalid {
    background-position: right calc(0.375em + 2.5rem) center;
  }

  input[type="password"].form-control.is-valid {
    background-position: right calc(0.375em + 2.5rem) center;
  }

  input[type="text"].form-control.is-invalid {
    background-position: right calc(0.375em + 2.5rem) center;
  }

  input[type="text"].form-control.is-valid {
    background-position: right calc(0.375em + 2.5rem) center;
  }
}

table {
  thead {
    font-weight: bold;
  }
  tbody {
    input.sinBorder {
      border-width: 0px;
      padding: 0px;
      resize: none;
      width: 100%;
      text-align: center;
      box-sizing: border-box;

      &:hover {
        background-color: #f9f9f9;
      }

      &:focus {
        outline: none;
        background-color: #f9f9f9;
      }
    }
  }
}

.position-relative input[type="text"].form-control.is-invalid {
  background-position: right calc(0.375em + 2.5rem) center;
}

.position-relative input[type="text"].form-control.is-valid {
  background-position: right calc(0.375em + 2.5rem) center;
}

.bg-gray-100 {
  background-color: var(--bs-gray-100) !important;
}

.my-overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: #f2f3f8 !important;
  color: #5e6278;
  cursor: pointer !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait !important;
  overflow: hidden !important;
}

.my-overlay i.fa.fa-spinner.fa-spin,
.spinner-big {
  font-size: 100px !important;
}

table {
  .ki-duotone,
  .ki-outline,
  .ki-solid,
  .fa-regular,
  .fa-solid {
    font-size: 1.8rem;
    width: 20.484px;
    height: 23.406px;
  }
}
