<div class="container-fluid" style="--bs-gutter-x: 0">
  @switch (ruta) { @case ('compra') {
  <app-inicio-compra></app-inicio-compra>
  } @case ('venta') {
  <app-inicio-venta></app-inicio-venta>
  } @case ('contabilidad') {
  <app-inicio-contabilidad></app-inicio-contabilidad>
  } @case ('cartera') {
  <app-inicio-cartera></app-inicio-cartera>
  } @case ('humano') {
  <app-inicio-humano></app-inicio-humano>
  } @case ('inventario') {
  <app-inicio-inventario></app-inicio-inventario>
  } @case ('tesoreria') {
  <app-inicio-tesoreria></app-inicio-tesoreria>
  } @case ('general') {

  <div class="row">
    <div class="col-12 col-xxl-6">
      @if(asistente_electronico === false ){
      <app-card [visualizarTitulo]="false">
        <section card-body>
          <div
            class="d-flex justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0"
            style="
              background-position: 100% 50%;
              background-image: url('../../../../assets/media/stock/900x600/42.png');
            "
          >
            <!--begin::Illustration-->
            <img
              class="mx-auto theme-light-show p-0 mx-2 d-none d-sm-block"
              src="../../../assets/media/illustrations/sigma-1/4.png"
              alt=""
              height="250"
              width="250"
            />
            <img
              class="mx-auto h-150px h-lg-200px theme-dark-show d-none d-sm-block"
              src="../../../assets/media/illustrations/sigma-1/4-dark.png"
              alt=""
            />
            <!--end::Illustration-->
            <!--begin::Wrapper-->
            <div
              class="flex-grow-1 mx-2 justify-content-center align-self-center"
            >
              <!--begin::Title-->
              <div class="fs-2hx fw-bold text-gray-800">
                <span> Facturación electrónica</span>
                <br />
                <span class="fw-semibold text-gray-600 fs-6 mb-8 d-block">
                  Completa la información de tu empresa y empieza a facturar
                  electrónicamente
                </span>
                <button
                  class="btn btn-light-success"
                  [routerLink]="['/empresa/configuracion_inicial']"
                >
                  COMPLETAR
                </button>
                <button
                  class="btn btn-light-danger ms-2"
                  placement="end"
                  (click)="finalizarProceso()"
                  ngbTooltip="Omitir este paso hará que tenga que agregar la configuración de forma manual para asegurar un funcionamiento óptimo. Si necesita ayuda, no dude en contactarnos. ¡Estamos aquí para apoyarle!"
                >
                  Omitir
                </button>
              </div>
              <!--end::Title-->
            </div>
            <!--begin::Wrapper-->
          </div>
        </section>
      </app-card>
      }
    </div>
    <div class="col-12 col-xxl-6">
      @if(asistente_predeterminado === false ){
      <app-card [visualizarTitulo]="false">
        <section card-body>
          <div
            class="d-flex justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0"
            style="
              background-position: 100% 50%;
              background-image: url('../../../../assets/media/stock/900x600/42.png');
            "
          >
            <!--begin::Illustration-->
            <img
              class="img-fluid theme-light-show p-0 mx-2 d-none d-sm-block"
              src="../../../assets/media/illustrations/sigma-1/9.png"
              alt=""
              height="250"
              width="250"
            />
            <img
              class="img-fluid h-150px h-lg-200px theme-dark-show d-none d-sm-block"
              src="../../../assets/media/illustrations/sigma-1/9-dark.png"
              alt=""
            />
            <div
              class="flex-grow-1 mx-2 justify-content-center align-self-center"
            >
              <div class="fs-2hx fw-bold text-gray-800">
                <span> Configuración rápida </span>
                <br />
                <span class="fw-semibold text-gray-600 fs-6 mb-8 d-block">
                  Establece los valores predeterminados y haz que el sistema
                  funcione al instante.
                </span>
                <button
                  class="btn btn-light-success"
                  (click)="configuracionRapida()"
                >
                  IMPLEMENTAR
                </button>
                <button
                  class="btn btn-light-danger ms-2"
                  placement="end"
                  (click)="finalizarProcesoPredeterminado()"
                  ngbTooltip="Omitir este paso hará que tenga que agregar la configuración de forma manual para asegurar un funcionamiento óptimo. Si necesita ayuda, no dude en contactarnos. ¡Estamos aquí para apoyarle!"
                >
                  Omitir
                </button>
              </div>
            </div>
          </div>
        </section>
      </app-card>
      }
    </div>
  </div>

  <app-inicio-general></app-inicio-general>
  } @case ('transporte') {
  <app-inicio-transporte></app-inicio-transporte>
  } @default {
  <div class="row">
    <div class="col-12 col-xxl-6">
      @if(asistente_electronico === false ){
      <app-card [visualizarTitulo]="false">
        <section card-body>
          <div
            class="d-flex justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0"
            style="
              background-position: 100% 50%;
              background-image: url('../../../../assets/media/stock/900x600/42.png');
            "
          >
            <!--begin::Illustration-->
            <img
              class="mx-auto theme-light-show p-0 mx-2 d-none d-sm-block"
              src="../../../assets/media/illustrations/sigma-1/4.png"
              alt=""
              height="250"
              width="250"
            />
            <img
              class="mx-auto h-150px h-lg-200px theme-dark-show d-none d-sm-block"
              src="../../../assets/media/illustrations/sigma-1/4-dark.png"
              alt=""
            />
            <!--end::Illustration-->
            <!--begin::Wrapper-->
            <div
              class="flex-grow-1 mx-2 justify-content-center align-self-center"
            >
              <!--begin::Title-->
              <div class="fs-2hx fw-bold text-gray-800">
                <span> Facturación electrónica</span>
                <br />
                <span class="fw-semibold text-gray-600 fs-6 mb-8 d-block">
                  Completa la información de tu empresa y empieza a facturar
                  electrónicamente
                </span>
                <button
                  class="btn btn-light-success"
                  [routerLink]="['/empresa/configuracion_inicial']"
                >
                  COMPLETAR
                </button>
                <button
                  class="btn btn-light-danger ms-2"
                  placement="end"
                  (click)="finalizarProceso()"
                  ngbTooltip="Omitir este paso hará que tenga que agregar la configuración de forma manual para asegurar un funcionamiento óptimo. Si necesita ayuda, no dude en contactarnos. ¡Estamos aquí para apoyarle!"
                >
                  Omitir
                </button>
              </div>
              <!--end::Title-->
            </div>
            <!--begin::Wrapper-->
          </div>
        </section>
      </app-card>
      }
    </div>
    <div class="col-12 col-xxl-6">
      @if(asistente_predeterminado === false ){
      <app-card [visualizarTitulo]="false">
        <section card-body>
          <div
            class="d-flex justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0"
            style="
              background-position: 100% 50%;
              background-image: url('../../../../assets/media/stock/900x600/42.png');
            "
          >
            <!--begin::Illustration-->
            <img
              class="img-fluid theme-light-show p-0 mx-2 d-none d-sm-block"
              src="../../../assets/media/illustrations/sigma-1/9.png"
              alt=""
              height="250"
              width="250"
            />
            <img
              class="img-fluid h-150px h-lg-200px theme-dark-show d-none d-sm-block"
              src="../../../assets/media/illustrations/sigma-1/9-dark.png"
              alt=""
            />
            <div
              class="flex-grow-1 mx-2 justify-content-center align-self-center"
            >
              <div class="fs-2hx fw-bold text-gray-800">
                <span> Configuración rápida </span>
                <br />
                <span class="fw-semibold text-gray-600 fs-6 mb-8 d-block">
                  Establece los valores predeterminados y haz que el sistema
                  funcione al instante.
                </span>
                <button
                  class="btn btn-light-success"
                  (click)="configuracionRapida()"
                >
                  IMPLEMENTAR
                </button>
                <button
                  class="btn btn-light-danger ms-2"
                  placement="end"
                  (click)="finalizarProcesoPredeterminado()"
                  ngbTooltip="Omitir este paso hará que tenga que agregar la configuración de forma manual para asegurar un funcionamiento óptimo. Si necesita ayuda, no dude en contactarnos. ¡Estamos aquí para apoyarle!"
                >
                  Omitir
                </button>
              </div>
            </div>
          </div>
        </section>
      </app-card>
      }
    </div>
  </div>
  <app-inicio-general></app-inicio-general>
  } }
</div>
<app-fake-load-full-screen
  [procesando]="visualizarFakeLoad()"
  [mensaje]="'MENSAJES.CARGANDOCONFIGURACIONINICIAL'"
></app-fake-load-full-screen>
