<form [formGroup]="formularioCierre" (ngSubmit)="formSubmit()">
  <app-comun-encabezado-formulario-nuevo
    [btnNuevoCargando]="guardando()"
    [btnNuevoDisabled]="cargandoTabla()"
    [estadoAprobado]="estado_aprobado"
  >
    @if (detalle) {
      <div class="btn-group btn-sm shadow-sm ms-2" btn-extras>
        <app-importar-detalles
          endpoint="general/documento/importar-detalle/"
          [archivoEjemplo]="{
            nombre: 'ejemplo_cierre',
            path: 'https://semantica.sfo3.digitaloceanspaces.com/renio/ejemplos/601.xlsx',
          }"
          [estadoHabilitado]="estado_aprobado"
          (emitirDetallesAgregados)="consultardetalle()"
        ></app-importar-detalles>
      </div>
    }
  </app-comun-encabezado-formulario-nuevo>
  <app-card>
    <section card-titulo>
      <app-comun-titulo-accion
        [nombreModelo]="'cierre'"
      ></app-comun-titulo-accion>
    </section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-12" ngbDropdown #ClienteDropdown="ngbDropdown">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.COMUNES.CONTACTO"
          ></label>
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              ngbDropdownAnchor
              formControlName="contactoNombre"
              (focus)="consultarCliente($event); ClienteDropdown.open()"
              (keyup)="consultarCliente($event)"
              [ngClass]="{
                'is-invalid':
                  formularioCierre.controls['contacto'].touched &&
                  formularioCierre.controls['contacto'].invalid,
                'is-valid':
                  formularioCierre.controls['contacto'].touched &&
                  formularioCierre.controls['contacto'].valid,
              }"
            />
            <div class="position-absolute translate-middle-y top-50 end-0 me-3">
              <i class="bi bi-search fs-2"></i>
            </div>
          </div>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdown-menu"
          >
            <ng-container *ngFor="let contacto of arrContactos">
              <span
                type="button"
                ngbDropdownItem
                (click)="modificarCampoFormulario('contacto', contacto)"
                (pointerenter)="modificarCampoFormulario('contacto', contacto)"
              >
                {{ contacto.nombre_corto }}
              </span>
            </ng-container>
            <div class="dropdown-divider"></div>
            <span
              type="button"
              ngbDropdownItem
              (click)="abrirModalContactoNuevo(content)"
            >
              {{ "FORMULARIOS.BOTONES.COMUNES.NUEVO" | translate | titlecase }}
              <ng-template #content let-modal>
                <div class="modal-body">
                  <app-contacto-formulario
                    [ocultarBtnAtras]="true"
                    (emitirGuardoRegistro)="cerrarModal($event)"
                    [tituloFijo]="true"
                  />
                </div>
              </ng-template>
            </span>
            <button type="button" ngbDropdownItem>
              <app-comun-buscar-avanzado
                [consultarUrl]="'general/contacto/'"
                [tituloModal]="'contacto'"
                (emitirRegistroSeleccionado)="
                  modificarCampoFormulario('contacto-ver-mas', $event)
                "
                [campoLista]="campoListaContacto"
                [campoFiltros]="campoListaContacto"
              >
              </app-comun-buscar-avanzado>
            </button>
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioCierre.controls['contacto'],
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-6">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.FACTURA.FECHA"
          ></label>
          <input
            formControlName="fecha"
            class="form-control"
            type="date"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioCierre.controls['fecha'].touched &&
                formularioCierre.controls['fecha'].invalid,
              'is-valid':
                formularioCierre.controls['fecha'].touched &&
                formularioCierre.controls['fecha'].valid,
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioCierre.controls['fecha'],
            }"
          ></ng-container>
          <div
            *ngIf="
              formularioCierre.controls.fecha?.touched &&
              formularioCierre.controls.fecha?.hasError('fechaSuperiorNoValida')
            "
          >
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <span
                  translate="FORMULARIOS.VALIDACIONES.FACTURA.FECHASUPERIOAFECHAVENCIMINETO"
                  role="alert"
                >
                </span>
              </div>
            </div>
          </div>
          <div
            *ngIf="
              formularioCierre.controls.fecha?.touched &&
              formularioCierre.controls.fecha?.hasError('noEs31Diciembre')
            "
          >
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <span role="alert">
                  La fecha debe ser del 31 de diciembre
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <label
            class="form-label required"
            translate="FORMULARIOS.CAMPOS.FACTURA.GRUPO"
          ></label>
          <select
            class="form-select"
            formControlName="grupo_contabilidad"
            [ngClass]="{
              'is-invalid':
                formularioCierre.controls['grupo_contabilidad'].touched &&
                formularioCierre.controls['grupo_contabilidad'].invalid,
              'is-valid':
                formularioCierre.controls['grupo_contabilidad'].touched &&
                formularioCierre.controls['grupo_contabilidad'].valid,
            }"
          >
            <option value="">
              {{ "FORMULARIOS.CAMPOS.COMUNES.SELECCIONAR" | translate }}
            </option>
            <option *ngFor="let grupo of arrGrupo" [value]="grupo.id">
              {{ grupo.nombre }}
            </option>
          </select>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioCierre.controls['grupo_contabilidad'],
            }"
          ></ng-container>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-12">
          <ul
            ngbNav
            #nav="ngbNav"
            [(activeId)]="active"
            class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
          >
            <li [ngbNavItem]="1" [destroyOnHide]="true" class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ 'text-primary': active === 1 }"
                ngbNavLink
                data-bs-toggle="tab"
                translate="FORMULARIOS.TITULOS.FACTURACION.MASINFORMACION"
              ></a>
              <ng-template ngbNavContent>
                <div class="row mb-5">
                  <div class="col-md-12 col-sm-12">
                    <label
                      class="form-label"
                      translate="FORMULARIOS.CAMPOS.FACTURA.COMENTARIO"
                    ></label>
                    <textarea
                      formControlName="comentario"
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      (blur)="modificarCampoFormulario('comentario', null)"
                      rows="3"
                      [ngClass]="{
                        'is-invalid':
                          formularioCierre.controls['comentario'].touched &&
                          formularioCierre.controls['comentario'].invalid,
                        'is-valid':
                          formularioCierre.controls['comentario'].touched &&
                          formularioCierre.controls['comentario'].valid,
                      }"
                    ></textarea>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'maxlength',
                        message:
                          'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO'
                          | translate,
                        cantidadCaracteres: '500',
                        control: formularioCierre.controls['comentario'],
                      }"
                    ></ng-container>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section>
  </app-card>
</form>


<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
