<div class="w-full">
  <!-- SELECT PRINCIPAL -->
  <ng-select
    [items]="options()"
    [multiple]="selectMulti"
    [bindLabel]="selectLabel"
    [bindValue]="selectValue"
    [notFoundText]="notFoundText"
    [loading]="loading()"
    [loadingText]="'Buscando...'"
    [placeholder]="placeholder"
    [searchFn]="searchFn"
    [(ngModel)]="value"
    (ngModelChange)="onSelectChange($event)"
    (blur)="onTouched()"
    (keyup)="buscarPorValor($event)"
    (clear)="busquedaInicial()"
    (focus)="busquedaInicial()"
    class="border border-gray-300 rounded-lg focus:border-primary hover:border-gray-400 transition-colors w-full"
  >
    <ng-template ng-option-tmp let-item="item">
      <div class="flex items-center justify-between">
        <span>{{ item[selectLabel] }}</span>
        @if (item[selectLabel] === "nuevo") {
          <span class="text-primary text-sm ml-2">Nuevo</span>
        }
      </div>
    </ng-template>
  </ng-select>

  @if (shouldShowErrors()) {
    @for (error of getErrors(); track $index) {
      <p class="text-danger">
        {{ error }}
      </p>
    }
  }
</div>
