<form
  class="form w-100"
  novalidate="novalidate"
  [formGroup]="formularioEmpresa"
  (ngSubmit)="formSubmit()"
>
  <div class="fv-row d-flex mb-5">
    <button translate="" type="submit" class="btn btn-primary" type="submit">
      @if(visualizarLabelSiguiente){
      {{ "FORMULARIOS.BOTONES.COMUNES.SIGUIENTE" | translate }}
      } @else {
      {{ "FORMULARIOS.BOTONES.COMUNES.GUARDAR" | translate }}
      }
    </button>
  </div>
  <div class="row mb-10">
    <div class="col-md-12 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.NOMBRE"
        class="form-label required"
      ></label>
      <input
        formControlName="nombre_corto"
        class="form-control bg-transparent"
        type="text"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            formularioEmpresa.controls['nombre_corto'].touched &&
            formularioEmpresa.controls['nombre_corto'].invalid,
          'is-valid':
            formularioEmpresa.controls['nombre_corto'].touched &&
            formularioEmpresa.controls['nombre_corto'].valid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioEmpresa.controls['nombre_corto']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
          control: formularioEmpresa.controls['nombre_corto']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
          cantidadCaracteres: '3',
          control: formularioEmpresa.controls['nombre_corto']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '100',
          control: formularioEmpresa.controls['nombre_corto']
        }"
      ></ng-container>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-md-4 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.NUMEROIDENTIFICACION"
        class="form-label required"
      ></label>
      <input
        formControlName="numero_identificacion"
        class="form-control bg-transparent"
        type="number"
        autocomplete="off"
        (blur)="calcularDigitoVerificacion()"
        [ngClass]="{
          'is-invalid':
            formularioEmpresa.controls['numero_identificacion'].touched &&
            formularioEmpresa.controls['numero_identificacion'].invalid,
          'is-valid':
            formularioEmpresa.controls['numero_identificacion'].touched &&
            formularioEmpresa.controls['numero_identificacion'].valid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioEmpresa.controls['numero_identificacion']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '20',
          control: formularioEmpresa.controls['numero_identificacion']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
          control: formularioEmpresa.controls['numero_identificacion']
        }"
      ></ng-container>
    </div>
    <div class="col-md-2 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.DIGITOVERIFICACIONABREVIADO"
        class="form-label required"
      ></label>
      <input
        formControlName="digito_verificacion"
        class="form-control"
        type="text"
        autocomplete="off"
        readonly
        [ngClass]="{
          'is-invalid':
            formularioEmpresa.controls['digito_verificacion'].touched &&
            formularioEmpresa.controls['digito_verificacion'].invalid,
          'is-valid':
            formularioEmpresa.controls['digito_verificacion'].touched &&
            formularioEmpresa.controls['digito_verificacion'].valid
        }"
        appSoloNumeros
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioEmpresa.controls['digito_verificacion']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '20',
          control: formularioEmpresa.controls['digito_verificacion']
        }"
      ></ng-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.IDENTIFICACIONTIPO"
        class="form-label required"
      ></label>
      <select
        class="form-select"
        formControlName="identificacion"
        [ngClass]="{
          'is-invalid':
            formularioEmpresa.controls['identificacion'].touched &&
            formularioEmpresa.controls['identificacion'].invalid,
          'is-valid':
            formularioEmpresa.controls['identificacion'].touched &&
            formularioEmpresa.controls['identificacion'].valid
        }"
      >
        <option value="">Seleccionar...</option>
        <option
          *ngFor="let identificacion of arrIdentificacion"
          [value]="identificacion.identificacion_id"
        >
          {{ identificacion.identificacion_nombre }}
        </option>
      </select>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioEmpresa.controls['identificacion']
        }"
      ></ng-container>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-md-6 col-sm-12" ngbDropdown #CiudadDropdown="ngbDropdown">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.CIUDAD"
        class="form-label required"
      ></label>
      <div class="position-relative">
        <input
          type="text"
          class="form-control"
          ngbDropdownAnchor
          formControlName="ciudad_nombre"
          [ngClass]="{
            'is-invalid':
              formularioEmpresa.controls['ciudad'].touched &&
              formularioEmpresa.controls['ciudad'].invalid,
            'is-valid':
              formularioEmpresa.controls['ciudad'].touched &&
              formularioEmpresa.controls['ciudad'].valid
          }"
          (focus)="consultarCiudad($event); CiudadDropdown.open()"
          (keyup)="consultarCiudad($event)"
        />
        <div class="position-absolute translate-middle-y top-50 end-0 me-3">
          <i class="bi bi-search fs-2"></i>
        </div>
      </div>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioEmpresa.controls['ciudad']
        }"
      ></ng-container>
      <div
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
        class="dropdown-menu"
      >
        <ng-container *ngFor="let ciudad of arrCiudades">
          <button
            type="button"
            ngbDropdownItem
            (click)="modificarCampoFormulario('ciudad', ciudad)"
          >
            {{ ciudad.nombre }} - {{ ciudad.estado_nombre }}
          </button>
        </ng-container>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.DIRECCION"
        class="form-label required"
      ></label>
      <input
        formControlName="direccion"
        class="form-control bg-transparent"
        type="text"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            formularioEmpresa.controls['direccion'].touched &&
            formularioEmpresa.controls['direccion'].invalid,
          'is-valid':
            formularioEmpresa.controls['direccion'].touched &&
            formularioEmpresa.controls['direccion'].valid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioEmpresa.controls['direccion']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '255',
          control: formularioEmpresa.controls['direccion']
        }"
      ></ng-container>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.CORREO"
        class="form-label required"
      ></label>
      <input
        formControlName="correo"
        class="form-control bg-transparent"
        type="email"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            formularioEmpresa.controls['correo'].touched &&
            formularioEmpresa.controls['correo'].invalid,
          'is-valid':
            formularioEmpresa.controls['correo'].touched &&
            formularioEmpresa.controls['correo'].valid
        }"
        appInputValuecaseDirective
        [appInputValueCase]="'minuscula'"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioEmpresa.controls['correo']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '100',
          control: formularioEmpresa.controls['correo']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.TIPOCORREO' | translate,
          control: formularioEmpresa.controls['correo']
        }"
      ></ng-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.COMUNES.TELEFONO"
        class="form-label"
      ></label>
      <input
        formControlName="telefono"
        class="form-control bg-transparent"
        type="text"
        autocomplete="off"
        (blur)="modificarCampoFormulario('telefono', null)"
        [ngClass]="{
          'is-invalid':
            formularioEmpresa.controls['telefono'].touched &&
            formularioEmpresa.controls['telefono'].invalid,
          'is-valid':
            formularioEmpresa.controls['telefono'].touched &&
            formularioEmpresa.controls['telefono'].valid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO' | translate,
          cantidadCaracteres: '7',
          control: formularioEmpresa.controls['telefono']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
          cantidadCaracteres: '50',
          control: formularioEmpresa.controls['telefono']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
          control: formularioEmpresa.controls['telefono']
        }"
      ></ng-container>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.EMPRESA.REGIMEN"
        class="form-label required"
      ></label>
      <select
        class="form-select"
        formControlName="regimen"
        [ngClass]="{
          'is-invalid':
            formularioEmpresa.controls['regimen'].touched &&
            formularioEmpresa.controls['regimen'].invalid,
          'is-valid':
            formularioEmpresa.controls['regimen'].touched &&
            formularioEmpresa.controls['regimen'].valid
        }"
      >
        <option value="">Seleccionar...</option>
        <option *ngFor="let regimen of arrRegimen" [value]="regimen.regimen_id">
          {{ regimen.regimen_nombre }}
        </option>
      </select>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioEmpresa.controls['regimen']
        }"
      ></ng-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <label
        translate="FORMULARIOS.CAMPOS.EMPRESA.TIPOPERSONA"
        class="form-label required"
      ></label>
      <select
        class="form-select"
        formControlName="tipo_persona"
        [ngClass]="{
          'is-invalid':
            formularioEmpresa.controls['tipo_persona'].touched &&
            formularioEmpresa.controls['tipo_persona'].invalid,
          'is-valid':
            formularioEmpresa.controls['tipo_persona'].touched &&
            formularioEmpresa.controls['tipo_persona'].valid
        }"
      >
        <option value="">Seleccionar...</option>
        <option
          *ngFor="let tipoPersona of arrTipoPersona"
          [value]="tipoPersona.tipo_persona_id"
        >
          {{ tipoPersona.tipo_persona_nombre }}
        </option>
      </select>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
          control: formularioEmpresa.controls['tipo_persona']
        }"
      ></ng-container>
    </div>
  </div>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
