<form [formGroup]="formularioItem" (ngSubmit)="formSubmit()">
  <div class="fv-row mb-10">
    <label class="required form-label">NOMBRE</label>
    <input
      formControlName="nombre"
      class="form-control bg-transparent"
      type="text"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': formularioItem.controls['nombre'].touched && formularioItem.controls['nombre'].invalid,
        'is-valid':  formularioItem.controls['nombre'].touched &&  formularioItem.controls['nombre'].valid
      }"
    />
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'El campo es requerido',
        control: formularioItem.controls['nombre']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'pattern',
        message: 'El campo contiene caracteres no validos',
        control: formularioItem.controls['nombre']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'El campo debe contener mínimo 3 caracteres',
        control: formularioItem.controls['nombre']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxlength',
        message: 'El campo debe contener máximo 50 caracteres',
        control: formularioItem.controls['nombre']
      }"
    ></ng-container>
    <div
      *ngIf="
        formularioItem.controls.nombre?.touched &&
        formularioItem.controls.nombre?.hasError('EmpresaYaExiste')
      "
    >
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          <span role="alert">Este nombre ya esta en uso </span>
        </div>
      </div>
    </div>
  </div>
  <div class="fv-row d-flex justify-content-end">
    <button type="submit" class="btn btn-primary btn-sm" #btnGuardar>
      Guardar
    </button>
  </div>
</form>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="
      control.hasError(validation) && (control.dirty || control.touched)
    "
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>
