<form [formGroup]="formularioConciliacion" (ngSubmit)="enviarFormulario()">
  <app-comun-encabezado-formulario-nuevo
    [estadoAprobado]="false"
  ></app-comun-encabezado-formulario-nuevo>
  <app-card>
    <section card-titulo>
      <app-comun-titulo-accion [nombreModelo]="'cuentaBanco'"></app-comun-titulo-accion>
    </section>
    <section card-body>
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.CUENTABANCO.NOMBRE"
            class="form-label required"
          ></label>
          <input
            formControlName="nombre"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioConciliacion.controls['nombre'].touched &&
                formularioConciliacion.controls['nombre'].invalid,
              'is-valid':
                formularioConciliacion.controls['nombre'].touched &&
                formularioConciliacion.controls['nombre'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '200',
              control: formularioConciliacion.controls['nombre']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioConciliacion.controls['nombre']
            }"
          ></ng-container>
        </div>
      </div>
      <div class="row mb-5">
        @if(visualizarCampoNumeroCuenta){
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.CUENTABANCO.NUMEROCUENTA"
            class="form-label required"
          ></label>
          <input
            formControlName="numero_cuenta"
            class="form-control bg-transparent"
            type="text"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                formularioConciliacion.controls['numero_cuenta'].touched &&
                formularioConciliacion.controls['numero_cuenta'].invalid,
              'is-valid':
                formularioConciliacion.controls['numero_cuenta'].touched &&
                formularioConciliacion.controls['numero_cuenta'].valid
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioConciliacion.controls['numero_cuenta']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '50',
              control: formularioConciliacion.controls['numero_cuenta']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioConciliacion.controls['numero_cuenta']
            }"
          ></ng-container>
        </div>
        <div class="col-md-6 col-sm-12">
          <label
            translate="FORMULARIOS.CAMPOS.GENERAL.CUENTABANCO.CUENTABANCOCLASE"
            class="form-label required"
          ></label>
          <select
            formControlName="cuenta_banco_clase"
            class="form-select form-select"
            [ngClass]="{
              'is-invalid':
                formularioConciliacion.controls['cuenta_banco_clase'].touched &&
                formularioConciliacion.controls['cuenta_banco_clase'].invalid,
              'is-valid':
                formularioConciliacion.controls['cuenta_banco_clase'].touched &&
                formularioConciliacion.controls['cuenta_banco_clase'].valid
            }"
          >
            @for (item of arrCuentasBancos; track $index) {
            <option
              [value]="item.id"
              [selected]="
                item.id ===
                formularioConciliacion.value.cuenta_banco_clase
              "
            >
              {{ item.nombre }}
            </option>
            }
          </select>

          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO' | translate,
              control: formularioConciliacion.controls['cuenta_banco_clase']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message:
                'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO' | translate,
              cantidadCaracteres: '100',
              control: formularioConciliacion.controls['cuenta_banco_clase']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO' | translate,
              control: formularioConciliacion.controls['cuenta_banco_clase']
            }"
          ></ng-container>
        </div>
        }
      </div>
    </section>
  </app-card>
</form>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>
