<span class="badge badge-secondary" *ngIf="estado_aprobado">Aprobado</span>
<form [formGroup]="formularioFactura" (ngSubmit)="formSubmit()">
  <div class="row mb-5">
    <div class="col-12" ngbDropdown #ClienteDropdown="ngbDropdown">
      <label
        class="form-label required"
        translate="FORMULARIOS.CAMPOS.COMUNES.CLIENTE"
      ></label>
      <div class="position-relative">
        <input
          type="text"
          class="form-control"
          minlength="3"
          maxlength="4"
          ngbDropdownAnchor
          formControlName="contactoNombre"
          (focus)="consultarCliente($event); ClienteDropdown.open()"
          (keyup)="consultarCliente($event)"
        />
        <div class="position-absolute translate-middle-y top-50 end-0 me-3">
          <i class="bi bi-search fs-2x"></i>
        </div>
      </div>
      <div
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
        class="dropdown-menu"
      >
        <ng-container *ngFor="let contacto of arrMovimientosClientes">
          <button
            type="button"
            ngbDropdownItem
            (click)="modificarCampoFormulario('contacto', contacto)"
          >
            {{ contacto.contacto_id }} - {{ contacto.contacto_nombre_corto }}
          </button>
        </ng-container>
        <div class="dropdown-divider"></div>
        <button type="button" ngbDropdownItem>Nuevo</button>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <label
        class="form-label required"
        translate="FORMULARIOS.CAMPOS.FACTURA.FECHAFACTURA"
      ></label>
      <input
        formControlName="fecha"
        #fecha
        class="form-control"
        type="date"
        autocomplete="off"
      />
    </div>
    <div class="col">
      <label
        class="form-label required"
        translate="FORMULARIOS.CAMPOS.FACTURA.FECHAVENCIMIENTO"
      ></label>
      <input
        formControlName="fecha_vence"
        class="form-control"
        type="date"
        [min]="fecha.value"
        autocomplete="off"
      />
      <!-- </ng-template> -->
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-6" ngbDropdown #MetodoDropdown="ngbDropdown">
      <label
        class="form-label required"
        translate="FORMULARIOS.CAMPOS.FACTURA.METODOPAGO"
      ></label>
      <div class="position-relative">
        <input
          formControlName="metodo_pago_nombre"
          class="form-control"
          type="text"
          autocomplete="off"
          ngbDropdownAnchor
          (focus)="consultarMetodo($event); MetodoDropdown.open()"
          (keyup)="consultarMetodo($event)"
        />
        <div class="position-absolute translate-middle-y top-50 end-0 me-3">
          <i class="bi bi-search fs-2x"></i>
        </div>
      </div>
      <div
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
        class="dropdown-menu"
      >
        <ng-container *ngFor="let metodoPago of arrMetodosPago">
          <button
            type="button"
            ngbDropdownItem
            (click)="modificarCampoFormulario('metodo_pago', metodoPago)"
          >
            {{ metodoPago.metodo_pago_id }} -
            {{ metodoPago.metodo_pogo_nombre }}
          </button>
        </ng-container>
        <div class="dropdown-divider"></div>
        <button type="button" ngbDropdownItem>Nuevo</button>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <ul
        ngbNav
        #nav="ngbNav"
        [(activeId)]="active"
        class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6"
      >
        <li [ngbNavItem]="1" [destroyOnHide]="true" class="nav-item">
          <a
            class="nav-link"
            ngbNavLink
            data-bs-toggle="tab"
            translate="FORMULARIOS.TITULOS.FACTURACION.DETALLES"
          ></a>
          <ng-template ngbNavContent>
            <div class="table-responsive-sm">
              <table
                id="tableDetalles"
                class="table table-row-dashed table-row-gray-500"
              >
                <thead>
                  <tr>
                    <th>Id</th>
                    <th
                      translate="FORMULARIOS.TITULOS.FACTURACION.PRODUCTO"
                    ></th>
                    <th
                      translate="FORMULARIOS.TITULOS.FACTURACION.CANTIDAD"
                    ></th>
                    <th translate="FORMULARIOS.TITULOS.FACTURACION.PRECIO"></th>
                    <th
                      translate="FORMULARIOS.TITULOS.FACTURACION.DESCUENTO"
                    ></th>
                    <th
                      translate="FORMULARIOS.TITULOS.FACTURACION.IMPUESTO"
                    ></th>
                    <th
                      translate="FORMULARIOS.TITULOS.FACTURACION.TOTALNETO"
                    ></th>
                    <th class="text-center" *ngIf="!estado_aprobado">
                      <button
                        (click)="agregarProductos()"
                        class="btn btn-sm btn-primary"
                        type="button"
                        translate="FORMULARIOS.TITULOS.FACTURACION.AGREGARITEM"
                      ></button>
                    </th>
                  </tr>
                </thead>
                <tbody formArrayName="detalles">
                  <ng-container
                    *ngFor="let detalle of detalles.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <tr>
                      <td>{{ detalle.value.id }}</td>
                      <td>
                        <app-comun-productos
                          [itemNombre]="detalle.value.item_nombre"
                          (emitirArrItems)="agregarItemSeleccionado($event, i)"
                          [estado_aprobado]="estado_aprobado"
                        ></app-comun-productos>
                      </td>
                      <td>
                        <textarea
                          class="o_input"
                          formControlName="cantidad"
                          [value]="detalle.value.cantidad"
                          (change)="actualizarDetalle(i, 'cantidad', $event)"
                          [attr.disabled]="estado_aprobado"
                          [readonly]="estado_aprobado"
                          [ngClass]="{'disabled-cursor': estado_aprobado}"
                          rows="1"
                          spellcheck="true"
                          appSoloNumeros
                        ></textarea>
                      </td>
                      <td>
                        <textarea
                          class="o_input"
                          [value]="detalle.value.precio"
                          (change)="actualizarDetalle(i, 'precio', $event)"
                          [attr.disabled]="estado_aprobado"
                          [readonly]="estado_aprobado"
                          [ngClass]="{'disabled-cursor': estado_aprobado}"
                          rows="1"
                          spellcheck="true"
                          appSoloNumeros
                        ></textarea>
                      </td>
                      <td>
                        <textarea
                          class="o_input"
                          [value]="detalle.value.descuento"
                          (change)="actualizarDetalle(i, 'descuento', $event)"
                          [attr.disabled]="estado_aprobado"
                          [readonly]="estado_aprobado"
                          [ngClass]="{'disabled-cursor': estado_aprobado}"
                          rows="1"
                          spellcheck="true"
                          appSoloNumeros
                        ></textarea>
                      </td>
                      <td>
                        <app-comun-impuestos
                          (emitirImpuestoAgregado)="
                            agregarImpuesto($event, i, 'agregar')
                          "
                          (emitirImpuestoElimiando)="removerImpuesto($event, i)"
                          [arrLista]="detalles.controls[i].value.impuestos"
                        ></app-comun-impuestos>
                      </td>
                      <td>
                        <textarea
                          [value]="detalle.value.neto"
                          (blur)="onImpuestoBlur(i)"
                          [attr.disabled]="estado_aprobado"
                          [readonly]="estado_aprobado"
                          [ngClass]="{'disabled-cursor': estado_aprobado}"
                          readonly
                          rows="1"
                          spellcheck="true"
                        ></textarea>
                      </td>
                      <td class="text-center" *ngIf="!estado_aprobado">
                        <i
                          class="bi bi-trash fs-2x align-self-center cursor-pointer user-select-none text-hover-danger"
                          (click)="eliminarProducto(i, detalle.value.id)"
                        ></i>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-end mb-5">
              <table>
                <tr *ngIf="totalCantidad > 0">
                  <td
                    class="text-end"
                    translate="FORMULARIOS.TITULOS.FACTURACION.TOTALCANTIDAD"
                  ></td>
                  <td class="text-end">{{ totalCantidad }}</td>
                </tr>
                <tr *ngFor="let impuesto of acumuladorImpuestos | keyvalue">
                  <td class="text-end">{{ impuesto.key }}</td>
                  <td class="text-end">
                    {{ impuesto.value.total | currency : "$" }}
                  </td>
                </tr>
                <tr *ngIf="totalDescuento > 0">
                  <td
                    class="text-end"
                    translate="FORMULARIOS.TITULOS.FACTURACION.TOTALDESCUENTO"
                  ></td>
                  <td class="text-end">
                    {{ totalDescuento | currency : "$" }}
                  </td>
                </tr>
                <tr *ngIf="totalImpuestos > 0">
                  <td
                    class="text-end"
                    translate="FORMULARIOS.TITULOS.FACTURACION.TOTALIMPUESTOS"
                  ></td>
                  <td class="text-end">
                    {{ totalImpuestos | currency : "$" }}
                  </td>
                </tr>
                <tr class="border-top">
                  <td
                    class="text-end"
                    translate="FORMULARIOS.TITULOS.FACTURACION.TOTALGENERAL"
                  ></td>
                  <td class="text-end" style="padding-left: 24px">
                    {{ totalGeneral | currency : "$" }}
                  </td>
                </tr>
              </table>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" [destroyOnHide]="true" class="nav-item">
          <a
            class="nav-link"
            ngbNavLink
            data-bs-toggle="tab"
            translate="FORMULARIOS.TITULOS.FACTURACION.OTRAINFROMACION"
          ></a>
          <ng-template ngbNavContent> </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
  <!-- <code>
    <pre>
      {{ formularioFactura.value | json }}
    </pre>
  </code> -->
  <div class="d-flex justify-content-end mb-10" *ngIf="!estado_aprobado">
    <button
      type="submit"
      class="btn btn-primary btn-sm"
      #btnGuardar
      translate="FORMULARIOS.BOTONES.COMUNES.GUARDAR"
      [disabled]="!formularioFactura.dirty && !formularioFactura.touched"
    ></button>
  </div>
</form>
