<div class="row">
  <!--begin::Col-->
  <div class="col-xl-12">
    <!--begin::Tables Widget 9-->
    <div class="card card-xl-stretch mb-5 mb-xl-8">
      <!--begin::Header-->
      <div class="card-header">
        <div class="card-title m-0">
          <h3
            translate="FORMULARIOS.TITULOS.EMPRESAS.TITULO"
            class="fw-bolder m-0"
          ></h3>
        </div>
        <a
          translate="FORMULARIOS.BOTONES.COMUNES.NUEVO"
          routerlink="/crafted/account/settings"
          class="btn btn-primary align-self-center"
          ng-reflect-router-link="/crafted/account/settings"
          [routerLink]="['../nuevo']"
        >
        </a>
      </div>
      <div class="card-body">
        <!--begin::Table container-->
        <div class="table-responsive-sm">
          <!--begin::Table-->
          <table class="table table-row-dashed table-row-gray-300">
            <!--begin::Table head-->
            <thead *ngIf="arrEmpresas.length > 0">
              <tr>
                <th></th>
                <th class="min-w-120px"></th>
                <th class="min-w-150px">Plan</th>
                <th translate="FORMULARIOS.TITULOS.COMUNES.USUARIOS" class="min-w-100px"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="arrEmpresas.length > 0; else sinEmpresas">
                <tr
                  *ngFor="let empresa of arrEmpresas"
                  style="height: calc(82px - 0.6rem) !important"
                >
                  <td style="width: 120px">
                    <ng-container *ngIf="empresa.imagen">
                      <img
                        src="{{ empresa.imagen }}"
                        alt="LOGO"
                        style="min-width: 120px"
                        class="img-thumbnail"
                      />
                    </ng-container>
                  </td>
                  <td>
                    <p class="text-dark fw-bolder fs-6">
                      {{ empresa.nombre }}
                      <small class="badge badge-light-primary fs-8 fw-bold">{{
                        empresa.rol
                      }}</small>
                    </p>

                    <span class="text-muted fw-bold text-muted d-block fs-7"
                      >{{ empresa.subdominio }}.muup.online</span
                    >
                  </td>
                  <td class="w-150px">
                    <span class="badge badge-light-info fs-8 fw-bold">{{
                      empresa.plan_nombre
                    }}</span>
                  </td>
                  <td>{{ empresa.usuarios }} / maximo</td>
                  <td class="w-50px text-end">
                    <button
                      translate="FORMULARIOS.BOTONES.EMPRESA.CONECTAR"
                      href="#"
                      class="btn btn-bg-primary btn-color-white"
                      (click)="seleccionarEmpresa(empresa.empresa_id)"
                    ></button>
                  </td>
                  <td class="w-50px">
                    <div
                      ngbDropdown
                      class="d-inline-block"
                      *ngIf="empresa.rol === 'propietario'"
                    >
                      <button
                        type="button"
                        class="btn btn-link text-hover-primary"
                        id="dropdownBasic1"
                        ngbDropdownToggle
                      >
                        <i class="bi bi-three-dots-vertical fs-2x"></i>
                      </button>
                      <div
                        class="menu menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary w-200px py-3"
                        ngbDropdownMenu
                        aria-labelledby="dropdownBasic1"
                      >
                        <div class="menu-item px-3">
                          <a
                            translate="FORMULARIOS.BOTONES.EMPRESA.INVITACION"
                            [routerLink]="[
                              '/empresa/' +
                                empresa.nombre+'/'+
                                empresa.empresa_id +
                                '/invitacion/nuevo'
                            ]"
                            class="menu-link px-3 cursor-pointer"
                            ngbDropdownItem
                          >
                          </a>
                        </div>
                        <div class="separator my-2"></div>
                        <app-empresa-editar
                          [empresa_id]="empresa.empresa_id"
                        ></app-empresa-editar>
                        <div class="separator my-2"></div>
                        <div class="menu-item px-3">
                          <a
                            class="menu-link px-3 cursor-pointer bg-hover-light-danger text-danger"
                            translate="FORMULARIOS.BOTONES.COMUNES.ELIMINAR"
                            (click)="
                              eliminarEmpresa(
                                empresa.subdominio,
                                empresa.empresa_id
                              )
                            "
                          >
                          </a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
              <ng-template #sinEmpresas>
                <tr>
                  <td colspan="4" translate="FORMULARIOS.MENSAJES.EMPRESAS.SINEMPRESAS"></td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
      <!--begin::Body-->
    </div>
    <!--end::Tables Widget 9-->
  </div>
  <!--end::Col-->
</div>
